---
title: Karta se obrátila
date: 2016-10-23
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/c428bce4-d0c3-484f-9adb-100cf69d26be.html
image: /public/images/zapasy/bystre-morasice.png

sestava: M. Prešinský - D. Štancl, V. Štancl, M. Ropek, V. Novák - V. Tměj, M. Klement, Z. Skala, M. Chmelík (Z. Škoda, P. Kuta) - B. Válek, M. Zerzán (J. Jokeš)
goly: B. Válek, V. Štancl
---

<p>Když jsme do Bystrého přijeli loni, bylo nás 20 a s pořádným štěstím jsme ubránili těsnou výhru. Tentokrát nás bylo 13,5 a těžko říct, jestli se dá Chmelík označit aspoň půlkou, protože už po dvou minutách zjistil, že mu stehenní sval nedovolí hrát. Po třech předchozích zápasech, ve kterých jsme marně dobývali soupeře a kteří na nás za stejné období vystřelili zhruba čtyřikrát, jsme se rozhodli to na malém hřišti vzít za opačný konec a přijmout roli slabšího proti kombinačně pověstným domácím. Ti poprvé přestřelili bránu ještě před Chmelíkovým střídáním po nějakém autu nebo standartce. Ne že bychom chtěli úplně rezignovat na ofenzivu, ale nějak jsme si nevěděli rady, jak přesně domácí potrápit. Slušný manuál na trápení defenzivy zato měla pořádně rychlá pravá strana domácích, a Novák si u naší lajny pořádně zasprintoval. Naše výjimečné pobyty v soupeřově vápně obstarával Zerzán, ale jednou raději nahrával, jednou doufal v penaltu (kterou mu prý uznal i soupeřův hráč) a do třetice pro změnu zapomněl nahrát pod sebe lépe postavenému spoluhráči. Naši jedinou, a spíše propagační střelu, si tak připsal Skala, náš jediný roh byl zajímavý leda pro okresní statistiky. Domácí už tou dobou měli orazítkované ploty vedle naší brány, zejména střela zpoza vápna se mimo tyče vytočila s velkou námahou. Navrátivší se Prešinský si připsal těžký zákrok i proti průniku z levé lajny, proti sólu domácího hráče přes šest našich obránců podél pokutového území zasahovat nakonec nemusel. Vzhledem k mnoha dalším zdánlivě zavánějícím situacím jsme byli s bezbrankovým poločasem&nbsp; spokojeni, a tak se o přestávce nejvíce rozebíralo Tmějovo sprintování.</p>

<p>První střelu druhého poločasu si opět připsali domácí, opět z kategorie nepřesných. Pak nastalo něco jako náš brejk, při kterém míč po ose Škoda-Tměj-Skala doputoval až k zády k bráně stojícímu Válkovi, který si balón posunul do středu na levou a zpoza vápna se ustřelil náramně. V tu chvíli už se o naší rezignaci na ofenzivu mluvit dalo, domácí nás zatlačili, přebírání hráčů nefungovalo zrovna ideálně a je trochu záhadou jak málo vyložených šancí se z toho urodilo. Vlastně jen dvě. Ta první následovala pár minut po našem gólu, když tečovaný centr vracený do vápna trefil domácího útočníka a od něho se odrazil do protipohybu bezmocného Prešinského, ale ani desítky domácích očí ho nedotlačili brány, nýbrž těsně vedle. Prakticky vzápětí nedosáhl domácí gólman na Tmějův roh, který trefil neobsazeného V. Štancla přímo do oka a byl z toho náš druhý gól. Domácí střídali jako o život, tlačili nás nakopávanými míči, rychlým pravým křídlem i početnými střeleckými pokusy, ale přímo špatně nám bylo pouze po ideální balónu do kapsy mezi stopera a gólmana, kde se ocitli hned dva domácí útočníci. Naštěstí míč zasáhl ten v horší pozici a ve skluzu zblízka přestřelil. Hra na riziko a otevřená obrana chvíli svědčila i střídajícímu Jokešovi, který měl jednu z našich šancí navýšit skóre. Tměj i Skala si mohli zkusit trefit prázdnou bránu z poloviny hřiště, ale jejich neúspěšné pokusy nás nakonec nemrzely. Zápas s průběhem naprosto opačným než ty předchozí jsme tedy dotáhli do zdárného konce a nastává otázka, jestli pro nás řecký "fotbal" a čekání na šanci nebude lepší. Obzvláště, když nás přístí týden bude zase o dva méně.</p>
