---
title: Hrátky s větrem
date: 2016-11-05
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/ae2e4ad8-adf9-40d9-8233-8b36db54712b.html
image: /public/images/zapasy/brezova-n.svit.-morasice.png

sestava: M. Prešinský - V. Novák, M. Ropek, V. Štancl, D. Štancl - M. Štancl (P. Kuta), M. Klement, Z. Skala (J. Kopecký), V. Tměj - M. Zerzán (K. Vopařil), B. Válek
goly: M. Zerzán, B. Válek
zlute: M. Klement, P. Kuta
---

<p>Za posledním soupeřem, se kterým jsme letos nehráli, jsme museli vyjet již v čase oběda a v Březové nás přivítalo stejně větrné počasí jako minulý týden. Do sestavy nebylo moc z čeho vybírat, a tak byl největší problém s tím, kdo si obleče dres s číslem 3. Chmelík minulý týden toto číslo po více než 60 zápasech v řadě v základní sestavě(!) uvolnil, ale protože se Skalovi nelíbilo, vzal si ho tentokrát M. Štancl, který po celém promaroděném podzimu vrátil do sestavy a při rozcvičce překypoval herním zápalem. Po chvíli čekání na rozhodčí se Ropkovi povedlo vyhrát při větrné loterii tak důležitý los, takže nás čekalo dobře známé dobývání. Z rozháraného začátku se k první šanci dopracovali domácí, ale hlavička jejich osamoceného útočníka byla naštěstí spíše propagační. My jsme poprvé zahrozili&nbsp; klasicky až z druhého rohu, když se k hlavičce dostal V. Štancl a po teči domácího obránce se balón ocitl někde nad brankovou čárou (dle některých i za ní), ale rozhodčí se tím nijak nevzrušovali a bezbrankový stav trval dále. Ke dvěma solidně vypadajícím, ale bohužel pomalu padajícím střelám se dostal aktivní Tměj. Naši logickou převahu pak zúročil až po půl hodině hry Zerzán, který se dostal do úniku poté, co domácí možná oprávněně, ale marně reklamovali Klementův šlapák, a zakončil ho střelou do vzdálenější části brány. Chvíli na to se dostal za obranu znovu, ale bohužel se špatně zorientoval a místo jednoduchého píchnutí míče do prázdné brány se pustil do neúspěšné kličky kolem špatně vyběhnutého gólmana. Domácí se proti větru trápili, a šance si naštěstí nevypracovali ani ze standartek, které byly houfně pískány za další šlapáky, ve kterých měl hlavní rozhodčí trochu hokej. Naše poslední dva pokusy navýšit vedení, dokud máme vítr v zádech, měl&nbsp; na svědomí Skala, ale gólman si s jeho přímákem i střelou z dálky poradil.</p>

<p>Při druhém příchodu z kabin si dali rozhodčí ještě více na čas, a z pohledu na hlavního nebylo těžké uhádnout, co bylo příčinou. Domácí samozřejmě začali tlačit, ale po pár minutách se nám podařil brejk po levé straně, Válek předal do Vápna M. Štanclovi, který posunul na Zerzána, ale ten si netroufl na střelu z první a tak vybojoval dle sudího pouze odkop od domácí brány, což naši lavičku pořádně rozlítilo. Vítr, rozhodčí i domácí nás tlačili čím dál víc, jednu ze střel z nebezpečné pozice se podařilo zblokovat Ropkovi, ale spoustu míčů hlasitě a s přehledem posbíral výborný Prešinský, a tak si domácí v první části druhé půlky moc šancí nevypracovali. Trenér Kuta se na hřiště vpustil nečekaně brzo a ten se naopak do zajímavých pozic dostával, v té nejjasnější jeho střelu vyrazil domácí gólman. Blízko vyrovnání se domácí ocitli poté, co Prešinský atakovaný v malém vápně (tj. faulovaný) neudržel centr ze strany, domácí útočník pak naštěstí z úhlu trefil pouze tyč. S přibývajícím časem se otvírala i okénka v domácí obraně, ale Válek z úhlu těsně minul, střídající Kopecký na Kutovu pobídku těsně nedosáhl. Množily se i občas záhadné standartky kolem našeho vápna, které se znavený sudí ani nenamáhal vysvětlovat. Jednu z těch nejnadějnějších naštěstí domácí zatočili mimo bránu. A tak pět minut před koncem Kuta po chvilkovém čekání před vápnem vymyslel oblouček na nabíhajícího Válka, který sílu svého lobu přes vybíhajícího gólmana zkombinoval ideálně si silou protivětru a balón k překvapení většiny přítomných stihl spadnout do brány. V úplném závěru nám ještě tyč Prešinského brány pomohla udržet neprůstřelnost po takřka dokonale zakrouceném přímáku, a tak jsme ze souboje střelecky impotentních mančaftů vyšli s třetím vítězstvím s nulou v řadě.</p>
