---
title: Opět v defenzivě
date: 2016-08-03
image:

sestava: V. Andrle - D. Štancl, M. Ropek, V. Štancl, V. Novák, M. Klement, M. Chmelík, B. Válek, V. Tměj, M. Zerzán, K. Vopařil (M. Černohorský, M. Štancl, J. Kopecký)
goly: M.Chmelík
---
   
<p>Přátelský zápas v Cerekvici byl obrazem hry hodně podobný sobotnímu utkání se Svitavy. Domácí vyrukovali na začátek se "slabší" sestavou, ale i ta měla ze hry více než naše jedenáctka a Vojta Andrle se při svém návratu po X letech v bráně rozhodně nenudil. Slabší chvilky si vybral při rozcvičce, ale naostro si poradil s padající střelou pod břevnou, standartkou z dvaceti metrů i neustále stínícím Vomáčkou. Ten měl dvě největší šance domácích, ale ani jednu střelu z první nenasměroval do brány. My jsme sice začali střelou vedle hned v první minutě, ale jinak jsme moc nebezpečí na druhou stranu hřiště nedovezli, i když pár centrů jsme do vápna dostali. Po půl hodině po jednom z nich uklidil odražený balón do brány Chmelík a my se překvapivě a trochu nezaslouženě ujali vedení. Závěr poločasu vyhrotil domácí "Žuky" nebo Žukič" nebo jak se ten nervák jmenuje, ale naštěstí pro nás i pro něj se šlo rychle do kabin.</p>

<p>Do druhé půlky početní domácí notně protočili a asi i posílili sestavu, zatímco my jsme s menší možností střídání začali šlapat vodu. Ze souvislé hry na naší půlce se urodilo vyrovnání poměrně brzy, když zpětnou přihrávku přes V. Štancla poslal domácí útočník z bezprostřední blízkosti pohodlně do brány. Z pokračující převahy vyplynulo několik rohů a standartek, ale Andrle si musel připsat už jen jeden zákrok, zbytek střel zpoza vápna létal až na výjimky hodně mimo a do vyložené šance se domácím dostat nepodařilo. My jsme býjimečně zahrozili Klementem, který ale na pořádné zakončení neměl dostatek klidu a po sprintu přes půl hřiště možná ani sil. Největší šanci si chvíli před koncem připsal M. Štancl, který se po pěkné kombinaci ocitl sám ve vápně, ale jeho zamýšlená přízemní střela k pravé tyči lízla levou spojnici a tak zůstalo jen u ubráněné, ale přesto cenné remízy.</p>
