---
title: Každý kontakt drahý
date: 2017-04-01
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/d6e4fa41-d79f-4de0-8611-214b9c851619.html
image: /public/images/zapasy/dolni-ujezd-morasice.png

sestava: M. Prešinský - D. Štancl, V. Štancl, M. Ropek, J. Pitra (V. Tměj) - Z. Skala, M. Štancl, M. Chmelík, V. Novák (Petr Kuta) - B. Válek (K. Vopařil), M. Burián (J. Kopecký)
goly: M. Chmelík, M. Burián
zlute: M. Štancl, Petr Kuta
---

<p>Derby nederby, sjížděli jsme se do Dolního Újezda po kouskách a na knop, ten poslední z nás dokonce méně než půl hodiny před zápasem. Na podzim jsme proti lídrovi soutěže jako jediní uspěli a věřili jsme, že když vynecháme prostřední část zápasu proti Jevíčku, máme šanci uspět znovu. Na začátku zápasu se každý tým dostal k pár střelám zpoza vápna, ale zatímco dvě naše byly hodně nepřesné, Heinisch po otočce donutil Prešinského k napínavému letu vzduchem. Rozhodčí dal od začátku jasně najevo, že si přeje bezkontaktní sport, a tak se hra kouskovala, až to pro nezaujatého diváka a horké hlavy muselo být hodně náročné. Naši první větší šanci způsobil právě úzkostlivý metr, přímý nákop M. Štancla, sluníčko v očích Klusoně, ale jím vyražený balón nebyli schopni V. Štancl ani Chmelík k velkému nepochopení Petra Kuta dotlačit do brány. Ještě větší šanci nám v polovině poločasu nabídl domácí bek, který v rohu vápna zbytečně přitlačil na Buriánovy nohy a sudí odpískal penaltu. K té se postavil Chmelík, ale bohužel se rozhodl pro nenacvičené zakončení a bránu překopl. Přežitý krizový moment i naše poměrně rychle ubývající síly posílili ambice domácích, kteří byli po zbytek poločasu aktivnějším týmem. K přímé tutovce ze hry jsme je nepustili, ale tlak kolem vápna skoro musel vyústit v nějakou standartku, z nichž tu nejnebezpečnější z hranice šestnáctky dokázala přizvednout naše zeď. Do kabin se šlo za smírného stavu, co se týče skóre i nespokojenosti s předvedenou velmi plynulou hrou.</p>

<p>Do druhého poločasu musel M. Prešinský vyměnit svůj zbrusu nový dres, protože by se asi domácím se sluníčkem za zády pletl. To nás nikterak nerozhodilo a hned po dvou minutách poslal nádherný balón za obranu Skala, ale Burián, již se stoperem za zády,nedokázal na penaltě míč zpracovat. Další zásah do naší výstroje už byl horší. D. Štancl musel na pokyn rozhodčího odhodit potítko, co kdyby se mu za něho někdo zahákl a zlomil si malíček. A asi to nebylo tím, ale pět minut po přestávce zaváhal na půlící čáře při rozehrávce, domácí se vydali do otevřené obrany a svou akci zakončili nijak výstavní přízemní střelou, která ale trefila ten správný drn, který zvedl balón přes Prešinského rukavice. S pramalou vírou v naši kondici jsme přesně v to nedoufali a jisté opaření na nás bylo pár minut znát a prakticky jsme si neškrtli. Ono bez balónu u nohy se taky špatně vyrovnává a po další standartce nám Prešinský skokem k tyči zachránil pouze jednogólové manko. Po našem osmělení se dvakrát během minuty ocitl před domácím gólmanem Válek, ale zřejmě mu tak rychlý obrat přišel moc prostý a za své střely se sám stydí doteď. 20 minut před koncem jsme se nějak dostali k rohovému kopu, Skala signálem vyslal lidi na přední, ale ani kop na zadní tyč nebyl úplně k zahození, obzvláště když tam na svůj odpustek čekal Chmelík, jehož hlavička lízla břevno a skončila v bráně. Jak nám bez míče nešlo vyrovnat, do vedení jsme bez něho dostali. Prakticky z rozehrávky po inkasovaném gólu se domácí prokombinovali až na svou pravou obranu, tam odsud přišla Buriánovi kolmice, o které si od nás může nechat jen zdát, a i když mu krocení balónu trvalo úměrně tomu, jak opuštěně postupoval na domácí svatyni, dokázal zachovat chladnou hlavu a dokonat minutový obrat skóre. Snad díky dobrému napadání byl tento gól připsán Skalovi. Následnou domácí honbu za vyrovnáním opět kouskoval sudí, chvíli tím pomáhal, chvíli škodil, ale kupu rohů i standartek okolo vápna jsme dokázali s vypětím všech sil ubránit. V nervózním závěru se to hemžilo netrestanými vaginálními opisy, nepřehlednými střety ve vápně, které odnesli Ropek a hlavně krvácející Novák. Naše jediné vzepětí v samém závěru obstaral nákop Petra Kuty, který propadl za obránce bohužel i k překvapení nabíhajícího Kopeckého. Úplně poslední domácí roh si konečně našel hlavu nebránitelného Vomáčky, ale ten naštěstí mířil nad, a tak jsme podruhé v sezóně dokázali proti lídrovi otočit výsledek a zvítězili stejně jako na podzim 2:1. Snad podzimní výsledek nezopakujeme i příští týden.</p>
