---
title: Mistrovská taktika
date: 2017-06-15
image:

sestava: M. Prešinský – D. Štancl (Z. Skala), M. Ropek, V. Štancl, M. Chmelík – V. Tměj (J. Pitra), M. Klement, M. Štancl, V. Novák – M. Burián (K. Vopařil), B. Válek (Z. Škoda)
goly: M. Burián
---

<p>Rok se s&nbsp;rokem sešel a my jsme při červnové středě opět jeli do Pomezí bojovat o okresní pohár. První dva soupeře na cestě za obhajobou jsme přešli stejně jako loni, Čistou v&nbsp;klidu, Borovou se štěstím na penalty po bezbrankové remíze. Až prapodivné semifinále v&nbsp;Rohozné bylo změnou, protože loňský semifinálový soupeř z&nbsp;Janova byl letos až poslední překážkou. Jak jde o pohár, není ani pracovní týden překážkou v&nbsp;docházce, a tak se nás sešlo rovných 16, trenérem byl pohárový specialista Kopecký, od začátku byl připraven v&nbsp;páteční ligové předehrávce pošetřený kapitán Ropek, vzhledem k&nbsp;janovské útočné síle byl na beka stažen Chmelík.</p>

<p>Taktika proti ligově rozjetému soupeři byla jasná – proměnit první šanci. Pro méně chápavé si ji vysvětlíme na prvních 10 dotycích s balónem. Burián ze středového kruhu rozehrává na M. Štancla. Ten jedním dotykem zpracovává, druhým nahrává Válkovi, který z&nbsp;druhé vrací balón až na V. Štancla, jehož&nbsp;odkop z první letí až do soupeřova vápna, kde si míč v&nbsp;klidu bere janovský gólman. Jeho výkop nachází opět V. Štancla, který obrannou hlavičkou díky zaváhání soupeřových obránců katapultuje Buriána do samostatného úniku. Ten si jedním dotykem posune balón, druhým ho po enormním soustředění posílá podél brankáře do sítě a ve 20. vteřině nám zařizuje vedení. Dál už naše taktické pokyny nedospěly, proto nám trvalo zhruba celý zbytek poločasu, než jsme se s&nbsp;rychle nabytým vedením srovnali. Po tu dobu měl více ze hry soupeř, který poprvé zahrozil Burešovou střelou z&nbsp;rohu vápna, ale Prešinský byl po předzápasovém drilu evidentně dobře připraven a v&nbsp;pohodě ji „zalepil“. Kromě této obvyklé činnosti vypomohl několikrát obraně i sbíráním dlouhých míčů, a tak se janovský tlak v&nbsp;další šance ze hry neproměnil. A že to třeba ve chvíli, kdy byl ošetřován jak Burián, tak D. Štancl, byl tlak poměrně značný. Nebezpečnější ale byly soupeřovy standartní situace, které létaly do našeho vápna. V&nbsp;největší možnosti se naštěstí Ropkovi podařilo hlavičku janovského tykadla zablokovat. Našich pár rohů i přímáků v&nbsp;klidu posbíral janovský gólman, dva tři jakš takš vypadající „brejky“ jsme před bránu nedotáhli, takže kromě nepotrestaného úderu do Buriánova obličeje už není o čem psát.</p>

<p>Do druhého poločasu už místo zraněného D. Štancla naskočil Skala a na beka se stáhnul Novák. Janovští pochopitelně potřebovali hrát více, a tak se také dělo, ale jedinou šanci si vypracovali z&nbsp;rohu brzy po přestávce. Jejich neobsazený kapitán naštěstí hlavou na zadní tyči nezamířil přesně. Jinak to byl boj ve středu hřiště, ze kterého jsme se k&nbsp;útočným výpadům odvážili i my. Burián dokonce Chmelíkův centr ze strany trknul do brány, ale radost nám zkazil zdvihnutý praporek pomezního. S&nbsp;přibývajícím časem a marnou janovskou snahou o zteč naší brány přibývalo rozmíšek a zákroků, ale mladý rozhodčí se karet i při jasných zákrocích bál, což asi nebyla úplně správná varianta pro dostání zápasu pod kontrolu. Janov se už dostal pouze k&nbsp;utěšené, ale daleké střele Knapa, kterou Prešinský nadvakrát zpacifikoval, a dvěma kratochvílím v&nbsp;naší obraně. Tu první zhatil Burešův ofsajd, při té druhé se další hráč vřítil do šestnáctky, ale asi i pod vlivem stínujícího Klementa mířil ze solidní pozice úplně mimo bránu. Nám se bohužel nepodařilo potrestat soupeřovu riskantní hru vzadu potvrzujícím gólem. I když k&nbsp;tomu měl šanci Válek, který ale místo samostatného postupu z&nbsp;první střílel nad (protože „by to byl hezčí gól“) a ještě větší Vopařil. K&nbsp;tomu v&nbsp;samotném závěru propadl Tmějův centr tak nečekaně, že stihl míč jen reflexivně poslat do břevna odkryté brány. Zbytek jsme rozdrobili střídáním a obhajoba byla i přes nepříliš pohledný zápas na světě. Ropek nejdříve jako okresním direktoriátem zvolený nejlepší hráč našeho mužstva převzal vstupenky na malé Euro, poté jako kapitán i protékající pohár a drobné oslavy, úměrné rannímu nástupu do práce a významu okresní soutěže, mohly začít.</p>
