---
title: Shrnutí podzimní sezóny očima trenéra, hráče, špílmachra a dvorního nahrávače Petra Kuty
date: 2017-02-117
---

<p>&nbsp;</p>

<p>Něco ze statistik okresního přeboru:</p>

<p>&nbsp;</p>

<p>DÚ:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.místo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 13 &nbsp; &nbsp; &nbsp; &nbsp;9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 34:16&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 30 bodů</p>

<p>Morašice:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5.místo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 13&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 19:9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 23 bodů</p>

<p>&nbsp;</p>

<p><strong>Vstřelené góly</strong> (od nejhoršího): Sebranice 9, Rohozná 10, Křenov a Březová 16 a potom my</p>

<p><strong>Obdržené góly</strong> (od nejlepšího): my 9, Dolní Újezd 16, Opatov 17, Hradec 18</p>

<p><strong>Naši střelci</strong>: Válek 7, V. Štancl 3, Zerzán 3, Vopařil 2, Klement 1, Burián 1 a matadoři Kuta a Kopecký po 1 - celkem 8 střelců</p>

<p><strong>Okresní střelci</strong>: Švec (Jaroměřice) 19-stejně jako my všichni, Bureš (Janov) a Misar (Bystré) 13</p>

<p>&nbsp;</p>

<p>Bilance doma: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;6.místo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8:5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 12 bodů</p>

<p>Bilance venku:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5.místo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11:4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11 bodů</p>

<p>&nbsp;</p>

<p><strong>Hodnocení jednotlivých zápasů</strong>:</p>

<p>&nbsp;</p>

<p><strong style="text-indent: 2em;">Jevíčko-Morašice 1:0</strong><span style="text-indent: 2em;"> - jeli jsme tam v době místní slavnostní pouti, a tu se nesluší domácím kazit</span></p>

<p><strong>Morašice - DÚ 2:1</strong> - jediná prohra lídra tabulky ukazuje, že ostatní mužstva okresního přeboru nemají ve svém středu takového&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>

<p>špílmachra typu Rosického</p>

<p><strong>Moravská Třebová - Morašice 2:0</strong> - poznávací výlet - jak se dá hrát fotbal, že i v této soutěži může být supr hřiště, a že i v parném létě</p>

<p>se dá koulovat sněhem - nic víc</p>

<p><strong>Morašice - Jaroměřice 1:0</strong> - nám stačí hrát jen dvě minuty fotbal a potom jen antifotbal</p>

<p><strong>Rohozná - Morašice 0:6</strong> - už v tak mizerném areálu se snažíme hned na úvod přerušit proud, aby si po zápase nemohli dát ani pivo,</p>

<p>ani teplou vodu</p>

<p><strong>Morašice - Hradec nad Svitavou 1:2</strong> - zápas, na který je lepší zapomenout nebo vůbec nevzpomínat</p>

<p><strong>Janov - Morašice 1:1</strong> - jediný zápas s výraznou podporou rozhodčího (u našeho gólu)</p>

<p><strong>Morašice - Linhartice 2:0</strong> - dle hodnocení hostujícího hráče "jednoznačně remízový zápas" - chudák nevidí a brejle nenosí</p>

<p><strong>Sebranice - Morašice 0:0</strong> - nepřízeň rozhodčího hostům a blbost hostujících hráčů přispěla k úspěšným zabíjačkovým hodům</p>

<p>domácích</p>

<p><strong>Morašice - Opatov 1:2</strong> - modleme se, Otče náš, jenž jsi na nebesích,...(Ho Saňák)</p>

<p><strong>Bystré - Morašice 0:2</strong> - nevyplácí se dlouho býti v kabinách, neboť nevidíš jedinou fotbalovou akci podzimu a na video se to už netočí;</p>

<p>nevyplácí se pomlouvat rozhodčí, potom si nemáš na lavičce ani s kým pokecat</p>

<p><strong>Morašice - Křenov</strong> <strong>1:0</strong> - když seš kopyto, tak střídej</p>

<p><strong>Březová - Morašice 0:2</strong> - když jsme přijeli, říkali jsme, že tráva je dobrá, ale chtělo by to něco na zahřátí, rozhodčí to slyšel, dal si trávu</p>

<p>i něco na zahřátí, ale potom se pánové nedivme, že nevidí, nemluví, ale jen po větru ukazuje a něco si huhňá</p>

<p>&nbsp;</p>

<p><strong>Hodnocení jednotlivých hráčů</strong>:</p>

<p>&nbsp;</p>

<p><strong>Prešinský</strong> - ach ty Košice, hlavně ať tam nesežene jarní angažmá nebo celoživotní transfer</p>

<p><strong>Novák</strong> - pokračuje v precizní tréninkové morálce podložené nespolečenskými omluvenkami, ale jinak celej Kadeřábek</p>

<p><strong>Štancl D.</strong> - malej, ale šikovnej, jako v té pohádce, jen kouzlit ještě neumí alespoň jako Messi, např. krátkým u nohy vedeným balónem</p>

<p><strong>Ropek</strong> - býval to hlavičkový zabiják, bohužel teď už jen zabiják šancí a někdy i spoluhráčů</p>

<p><strong>Štancl V.</strong> - náš nový top brankář a penaltový mág</p>

<p><strong>Chmelík</strong> - běžec na dlouhé tratě, dlouhé odkopy a vysoké nákopy, góly 0</p>

<p><strong>Klement</strong> - druhá makovská motorová myš, jen je někdy potřeba setrvačník nebo baterku nechat vychladnout, potom se soupeř může &nbsp;</p>

<p>třást i z toho, že mu dá gól</p>

<p><strong>Tměj</strong> - střídá pravou a levou stranu, pravou i levou nohu, ale góly, jako Laco Krejčímu, stále nepřichází</p>

<p><strong>Válek</strong> - jako morašický snajpr má ještě mnoho práce se svými všemi střelami vejít mezi tři tyče, jak to uklízí třeba Ronaldo, asi proto, že</p>

<p>mu dost často na hřišti chybí dvorní nahrávač</p>

<p><strong>Vopařil</strong> - Kája je jak kudla ostrý, chtělo by to však i občas kvalitně míchat</p>

<p><strong>Zerzán</strong> - nás koncák, co stále jen cestuje a fotbalu se málo věnuje, potom i zkoušky zrušuje</p>

<p><strong>Skala</strong> - našel si novou zábavu - svatby - a jedna mu vůbec nestačí, tři až čtyři projde, potom teprv na fotbal cestu najde</p>

<p><strong>Štancl M.</strong> - ten kluk fakt vydrží i 60 minut, tak a teď snad i celé jaro</p>

<p><strong>Burián</strong> - malý návrat znamená velký kotník</p>

<p><strong>Kopecký</strong> - stále vlídný ke všem hráčům, hlavně když po něm šlapou</p>

<p><strong>Pitra</strong> - léto dobrý, škoda se hraje i na podzim</p>

<p><strong>Černohorský</strong> - 60 minut s Dolním Újezdem vyčerpá asi na půl života</p>

<p><strong>Erko Nadrchal</strong> - výborný náhradník, lepší než chytat tři zápasy je zhlédnout třeba i jiný v Litomyšli, to dá jistě mnohem víc a slibem</p>

<p>neublížíš</p>

<p><strong>Holomek, Kubeš</strong> - po zjištění, že v okresním přeboru nemá nikdo umělou trávu a v Praze je to běžná věc, účast omezili na minimum,</p>

<p>respektive to úplně bojkotovali</p>

<p><strong>Škoda</strong> - malá pilná včelička, lítá, lítá, jen ten kvítek ne a ne trefit</p>

<p><strong>Kuta</strong> &nbsp;&nbsp; - hráč - nulové nebo minutové intervaly mu stačí k inteligentním nahrávkám i asistencím</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -trenér- schází mu inteligence - dát druhého nejlepšího střelce do brány</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -mluví tak nesrozumitelně, že mu hráči nerozumí, dělají si na hřišti co chtějí, ale bojí se mu to říct</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -nedokáže se inteligentně domluvit, že se bude trénovat třeba jen jednou měsíčně</p>

<p>&nbsp;</p>

<p><strong>Ocenění morašického galavečera:</strong></p>

<p>&nbsp;</p>

<p><strong>Překvapení podzimu</strong> - Václav Štancl (v bráně)</p>

<p><strong>Objev podzimu</strong> - Chmelík (i bez něho to jde; 2, de facto 3 výhry)</p>

<p><strong>Talent podzimu</strong> - Válek (co všechno se dá nedat)</p>

<p><strong>Metrosexuál podzimu</strong> - Skala (jezdí na fotbal v kvádru)</p>

<p><strong>Fanoušek podzimu</strong> - Václav Tměj st. (vynechal pouze 1 zápas, méně než většina hráčů)</p>

<p><strong>Řidič podzimu</strong> - Míša Kutová (kam jela, výhra byla)</p>
