---
title: Dobrej bod z venku?
date: 2017-04-29
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/2c1e1d5b-4df4-48bf-bc2a-86ab659679a4.html
image: /public/images/zapasy/hradec-nad-svit-morasice.png

sestava: V. Andrle - Z. Škoda, M. Ropek, V. Štancl, J. Pitra - V. Novák, M. Chmelík, M. Štancl (K. Vopařil), Z. Skala (J. Kopecký), V. Tměj - B. Válek
zlute: V. Novák, V. Štancl, B. Válek
---

<p>Po oddychovém minulém týdnu si pro nás los nachystal těžký trojboj, jehož první dějství se odehrávalo na malém hřišti v Hradci nad Svitavou. Po delší době, zhruba 5 až 7 let, se mezi tyče při mistrovském zápase postavil Vojtěch Andrle, změnili jsme rozestavení na jediného hroťáka a střídačka opět zářila šedinami. V páté minutě jsme si připsali první tutovku, když Novákův centr našel na malém vápně Válka, ale ten bohužel zakončil přímo do gólmana. Jinak byli domácí od začátku opticky i akusticky lepší. Z optického hlediska budiž důkazem trvalý tlak, jehož výsledkem bylo naštěstí několik střel mimo, pár zblokovaných pokusů v našem vápně a když už něco prošlo a vešlo se to mezi tři tyče, Andrle to spolehlivě zalepil bez možnosti dorážení. Je ale pravda, že i slepý by si musel všimnout domácí převahy, neboť naše pozdní dostupování mělo za následek hromadu faulů, které byly vytrvale doprovázeny zbytečnými pěveckými áriemi, čestnou výjimku tvoří žluté zákroky V. Štancla a Nováka. Centry po těchto faulech naštěstí domácím nevycházely a často končily v pohodě u Andrleho nebo rovnou za čarou. Nutno říct, že ani pár našich přímáků neznamenalo velké ohrožení, a tak se o naše ofenzivní záchvěvy postaraly pouze střely M. Štancla a Válka, které domácí gólman zkrotil. S bezbrankovým stavem po půlce jsme museli být&nbsp; a také byli spokojeni.</p>

<p>Brzy po přestávce M. Štanclovi při podklouznutí povolilo poraněné tříslo a na náš hrot se tak přesunul Vopařil. Tlak domácích byl ještě větší než v první půli, ale k vyložené šanci se jim nedařilo dostat i díky výbornému Ropkovi, který několikrát na poslední chvíli křižoval za podkluzující spoluhráče. Andrle si ze střel mimo mohl možná hlavu vykroutit, ale napřímo ho zaměstnali domácí jen přímákem z uctivé dálky a jednou schovanou střelou ve vápně, jinak jsme s vypětím všech sil drželi domácí na dištanc. Naše ojedinělé standartky v druhém poločase už byly z kategorie lepších, škoda, že si osamoceně vyplavavší&nbsp; Chmelík netroufl z penalty na střelu z první a že V. Štancl zády fauloval domácího gólmana místo aby trknul do míče. Domácí defenziva v závěru evidentně moc nevěřila v naše schopnosti, protože v závěru bránila poměrně laxně, a tak Válek dostal balón do laufu, který řešil ostrým lobem z pětadvaceti metrů, ale bohužel trefil jen spojnici a dorážející Vopařil z malého vápna šajtlil nepochopitelně mimo. Na jeho obranu to nikoho neštvalo více než jeho samotného. Náš první roh v samém závěru zápasu přeletěl celé vápno stejně jako následně vracený balón a Tmějova střela vedle byla naší labutí ofenzivní písní. A protože se ani domácí na více nezmohli, vezeme bod z venku. Je to silnej venek, byli jsme drtivou většinu zápasu horší, ale my jsme měli tři ložené pozice na malém vápně...</p>
