---
title: Moje malá premiéra
date: 2016-09-24
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/d2e93a50-0322-4214-8b9d-2cfc7dfe2f07.html
image: /public/images/zapasy/janov-morasice.png

sestava: V. Štancl - D. Štancl, M. Ropek, M. Klement, V. Novák - B. Válek, M. Chmelík - M. Zerzán (P. Kuta), K. Vopařil (M. Burián), Z. Škoda (Z. Skala)
goly: K. Vopařil
zlute: Z. Škoda
---

<p>Před venkovním zápasem na žhavé a obvykle primitivnější janovské půdě naše sestava opět jaksi vykrystalizovala sama tím, co prostě bylo k dispozici. A tak se na střídačce tísnili pouze matadoři, pozdě příchozí svatebčan a po zranění kondičně indisponovaný Burián, a zbytek musel do pole. Pouze V. Štancl byl ušetřen a při absenci všech stálých i bývalých gólmanů poslán do brány. V modernějším rozestavení 4-3-3 jsme hráli s domácími vyrovnanou a střelecky oboustranně impotentní partii. Domácí sice byli více na naší půlce, ale vyslali jen pár hodně nepřesných střel, nejvíce zahrozili při sérii dvou rohů, které místo netradičního gólmana odvracel tradiční stoper Ropek. Za nás zpoza vápna přestřelil Klement a v největší šanci nedosáhli na malém vápně na Chmelíkem prodloužený aut ani Zerzán, ani Vopařil. Kromě Škodova taktického faulu za žlutou kartu ani není moc o čem psát.</p>

<p>Zato nástup do druhého poločasu byl plný vzruchu. Nejdříve se uvnitř vápna dostal ke střele domácí "Nedvěd", ale V. Štancl si s ní poradil. Vzápětí na druhé straně hlavičkoval po rohu Novák pouze do břevna, následující dvě střely nám domácí zablokovali a když tu třetí procpal do sítě Vopařil, byl mu odpískán jakýsi sporný faul. Za další minutu či dvě se do ideální pozice dostal Tměj, z 10 metrů trefil pouze tyč, odražený balón poslal zpátky do ohně Zerzán a Vopařil před prázdnou bránou nechal pouze vyniknout domácího gólmana. Co rozhodčí ubrali předtím, to přidali teď, protože pomezní za vytrvalých nadávek domácích poradil hlavnímu, že brankářův zákrok byl až za čarou, a tak jsme se v 50.minutě dostali do vedení a domácí do labilnějších otáček. Brzy po inkasovaném gólu je mohl uklidnit snajpr Bureš, ale jeho střela po zásazích obou Štanclů dvakrát poskočila na břevně a poroučela se pryč. Dlouho jsme domácí do šancí nepouštěli, naopak Ropek měl po Válkově rohu ve vápně dostatek klidu k hlavičce, kterou ale nedokázal usměrnit. Stejně si (ne)poradil s odraženým balónem uvnitř vápna i Chmelík, a tak čtvrt hodiny před koncem přišel z ničeho nic trest, když se za nakopnutým míčem nejdůrazněji vydal domácí útočník, přes naše obránce se dostal tváří v tvář gólmanovi a tvrdou střelou vyrovnal. Domácí pookřáli, ale nadále pálili nepřesně, pokud už se k zakončení přes urputný a tvrdý boj ve středu hřiště dostali. Střídající Skala, Kuta a Burián sice dokázali podržet míč více vepředu, ale my už jsme si žádnou nadějnou pozici ke stržení výsledku na naši stranu nepřipsali. Chvíli před koncem pálil z otočky a úhlu Bureš, a protože jeho střela olízla síť zvenčí, domácí hooligans se na chvilku radovali, ale u dělby bodů už zůstalo.</p>
