---
title: Malá Haná netáhne
date: 2017-04-15
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/5daccf5f-2650-45e9-9aa8-cac553a87c0c.html
image: /public/images/zapasy/jaromerice-morasice.png

sestava: M. Prešinský - V. Novák, M. Ropek, V. Štancl, D. Štancl - V. Tměj, T. Holomek, M. Štancl, B. Válek - M. Burián, K. Vopařil (J. Kopecký)
goly: M. Burián
---

<p>Nejdelší výlet za celou sezónu připadl zrovna na velikonoční víkend, a jak se nám hodilo, že zrovna v tyto svátky zavítal domů pražský Holub, protože omluvenky se od polední hodiny namnožily až tak, že jsme do cíle dorazili s dvanácti hráči, tradičním vedoucím a nejvěrnějším fanouškem v roli falešného trenéra. Na základě tréninkových báček jsme se rozhodli aplikovat taktiku vyčkávajícího týmu, ale až tak zle, jak to vypadalo, jsme to opravdu nemysleli. První propagační střela domácích po pěti minutách ještě nebyla velkým mementem. Ve 12.minutě vyslali domácí Buriána do samostatného nájezdu, rozhodčí po jeho první kličce odmítl písknout gólmanův faul, a tak byl žlutou kartou odměněn až následný dojezd do Buriánových nohou. Ta pravá naštěstí stihla předtím poslat míč do opuštěné brány a my se tak bez dřiny dostali do vedení. Nějakou chvíli nám tohle laciné vedení nevadilo, ale po dvaceti minutách se dostali domácí k prvnímu rohu, ten ledabyle propadl na přední tyči a domácí útočník volný balón poslal z penalty na místo určení a bylo srovnáno. Od tě doby jsme byli znatelně horším a pomalejším týmem, viz. další dva rohy, které domácí opět v klidu rozehráli na přední tyč. I domácí kanonýr Švec, který měl až do prvního jarního zápasu stejně gólů jako my všichni dohromady, &nbsp;se dostal do dvou gólových pozic, ale poprvé mířil od zadní tyče hlavou až příliš do protisměru, podruhé pravačkou střílel uvnitř vápna , ale opět se o metr nevešel. Naše nakopávané snažení nemělo valný úspěch, až pět minut před přestávkou jsme se rozhodli kombinovat a najednou nevedla do domácího vápna tak složitá cesta. Válkova nikterak obtížná střela zaskotačila gólmanovi mezi nohama. Po kombinaci z levé strany se dostal balón ve vápně k Buriánovi a ten tak dlouho vymýšlel, jak obstřelit vybíhajícího brankáře, až zvolil nepřesnou nahrávku na Vopařila. Možná ještě větší šanci měl minutu před poločasem Novák, který se po narážečce s Válkem dostal až na malé vápno, ale včas vyběhnuvší gólman jeho zakončení zblízka vychytal.</p>

<p>Do druhé půle jsme vstoupili se stejnou nedůsledností, která nás provázela většinu prvního a Švec po dvou minutách pálil z halfvoleje uvnitř vápna velmi pohotově, ale naštěstí těsně nad. Náš výkon, respektive naše chuť hrát fotbal, se přeci jen zlepšily, ale ani první vypracované standartní situace k nějakému vážnému ohrožení nevedly. Naši jedinou, zato stoprocentní, šanci v druhém poločase zahodil Burián, který si ve vápně zpracoval centr zprava, ale bránící dvojblok ho donutil k tak kvapnému zakončení, že z penalty přestřelil. Párkrát jsme balón ještě do vápna dostali, ale s přibývajícím časem se množily domácí nepřesné pokusy i nadějné útoky, kvalita jejich finálního provedení se naštěstí od té naší moc neliší. Míče směřující do vápna před domácími útočníky jistě sbíral Prešinský a svou nejlepší chvíli si nechal na úplný závěr, kdy V. Štancl nepokryl milimetrový balón na Švece, ale jeho hlavičku z pár metrů náš gólman reflexivně pokryl, a udržel remízový stav, který asi nepotěšil vůbec nikoho. Skolili jsme před dvěma týdny lídra, to je hezká, ale vypadá to, že z toho hodláme nějaký čas žít. To není dobrá myšlenka.</p>
