---
title: První vyhrání z kapsy vyhání
date: 2016-08-14
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/43ab29be-a672-4038-a3de-5ee9e3299f36.html
image: /public/images/zapasy/jevicko-morasice.png

sestava: M. Prešinský - D. Štancl, M. Ropek, V. Štancl, V. Novák - J. Pitra (M. Štancl), M. Klement, M. Chmelík, V. Tměj - Z. Skala (M. Černohorský), B. Válek (K. Vopařil)
zlute: M. Ropek
---

<p>Podle renomovaného Deníku nás na začátek sezóny čekal magnet kola a souboj dvou adeptů na popředí tabulky. Zápas v Jevíčku na to ale příliš nevypadal. Domácí si sice hned v první minutě připsali střelu na bránu a během úvodních minut křižovalo naše vápno pár balónů, ale vyjma závaru po podklouznutí V. Štancla z toho příliš nebezpečí nebylo. Poté jsme se osmělili my a Chmelík z uctivé vzdálenosti zařídil první střelecký pokus i na naší straně. Zejména pravé straně se občas podařila pěkná kombinace, ale všechno bez finální nahrávky a v dostatečné vzdáleném prostoru od branky. V naší největší šanci se po individuální akci ocitl pro dnešek hrotový Válek, ale z velkého vápna vůbec netrefil bránu. Naši omílanou pravdu, že i odkop může být finální nahrávkou, nám názorně ukázali domácí chvilku před přestávkou, když si V. Štancl nepohlídal náběh na jedno takové nouzové odehrání a domácí útočník se štěstím jak obehrál Ropka, tak umístil plašmušku přesně k tyči. Odpovědět na gól do šatny gólem ještě šatnovějším se nám po rohovém kopu nepovedlo, a tak nás v druhé půli čekalo dohánění manka.</p>

<p>Prvních 15 minut to tak nevypadalo, domácí tahali čas a za našeho nezájmu i s radostí útočili proti bráně, za kterou měli kotel jejich ultras, ale až na výjimku, se kterou si poradil Prešinský, neměli dobře seřízená mířidla. Naše světlá pasáž přišla kolem 70.minuty, kdy nás pár standartek dostalo do hry, ale Chmelíkem prodloužené centry neuklidili v největší šanci Vopařil, ani o chvíli později střídající M. Štancl. Na posledních deset minut se na hrot vysunul i Ropek, ale moc příležitostí k rozruchu před soupeřovou brankou nedostal. O to více se o něj před naší brankou staral zbývající stoper V. Štancl, domácí ale jeho chyb nevyužili, a tak jsme mohli doufat až do konce, ale na naší útočné fázi budeme muset pořádně zapracovat, abychom v góly nemuseli jenom doufat.</p>
