---
title: Ivánku, kamaráde, můžeš mluvit?
date: 2017-06-10
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/30b4d124-73e5-42b4-9562-164d6cdf26ce.html
image: /public/images/zapasy/krenov-morasice.png

sestava: M. Prešinský - D. Štancl, M. Chmelík, V. Štancl, V. Novák - V. Tměj, M. Klement, M. Štancl (M. Ropek), B. Válek - M. Burián, K. Vopařil
goly: B. Válek, V. Štancl, M. Štancl
---

<p>Vzhledem ke svatbě v kádru si nás sestupem ohrožení křenovští pozvali na obracení sena již v pátek. Termín nám nevadil, i když&nbsp;jsme se k nim museli harcovat v&nbsp;počtu 8 zdravých lidí hned po práci. Na lavičce zůstal pouze nejmarodnější z marodů Ropek a náš věrný zastupující funkcionář. Naše plánované ofenzivní rozestavení se příliš neosvědčilo, respektive náš úvodní plánovaný nápor se změnil v pár nepřesných střel a soupeřovo břevno, a tak jsme se záhy uchýlili k tradičním proporcím sestavy. Celý poločas jsme měli problém s razancí přihrávek na vyšší trávě a zpracování na tom bylo ještě hůř, když už jsme měli místo na tvoření, naše průnikovky&nbsp; byly lahůdkou pro gólmana i pro horečně mávajícího pomezního. Brzy po osvěžovací pauze naštěstí vybojovaný balón odeslal M. Štancl na Válka s ideální razancí a i ten při svém lobu přes vybíhajícího gólmana dimenzoval sílu úderu správně a poslal nás do vedení. Hosté byli nebezpeční hlavně po našich ztrátách na středu a při rohových kopech směřovaných na "Staňu". Toho naštěstí výborně střežil vracející se Burián. Kromě dalších nepřesných střel stojí ze soupeřova vápna za zmínku dva penaltové souboje, ale z pádů Klementa i V. Štancla jsme vytěžili pouze nepřesnou střelu druhého jmenovaného. Nejblíže ke gólu tak měl po dlouhém autu a chvilkovém zaváhání gólmana M. Štancl, ale k trknutí volného balónu by potřeboval minimálně Buriánovu nohu.</p>

<p>Spokojenost s poločasovým výkonem rozhodně nepanovala a nutno říct, že se ve druhé části naše snažení jevilo lépe. Jestli to bylo fyzickým fondem nebo prostou kvalitou těžko soudit, ale už po pár minutách si u rohu Válek poradil s obráncem, dal si záležet se zpětnou nahrávkou na Tměje, ale ten přestřelil. Chvíli na to centroval do vápna Klement, ale Vopařil se odmítl zapsat mezi střelce potřetí v řadě. Ne snad, že bychom na domácích nějak leželi, ale k naší bráně se dostávali velmi zřídka, zato my jsme začali pěknou sérii nepovedených nájezdů. V. Štancl si ten svůj užil od poloviny hřiště, ale zakončil gólmanovi ideálně na lapačku, ve stejném místě našel stopku i pokus osamoceně postupujícího Válka. Uklidňující gól přidal až 20 minut před koncem V. Štancl, který si na roh M. Štancla ani nemusel naskakovat a hlavou mířil přesněji než nohou. V těchto fázích nám domácí nechávali dost místa i na poměrně pohledné kombinace, ale další šanci nám připravili sami. To se Válek nenechal obhodit laškujícím obráncem, ale jeho další nájezd musel gólově dokončit až produktivní M. Štancl (1+2). Aby si vzápětí jako jediný vystřídal a odsoudil ostatní raněné k absolvování celého zápasu. Až přílišná bohorovnost v zadních řadách umožnila "Staňovi" ještě tvrdou střelou pod víko snížit a nás na chvíli znervóznit. Další góly odmítl třeba Burián, který neskóroval ani střelou z vápna, ani následnou dorážkou, která skončila na břevně. Střídajícímu Ropkovi pak po dobré akci odmítl naservírovat míč Tměj a v samém závěru se ještě sama podstat zápasu otřásla v základech, ale doufejme, že nastávající ženáč k oltáři dojde, i když &nbsp;musel po jednom z posledních soubojů střídat. Povinné tři body jsme si tak odvezli domů a domácí budou muset doufat v pomoc jiných soupeřů, jak v naší, tak vyšší soutěži. A třeba budeme potřebovat pomoc všichni, jestli Pelta s Ivánkem nenacvičej ten los na ministerstvu správně.</p>
