---
title: Letní příprava 2016
date: 2016-07-07
---

<p>čtvrtek 14.7.2016 - 17:30 &nbsp; trénink</p>

<p>sobota 16.7.2016 - 17:30 &nbsp; trénink</p>

<p>úterý 19.7.2016 - 17:30 &nbsp; trénink</p>

<p>čtvrtek 21.7.2016 - 17:30 &nbsp; trénink</p>

<p>sobota 23.7.2016 - 17:30 &nbsp; trénink</p>

<p>úterý 26.7.2016 - 17:30 &nbsp; trénink</p>

<p>čtvrtek 28.7.2016 - 17:30 &nbsp; trénink</p>

<p><strong>sobota 30.7.2016 - 18:00 &nbsp; pohár pardubického kraje: Morašice - Svitavy A (hřiště Morašice)</strong></p>

<p><strong>středa 3.8.2016 - 18:00 &nbsp; přátelák: Cerekvice - Morašice (hřiště Cerekvice)</strong></p>

<p><strong><span style="line-height: 1.4em; text-indent: 2em;">sobota 6.8.2016 - 17:00 &nbsp; pohár svitavského okresu: Čistá - Morašice (hřiště Čistá)</span></strong></p>

<p><strong>neděle 7.8.2016 - 17:00 &nbsp; přátelák: Dolní Újezd A - Morašice (hřiště Dolní Újezd)</strong></p>

<p>úterý 9.8.2016 - 17:30 &nbsp; trénink</p>

<p>čtvrtek 11.8.2016 - 17:30 &nbsp; trénink&nbsp;</p>

<p><strong>13.8. - 14.8.2016 : &nbsp; mistrovské utkání OP</strong></p>
