---
title: Zvlhlý prach
date: 2017-05-14
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/c74b2fb2-d7ec-41b9-9237-a0f7a6109d4d.html
image: /public/images/zapasy/linhartice-morasice.png

sestava: M. Prešinský - D. Štancl, M. Chmelík, V. Štancl, Z. Škoda - V. Novák, M. Klement, M. Štancl, V. Tměj - Z. Skala ( K. Vopařil), M. Burián (J. Kopecký)
zlute: Z. Škoda, V. Štancl
---

<p>Na dlouhý nedělní výlet jsme do Linhartic za krásného letního počasí jeli konečně pro tři body, ale vraceli jsme se zmoklí jak slepice a s prázdnou. Na střídačce nás zase bylo jako do mariáše, a to jen díky návratu Klementa. Začátek patřil domácím, kteří už po třech minutách odcentrovali ze strany do vápna, a odražený balón napálili z bezprostřední blízkosti do brány. Následně sice ještě zahrozili na přední tyči propadnutým rohem a jednou nepřesnou střelou, ale i slovy nehrajícího kapitána se dalo koukat na to, co jsme na hřišti předváděli my. Prostoru pro kombinaci bylo docela dost, dařilo se nám ho i využívat, ale byli jsme na štíru s koncovkou. Burián se dostal k několika hlavičkám bez potřebné přesnosti či razance, a když ho po delší době vybídli soupeřovi obránci k sólu na brankáře, zvolil nemastnou střelu do středu brány. Protože přímáky a centry byly krátké a rohy dlouhé, musel nám k další tutové šanci pomoci domácí gólman, který namazal na vápno Skalovi, ten ale ke svým předchozím propagačním pokusům přidal obdobný kalibr jako Burián. V závěru poločasu si do uličky naběhl Novák, ale svůj postup z křídla zakončil střelou mimo.</p>

<p>Přestávku nám protáhla bouřka, ale to nic neměnilo na víře, že jsme soupeře schopni i nadále přehrávat a s poměrem gólů pohnout. To se nám kýženým směrem bohužel nepovedlo. Domácí byli od začátku druhého poločasu lepší, za pomocí rohů a standartek se jim podařilo nás na řádnou chvíli přitlačit před naše vápno, přesto byla největší šancí střela z dálky, kterou Prešinský s námahou, ale výborně vyrazil. Když už jsme začali myslet na naše ofenzivní roupy, ztrestali nás domácí z rychlého brejku, když se opět dostali k centru ze strany na přední tyči a po hodině hry to bylo 2:0. Brzy na to neatakovaný Chmelík na podmáčeném terénu nešťastně podklouzl ve vlastním vápně, dotkl se přitom balónu rukou a podle pravidel asi správnou, ale jinak nesmyslnou penaltu domácí bezpečně proměnili. Od té doby už nebylo o co hrát, naše hra dopředu postrádala logiku i cíl, domácí neustále hrozili brejky, které ale často špatně vyřešili. M. Štancl si z dálky alespoň připsal jedinou střelu na bránu v druhém poločasu, se zatnutými zuby dohrál do konce a padla. Po delší době jsme měli alespoň jeden poločas radost ze hry, ale domácí byli hrubě efektivní a na nějaké pohádkové obraty nemáme lidské ani fyzické fondy.</p>
