---
title: K posrání před i při
date: 2017-04-09
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/10567aa9-6423-4a1e-9827-200ae56c543e.html
image: /public/images/zapasy/morasice-moravska-trebova.png

sestava: Prešinský - Ropek, Chmelík, D.Štancl, Pitra (Vopařil), Tměj, Skala (Kopecký), M.Štancl (Kuta), Novák, Burián, Válek (Severa)
goly: Válek
zlute: Vopařil, Tměj, Ropek, Válek
---

<p>Po vyhraném derby v dolnoújezdském ďolíčku se k nám z řad věrných fandů dostaly&nbsp;nepatrné zvěsti o našem zlepšeném výkonu. Možná i proto prudce klesla tréninková morálka, kde téměř všichni zúčastnění měli blíže do penze než do základní sestavy.</p>

<p>Jenže stejně jako není béčko jako béčko, tak není sobota jako neděle. Před zápasem jsme se slejzali jak švábi na pivo. Z toho dva s vrtošivými vnitřnostmi a jeden s negativními rumovými anestetiky na bolavou osmičku.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; První poločas se z naší strany nesl ve straš pytli. Měli jsme problémy snad se vším, co souvisí s fotbalovými dovednostmi, přesto jsme stáli na nohou a bojovali. Sice spíš dozadu než dopředu, ale od srdce. Hosté snad nebyli ani lepší než my, jen jim prostě méně vadila vyšší tráva, tolik lidí na vcelku velkém prostoru a hlavně balón. Více vzruchu přinesl hlavně Prešinský, (od minulého týdne pod pseudonymem Martin) který výborně zastavil samostatný únik soupeře do otevřené obrany. My jsme hrozili pouze sporadicky. Podle neklamných fyziognomických symptomů musel hostující brankář během prvního poločasu nudou snad zestárnout (nic proti jeho šedinám). Poznámka nestranného diváka ze středu zálohy - dokonce nebyl nucen si za celý zápas lehnout na zem. Byl tak drzý, že na konci první půle v klidu pustil za záda únik Válka, tedy míč a nás poslal do vedení bez zásluhy.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Poločasová bouře bez blesků měla za následek pouze hromy, poněvadž pokud jsme se první poločas něčeho báli, tak v tom druhém nás to dostihlo a podělali jsme se. Kdo neviděl, neuvěří. Kdo viděl, ten chtěl zpátky vstupné. Kolem Prešinského svatyně to svištělo jako o silvestru, ale hosté se zaplať pán Bůh pouze zastřelovali. I přes náš úděsný a nebojovný výkon jsme je nepustili do vyložené šance. Pokud ano, Michal bravurně zasahoval. Zázraky se dějí. Proto jsme nakonec mohli brát tři body my. Jenže nejprve v nadějně tutové šanci pálil srdnatě, leč mimo Vopařil. Burián si několikrát připadal za obranou soupeře sám, tak raději zasekl a počkal na ni. No a těch 8 ostatních hráčů na hřišti nic nevymyslelo. Proto přišel trest v závěrečné patnáctiminutovce. Roh Moravské, naše váhání zdali odkopnout nebo posečkat, ruka ve vápně a pencle číslo jedna. Ač Prešinský vystihl směr, byl krátký. Zhruba o 10 minut později se jako lasička protahoval kolem koncové lajny hbitý třebovák, tak ho radši Chmelík poslal ho horizontálu. Tentýž kapitán si poradil i s druhou penaltou a světe div se - tekli jsme. Nakonec jsme mohli být rádi, že nám zůstala celá jedenáctka, protože Ropkovo a Tmějovo zatažení za ručku úkazalo, že i "černé svině" mají charakter, pochopení, toleranci a dobré srdce. S konečným hvizdem se o hlavičku hlásil po Kutově přímáku ještě Kopecký. Míč mu však z hlavy sebral Burián, který se snažil alespoň decentně potěšit jediného mistra světa, který kdy navštívil naše utkání. Po neděli bohužel možná i naposled.</p>
