---
title: Nesnáším loučení
date: 2017-06-17
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/6b6d7e0f-a145-4a34-8b45-72ecc4dcdd97.html
image: /public/images/zapasy/morasice-brezova-nad-svit.png

sestava: J. Lněnička – D. Štancl, M. Chmelík, V. Štancl, Z. Škoda (M. Ropek) – V. Novák, M. Klement (V. Tměj), M. Štancl (M. Burián), Z. Skala – K. Vopařil, J. Kopecký (B. Válek)
goly: B. Válek
---

<p>I přes&nbsp;sychravé počasí si poslední zápas čerstvých dvojnásobných vítězů okresního poháru nenechalo utéct poměrně značné množství diváků i hráčů. Volba sestavy tentokrát probíhala na bázi dobrovolnictví, a tak se na hrotu útoku objevil Kopecký, na stoperu Chmelík, v&nbsp;bráně Lněnička, zatímco na střídačce si váleli šunky naši nejlepší střelci i s kapitánem. Ale dlužno dodat, že ani hráči v&nbsp;poli se zrovna nenadřeli. Již sestupující Březová byla od začátku běhavější, důraznější, zapálenější a my jsme se s&nbsp;tím celý poločas nepopasovali. Není proto divu, že se dostávali i do více šancí. V&nbsp;první jasné pozici na vápně naštěstí stříleli slabě, střelu ze závaru ve vápně vyrazil Lněnička nohama, hlavčku po přímáku ztlumil rukama a po akci z&nbsp;lajny sledoval stejně jako všichni ostatní, jak hosté přestřelují z&nbsp;jasné pozice na malém vápně. Naše snažení končilo v&nbsp;drtivé většině případů u druhé přihrávky a k&nbsp;bráně hostů jsme se dostali jen dvakrát. Jednou Kopecký povedenou levačkou prostřelil gólmanovi ruce, ale ten i tak zvládl tento pokus dostatečně ztlumit, podruhé jsme ojedinělou kombinací dostali balón na Skalu, který ale své střelecké prokletí názorně demonstroval homerunem do zadní sítě.</p>

<p>V&nbsp;poločase jsme sáhli hned k&nbsp;trojímu střídání, obrana dostala obvyklou podobu, bořit začal místo smetánkujícho Klementa Chmelík, na lajně se dařilo Tmějovi. Přestože záhy Chmelík prověřil hostujícího gólmana, byli březostí herně stále o krůček před námi a po hodině hry se zaslouženě dostali do vedení, když Novák promáchl průnikovku za obranu a jejich útočník nedal přesnou křížnou střelou Lněničkovi šanci. Pokud od nás čekali ráznou odpověď, nedočkali se jí. Až když čtvrt hodiny před koncem naskočil na hřiště Burián a my se pustili do rizika s&nbsp;třemi záložníky, začalo to před hostující bránou jiskřit. Právě Burián měl největší šanci na vyrovnání, ale prudký centr z&nbsp;pravé strany trefil přímo do přesouvajícího se gólmana. Chvíli na to Tměj vysunul Válka, ten si obešel gólmana a poté i přes clonící obránce s&nbsp;klidem vyrovnal. Zbývajících deset minut jsme už konečně byli hladovější, ale naší největší šancí byla Skalova standartka do zdi, a tak jsme domácí diváky počtvrté v&nbsp;řadě nepotěšili tříbodovým ziskem. A byť jsme získaným bodem přesně dorovnali loňský bodový účet, při pohledu zejména na domácí ztráty se nelze zbavit dojmu, že jich mohlo být víc.&nbsp;</p>
