---
title: Zkraje dobrý
date: 2017-03-26
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/17e6250c-9b7f-4f48-b082-f89158227567.html
image: /public/images/zapasy/morasice-jevicko.png

sestava: M. Prešinský - J. Pitra (Z. Škoda), M. Ropek, V. Štancl, D. Štancl - M. Chmelík, M. Štancl (V. Tměj), Z. Skala, V. Novák - M.Burián (D. Severa), B. Válek (M. Zerzán)
goly: M. Štancl, M. Burián, V. Štancl (pen.)
zlute: D. Štancl, M. Burián
---

<p>Myšlenky na zimní přípravu nás před prvním mistrákem musely spíše děsit. Naši bývalí dorostenci, kterým u nás osud nepřál, se z pravidelných diváků transformovali na hráče jiných oddílů, zranila se nám klíčová motorová myš, neúspěšně jsme lanařili dalšího gólmana a z tréninků se staly rodinné výlety stále stejné skupinky lidí. Oproti poslednímu přáteláku se nás sešlo dost, ale ani rozcvička, ani úplně úvodní minuty nenasvědčovaly, že bychom měli proti Jevíčku zažívat radost z fotbalu. Nicméně po první hostující návštěvě našeho vápna jsme začali mít více ze hry, ale náznakům šancí z obou křídel chybělo lepší finále. Po zemi jsme si s hosty věděli rady, a když jedna taková kombinace skončila u M. Štancla na velkém vápně, ochrannými prvky ověnčený železný muž naší sestavy na nic nečekal, vyslal hostujícímu gólmanovi ostrý plovoucí pozdrav a my se ujali vedení - 1:0. Standartky a dva rohy plynoucí z naší převahy jsme až na jednu slabou výjimku nezakončili, a tak zůstalo jen u Pitrovy dalekonosné střely a Buriánova akrobatického zakončení, při kterém dokázal dosáhnout na balón i k úžasu hostí, ale s razancí už toho moc nadělat nemohl. Pak se něco stalo a přestali jsme běhat, držet balón a skoro existovat, a tak až do poločasu tlačili pro změnu hosté. S první střelou si Prešinský poradil, po standartní situaci jsme se svou nečinností rozhodli otestovat hostující kvalitu bez jakéhokoliv tlaku. Jak naštěstí předvedli, podobně jako my v podzimním zápase u nich, brána se dá překopnout i ze tří metrů. Prešinský ještě před poločasem váhavým výběhem a couváním zabrnkal na nervy, ale po hrůzné první půlce jsme odcházeli do kabin s vedením.</p>

<p>Ani po přestávce se příliš nezměnilo, hosté byli stále jaksi aktivnější, ale do šancí už jsme je nepouštěli. Z čista jasna pak Skala katapultoval Válka a jeho dobře myšlený lob vyrazil hostující gólman na roh. Ten až na přední tyči prodlužoval V. Štancl, ale prodlužoval příliš. S čerstvými Tmějem a Zerzánem se nám postupem času přece jen podařilo vadnoucí hosty bez možnosti střídání přehrávat. Série dorážek po jednom z rohů skončila Skalovou hlavičkou mimo, více práce měl nižší hostující gólman s jeho koníčkovým centrem o chvíli později. Tentýž hráč poté průnikově vyslal Zerzána a ten předložil Buriánovi před prázdnou bránu - 2:0. Buriána bylo ke konci plné vápno. Nejprve po Zerzánově další přihrávce vychytal Skalu a ještě než ho vystřídal debutující Severa, vybojoval pokutový kop. V. Štancl si nenechal ujít příležitost oslavit nejnovější přírůstek budoucí silné generace a stvrdil výsledkově povedený vstup do jarní části.</p>
