---
title: Svítí, svítí nula nad hlavou
date: 2017-05-21
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/aadc9518-d12e-4f76-a72d-0476f565b9aa.html
image: /public/images/zapasy/morasice-sebranice.png

sestava: V. Andrle - V. Novák, V. Štancl, M. Chmelík, Z. Škoda (K. Vopařil) - V. Tměj, M. Klement, M. Štancl, B. Válek (J. Kopecký) - M. Burián, Z. Skala
---

<p>Možná hezké počasí, možná blízkost herně neoblíbeného soupeře, možná náš rozmach v podobě nové výsledkové tabule, možná všechno dohromady přilákalo do našich ochozů poměrně dost diváků. O to méně bylo zdravých hráčů a trenérů v naší kabině. Rotace gólmanů nám úspěšně pokračuje a při pohledu na rozcvičující se dvojici Lněnička - Andrle se určitě nejeden pamětník štípal, jestli se nevrátil do časů, kdy tato dvojice, dnes již v souhrnném věku 77 let, chytala pravidelně. Samotný zápas vypadal v prvním poločase stejně jako ten poslední domácí. Chtěli jsme, aby z toho diváci u hospody taky něco měli, a tak nám po rozdělení stran nezbylo nic jiného než se nechat zatlačit před naši bránu. Hosté si s dvěma běhavými a kvalitnějšími hráči vystačili na celou naši obranu, která je nechávala trestuhodně neobsazené, naproti tomu naši snahu dopředu brzdily špatné nahrávky, absence náběhu a když už se pár příhodných faktorů dalo dohromady, nepohlídali jsme si ofsajd. Na hostech byl vidět větší zápal, ale k přímé střele se dlouho nedostali. Pro tu možná vůbec první si k tyči jako zamlada doskočil Andrle, tu druhou velmi nevyzpytatelnou mu donesl vítr až z půlky. Kde se vzala, tu se vzala naše pohledná kombinace, která po ose Válek-Burián-Skala katapultovala posledně jmenovaného do samostatného nájezdu. Bohužel kryl gólman nejen jeho nepovedenou střelu na střed brány, ale i dvě Buriánovy dorážky. Hosté se do víceméně zaslouženého vedení dostali po 35 minutách, když zužitkovali jednu z mnoha standartek kolem vápna. Obrana si špatně přebrala útočící hráče a jeden z nich osamoceně a v klidu hlavičkoval přesně do protipohybu Andrleho. Předčasně, a potřetí za sebou za stavu 0:1, do kabin nás pak poslalo vážné zranění hostujícího hráče, pro kterého musela přijet sanitka. Přejeme mu brzké uzdravení i úspěšné opožděné složení maturitní zkoušky.</p>

<p>Dohrávané čtyři minuty prvního poločasu byly v naší režii, bohužel z Tmějovy parády u lajny jsme ve vápně nic nevytěžili. S naším zvýšeným nasazením a napadáním se hosté dostávali do problémů už při rozehrávce, což vyústilo ve žlutou kartu pro chybu hasicího stopera a samostatný nájezd v podání našeho druhého útočníka. Bohužel se Burián tak zalekl sborového volání po ofsajdu, že zakončil podobně nemastně, jako tomu bylo v prvním poločase. Necelou půlhodinu před koncem upadl ve vápně Burián, písknutí rozhodčího vytočilo hostujícího kapitána do běla a musel ze hřiště, ale z všeobecně očekávané penalty sešlo. Nutno dodat, že tímto zmatkem i alibistickým zápisem o utkání korunoval hlavní rozhodčí svou bezradnost. Ale stejně jsme na tom byli i my, co se týče ofenzivní marnosti v honbě za vyrovnáním. Všeho všudy jsme z toho vytěžili střelu V. Štancla zpoza vápna, dost možná gólový, ale zblokovaný pokus Skaly uvnitř vápna. Ze všech našich přímáků a rohů, byl nebezpečný pouze ten Skalův, ale Burián se dostal k hlavičce až za zadní tyčí. Korunovace naší bezradnosti přišla pět minut před koncem, když se Burián a rozhodčí konečně dohodli na penaltě, ale V. Štancl trefil střed brány tak čistě, že hostující gólman nestihl uskočit a nohama zasáhl. Takže máme zase kulový a ani nevíme, jestli počítadlo na straně domácích funguje.</p>
