---
title: "Ho Saňák"
date: 2016-10-16
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/5c618f19-57b1-4233-a89c-70ae9ae289c8.html
image: /public/images/zapasy/morasice-opatov.png

sestava: V. Štancl - D. Štancl, M. Ropek, M. Klement, V. Novák - B. Válek, M. Chmelík (P. Kuta), Z. Skala, V. Tměj - M. Burián (J. Kopecký), K. Vopařil (Z. Škoda)
goly: M. Burián
zlute: K. Vopařil, V. Novák
cervene: J. Kopecký
---

<p><font style="background-color: pink; color: rgb(0, 0, 0);">Předzápasové</font> dění bylo tentokrát mnohem zajímavější než zápas samotný. Každý z nás osobně zhodnotil minulý neúspěch v Sebranicích, kouč už nám vše potřebné řekl, sestava vykrystalizovala tak, že se po třech venkovních zápasech dočkali domácí rowdies svého náhradního brankáře na domácím hřišti. Pohodové atmosféře před zápasem, kterou dokládá i příjezd třetího rozhodčího přesně na čas, scházelo jenom pivo pro všechny zúčastněné ještě před výkopem. Dle plánu i očekávání jsme začali aktivněji, naše obrana se nudila a vrcholem našich šancí byla po deseti minutách tyč nastřelená z velkého úhlu Novákem. Jen on sám ví nejlépe, zda neměl raději nahrávat pod sebe. Když se hosté dostali poprvé na naši půlku, hlavní rozhodčí (mimochodem oficiálně delegovaný jako AR1, ale zřejmě pro ne tolik vlídné přátelství s Lojzíkem Ropkem předzápasově povýšen) ne že přehlédl kopnutí do D. Štancla, ale vyhodnotil ho jako adekvátní a dovolené a následně nařídil přímý kop proti nám. Centr z něj odkopával Ropek a Skala, ač byl na míle vzdálen od nejbližšího protihráče, ač ho balón trefil při cestě od brány a ne k bráně a hlavně ačkoliv byl trefen do ramene a ne do ruky, se dopustil přestupku, který zmiňovaný sudí k překvapení všech vyhodnotil jako jasnou penaltu. Ta nebyla kopnutá nikterak exkluzivně, ale V. Štancl na ni ani zdaleka nedosáhl a my jsme chytli nervy a manko. Zápas byl kvůli chybujícímu rozhodčímu i horkým hlavám zbytečně vyhrocený (hosté museli do půle dvakrát vynuceně střídat), ale šancí bylo pomálu. Hosté si dávali načas s každou rozehrávkou, zápas se odehrával na jejich půlce, ale naše tentokrát časté střelecké pokusy byly pramálo nebezpečné. Stejně tak nepřesné byly naše rohy, Buriánovy hlavičky nebo Skalovy přímáky. V závěru poločasu se do své jediné vypracované šance zápasu dostali i hosté, ale V. Štancl vyrazil na roh a krátce po něm se šlo do kabin, kde byl tentokrát vzácný klid.</p>

<p>I přes narůstající kotník se do druhého poločasu hecnul i Burián, který náš vytrvalý tlak korunoval vyrovnávacím gólem po hodině hry, když přesně dorazil Vopařilem prodloužený Chmelíkův centr. Hosté vypadali na ručník, záhy po střídání v útoku se do dobré pozice dostal Škoda, ale jeho střela byla zblokována. Škoda. Vysoká noha hostujícího obránce proti Válkově hlavě se pak údajně nevešla do vápna, jenže z přímáku jsme ani tentokrát neudeřili. Hosté si další šanci už nevypracovali, ale po špatném vyběhnutí V. Štancla zakončili jeden z jejich mnoha nákopů pohodlně do prázdné brány a museli jsme zase dotahovat. To už od nás i přes naskovčivšího Kutu byla spíš křeč, jejímž paradoxem je, že předčasně do sprch musel jako hostující gólman, tak náš Kopecký, který oficiálně dle zápisu ani nebyl na hřišti. Až takhle umí kouzlit okresní rozhodčí. Jedinou šanci na vyrovnání jsme měli v samém závěru po rohovém kopu, ale Novák hlavičkoval těsně nad. Soupeř byl už několikrát za sebou hratelný, dá se říct, že měl menší zájem hrát fotbal než my, o rozhodčím se škoda zmiňovat, ale hlavní průser je, že ani proti takovým si nejsme schopni vytvořit dostatek šancí, natož dát více gólů. A tréninkové přesilovky 4 na 3 toho asi moc nezmění. Vyjma konzumace alkoholu, předvedli se všichni aktéři nedělního odpoledne ve špatném světle a nezbývá než se pomodlit nebo aspoň zazpívat pár zbožných písní za jejich zlepšení.</p>
