---
title: Radovi darmo radit
date: 2016-09-18
scortes: 
image:

sestava: M. Prešinský - D. Štancl (J. Kopecký), M. Ropek, V. Štancl, M. Ropek, V. Novák - B. Válek, M. Klement, V. Tměj - M. Zerzán (K. Vopařil), Z. Skala
goly: J. Kopecký
zlute: M. Klement
---

<p>Třetí domácí zápas, tentokrát s Hradcem nad Svitavou, sliboval už předem emočnější a vyrovnanější bitvu nepodobnou šestigólové výhře z minulého týdne. První poločas dal našim předtuchám za pravdu. Sice jsme si záhy po úvodním hvizdu vypracovali postupnou kombinací rohový kop, jenže ve zbytku poločasu byli hosté všude o krok dřív, z čehož pramenily naše fauly a u několika známých hostujících případů vytrvalé nářky. Souvislý tlak hostů umocněný standartkami ale nepřinášel žádné vyložené šance, to náš Válek měl po Skalově centru lepší pozici, ale ve skluzu trefil míč pouze obloučkem přes zelenou síť. Po naší ojedinělé kombinaci se po Zerzánově přihrávce dostal do dobré pozice za vápnem Chmelík, ale jeho povedenou střelu hostující gólman vyrazil na další nevyužitý roh. Po půlhodině hry nás hosté přehráli rychlým kontrem, když střílený přízemní centr ze strany proletěl vápnem až na zadní tyč, kde ho nabíhající útočník pohodlně uklidil do sítě. Chmelíkova rychlá rozehrávka z naší poloviny poté vyslala do sóla Skalu, ten stihl míč před vybíhajícím brankářem posunout směrem na bránu, ale před čárou ho dostihl hostující obránce. Největší šanci prvního poločasu pak zahodil Válek, když osamocený na malém vápně zbrkle zakončoval skluzem mimo. Ještě před přestávkou se dostal po křídle za hostující obranu Zerzán, ale svůj centr jen nabídl gólmanovi.</p>

<p>Přestávka začala tříminutovým tichem a skončila velkým odhodláním a světe div se, měli jsme v druhém poločase navrch.&nbsp; Bohužel jsme stejně jako v první půli hosté, nedokázali tuto převahu vyjádřit střelecky, natož gólově. největší šanci měl Chmelík, ale z místa podobného tomu Válkovu, trefil pouze břevno, Zerzán zase po závaru z rohového kopu &nbsp;neprotlačil míč patičkou. Naše nákopy a rozehrávky byly zbrklé, hosté si chodili pro taktické fauly a druhý poločas účelně kouskovali. Jak naší frustrací, tak hostujícími výkřiky, tak hlasitým a záviděníhodným hostujícím kotlem zápas nabíral na emocích. Po jednom z rohů trefil jejich útočník odražený balón zády k bráně tak přesně, že Prešinský nemohl dosáhnout a čtvrt hodiny před koncem to vypadalo, že je rozhodnuto. Naše závěrečná hra na riziko přinesla ovoce pouze v podobě snížení Kopeckého, který deset minut před koncem zužitkoval Válkovu nahrávku&nbsp; poklidnou nepovedenou střelou do protipohybu gólmana. Kopecký se dostal ještě k jedné bohužel nedůrazné hlavičce, V. Štancl v poslední minutě ve vápně nic nevymyslel a Novák posledním dotekem zápasu napálil balón symbolicky spíše směrem ke kabinám než k bráně. Zápas dvou rozdílných poločasů tak vyhrál efektivnější celek a nám nezbývá než doufat, že za týden, v zápase s velmi podobným soupeřem, budeme mít více kvality i štěstí.</p>
