---
title: Bleskový úvod
date: 2016-09-04
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/bdb62092-e3bc-4314-becd-2cdd81e41f2d.html
image: /public/images/zapasy/morasice-jaromerice.png

sestava: M. Prešinský - D. Štancl, M. Ropek, V. Štancl, V. Novák - V. Tměj, M. Klement, M. Chmelík, J. Pitra (K. Vopařil) - B. Válek, Z. Škoda (T. Holomek)
goly: B. Válek
zlute: M. Ropek, V. Štancl, K. Vopařil
---

<p>Bezkrevný výkon z minulého kola proti Moravské Třebové ani nezasluhoval komentář, a tak jsme doufali, že daleké Jaroměřice přivítáme v trochu bojovnější náladě. Hosté si evidentně dobře pamatovali na jakém betonu loni smolně prohráli, ale než stihli vstřebat naše mílové pokroky v této oblasti, Klement potáhl balón středem, vybídl k centru Tměje a neobsazený Válek zblízka pohodlně zakončil hlavou a už ve druhé minutě nás poslal do prvního letošního vedení. Což je s výhrou na kontě docela unikát. Utkání bylo bojovné, ztížené větrem, který hostům většinu nákopů odnesl za čáru, a tak nás vylekali jen dvakrát, když Prešinský zdánlivě bezpečné centry neztlumil napoprvé. Hlavní rozhodčí od začátku nebyl schopen ujasnit si buď jednotný metr nebo stranu, které bude nadržovat, a tak byla hra kouskovaná a zejména od hostů často dost nervózní. Jako ukázka rozhodcovské kvality poslouží situace po čtvrt hodině hry, kdy &nbsp;se sám na bránu řítil Škoda a lehký kontakt s protihráčem vyhodnotil jako faul, úlitba pro nás, ale zhacení jasné brankové příležitosti ocenil pouze žlutou kartou, úlitba pro soupeře. Následný přímý kop z vápna Klement s bravurou sobě vlastní přestřelil a stejně dopadl i v další šanci Pitra, který se osamocen ve vápně dostal špatným zpracováním pod tlak a pak už nezamířil přesně. Další dvě šance patřily Válkovi, který nejdříve z přímáku přízemní střelou pořádně protáhl hostujícího gólmana, podruhé nedokázal z malého vápna usměrnit do brány&nbsp; ostrý centr moderně vysunutého beka Nováka. Hosté si připsali jednu propagační střelu z dálky, několik dlouhých autů a těsně před poločasem i náš oblíbený centr, který se omylem snáší přímo do brány, ale Prešinský se naštěstí stihl natáhnout. Ubránili jsme i roh v závěru poločasu a protože druhý už rozhodčí hostům nedovolil rozehrát, šlo se do kabin za velkých emocí.</p>

<p>V druhém poločase jsme měli mít vítr na naší straně, ale žádné velké divy jsme s ním nepředvedli. Naopak jsme od začátku nebyli schopní vepředu podržet balón a víceméně jsme se jen bránili hostujícím nákopům, které ale nerezultovaly v nějakou brankovou příležitost. Největší možnosti jsme jim nabídli sami váhavými odkopy z vápna, ale dva takové závary jsme přečkali bez úhony. Skoro by nebylo o čem psát, vyjma Holomkova návratu na trávníky, ale hra na riziko v závěru zápasu nám přinesla několik možností jak pojistit výsledek. Tměj statečně sváděl na lajně několik běžeckých i silových soubojů, ale když se mohl odměnit střelou, pustil se do dalšího souboje. Válek a Vopařil, když už se vyhnuli Lněničkovým ofsajdovým pastím, tváří v tvář nechali vyniknout hostujícího gólmana. Protože ustrojený Kuta si na hřiště přes skandování fandů netroufl, padly dva závěrečné rohy na Válka, &nbsp;ale to už na bodové přírůstky ani výši skóre nemělo vliv. Šancí jsme si vytvořili více než za předchozí tři zápasy, Válek jednu z nich proměnil, čímž si v hierarchii útočníků určitě šplhnul, ale hledání hrotových hráčů bude asi nadále pokračovat (a třeba Zerzána budeme asi muset hledat doslovně).</p>
