---
title: Nejlepší obrana na spásu stačila
date: 2016-10-30
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/474e503c-a97d-4dd8-8f2a-ef60d9296450.html
image: /public/images/zapasy/morasice-krenov.png

sestava: M. Prešinský - D. Štancl, V. Štancl, M. Ropek, V. Novák - V. Tměj, M. Klement, Z. Skala, B. Válek (P. Kuta) - K. Vopařil (T. Holomek), Z. Škoda (M. Štancl)
goly: V. Štancl
---

<p>Naše minulé vítězství v bysterské tvrzi vzbudilo v okresních médiích nemalý ohlas, došlo i na rozbor našeho skóre, z kterého vyplývá skálopevná defenziva a jalová ofenziva. Studený a silný vítr dal už před zápasem s Křenovem tušit, že jeden poločas bude především o bránění a druhý o dobývání, dle přání nám los nejdříve přisoudil roli dobyvatelskou. Hosté se skutečně těžko dostávali z vlastní půlky, vítr jim vše vracel zpátky, možná tam v úvodu došlo k nějaké naší velmi nepřesné střele, ale byli to hosté, kteří po deseti minutách zahrozili očekávanou zbraní - balónem za obranu a sprintujícím Peterkou, ten naštěstí sólový únik zakončil bídně vedle brány. První pozitivní vzruchy pro naše fandy zařídil Klement, který po čtvrt hodině šajtlí zpoza vápna minul maximálně o půl metru. Chvíli na to centroval do vápna Skala, V. Štancl se překvapivě vyhnul ofsajdové pasti i jakémukoli náznaku bránění a jeho hlavička se vešla do brány mimořádně přesně. Gólu nějak nikdo nemohl uvěřit, ale trio rozhodčích nic nenamítalo a naše už tak ledabylé dobývání ještě trochu snížilo otáčky. K nepřesným střelám zpoza vápna se ještě dostali Škoda a Vopařil, z rohů jsme tentokrát nehrozili, při dlouhých autech jsme si jasně nerozdělili pozice před bránou, a tak jsme přes trvalý pobyt na hostující půlce mířili do kabin bez další větší šance a s nejtenčím náskokem.</p>

<p>Fáze obranná nám začala pomaleji než bychom čekali, hosté se prali jak s větrem unášejícím jejich nákopy až k Prešinskému, tak s výroky rozhodčího, které by nás v jejich pozici pálili hodně podobně. Přestože hosté nás nezamkli tak permanentně jako my je, naše držení balónu vepředu stálo prvních dvacet minut druhé půlky za starou bačkoru, a tak neustále hrozilo nebezpečí, že se jedna akce ujme a bude po vedení. Zhruba po hodině hry si hosté vypracovali největší šanci, když jejich nehlídaný útočník na zadní tyči těsně nedosáhl na střílený přízemní centr skrz vápno. Střídající Holomek vnesl dopředu určitou jistotu a i na naší straně se množily šance na uklidňující gól. Skala v samostatném úniku střílel zbytečně brzo a nepřesně, Válek po Tmějově centru v klidu zpracoval a z deseti metrů přestřelil, za což byl okamžitě vystřídán Kutou. Ten se svým výborným pohybem dostal do několika dobrých pozic, ale buď ho o klid v zakončení obral špatný první dotek nebo nedbal ostatních spoluhráčů a zkoušel štěstí sám. Do tohoto období spadá i delší pasáž hostů na naší půlce, korunovaná nechtěným, ale s větrnou pomocí velice nebezpečným nákopem takřka od půlky, Prešinský si ale při svém jediném zákroku v zápase dokázal s nevyzpytatelnou trajektorií poradit. Těsně před závěrečným hvizdem dostal ještě šanci ke comebacku jako hrom M. Štancl, ale i on si zpracoval balón příliš daleko, a tak ho dokázal hostující gólman vychytat a my se rádi spokojili s dalším hubeným vítězstvím. Těžko říct, zda to ještě někdy půjde i jinak.</p>

<p>Tvrzení o našich ofenzivních a defenzivních schopnostech se tedy ukázalo pravdivé i nadmíru prorocké. Aby měl náš útok, ale přeci jen lepší pocit, sluší se říct, že jakkoli nám špatný útok hatí umístění na předních příčkách, jsme jen jeden gól, konkrétně třeba v sebranické síti, a jeden bod od druhého místa!</p>
