---
title: Na svatého Jiří, Sokol zkázu šíří
date: 2017-04-23
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/d297d0c9-2186-4e5f-b86a-3a66fb5690c6.html
image: /public/images/zapasy/morasice-rohozna.png

sestava: M. Prešinský - Z. Skala, M. Ropek, V. Štancl, Z. Škoda (K. Vopařil) - V. Tměj, M. Chmelík, M. Štancl (J. Kopecký), V. Novák - M. Burián (P. Kuta), B. Válek
goly: B. Válek 3, M. Chmelík 2, M. Štancl, V. Novák, M. Burián, M. Ropek, P. Kuta
---

<p>Netypické dubnové sněžení možná odradilo hady a štíry vylézt podle pranostiky, ale na běh okresního přeboru tyhle rozmary nemohou mít vliv. Stejně tak jsme si byli vědomi, že na výsledek utkání s poslední Rohoznou by měl mít vliv jen a pouze náš výkon. A to, jestli se podaří přes všechny marody a májkaře poskládat sestavu. Přes veškeré připomínání se nedá říct, že jsme na soupeře vlétli a prvních pět minut jsme byli podobně vlažní jako počasí. Když jsme si potom konečně vzali balón, po pár příliš dlouhých průnikovkách jsme zjistili, že hostující obrana je poměrně snadno prostupná i jednodušeji. Válek první samostatný nájezd neproměnil, ale v pokračující akci si faul na hranici vápna vykoledoval M. Štancl a pěknou střelou přes zeď nám zajistil po necelých deseti minutách vedení. Vývoj skóre pak nabral až nečekané obrátky. Po křížném balónu vápnem skóroval ve skluzu na zadní tyči Válek, brzy nato se z hranice vápna přesně pod břevno trefil Chmelík a první čtvrtinu zápasu gólově ukončil znovu Válek, který si naskočil na Tmějův centr. Samozřejmě že nás takové vedení ukolébalo. Pohybu, přesnosti i herní disciplíny začalo ubývat, a tak se Kuta u postranní čáry i za stavu 4:0 čílil do běla. Z ojedinělého souboje v našem vápně se strhla pětiminutová hádka pomezního s osazenstvem hostující lavičky, M. Štancl musel vystřídat, protože jeho obvazy sahají pouze po stehna, Prešinskému nefungovala rozehrávka, hosty jsme nepotrestali za jejich neznalost ofsajdového pravidla při odkopu, ale celkově to byla hluchá pasáž. Tu ukončila až jemně tečovaná střela Chmelíka, která zapadla přesně k tyči. A protože Burián v sólovém nájezdu neuspěl, šlo se do kabiny s búrem v zádech.</p>

<p>Protože se poločasová debata nevedla úplně v klidném duchu, bylo možná klíčovým okamžikem zápasu, že se pár minut po přestávce utrhl po pravé straně Novák a střelou na polozadní tyč ukončil svůj dvouletý gólový půst. Hlavně ale utnul spekulace o obratu, na který asi nemysleli ani hosté, narozdíl od pár našich pesimistů. Šancí jsme měli nadále dost, Válkovi však k dokončení hattricku&nbsp; nestačil ani samostatný nájezd. Jarním koloritem se už stává, že soupeřovi obránci vyšlou do nájezdu Buriána, a ten tím ani tentokrát nepohrdl. Po jeho vystřídání dosahoval náš útok téměř devadesáti let věku, ale ani zkušenosti nebyly Kopeckému nic platné, když svou střelu z jasné pozice vytočil mimo tyče. Tmějův centr se snesl na břevno, Válek opět pohrdl hattrickem,&nbsp; a tak čtvrthodinový půst ukončila až stoperská spolupráce v soupeřově vápně s Ropkovou střeleckou koncovkou - pro méně pozorné, běží 68. minuta a vedeme 8:0. Hroťáci Kuta s Kopeckým byli i nadále cílem přihrávek přejících spoluhráčů, ale jejich zakončení se ne a ne setkat s úspěchem. Příliš odvážnou kličkou se na druhé straně připomněl Prešinský, kterého nejprve v prázdné bráně zastoupil Ropek, aby si po následném rohu, na které hosté vyhráli několik:nula, připsal svůj jediný zákrok dne. Pět minut před koncem uvolnil Kopecký Kutu a ten se umístěnou placírkou dočkal vytouženého úspěchu. Stejně jako Válek, kterému po ustátém penaltovém faulu naservíroval&nbsp; míč na hlavu Vopařil, a náš nejlepší střelec tak dokonal svůj první chlapský hattrick a zaokrouhlil skóre do dvojciferné podoby. Symbolické navýšení ještě v poslední minutě ani napotřetí nevyšlo Kopeckému. Přesto jsme soupeři uštědřili největší debakl v jeho nepovedené sezóně a dokonce jsme zaslechli i mírný potlesk fanoušků. Aspoň víme, jak vysoko leží hranice jejich spokojenosti.</p>
