---
title: Skřípalo jen zakončení
date: 2017-06-04
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/2a02673b-d784-470d-bd39-1bd38313dbfe.html
image: /public/images/zapasy/morasice-bystre.png

sestava: M. Prešinský – Z. Skala, M. Ropek (D. Štancl), V. Štancl, Z. Škoda (M. Chmelík) – V. Tměj, M. Klement, M. Štancl, V. Novák – K. Vopařil (B. Válek), M. Burián (P. Kuta, J. Kopecký)
goly: K. Vopařil
zlute: M. Štancl
---

<p>V&nbsp;předposledním domácím zápase sezóny jsme chtěli odčinit potupnou prohru se Sebranicemi, napravit celkově chudou domácí bilanci a taky se po solidním výkonu proti Opatovu utvrdit v&nbsp;tom, že fotbal hrát umíme. Lavička byla i kvůli pozdním příchodům nejsilnější za poslední roky, los nám při větrné loterii přál, a my jsme se do hostů z&nbsp;Bystrého pustili pěkně zostra. Už v&nbsp;páté minutě napřáhl z&nbsp;dálky Skala a jeho větrný pokus vytěsnil gólman na břevno. A počíhal si i na patičku V. Štancla z&nbsp;následujícího rohu. I vlivem větru se hosté na naši půlku dostávali zřídka, ale po necelé čtvrthodině se jednomu z&nbsp;nich podařilo se štěstím přejít přes dva hráče a střelou mezi nohama třetího se trefil přesně k&nbsp;tyči. Sprcha to byla studená, ale nijak nás nepoložila a náš tlak pokračoval. Tměj si po centru do vápna stihl píchnout balón před obráncem, ale s&nbsp;vyběhnuvším gólmanem obstřelil i bránu, Burián po rohu trefil tyč a brzy na to vybojoval už čtvrtou jarní penaltu. Pro obecný nezájem se jí ujal M. Štancl, ale proti poměrně umístěné střele předvedl hostující gólman výborný zákrok. To vše se událo během prvních pětadvaceti minut. V&nbsp;dalším průběhu jsme měli několik stadartek a rohů, ale jedinou šanci z&nbsp;nich vyprodukoval V. Štancl, jehož hlavičku odvraceli hosté z&nbsp;brankové čáry. Novákův průnik z&nbsp;pravé strany zastavil v&nbsp;ofsajdu zaparkovaný Burián, Tměj úspěšné souboje na levé straně trochu zhatil ne úplně ideální nahrávkou, a Vopařil si na vápně nedokázal připravit lepší pozici, než aby vyprášil lýtka obráncům. V&nbsp;závěru poločasu vznikaly v&nbsp;naší obraně prostory pro nedotažené výpady rychlých hostujících útočníků, ale ti i tak museli být se svou poločasovou produktivitou spokojeni.</p>

<p>Obavám z&nbsp;toho, že v&nbsp;druhém poločase budeme obětí silného větru, jsme učinili přítrž hned zkraje druhého poločasu. Rozhodčí nejdříve pustil Novákův šlapák, po následujícím rovnocenném šermovacím souboji zůstal ležet hostující hráč, ale to už rozběhnutý Novák neřešil a po sólovém průniku předložil míč před prázdnou bránu Vopařilovi, který si dovolil i nechtěný lob a konečně vymazal nulu domácích na světelné tabuli. Hostům se gól samozřejmě nelíbil, i kvůli jejich dosavadním férovým přiznáváním, ale když už se k&nbsp;přerušení neměl rozhodčí, z&nbsp;pozice v&nbsp;jaké Novák byl, by málokdo zakopl míč. Důkazem správnosti jeho rozhodnutí budiž to, že hostující hráč pokračoval ve hře. Brzy po gólu jsme začali nuceně i nenuceně střídat, což mimo jiné katapultovalo na hrot Válka. Právě u něho poměrně záhy skončil míč po až neuvěřitelně povedené kombinaci, ale sám na penaltě se unáhlil a z&nbsp;první vystřelil tak nepřesně, že se po míči ještě marně natahoval Burián. V&nbsp;další šanci si na Tmějův centr naběhl na zadní tyči střídající D. Štancl, ale ani on nedokázal hlavou zamířit. Po jedné ze standartek si ještě našel odražený balón Válek, ale střelu do opuštěné brány zablokovali hostující obránci a naše další snažení vyústilo už jen v&nbsp;nepřesné střely z&nbsp;dálky. Po pár minutách na hřišti selhalo koleno Kutovi a po jeho nuceném střídání, jsme se až do konce nebyli schopni pořádně srovnat a v&nbsp;závěrečné pětiminutovce jsme byli rádi, že Prešinský udržel remízu. Hosté ho během poločasu párkrát prověřili z&nbsp;větší i menší dálky, ale žádná ze střel neměla takové parametry jako přímák těsně před koncem. Naštěstí se střelou velmi podezřele mířící do šibenice počítal. Ještě větší šanci měli hosté v&nbsp;úplném závěru, když po rychlém brejku do naší přespříliš ofenzivní obrany musel nejprve tváří v&nbsp;tvář útočníkovi zasahovat Prešinský a následný závar ukončil odkopem z&nbsp;brankové čáry Skala. Bod je pro nás po tak podařeném zápase málo, na druhou stranu jsme si v&nbsp;minulosti ze soupeřova hřiště už dvakrát odvezli za tři body za totální defenzivu, takže nás karma asi doběhla. A fotbal nás, a snad i diváky, bavil, jen ta koncovka nás trápí už pár let.</p>
