---
title: Na tu bídu ...
date: 2017-05-07
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/49d78435-9618-47ed-9e90-c43df71cfe55.html
image: /public/images/zapasy/morasice-janov.png

sestava: M. Prešinský - D. Štancl, M. Ropek (M. Štancl), V. Štancl, Z. Škoda - V. Tměj (T. Holomek), M. Chmelík, Z. Skala, V. Novák - M. Burián, B. Válek
goly: D. Štancl
zlute: V. Štancl, D. Štancl
---

<p>Že neporučíme větru, na to už jsme si zvykli, ale že si neporadíme ani s trávou, to pro nás byla před pátečním tréninkem i nedělním zápasem hořká novinka. Lavička vypadala neobyčejně obsazeně i silně, a to byl ještě na lajně zatím návratu se obávající Klement. Při pohledu na to, co předváděla základní jedenáctka se dá spekulovat, jestli neměli být všichni použiti od začátku. Loterii při losu o příznivý vítr tentokrát vyhrál soupeř, ale o větru to nebylo. Hosté byli pohyblivější, tím pádem volnější, měli větší zájem hrát fotbal a od ještě větší převahy je brzdil snad právě silný vítr v zádech, vhánějící balóny do náruče jistého a tichého Prešinského, a větší zájem o konverzace s rozhodčím. K první střele mimo se dostali po pěti minutách, brzy na to už se jim naskytla i možnost zakončení uvnitř vápna, ale opět nemířili přesně. Přímák z hranice šestnáctky dokázal Prešinský vytáhnout na břevno, signál z rohového kopu vytěsnil z brankové čáry u tyče číhající Skala, dalekonosnou jedovku náš gólman bravurně ztlumil napoprvé. Do všeho toho hostujícího tlaku se přimíchali naše dva bezpečné rohy, dvě bezpečné standartky a po hříchu naše jediná nebezpečná akce a přímá střela na bránu, když hlavičku V. Štancla po Tmějově centru s námahou vytáhl hostující gólman, živící se po zbytek poločasu víceméně jenom nohama. V závěru poločasu povolilo Ropkovi maratónským stáním přetížené lýtko a do hry musel M. Štancl, původně šetřený až na středeční pohárové utkání (to je jev takřka ligový). Už s Chmelíkem na stoperu jsme ještě přežili závěrečný tlak hostů, kteří se nejdříve při zblokované střele dožadovali penalty, ale rozhodčí jejich námitky s přehledem odbyl, a následně nevyužili ani jeden ze dvou rohů.</p>

<p>Na tak hovnařský výkon nezvykle klidná přestávka, ani prohození stran a větrné podpory na obrazu hry nic nezměnily. Hosté byli stále častěji na naší půlce, do našeho vápna se dostali snad po dvou minutách, ale rohy a jiné standartní situace nevedly nejen ke gólu, ani k žádné vyloženější šanci, k našemu štěstí jim drhla finální přihrávka podobně, jako nám jakákoliv druhá. O to více zamrzí, že jsme jim gól nabídli sami, když si D. Štancl neporadil z míčem u autové lajny, po sprinterském souboji přišel prudký centr do malého vápna, kde si Prešinský ani Škoda v těžké situaci neporadili s míčem u brankové lajny a těchto zmatků využili hosté k pohodlné dorážce a dostali se do zaslouženého vedení. To jim na chvíli ubralo na útočné aktivitě a ta se po pěti minutách přenesla na naši stranu. Z beka se totiž dopředu vydal D. Štancl, dvěma narážečkami se dostal na velké vápno, odkud míč uklidil na přední tyč. Srovnal tím skóre, svoji +/- bilanci v tomto zápase a nás samozřejmě nakopl. Záhy po vyrovnávacím gólu jsme se umně prokombinovali znovu až na vápno, odkud z voleje pálil M. Štancl, ale jeho střelu do protipohybu hostující gólman excelentně vyrazil. Při následném rohu sebral mlčícímu Chmelíkovi míč z dobré pozice Burián, a přestože náš tlak v závěrečné čtvrthodině sílil, vyloženější šance už jsme si nevypracovali. Střely M. Štancla, Válka ani Skaly už se mezi tři tyče nevešly, centry ze standartek sbíral gólman až na penaltě a v samém závěru jsme mohli být rádi, že hostující brejk ani následný přímák neskončily gólem. Jeden bod za dvacet minut výkonu je dobrý, ale to je tak jediné, s čím můžeme být po této neděli spokojení.</p>
