---
title: Stačí jeden fotbalista
date: 2016-08-21
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/de37472f-88b0-4b2d-8f94-4c1378c22504.html
image: /public/images/zapasy/morasice-dolni-ujezd.png

sestava: M. Prešinský - M. Černohorský (B. Válek), M. Ropek, V. Štancl, Chmelík - D. Štancl, M. Klement, M. Štancl (V. Novák), V. Tměj - J. Pitra (Z. Skala), K. Vopařil (Petr Kuta)
goly: M. Klement, V. Štancl
---

<p>Skládání sestavy před derby s dolňáckou rezervou bylo ovlivněno sobotními rozlučkami se svobodou a mírou ovlivněnosti jejich aktérů i nevýrazným výkonem z minulého kola. Úvodní čtvrthodinu jsme byli na balónu více, ale vytěžili jsme z toho pouze několik střel do zelené sítě. Trochu kreativity do středu zálohy měl vnést M. Štancl, jenže toho už po deseti minutách zradilo jeho neoblíbené koleno, a tak jsme se brzy vrátili k neosvědčenému složení. Naši herní převahu utlumil náš první roh, po kterém při brejku hostů M. Prešinský na hraně vápna tak dlouho přemýšlel, zda chytat či nechytat, až z toho podklouzl a hostující Pravec uklidil míč pohodlně do opuštěné branky. Zbytečný gól nás trochu utlumil a nejistotu přinesl hlavně exekutorům našich standartek, z nichž se do vápna dostala jenom Chmelíkova nezamýšlená průnikovka. M. Prešinský složil reparát při těžké střele hostů na bližší tyč, po půlhodině hry byl stejně jako zbytek obrany dvakrát v roli statisty, ale Heinisch ani M. Vomáčka naštěstí svoje hlavičky z malého vápna nenasměrovaly dobře. Naše útočení překvapivě nejčastěji končilo u D. Štancla, který se do nadějné pozice dostal nejdříve zády k bráně, podruhé už čelem a v naší největší šanci sám před gólmanem netrefil bránu takřka z malého vápna. Hosté byli hratelní, ale zároveň nebezpeční, zejména po naší pravé straně, ale do poločasu se už skóre přes množství centrů skrz naše vápno nezměnilo.</p>

<p>Druhý poločas byl o naší jalové snaze otočit skóre, ale většinu času se u hostující branky nedělo nic závažného. Do hry postupně naskočili Skala, Válek a čtvrt hodiny před koncem naštěstí i Kuta, ale ke srovnání skóre jsme se přiblížili pouze Novákovou střelou z dálky, kterou zastavila tyč. Z křečovité snahy a přešlapů rozhodčích začaly pořádně plápolat emoce hodné prestižního derby a náboj utkání se ještě zvětšil poté, když se 10 minut před koncem podařilo vyrovnat Klementovi, který po skvostné kolmici od střídajícího Kuty dokázal tváří v tvář gólmanovi potlačit nervozitu a umístit střelu mimo jeho dosah. Hosté zahrozili Pravcovou střelou z otočky a rozhodčí nás pořádně urazil nařízením přímého kopu z hranice vápna, který šel naštěstí nad bránu. Náš vítězný gól měli na noze Tměj a po něm Skala, kteří se dostali ke střelám uvnitř vápna, ale první bránu netrefil vůbec a druhý jen slabě. Rozuzlení tak přišlo až v poslední minutě, když si Kuta rozehráním rohového kopu připsal druhou asistenci a zcela nehlídaný V. Štancl přesnou hlavou dokonal mimořádně sladký obrat.</p>
