---
title: Zaslouženě a ošklivě
date: 2016-10-02
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/56a2d6ac-11b2-482e-86ca-08fd1f8ec3e8.html
image: /public/images/zapasy/morasice-linhartice.png

sestava: M. Prešinský - D. Štancl, M. Ropek, V. Štancl, V. Novák - B. Válek (Z. Škoda), M. Klement, M. Chmelík, V. Tměj - M. Zerzán (K. Vopařil), Z. Skala ( M. Burián)
goly: B. Válek 2
zlute: M. Burián, K. Vopařil
---

<p>Pro fotbalisty ideální počasí určitě připadalo sedícím divákům poněkud nepříjemné a stejné bylo i námi servírované fotbalové pohoštění. Proti papírově i fakticky slabšímu soupeři z Linhartic s hráčem v bráně (my jsme se naopak vrátili k rozestavení s brankářem) jsme si sice vytvořili dostatek šancí, ale k dívání to moc nebylo, obzvlášť, když jsme vytvořené šance zahazovali jak na běžícím páse. Brzy po úvodním hvizdu se sám ve vápně ocitl Skala, ale jeho střela z otočky byla hodně slabá. Po centru téhož hráče se ke své první hlavičce dostal V. Štancl, ale jeho slabý pokus ani následná Zerzánova dorážka se neujaly. Soupeř se dostal ke dvěma propagačním střelám mimo, jenže naše využívání jeho zranitelné obrany končilo v relativně bezpečné vzdálenosti od jeho brány zbrklou a nepřesnou přihrávkou. Nebo zadrbáním místo přihrávky či střely z velkého vápna. Výjimečné nebezpečí představovala jen Chmělíkova střela, kterou hostující gólman kostrbatě vyrazil. Nebezpeční jsme pak byli pouze ze standartek, ale Chmelík ani V. Štancl nemířili přesně. Druhý jmenovaný mohl skórovat hned dvakrát, ale zejména při druhém zakončení těsně před přestávkou trestuhodně minul prázdnou bránu z pár metrů. Hosté nás vzadu vystrašili snad pouze jednou, a tak bezbrankový poločas brali všemi deseti.</p>

<p>Trenér začal v kabině vlažně, ale když zesílil hlas z nuly na sto za 3,4s, nebylo pochyb, že se na nás dívalo opravdu špatně. Ne že by to v druhém poločase byla větší sláva, obraz hry se příliš nezměnil, ale vyjádření naší poklidné převahy gólem se ne a ne dostavit. Jakš takš vypracované pozice kolem pokutového území se většinou zhatili špatným centrem a když Zerzán z vápna odmítl vystřelit, naskočili do útoku čerství Burián s Vopařilem. Střídání to mohlo být jako řemen, protože chvíli na to pronikl po levé straně Válek, který z úhlu napálil brankáře, jenže následnou dorážku do prázdné brány Burián nezvládl a nechat gólmana vyniknout ještě jednou. Bylo tak zapotřebí navazujícího zaváhání obránců při odkopu a z následné šavlovačky Válek dokonal svoje dílo a na několikátý pokus dostal míč do brány. Za pár minut obešel Tměj na vápně obránce, ten ho stáhl na zem a Válek z přímého kopu lehkým lobem přes zeď pošimral pavouky v horním rohu zadní brány. Dva góly nás uklidnili dostatečně na to, abychom začali hrát směrem dozadu bezstarostnou partii, takže hosté podnikli několik nebezpečně vypadajících brejků, ale k zakončení se dostali pouze jednou a Prešinský proti střele z úhlu výborně zasáhl. Klid se naopak neprojevil na našich kopačkách v útočné fázi, a tak jsme i spoustu našich brejkových situací zazdili nepřesnými nahrávkami a náš náskok se již nezvýšil.</p>
