---
title: Už to je i naše hra
date: 2017-05-27
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/de612894-092c-402c-a329-ee1b14a700c6.html
image: /public/images/zapasy/opatov-morasice.png

sestava: V. Štancl - Z. Skala, M. Chmelík, M. Klement, V. Novák - V. Tměj, M. Štancl, J. Pitra (P. Kuta) - J. Jokeš (T. Holomek), M. Burián (J. Kopecký), K. Vopařil
goly: K. Vopařil 2
zlute: J. Jokeš
---

<p>Nejen kvůli slávistickému boji o titul bylo lepení sestavy zábavnější než obvykle. Čtvrtým gólmanem v pěti posledních zápasech, a díky administrativní chybě nebo v zájmu plné lékárničky i kapitánem, byl tentokrát V. Štancl, kvůli naší neochotě tvořit hru byl vypuštěn ofenzivní záložník a v tříčlenném útoku se dostalo na Jokše i Vopařila, domácími hooligans vzývaný střelec CR7 alias Skala se stáhl na beka, průměrný věk naší střídačky překročil magickou čtyřicítku. Opatov, na jehož jednoduchý herní styl už nějakou dobu nenalézáme recept, jsme asi chtěli porazit víc než minulé soupeře, jinak si lze těžko vysvětlit náš dominantní vstup do zápasu. Burián ve zdraví škodlivém souboji přetlačil domácího gólmana, aby vzápětí netrefil prázdnou bránu.&nbsp; Dvakrát se nám podařilo dostat z levé strany balón do kapsy za domácí obranu, Pitra napoprvé z vápna netrefil, ale o to výstavněji umístil Skalův centr o chvíli později Vopařil a v 8. minutě jsme se ujali vedení. Pitra byl soupeřem ještě vyzván k samostatnému nájezdu, který zakončil ve stylu našich útočníků nepříliš prudkou střelou pro brankáře, Vopařil ještě v jednom nájezdu ze strany nechal vyniknout gólmanovu pravačku, a pak jako když utne. To bylo odehráno zhruba dvacet minut, domácí se do té doby dostali jen k jednomu náznaku díky naší špatně vykomunikované malé domů. Museli dvakrát nuceně střídat, ale přesto byly po zbytek poločasu aktivnějším a bojovnějším mužstvem. V. Štancl v bráně si ale s mírnými obtížemi poradil jak s centrem na zadní tyč, tak s dvěma nikterak přesnými střelami z dálky, rohové kopy z nich pramenící dokázali odvrátit naši obránci.</p>

<p>Vstup do druhého poločasu rozhodl zápas. Po chvilce otrkávání přišel opatovský centr na zadní tyč, domácí útočník naštěstí z několika metrů trefil přímo prostor, kde klečel náš gólman. Vzápětí se po našem dlouhém autu tak dlouho šermovali o míč s domácími beky Burián a Vopařil, až druhý jmenovaný napálil míč levou šajtlí pro změnu do druhé šibenice. V nastalém opaření se nám nepovedlo domácí dorazit ani s příchodem čerstvých hráčů, naše rozlety brzdila kupa ofsajdů, ale ani domácí se k ničemu, co by volalo po gólu, nedostali. Zápas ve středu hřiště ubíhal, z našich šancí stojí zmínit Tmějovu tyč a souhru matadorů, po které proti Kopeckému zasáhl vyběhnuvší gólman. Kopecký se vápně ocitl sám ještě jednou, ale místo otočky volil nahrávku proti noze Vopařilovi, kterého od hattricku dělilo snad 15 metrů. A protože se domácí pár minut před koncem rozhodli přímý kop zpoza vápna raději rozehrát, žádný další gól už slušná návštěva neviděla.</p>
