---
title: Hlavně nebýt favorit
date: 2016-08-06
image:

sestava: M. Prešinský - D. Štancl (M. Černohorský), M. Ropek, V. Štancl, V. Novák - B. Válek (J. Kubeš), M. Chmelík, M. Štancl, V. Tměj - J. Pitra (Z. Skala), K. Vopařil (M. Zerzán)
goly: M. Štancl, M. Chmelík, J. Kubeš
zlute: K. Vopařil
---

<p>Cestu za obhajobou okresního poháru jsme zahájili stejně jako loni zápasem s Čistou a po dvou náročných soupeřích jsme se asi až moc těšili na to, že si více zahrajeme. Do zápasu jsme vstoupili líně a bez pohybu, přežili jsme úvodní náznaky šancí, z nichž v té největší domácí pohodlně zakombinovali až na Severu, který osamocen na vápně pálil hodně mimo. Po čtvrt hodině udržel Tměj míč proti dvěma hráčům, Vopařil ho následně sklepl M. Štanclovi a jeho střelu přizvedl domácí obránce mimo gólmanův dosah - 0:1. Gól domácí trochu opařil, hra se srovnala a zatímco domácí se dostali pouze k hrozbě dlouhými auty, Chmelík s M. Štanclem si střed hřiště na nějaký čas přisvojili, a zásobovali naše útočníky dobrými balóny za obranu. Po jednom z nich si se dvěma obránci pohrál Pitra, ale svoje sólo z úhlu díky domácímu gólmanovi neproměnil. Po naší další standartce se za chvíli do podobné pozice dostal V. Štancl a jeho zpětnou přihrávku Chmelík z penalty uklidil na místo určení - 0:2. To bylo ve 30. minutě a nic dalšího pamětihodného si akreditovaní novináři do deníčků v prvním poločase nezapsali.</p>

<p>Přání brzkého uklidnění zápasu třetím gólem vzalo za své už po pár minutách druhé půle, do které jsme vstoupili ještě ležérněji než do začátku zápasu. Chvíli se nám nápor domácích dařilo odvracet, ale když stopeři nezachytili kolmici a střídající domácí útočník tváří v tvář M. Prešinskému v klidu snížil, bylo jasné, že na odpočinek můžeme zapomenout. Zbytek zápasu byla tragédie a křeč, ve které jsme se nezmohli na tři přihrávky v kuse. Domácí jsme však do velkých šancí nepouštěli, s přímým kopem do brány si M. Prešinský poradil a centry až na jeden naše obrana sbírala spolehlivě. Pořádně nám zatrnulo po nevinném pádu domácího útočníka v našem vápně, kdy faul viděl pouze stále více se zakalující zrak hlavního rozhodčího, naštěstí pomezní i férový domácí hráč uznali, že o faul zdaleka nešlo. Střídající J. Kubeš rozvířil nejen emoce, ale i levou stranu zálohy, další náhradník Skala zase dokázal podržet balóny, a tak jsme ke konci zápasu dali občas odpočnout defenzivě a Zerzán mohl právě po centru Kubeše pojistit vedení, ale vynikající zákrok domácího gólmana držel všechny v napětí. To se nejvíce vystupňovalo pár minut před koncem, když Novák ve vápně skluzem na poslední chvíli zhatil sólový postup domácích na naši bránu. Brzy na to vybojoval Kubeš v krátkém sledu dva přímáky ze strany, jejichž exekuce se ujal Skala. Ten první V. Štancl usměrnil vedle, ten druhý Kubeš patičkou alá Ibra poslal od břevna do brány a bylo rozhodnuto.</p>
