---
title: Historie se opakuje
date: 2016-09-28
image:
stats:
    sestava: V. Štancl - D. Štancl, M. Ropek, M. Klement, V. Novák - B. Válek, M. Chmelík, Z. Skala, V. Tměj - K. Vopařil (J. Kopecký), P. Kuta (Z. Škoda)
---

<p>Celých třináct hráčů, bez brankáře a s pochroumaným Škodou, si udělalo čas na druhé kolo neskutečně prestižního okresního poháru. Hřiště v Telecím bylo malé a tvrdé jako do nedávných časů u nás, ale proti rozjetému lídrovi pralesa jsme se s obojím vypořádali dobře a úvodní část zápasu patřila nám. Hned v první minutě hlavičkoval osamocený hroťák Kuta z jasné pozice pouze do tyče, za chvíli jeho standartku poslal taktéž hlavou Ropek kousek vedle a po dobrém Vopařilově presinku neprostřelil Skala zblízka dobře vyběhnuvšího domácího brankáře. A jeden jeho špatný výběh zase nedokázal vrátit do opuštěné brány s potřebnou razancí. Hráči Borové se osmělovali pomaleji, a když už se odhodlali ke střele, mířili hodně vedle. Čehož určitě nesmírně litovali, když jim V. Štancl dvěma volejbalovými bloky naznačil, že v bráně není úplně doma. To se nejvíce projevilo po skákavém halfvoleji z půlky hřiště, který neposedně proskotačil až na tyč. Nepřesná byla naštěstí i střela po dalším kostrbatém odraženém balónu.</p>

<p>Na druhý poločas nebylo bůhvíjaké pokoukání, ale víc ze hry jsme měli přeci jenom my. Dlouho to byla jalová převaha, pouze Vopařil se dostával do slibné pozice, ale v rozhodující chvíli si míč píchl až moc. Kutův přímák prolétl domácím vápnem nepovšimnutě a exekutor už se zbytek času rozčiloval raději na lavičce. Domácí se na dostřel dostali jen dvakrát, jednou zachraňoval na čáře Ropek, podruhé jejich standartka proletěla podobně netknutě jako naše. Největší šanci měl na hlavě Chmelík, ale po rohovém kopu nezamířil přesně, a tak se nakonec stejně jako loni zrodila bezbranková remíza a pod hrozbou brzké tmy následovaly penalty, na které si od nás netroufl nikdo mladší třiceti let.</p>

<p>Jako první kopali domácí, V. Štancl si na míč víc než sáhl, ale gólu nezbránil. Za nás srovnal svou rutinní penaltou Chmelík a po Kollerovsku doprostřed nahoru nezaváhal ani druhý domácí exekutor. Skala nechal domácího gólmana na balón lehce sáhnout, ale srovnal. Do výhody nás dostal první úspěšný zákrok V. Štancla proti třetímu domácímu hráči a Klement následně strhnul vedení na naši stranu. Ve čtvrté sérii nejprve domácí vyrovnali skóre a Ropek ve spolupráci s domácím gólmanem se postarali i o srovnání kroku. V páté sérii vystihl V. Štancl penaltu domácího kapitána, zatímco Kopecký poslal domácího brankáře v klidu na druhou stranu a naše pohárová cesta tak zatím naprosto věrně kopíruje tu loňskou. Jen s tím rozdílem, že tentokrát jezdíme po hřištích soupeřů. Kam za námi i tak, dorazila skoro desítka fanoušků, díky!</p>
