---
title: Anglie hadr
date: 2016-08-07
image:

sestava: M. Prešinský - V. Novák, M. Ropek, V. Štancl, M. Černohorský - D. Štancl, M. Štancl, M. Chmelík, V. Tměj - J. Pitra, K. Vopařil (J. Kopecký, Z. Skala, M. Zerzán)
---

<p>Přátelské utkání s Dolním Újezdem "A/B" pouhý den po vydřeném pohárovém postupu bylo ve světle šířky našeho docházkově disciplinovaného kádru trochu navíc. Systém hokejového střídání se nedal uplatnit v plné výši, přesto jsme během mátožného začátku a ze souvislého újezdského tlaku z mnoha střel neinkasovali a domácí se dostali do vedení až po necelé půlhodince po nedůrazně bráněném rohovém kopu. Nenápadná střela z obležení našich hráčů a posléze velmi se vynikající střela po našem špatném odkopu, dali poločasu skóre 3:0. My jsme ho odehráli bez nějaké větší šance, ale dvě propagační střely z dálky a pár brzy zazděných slibných pozic tam bylo.</p>

<p>Druhý poločas byl z naší strany lepší, brejky jsme zazdívali po mnohem lepších kombinacích a v mnohem slibnějších pozicích než před přestávkou, ale k pořádnému zakončení jsme se dostali pouze jednou, Kopecký však balón do brány nepropasíroval. Domácí nás pochopitelně provětrávali i nadále, ale jejich vyložených šancí ubylo a konečnou podobu výsledku dodalo až uklizení odraženého balónu po přímém kopu krátce před toužebně vyhlíženým koncem.</p>
