---
title: "Jak praví Havran: Nevermore"
date: 2017-05-10
image:

vysledek: Rohozná - Morašice 2:4 (2:2)
sestava: J. Lněnička - D. Štancl, V. Štancl, M. Chmelík, J. Pitra (K. Vopařil) - V. Tměj, M. Štancl, Z. Skala (P. Kuta), V. Novák - M. Burián (M. Klement), B. Válek (J. Kopecký)
goly: M. Burián 2, B. Válek, P. Kuta
---

<p>Po prachbídném výkonu proti Janovu jsme s těžkým srdcem oželeli trénink a vyrazili po strastiplných úzkých cestách do Rohozné. Ve stínu lesa byla zima, po jedné půlce hřiště se válely zbytky ohňostroje, řízením semifinálového zápasu rádoby prestižního poháru byl pověřen matador mezi okresními rozhodčími, jehož poslední pískání před rokem a půl jsme tak tak přežili ve zdraví. Třetí zápas po sobě jsme nastoupili s jiným gólmanem, a tak pozici nejstaršího hráče v základní sestavě i kapitánskou pásku převzal Lněnička a tomuto debutu neubírána významnosti ani to, že si svou pásku "zapomněl" a vypůjčenou si navlékl na špatnou ruku. Tisíckrát jsme si mohli omílat, že ani po nedávné desítce nelze k zápasu přistoupit s pocitem automatického vítězství, ale jak je vidět i v nejvyšších patrech, podvědomému ubrání plynu se vyhnout asi nelze. 10 minut jsme nechávali domácí hrát , než jsme se poměrně snadno dostali ke gólu. Burián od lajny našel na vápně osamoceného Válka a ten se nemýlil, ani když celá ves sborově křičela o ofsajd. Lacině nabyté vedení nás samozřejmě nenamotivovalo ke zvýšení otáček, spíše naopak. Nový stoper V. Štancl nabídl soupeři roh, Lněnička ho hned prodloužil na další a z něho už domácí udeřili, když se v klidu dostali k dorážce po dalším Lněničkově zákroku. Moc času neuplynulo a na roh z druhé strany opět nedoskočil nikdo z našich a tečovaná hlava znamenala druhý gól v naší síti. Při všeobecné herní bídě úřadovaly standartní situace i nadále, a tak jsme se deset minut před přestávkou i my předvedli proměněným rohem z hlavy Buriána. Domácího gólmana dokázal prověřit snad už jenom Pitra, jinak se k bráně nebo dokonce k přesné střelbě nikdo moc neměl.</p>

<p>O přestávce se div neblilo, ale ani start do druhého poločasu nebyl o moc dynamičtější. Novák nás mohl uklidnit hned po pěti minutách, ale jeho ránu tváří v tvář gólmanovi zastavila až houšť stromů. Hosté se k přímému ohrožení naší brány nedostali, ale to se nedá brát jako známka naší precizní defenzivy. Jelikož Novákovi nebylo přáno ani napodruhé, uklidnil nás až další gól Buriána po rohovém kopu. Všichni domácí, v čele s upovídaným vedením na střídačce, reklamovali ruku, aniž by se zeptali domácího beka, zda jí náhodou nehrál on. Od této chvíli už se stal fotbal okrajovým zájmem toho, co se dělo na hřišti. Po Kutově standartce přestřelil V. Štancl, Burián proměnil až třetí nebo čtvrtou ze svých dalších šancí, ale rozhodčí mu ho sebral písknutím dřív, než došel balón do sítě. Následný přímák v pohodě proměnil Kuta a alespoň z hlediska výsledku tak pojistil klidnější závěr. Po jednom z &nbsp;neodpískaných faulů na Kopeckého chtěl Chmelík využít nepovedeného domácího zakopnutí, ale tímhle nekošér gestem ke zklidnění atmosféry rozhodně nepřispěl. Když jde o finále poháru, těžko doufat, že se dva týmy zvládnou během zápasu na všem domluvit, aniž by je někdo řídil. Bylo to odpoledne za všechny prachy, jediným pozitivem je to, že i s tak strašným fotbalem, jaký jsme předvedli, se dá vyhrát.</p>
