---
title: Vpředu nula
date: 2016-10-08
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2016/Morašice/4bf03237-4ada-469f-99c8-17f5bd07ff47.html
image: /public/images/zapasy/sebranice-morasice.png

sestava: V. Štancl - D. Štancl, M. Ropek, M. Klement, V. Novák - B. Válek, M. Chmelík, V. Tměj (Z. Skala) - K. Vopařil (P. Kuta), M. Burián (J. Kopecký), M. Zerzán
zlute: M. Chmelík
---

<p>Ne že bychom byli bodově, početně nebo fotbalově na výši, ale podle okresních povídaček i pohledu do tabulky jsme k dalšímu zápasu jeli do Sebranic za soupeřem, které jsou na tom ve všech ohledech ještě hůř. Minimálně v počtu kusů nás tentokrát předčili, a tak byl trenér opět nucen sáhnout k nouzovému rozestavení 4-3-3 s V. Štanclem v bráně. Na střídačce pak mohli naši matadoři v osamělém rozhovoru hodnotit své více jak čtyřicetileté životy, dokud se k nim před přestávkou nepřidal tradičně se ženící a pozdě přicházející Skala. Co se týče hry, těžko říci, že jsme byli lepší, to spíš domácí byli prostě horší a za celý poločas se naštěstí nedostali k přímému ohrožení naší brány. My jsme přes důsledné nedodržování trenérových pokynů byli častěji na soupeřově půlce, ale ofsajdy, fauly a hlavně jistá ofenzivní jalovost nás také dlouho držely na uzdě. Až ke konci poločasu střílel dvakrát nepřesně Chmelík a v největší šanci pak Burián zády k bráně prodloužil jeden z centrů do tyče a Zerzán z úhlu dorážku netrefil.</p>

<p>I v druhém poločasu jsme měli mírně navrch a přibylo i přímých ohrožení brány, ale ještě více přibylo prováhaných a zazděných šancí. Trojité střídání po hodině hry katapultovalo do šance Skalu, který ale Válkův centr z voleje namířil přímo do domácího brankáře. Uvolnit se povedlo i našemu nejčastějšímu zakončovateli Chmelíkovi, ale levou nohou střílel mimo, jindy byl zase ve vápně na několikrát zablokován. Bod byl pro nás málo, a tak jsme přes útočení zapomínali důsledně bránit a domácí se dostali ke dvěma střelám mimo a dvěma rohům, ale naštěstí z nich nic nevytěžili. Náš roh v 80. minutě poslal hlavou od břevna do sítě Chmelík, ale radost nám vydržela jen chvíli, protože na okresní úroveň nezvykle agilní čárový sudí&nbsp; Brychta zahlédl jakési Skalovo nedovolené bránění a doporučil hlavnímu gól neuznat. V úplném závěru se Chmelík dostal ještě jednou k balónu ve vápně, ale po pár kličkách v tísni zakončil opět jenom do brankářovy náruče, a tak jsme náš ofenzivní zmar na rozdíl od minulého týdne dotáhli do zdárného konce. Kdybychom si my i soupeř místo bídného fotbalu dali některou z připravovaných zabíjačkových pochoutek, bylo by to krásné odpoledne. Jazýček se namlsá, bříško napapinká a oči z toho nebolí.</p>
