---
title: Zimní příprava 2017
date: 2017-02-01
---


<p>Tréninkové jednotky zůstávají klasicky úterý, čtvrtek od 17:30.</p>

<p>Soustředění v Daňkovicích pátek až neděle (10. - 12.2. 2017). Odjezd v pátek ráno - čas bude upřesněn.</p>

<p><strong>Ve čtvrtek 9.2.2017 je zavřená tělocvična - bude náhradní prostor - opět upřesním.</strong></p>

<p>V sobotu 4.3.2017 pořádáme obecní ples - pořádat je povinnost a s tombolou za Milanama.</p>

<p>&nbsp;</p>

<p><strong>Přáteláky:</strong></p>

<p><strong>25.2.</strong> SO <strong>Cerekvice</strong>:&nbsp;hřiště umělka v Litomyšli. Čas 10 - 12 h - doladíme</p>

<p><strong>4.3.</strong> Ples</p>

<p><strong>12.3.</strong> NE <strong>Borová</strong><span style="font-family: Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; text-indent: 28px;">:</span><span style="font-family: Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; text-indent: 28px;">&nbsp;hřiště umělka v Litomyšli. Čas 15&nbsp;-&nbsp;</span><span style="font-family: Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; text-indent: 28px;">17&nbsp;h - doladíme</span></p>

<p><span style="font-family: Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; text-indent: 28px;"><strong>19.3.</strong>&nbsp;NE&nbsp;<strong>Janov</strong>:</span><span style="font-family: Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; text-indent: 28px;">&nbsp;hřiště umělka v Litomyšli. Čas 9&nbsp;-&nbsp;</span><span style="font-family: Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; text-indent: 28px;">11&nbsp;h - doladíme</span></p>

<p><span style="font-family: Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; text-indent: 28px;"><strong>26.3.</strong> NE - první mistrák</span></p>
