---
title: Štěpánská zábava a silvestrovský fotbálek
date: 2016-12-21
---

<div class="center">Drazí přítomní,</div>

<div class="center">rok se s rokem sešel a my opět stojíme před překročením&nbsp;starého prahu. Za náš zapsaný spolek bychom Vám všem chtěli popřát krásné a klidně prožité vánoční svátky a&nbsp;do&nbsp;nového roku&nbsp;hodně zdraví, spojené s&nbsp;nejen sportovními&nbsp;úspěchy.</div>

<div class="center">Zároveň si Vás dovolujeme pozvat na tradiční<strong> ŠTĚPÁNSKOU ZÁBAVU</strong>, kterou pořádáme v <strong>NEDĚLI 25.12.2016</strong> od <strong>20:00</strong> na rychtě v Morašicích. Je to ideální možnost na probilancování uplynulého roku, probrání dalších plánů do budoucna a ideálně se i upsat k nějaké volné funkci v oddíle, kterých máme stále dost.&nbsp;&nbsp;</div>

<div class="center">V <strong>úterý 27.12.2016</strong> máme oid <strong>20:30</strong> zamluvený led na zimáku v<strong> Litomyšli</strong>. A celých 90 minut se budeme pokoušet hrát něco jako hokej.</div>

<div class="center">Konec roku zakončíme jako vždy&nbsp;fotbálkem mezi starými a ještě staršími. Čili nejen aktivní, ale i vysloužilí hráči, funkcionáři, fandové a kolemjdoucí, přijďte si v sobotu <strong>31.12.2016</strong> od <strong>10:00</strong> kopnout do <strong>Morašic</strong> na hřiště.&nbsp;</div>
