<div class="image">
    <img alt="" src="<%= locals[:person]['image'] %>" class="border" height="150" />
    <strong><%= locals[:person]['name'] %></strong><%= locals[:position] %>
    <% if locals[:person]['description'] %>
    <em><%= locals[:person]['description'] %></em>
    <% end %>
</div>
