---
title: Hráči
description: Hráči a realizační týmů všech týmů, které spadají pod fotbalový klub
---

<% internal_editable_people('hraci').each do |group| %>
    <h2><%= group.group %></h2>
    <% group.people.each do |person| %>
        <%= partial("_person", :locals => { :person => person, position: '' }) %>
    <% end %>
<% end %>
