---
title: O klubu
h1: Historie morašického klubu
description: Základní informace o morašickém fotbalovém klubu - rok založení, klubové oddíly
---

<img alt="Mapa České republiky se zakreslenou polohou naeho klubu" src="/public/images/o-klubu/mapa.png" class="right transparent">
<p>Morašický fotbalový klub byl založen v roce <strong>1970</strong>. Obec Morašice se nachází v Pardubickém kraji v okrese Svitavy, přibližně 6 kilometrů od města Litomyšl.</p>

<ul>
    <li><a href="<%= web_link '/o-klubu/muzi' %>">Muži</a></li>
    <li><a href="<%= web_link '/o-klubu/dorost' %>">Dorost</a></li>
    <li><a href="<%= web_link '/o-klubu/zaci' %>">Žáci</a></li>
    <li><a href="<%= web_link '/o-klubu/pripravka' %>">Přípravka</a></li>
    <li><a href="<%= web_link '/o-klubu/areal' %>">Areál</a></li>
    <li><a href="<%= data.scortes.driveHistory%>">Historické tabulky</a></li>
</ul>
