
<% wrap_layout :layout do %>

<% if current_page.data.has_filters %>
<%= partial("layouts/components/filters", :locals => { :limit => 0 }) %>
<% end %>

<% articles =
    if current_page.data.season
    then articles_in(current_page.data.season)
    else latest_articles(15)
    end %>

<% articles.each do |article| %>
    <%= partial("layouts/components/article", :locals => { :article => article, :isLinkShown => true }) %>
<% end %>

<br />
<h2>Archiv novinek a zápasových článků ze sezón:</h2>
<ul>
    <li><a href="/články/2024-2025/">2024/2025</a></li>
    <li><a href="/články/2023-2024/">2023/2024</a></li>
    <li><a href="/články/2022-2023/">2022/2023</a></li>
    <li><a href="/články/2021-2022/">2021/2022</a></li>
    <li><a href="/články/2020-2021/">2020/2021</a></li>
    <li><a href="/články/2019-2020/">2019/2020</a></li>
    <li><a href="/články/2018-2019/">2018/2019</a></li>
    <li><a href="/články/2017-2018/">2017/2018</a></li>
    <li><a href="/články/2016-2017/">2016/2017</a></li>
    <li><a href="/články/2015-2016/">2015/2016</a></li>
    <li><a href="/články/2014-2015/">2014/2015</a></li>
    <li><a href="/články/2013-2014/">2013/2014</a></li>
    <li><a href="/články/2012-2013/">2012/2013</a></li>
    <li><a href="/články/2011-2012/">2011/2012</a></li>
    <li><a href="/články/2010-2011/">2010/2011</a></li>
    <li><a href="/články/2009-2010/">2009/2010</a></li>
</ul>

<%= partial("layouts/components/article.js") %>
<% if current_page.data.has_filters %>
<%= partial("layouts/components/filters.js") %>
<% end %>

<% end %>
