
<% wrap_layout :layout do %>

    <h1><%= article_heading current_page %></h1>
    <%= partial("layouts/components/article", :locals => { :article => build_article(current_page), :isLinkShown => false }) %>

    <%= partial("layouts/components/article.js") %>

<% end %>
