<%
menu = [
    {
        title: "Přehled",
        link: "/",
        active: ["index.html"],
        dropdown: [],
    },
    {
        title: "Muži",
        link: web_link('/o-klubu/hráči'),
        active: ["o-klubu/hráči"],
        dropdown: [
            {
                title: "Soupiska",
                link: web_link('/o-klubu/hráči'),
            },
            {
                title: "Docházka",
                link: data.scortes.driveAttendance,
                isExternal: true,
            },
            {
                title: "Statistiky",
                link: data.scortes.driveStats,
                isExternal: true,
            },
        ],
    },
    {
        title: "Přípravka",
        link: web_link('/výsledky/pripravka'),
        active: ["výsledky/pripravka"],
        dropdown: [],
    },
    {
        title: "Historie",
        link: "/o-klubu/",
        active: ["o-klubu/index", "o-klubu/muzi", "o-klubu/dorost", "o-klubu/zaci", "o-klubu/areal", "o-klubu/pripravka"],
        dropdown: [],
    },
    {
        title: "Foto",
        link: web_link('/multimedia/'),
        active: ["multimedia"],
        dropdown: [],
    },
    {
        title: "Kontakty",
        link: web_link('/o-klubu/kontakt'),
        active: ["o-klubu/kontakt"],
        dropdown: [],
    },
    {
        title: "Archiv",
        link: web_link('/články/'),
        active: ["články", "výsledky/index"],
        dropdown: [
            {
                title: "Články",
                link: web_link('/články/'),
            },
            {
                title: "Výsledky",
                link: web_link('/výsledky/'),
            },
        ],
    },
]

htmlMenu ="<button id='mobile-toggle' class='toggle-open'>Menu</button>"
htmlMenu += "<div id='menu'><ul>"
menu.each do |firstLevel|
    htmlMenu += "<li #{nav_active(firstLevel[:active])}>"
    htmlMenu += "<a href='#{firstLevel[:link]}'>#{firstLevel[:title]}</a>"
    if firstLevel[:dropdown].size
        htmlMenu += "<ul #{'class="mobile-hidden"' if firstLevel[:isDropdownHiddenOnMobile]}>"
        firstLevel[:dropdown].each do |secondLevel|
            htmlMenu += "<li>"
            htmlMenu += "<a"
            if secondLevel[:isExternal]
                htmlMenu += " target='_blank'"
            end
            htmlMenu += " href='#{secondLevel[:link]}'>#{secondLevel[:title]}</a>"
            htmlMenu += "</li>"
        end
        htmlMenu += "</ul>"
    end
    htmlMenu += "</li>"
end
htmlMenu += "</ul></div>"
%>
<!DOCTYPE html>
<html>
    <head>  
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            <%= strip_tags (current_page.data.title) + ' | Fotbalový klub TJ Sokol Morašice' %>
        </title>
        <% if current_page.data.description %>
        <meta name="description" content="<%= current_page.data.description %>" />
        <% end %>
        <link rel="icon" href="/favicon.ico?v20171001" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-precomposed.png">
        <meta name="keywords" content="tj, sokol, morasice, fotbal, vysledky, tabulky, tipovani" />
        <meta name="author" content="Zdenek Drahos" />
        <meta name="robots" content="index, follow" />
        <link href="/public/themes/morasice/css/style.css?v20231231" rel="stylesheet" />
        <link href="/favicon.ico" rel="shortcut icon" />
    </head>
    <body>

        <figure id="notification-container">
            <div><span id="notification-message"><%= internal_editable_page("upozorneni") %></span></div>
        </figure>
        <nav><div><%= htmlMenu %></div></nav>
        <header class="s<%= rand(1..3) %>" id='header-logo'>
            <div>
                <section>
                    <strong>
                       <span>Oficiální stránky fotbalového klubu</span> 
                       TJ Sokol Morašice
                    </strong>
                </section>
                <figure>
                    <a href="/"><img src="/public/themes/morasice/images/znak-bground.png?v=2017" onmouseover="this.src = '/public/themes/morasice/images/znak.png?v=2017';" onmouseout="this.src = '/public/themes/morasice/images/znak-bground.png?v=2017';" alt="Znak TJ Sokol Morašice"  title="Návrat na hlavní stránku morašického oddílu" /></a>
                </figure>
            </div>
        </header>

        <div id="main" class="<%= if current_page.path.start_with?("o-klubu/") then 'history-page' end %>">           
            <div>
                <% breadcrumbs = nav_breadcrumbs() %>
                <% if breadcrumbs.size > 1 %>
                <nav id="breadcrumb">
                    <div>
                        <% breadcrumbs.each_with_index do |page, index| %>
                        <a href="<%= page.link %>"><%= page.title %></a>
                        <%= if index < (breadcrumbs.size - 1) then '&raquo;' end %>
                        <% end %>
                    </div>
                </nav>
                <% end %>
                <% if current_page.options[:layout].to_s != 'article' %>
                <h1>
                    <%= current_page.data.h1 || current_page.data.title %>
                </h1>
                <% end %>
                <%= yield %>
                <br />
                <div class="h1">Podporují nás</div>
                <div class="partners">
                <a href="https://www.pardubickykraj.cz/"><img src="/public/themes/morasice/images/podporuji-nas/pardubicky-kraj.png" alt="Pardubický kraj" title="Pardubický kraj" /></a>
                <a href="http://www.morasice.cz/"><img src="/public/themes/morasice/images/podporuji-nas/obec-morasice.png" alt="Obec Morašice" title="Obec Morašice" /></a>
                <a href="http://www.stavitelstvi-jokes.cz/"><img src="/public/themes/morasice/images/podporuji-nas/stavitelstvi-jokes.png" alt="Stavitelství Jokeš" title="Stavitelství Jokeš" /></a>
                <a href="https://www.hrg.cz/"><img src="/public/themes/morasice/images/podporuji-nas/hrg-tiskarna.png" alt="HRG tiskárna" title="HRG tiskárna" /></a>
                <a href="http://www.nopek.cz/"><img src="/public/themes/morasice/images/podporuji-nas/nopek.png" alt="Nopek" title="Nopek" /></a>
                <a href="http://www.msmt.cz/sport-1/zverejneni-programu-viii/"><img src="/public/themes/morasice/images/podporuji-nas/msmt.png" height="40" alt="Ministerstvo školství, mládeže a tělovýchovy - dotační program č. VIII." title="Ministerstvo školství, mládeže a tělovýchovy - dotační program č. VIII." /></a>
                </div>
            </div>
        </div>
        
        <footer>            
            <div>
                <span><a href="#">Návrat nahoru</a></span>
                <span>© 2009 - <%= Date.today.year %></span>  
                <br />
                <span id=reklama><endora></span>         
            </div>
        </footer>

        <% if build? && current_page.url != '/404.html' %>
        <a href="https://www.toplist.cz/stat/1026125"><script language="JavaScript" type="text/javascript">
        <!--
        document.write ('<img src="https://toplist.cz/dot.asp?id=1026125&amp;http='+escape(document.referrer)+'&amp;wi='+escape(window.screen.width)+'&amp;he='+escape(window.screen.height)+'&amp;cd='+escape(window.screen.colorDepth)+'&amp;t='+escape(document.title)+'" width="1" height="1" border=0  style="border:0" alt="TOPlist" />');
        //--></script></a><noscript><img src="https://toplist.cz/dot.asp?id=1026125" border="0" style="border:0"
        alt="TOPlist" width="1" height="1" /></noscript>
        <% end %>

        <script>
        (function () {
            changeLogo();
            mobileMenu();

            function changeLogo() {
                var logo = document.getElementById('header-logo');
                logo.className = getRandomLogo();
            }

            function getRandomLogo(max) {
                var number =  Math.floor(Math.random() * Math.floor(1000));
                return 's' + ((number % 3) + 1);
            }

            function mobileMenu() {
                var device = 'ontouchstart' in window ? 'touch-device' : 'non-touch-device';
                document.getElementsByTagName('body')[0].className = device;
                
                var button = document.getElementById('mobile-toggle');
                var menu = document.getElementById('menu');
                button.addEventListener(
                    'click',
                    function() {
                        if (menu.style.display == 'block') {
                            menu.style.display = 'none';
                            button.className = 'toggle-open';
                        } else {
                            menu.style.display = 'block';
                            button.className = 'toggle-close';
                        }
                    },
                    false
                );
            }
        }());
        </script>
    </body>
</html>
