<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script>
(function() {
    var matches = $('[data-scortes]');
    var urls = [];
    matches.each(function () {
        var url = $(this).attr('data-scortes');
        if (url && url.includes("scortes.rozpisyzapasu.cz")) {
            urls.push(url);
        }
    });
    if (!urls.length) {
        return;
    }
    $.ajax({
        type: 'post',
        url: urls[0],
        data: JSON.stringify(urls),
        dataType: 'json',
        contentType: 'application/json',
    })
    .then(function (data) {
        for (var url in data) {
            var list = $('[data-scortes="' + url + '"]');
            var html = $(data[url]);
            list
                .prepend(html.find('li:nth-child(2)'))
                .prepend(html.find('li:first'))
                .append(html.find('li'));
        }
    });
    
}());
</script>

