<%
manualStats = {
    'vysledek' => 'Výsledek',
    'sestava' => 'Sestava',
    'lavicka' => 'Do kabiny se ještě vešli',
    'goly' => 'Góly',
    'zlute' => 'ŽK',
    'cervene' => 'ČK',
    'polocas' => 'Poločas'
}
categories = {
    'obecne' => 'Obecné',
    'muzi' => 'Muži',
    'dorost' => 'Dorost',
    'zaci.st' => 'Starší žáci',
    'zaci.ml' => 'Mladší žáci',
    'pripravka' => 'Přípravka',
}
%>

<article data-category='<%= locals[:article].data.category %>'>

    <header>
        <time><%= article_date(locals[:article]).date.strftime('%-d.%-m.%Y') %></time>

        <% if locals[:article].data.category %>
        <span class="category"><%= categories[locals[:article].data.category] %></span>
        <% end %>

        <% if !locals[:isExcerpt] %>
        <h2><%= strip_tags(locals[:article].data.title) %></h2>
        <% else %>
        <h3><%= strip_tags(locals[:article].data.title) %></h3>
        <% end %>
    </header>

    <% if !locals[:isExcerpt] %>
    <div>
        <% if locals[:article].data.image %>
        <img alt="" class="right top" src="<%= locals[:article].data.image %>" />
        <% end %>
        <%= locals[:article].content %>
    </div>
    <% else %>
    <div>
        <%= strip_tags(article.content)[0..900] %>&hellip;
    </div>
    <% end %>

    <% if !locals[:isExcerpt] %>
    <section class="info">
        <ul data-scortes="<%= locals[:article].data.scortes %>">
            <% if locals[:article].data[:multimedia] %>
            <li><em>Galerie:</em> <a href="<%= locals[:article].data[:multimedia] %>" target="_blank">fotky ze zápasu</a></li>
            <% end %>
            <% manualStats.each do |key, stat| %>
            <% if locals[:article].data[key] %>
            <li><em><%= stat %>:</em> <%= locals[:article].data[key] %></li>
            <% end %>
            <% end %>
        </ul>
    </section>
    <% end %>

    <footer>
        <% if locals[:article].data.source %>
        <span id="copylink" style="position: absolute; left: -9999px;">Zdroj: <%= locals[:article].data.source %></span>
        <% end %>
        <% if locals[:isLinkShown] %>
        <% if locals[:article].data[:multimedia] %>
        <a href="<%= locals[:article].data[:multimedia] %>" target="_blank">Fotky ze zápasu</a>&nbsp; &nbsp;
        <% end %>
        <a href="<%= web_link locals[:article].path %>">Přejít na celý článek</a>
        <% else %>
        <nav class="neighbours">
            <br />
            <% neighbours = nav_neighbours(locals[:article]) %>
            <% if neighbours.prev %>
            <div class="left">
                &laquo; <a href="<%= web_link neighbours.prev.path %>"><%= article_heading neighbours.prev %></a> &laquo;
            </div>
            <% end %>
            <% if neighbours.next %>
            <div class="right">
                &raquo; <a href="<%= web_link neighbours.next.path %>"><%= article_heading neighbours.next %></a> &raquo;
            </div>
            <% end %>
            <br />
            <%= neighbours.index %>
        </nav>
        <% end %>
    </footer>
</article>
