<%
categories = {
    '' => 'Vše',
    'muzi' => 'Muži',
    'dorost' => 'Dorost',
    'zaci.st' => 'Starší žáci',
    'zaci.ml' => 'Mladší žáci',
    'pripravka' => 'Přípravka',
    'obecne' => 'Obecné',
}
%>

<ul class="activeTeams article-filters">
    <% categories.each do |category, title| %>
    <li class="<%= if category == '' then  'selected' end %>"><a href='./#<%= category %>' data-category='<%= category %>'><%= title %></a></li>
    <% end %>
</ul>
