<script>
    (function () {
        loadArticlesFilter();

        function loadArticlesFilter() {
            var articles = $('article');
            var filters = articles.parent().find('.activeTeams li');
            var allowedArticles = <%= locals[:limit] || 0 %>;
            resetFilter();
            hideUnavailableCategories();

            filters.find('a').click(function (e) {
                e.preventDefault();
                var category = $(this).attr('data-category');
                if (!category) {
                    return resetFilter();
                }
                var visibleCount = 0;
                toggleFilters($(this).closest('li'));
                articles.each(function () {
                    var article = $(this);
                    if (article.attr('data-category') == category && (!allowedArticles || visibleCount < allowedArticles)) {
                        show(article);
                        visibleCount++;
                    } else {
                        hide(article);
                    }
                });
            });

            function resetFilter() {
                if (allowedArticles) {
                    hide(articles);
                    show(articles.slice(0, allowedArticles));
                }
                toggleFilters(filters.slice(0, 1));
            }

            function toggleFilters(active) {
                filters.removeClass('selected');
                active.addClass('selected');
            }

            function hideUnavailableCategories() {
                filters.find('[data-category]').each(function () {
                    var category = $(this).attr('data-category');
                    if (!category) {
                        return;
                    }
                    if (!articles.parent().find('article[data-category="' + category + '"]').length) {
                        hide($(this).closest('li'));
                    }
                });
            }

            function show(element) {
                element.removeClass('hide');
            }

            function hide(element) {
                element.addClass('hide');
            }
        }
    }());
</script>
