---
title: Archiv výsledků
h1: Výsledky, tabulky, statistiky
description: Přehled výsledků (tabulky, rozpisy, statistiky) týmů z Morašic
---

<%
types = {
    'zapasy' => OpenStruct.new({
        title: 'Výsledky',
        page: 'matches.html',
    }),
    'tabulky' => OpenStruct.new({
        title: 'Tabulky',
        page: 'tables.html',
    }),
    'statistiky' => OpenStruct.new({
        title: 'Statistiky',
        page: 'players.html',
    }),
    'kalendar' => OpenStruct.new({
        title: 'Kalendář',
        page: 'calendar.html',
    }),
}
%>

<form id="results">
    <label for="competition">Soutěž: </label>
    <select size="1" id="competition">
        <option value="" selected disabled>Vyberte soutěž...</option>
        <optgroup label="Letošní soutěže">
            <% data.scortes.competitions.active.each do |season| %>
            <option value='<%= season.url %>' data-drive='<%= if season.title.include? "Muži - okresní" then data.scortes.driveStats else "" end %>'>
                <%= season.title %>
            </option>
            <% end %>
        </optgroup>
        <optgroup label="Archiv">
            <% data.scortes.competitions.archive.each do |name, url| %>
            <option value='<%= url %>'><%= name %></option>
            <% end %>
        </optgroup>
    </select>
    <% types.each do |type, settings| %>
    <label>
        <input type="radio" name="type" value="<%= settings.page %>" />
        <%= settings.title %>
    </label>    
    <% end %>
</form>
<div id="scortes"></div>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.21.5/js/jquery.tablesorter.min.js"></script>
<script>
(function() {
    var cache = {};
    var scortes = $('#scortes');

    selectFirst();
    loadScortes();
    $('#results :input').change(loadScortes);

    function selectFirst() {
        $("#competition").prop("selectedIndex", 1);
        $('#results :radio:first').prop('checked', true);
    }

    function loadScortes(e) {
        var competition = $('#results select').val();
        var type = $('#results :radio:checked').val();
        if (competition && type) {
            var url = competition + type;
            if (cache[url]) {
                loadTable(url);
            } else {
                scortes.html('Načítám...');
                $.get(url).then(function (data) {
                    var driveLink = type == 'players.html' ? $("#competition option:selected").data('drive') : null;
                    var html = data;
                    if (driveLink) {
                        html =
                            '<div>' +
                                "<a href='" + driveLink + "' target='_blank'>Zobrazit podrobnější statistiky s asistencemi, počty odehraných minut&hellip;</a>" +
                                data +
                            '</div>'
                        ;
                    }
                    cache[url] = html;
                    loadTable(url);
                }).fail(function () {
                    scortes.html('Výsledky se nepodařilo načíst :(');
                });
            }
        }
    }
    
    function loadTable(url) {
        scortes.html(cache[url]);
        scortes.find(".seasonTable").tablesorter();
    }
}());
</script>