---
title: Přípravka
h1: Přípravka
description: Rozpisy a výsledky mladší a starší přípravky
---

<%
days = ["NE", "PO", "ÚT", "ST", "ČT", "PÁ", "SO"]
teams = [
    internal_editable_pripravka('starsi-pripravka'),
    internal_editable_pripravka('mladsi-pripravka'),
]
%>

<% teams.each do |team| %>
<h2><%= team.title %></h2>
<table class="seasonTable">
    <thead>
        <tr>
            <th>Den</th>
            <th>Datum</th>
            <th>Začátek</th>
            <th>Pořadatel</th>
            <th class="leftAlign">&nbsp; &nbsp;Další soupeři</th>
            <th colspan="2">Výsledky</th>
        </tr>
    </thead>
    <tbody>
    <% team.schedules.each do |tournament| %>
        <% datetime = DateTime.strptime(tournament.date, '%Y-%m-%d %H:%M') %>
        <tr <%= 'class=team' if tournament.venue == 'Morašice' %>>
            <td><%= days[datetime.wday] %></td>
            <td><%= datetime.strftime('%-d.%-m.%Y') %></td>
            <td><%= datetime.strftime('%H:%M') %></td>
            <td><%= tournament.venue %></td>
            <td class="leftAlign"><%= tournament.teams %></td>
            <td>
                <% if tournament.results %>
                <a href="#" data-tournament>Výsledky</a>
                <% end %>
            </td>
            <td>
                <% if tournament.link %>
                <a href="<%= tournament.link %>">Článek</a>
                <% end %>
            </td>
        </tr>
        <tr class="hide">
            <td colspan="7" class="leftAlign">
                <% (tournament.results || []).each do |result| %>
                <em><%= result.match %></em><br />
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script>
    (function () {
        $('a[data-tournament').click(function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            var row = $(this).closest('tr');
            var matches = row.next('tr');
            console.log('click', $(this));
            if (matches.hasClass('hide')) {
                show(matches);
            } else {
                hide(matches);
            }
        });

        function show(element) {
            element.removeClass('hide');
        }

        function hide(element) {
            element.addClass('hide');
        }
    }());
</script>

<% end %>
