---
title: 2x Jejku
date: 2012-04-25
---


      <p> S Březovou jsme na podzim prohráli gólem až z nastaveného času, tudíž by bylo záhodno, abychom jim to vrátili a konečně se začali vyhrabávat ze všech nul, které nám na kontě narůstají. 
      Od úvodu zápasu jsme měli možná trochu překvapivě více možností, než bylo v plánu, ale ani jeden ze závarů v pokutovém území jsme nedokázali přetavit v gól. Po nedorozumění v obraně mohl postupovat sám na brankáře Kuta Petr, jenže domácí těsně před střelou zatáhli za záchranou brzdu, která by se dala i červeně potrestat, sudí byl o fous mírnější. Prvního jarního gólu jsme se dočkali po rohovém kopu na který si naběhl Michal Částek a hlavou nás poslal do vedení.
      To vydrželo bohužel jenom pár minut. Andrle neudržel střelu a u míče byl dřív jeden z domácích a pohodlně vyrovnal. Zbytek poločasu se nesl v pohodě podobné jarnímu počasí.</p>
      <p> Ve druhém poločase Březová hrozila pouze ze standartních situací, nebo rohových kopů, ale do pořádného zakončení se nedostala, kromě jedné ofsajdové akce, která skončila gólem a zdviženým praporkem. Na druhé straně v dobré pozici mimo mířil po centru hlavou Pavel Kuta a po přetaženém rohu Štancl. Škoda bránu sice trefil, ale střele chyběla potřebná síla. V 82.minutě po standartní situaci stáhl míč ze vzduchu Andrle, ale při dopadu mu z náruče vypadl a domácí skóre otočili. A tím ten zápas skončil, oproti minulým střetnutím jsme podali
      podstatně lepší výkon, ale na body je to pořád málo.</p> 

                    <section class="info">
                        <p><em>Zápas: </em> Březová nad Svitavou - Morašice 2:1</p>
                        <p><em>Góly: </em> M.Částek</p>
                        <p><em>Žluté karty: </em> &nbsp;J.Jokeš, Pavel Kuta</p>
                        <p><em>Sestava: </em> V.Andrle - M.Chmelík, M.Ropek, V.Jetmar (J.Kopecký), J.Jokeš - Pavel Kuta, Petr Kuta (Z.Škoda), B.Válek, M.Štancl - M.Burian, M.Částek (P.Vomáčka)&nbsp;</p>
                    </section>
