---
title: A co duše, hoši?
date: 2011-10-18
---


      <p> Když jsme domácím vyhověli, aby se utkání odehrálo v neděli, bylo nám jasné, že mohou nasadit i hráče z áčka či béčka. Kdybychom však tušili, jak bude nakonec celý zápas probíhat, mohli jsme si klidně přispat a do Chrudimi poslat jenom registračky. </p>  
      <p> Nevím proč, ale k tomuto utkání si domácí mužstvo muselo místo rozhodčích pozvat údržbáře technických služeb, nebo skalní fanoušky Nizozemska. Uvažuji alespoň podle barvy oblečení, protože podobným stylem, jakým byl zápas pískán by to zvládl i průměrně inteligentní foxteriér.
      Začátek probíhal v poklidu, tep každého pohybujícího se na umělé trávě se držel v klasických normách a odpovídal odevzdanému výkonu na hrací ploše. Domácí se do tlaku dostávali především po lajnách, ale kromě jediné dobré šance, kterou výborně vytáhl mimo branku Andrle, neměli žádnou vyloženou šanci, ze které by mohli skórovat. Zbytek střel šel buď mimo branku, nebo na připraveného Andrleho.
      Na druhé straně po jednom z přímých kopů Chmelíka hlavičkoval Holomek a dráhu míče do branky se rozhodl před dotírajícími obránci prodloužit Jetmar. Sice se mu to povedlo, ale proti bylo jeho postavení mimo hru. Těsně před přestávkou byl po centru Chrudimi do vápna faulován Andrle, který zůstal ležet na zemi s krvavým zraněním v obličeji.
      Rozhodčí však nechal hru pokračovat a na kraji vápna se snažil Klement odkopnout míč pryč, naneštěstí mu před balón strčil nohu jeden z domácích a byla z toho penalta. Po ošetření našeho brankáře si exekutor postavil míč na značku pokutového kopu a s nejapnou otázkou, zda má dát technickou střelu, nebo to propálit poslal míč trapně po zemi doprostřed, s nímž neměl Andrle větší problémy. V tomto případě nás ještě pán Bůh ochránil, ale na druhý poločas byl i on krátký.</p>
      <p> Po několika minutách v druhé půli se po pěkném pasu ocitl za naší obranou osamocený Klíma, který dal s přehledem první branku zápasu. Útok jsme posílili čerstvým Burianem a již po pár krocích na place donutil Vomáčka presingem brankáře Chrudimi k chybě a Burian mohl tak vyrovnat do prázdné brány. Za pár okamžiků poslal míč mezi obránce Pavel Kuta na Štancla, který nahrával před prázdnou bránu Vomáčkovi, ten míč netrefil ideálně, ale přesto skončil v síti. Až když jsme se radovali z vedoucí branky zvedl pozvolna pomezní praporek nad hlavu. Mohl tak učinit mnohem dřív, prostě jenom čekal, jestli to skončí gólem, nebo ne.
      K následné naší reakci se vyjadřovat nebudu, neboť bych se zde rád vyhnul slovům, které připodobňují vaginální opisy. Poté byl Vomáčka ve vápně sražen podobně jako domácí v prvním poločase, akorát se momentálně rozhodčí asi zapomněl nadechnout. Aby toho nebylo málo, písknul penaltu ještě jednou pro místní "Céčko". Útočník byl ve vápně faulován Jokešem, před tím si ale předkopnul míč natolik, že ani kdyby překonal světový rekord Bolta v běhu na 100 metrů, tak by ho prostě nemohl dostihnout. Tuto možnost již Chrudim využila a dostala se tak do vedení 2:1. Nakonec přidala ještě dvě branky, které v závěrečném součtu vůbec nic neřešili, neboť již po proměněné penaltě se jeden z domácích hráčů svěřil, ať se ani nesnažíme, že kdyby něco, tak to mají domácí pojištěný rozhodčíma.</p>
      <p>
      On to vlastně nemusel ani řikat, to bylo do očí bijící. Chrudim se v tabulce pohybovala v našich patrech a nutně potřebovala vyhrát. Kdyby k tomu využili jenom ztažení hráčů z áčka a béčka, tak neřekneme ani puňťu, protože v zápase byli lepší, jenom nemohli dát potřebný góly, tak jim k tomu tři mladí hoši velmi rádi pomohli.
      Pokud začne pískat takhle většina rozhodčích, tak se nemůžeme divit, že celá fotbalová mafie z Evropy u nás táboří. Taky mě docela dojímá článek na chrudimských stránkách, kde zdůrazňují jasné ofsajdy, ze kterých jsme dali dva góly, přitom celé vedení stálo na druhé straně hřiště a nemohlo nic vidět. Sami domácí hráči při zápase tvrdili opak (při gólu na 1:2), ale zřejmě byl článek stvořen pro mírnou úlevu svědomí.</p> 
      <div class="center">
      <iframe src="https://www.youtube.com/embed/780QLZCP8f4?rel=0" width="640" height="480"></iframe>
      </div>
                    <section class="info">
                        <p><em>Zápas: </em> Chrudim C - Morašice 4:1</p>
                        <p><em>Góly: </em> M.Burian</p>
                        <p><em>Žluté karty: </em> T.Holomek, J.Jokeš</p>
                        <p><em>Sestava: </em> V.Andrle - M.Klement, M.Chmelík, J.Jokeš, M.Ropek - T.Holomek, J.Růžek (J.Kubeš), M.Štancl, Pavel Kuta (Z.Škoda) - P.Vomáčka, V.Jetmar (M.Burian)</p>
                    </section>
