---
title: Zatěžkávací zkouška proběhla úspěšně
date: 2012-05-07
---


      <p> V žižkovsko tabulkovém postavení si nemůžeme moc vyskakovat, ale taky je nemožné, aby nás kdokoliv předskočil. Ovšem derby s Dolním Újezdem má tu zvláštní vlastnost, že se dost částo stává prakticky cokoliv. Bodovat v údolí letních zábav by bylo dobré nejen kvůli odpoutání se ode dna tabulky, ale také možnosti, jak domácí fanoušci nejapně naznačovali, že to může být na čas poslední derby. Historické anály z minulých let ukazují též naši zápornou bilanci z této oblasti.</p>
      Že jsme zápas odehrávali téměř na domácím hřišti potvrzoval fakt, že skoro polovinu sestavy tvořili jedinci, jenž mají v "dolňáku" přechodný start, nebo trvalé bydliště.<p></p>
      <p> Zápas se začal vyvíjet možná až nečekaně dobře. Již ve 4. minutě poslal Chmelík centr za obranu a Štancl eM. z vápna vyslal na jeho poměry nezvykle tvrdou a přesnou střelu z voleje do brány. Tím se postaral o nejkrásnější branku zápasu. Poté následovalo zhruba 40 minut standartních situací ,včetně rohů, v podání domácího mužstva. Nespočet centrů létal do šestnáctky a létající Havran s "Mazdami", kterým v závěsu pomáhal a chránil Mandlík, se snažili o vyrovnání. Obrana s Lněničkou odvedla solidní práci a většinou tyto akce odvracela. O zbytek se postaral právě Lnenička, nebo štěstí, které se na nás vybodlo na začátku jara.
      Až ke konci prvního poločasu jsme se dostali do nějakých šancí, jenže pozdní a několikrát nepřesná přihrávka tyto šance eliminovala. Tak nad branku soupeře vystřelil pouze Kuta a Klement. Do velmi dobré pozice se dostal Válek, ale svoji střelou překvapil spíš sebe.</p>
      <p> Druhý poločas pokračoval v rytmu toho prvního. Domácí tlačili, centrovali, hlavičkovali, ale nebezpečnější šance měli spíš v první pětačtyřicetiminutovce. Pouze jednou chytal míč Lněnička až na brankové čáře. Na druhé straně po rohu minul hlavou Štancl, Ropek z přímého kopu na malém vápně tím samým údem lehce přestřelil a po standartní situaci z dorážky a dost těžké pozice trefil Vomáčka tyč. A když na koci zápasu nedotáhl průnik do zakončení ani Josef Štancl, mohli jsme slavit dalo by se říci šťastné vítězství. Nechci sahat trenérovi do hodnocení, ale domnívám se, že fakt, že jsme nedostali branku má na svědomí naše obrana, především Ropek s Chmelíkem půjdou možná v pondělí na vyšetření pro příznaky otřesu mozku, protože jejich hlavy byly v kontaktu s míčem prakticky nepřetržitě.</p>

                    <section class="info">
                        <p><em>Zápas: </em> Dolní Újezd - Morašice 0:1</p>
                        <p><em>Góly: </em> M.Štancl</p>
                        <p><em>Žluté karty: </em> Z.Škoda, M.Štancl, M.Částek, M.Chmelík</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Chmelík, M.Ropek, D.Kubeš (V.Jetmar), M.Klement - Pavel Kuta, M.Štancl, J.Jokeš, B.Válek (J.Růžek) - M.Částek (P.Vomáčka), Z.Škoda (J.Štancl)</p>
                    </section>
