---
title: Hodnocení sezóny 2011/2012 očima kouče Petra Kuty
date: 2012-07-10
---


         <p class="bezodsazeni">Nejprve bych začal klasikou, tedy umístění:</p>
         <p><strong>14. místo, 21 bodů, skóre 23:62, bilance 6 - 3 - 17</strong></p><p><strong><br></strong></p>
          <p class="bezodsazeni"><strong>Střelci:</strong></p>
<ul>
<li>3 - Pavel Kuta, Martin Štancl, Martin Burian</li>
<li>2 - Bohumil Válek, Martin Ropek, Zděněk Škoda</li>
<li>1 - Milan Chmelík, Jaroslav Růžek, Petr Vomáčka, Tomáš Holomek</li>
</ul>
          <p>Tréninkových jednotek bylo mnoho, účastí však stála za hovno</p><br>
         <p class="bezodsazeni"><strong>Dále bych vyzdvihl naše prvenství:</strong></p>
         <ul><li>
         Prvně jsme první od konce tabulky, bohužel tedy na dně</li><li>
         Poprvé bylo z naší branky loveno deset gólů v jednom "mači"</li><li>
         Poprvé u nás okouší stáž dolnoújezdský hráč Bary (bratra nepočítám, ten je 1/2 morašák)</li><li>
         Prvně též posily cerekvické drahé, neodvedli gólově, to co mohli hravě</li><li>
         Poprvé 17 proher na našem kontě v jedné sezóně je hrozivě největší číslo</li><li>
         Bohužel i inkasovaných 62 gólů nás dává v historii klubu chtě nechtě na čelo</li></ul><p class="bezodsazeni"><strong>Pár sezónních postřehů:</strong></p>

         <ul><li>I když v poločase dostaneš 6 gólů, nemusí to vždy skončit desítkou (Valy, Pardubice C)</li><li>
         I když hraješ docela pohlednej zápas, můžeš prohrát 5:0 (Staré Hradiště - jaro), naopak když hraje takovej zápas soupeř, taky můžeš 5:0 prohrát (Pardubice C - podzim)</li><li>
         Když hraješ derby, pltí víc jak jasně, že se hraje jinej zápas (jen s Dolním Újezdem máme kladnou bilanci - 1:1, 1:0)</li><li>
         Když nemáš prakticky koho na střídání, neznamená to, že musíš pokaždé prohrát (Přelouč 1:2 - podzim), (Letohrad B 2:1 - jaro)</li><li>
         I když se na hřišti setkáš s bezmozkama, musíš si stejně dávat pozor, co vymyslí (Letohrad B)</li><li>
         Když trenér někoho ze soupeřových hráčů vyzdvihne, znamená to pokyn nechat ho ještě více vyniknout (Kříž, Kaciaň)</li><li>
         Když si ráno přivstaneš a místo do lesa jedeš na fotbal, stejně si můžeš připadat, že tě něco něbo někdo řeže (Chrudim B - podzim) &nbsp; &nbsp; &nbsp; &nbsp;</li></ul>
         <p class="bezodsazeni"><strong>Něco o týmu:</strong></p>
<ul><li>
         Ani tři brankáři nezaručují v mužstvu správný tlak, jako například Míšovi Préšovi v Březové</li><li>
         Naši obránci byli někdy jak honící psi, bohužel le v některých případech lovná zvěř nebyla vůbec střelena, ba ani sestřelena</li><li>
         Záložníci, to zas byli občas koumáci a koumali, jak by se před míčem schovali</li><li>
         A útočníci, snajpři na vítězství naše, srovnání výkonů snad jen u Míly Baroše</li></ul>

<p class="bezodsazeni"><strong>Pár perliček jednotlivců:</strong></p>

<ul><li>
         První desítku odchytal Míša Préša, však uklidnit ho můžu, snad horší to být nemůže, s vyšším věkem zkušenost a s nižší soutěží se vyrovnávají celky</li>
<li> Tomáš Holomek, častý pozorovatel zahraničních lig, zklaml mě velice, že zkušenosti nám nepředal více</li>
         <li>Byl jsem rád, že Venda Jetmar po uštknutí zmijí do krku pak hrál lépe jak po zázraku (Pardubice)</li>
        <li> <em>Když ráno na Pepu Jokše zvoníme, on ještě neví o světě.</em><br><em>
         Že je ráno fotbal se dozví, až když se řádně prospí.</em><br><em>
         Spěchal tedy honem na mač, dojel když už byla leč,</em><br><em>
         na hráče i na rozhodčí.</em><br><em>
         Honili je všichni běsní hráči.</em><br><em>
         Na trávník se nedostal, byl z něj jen turista</em><br><em>
         Přesto viděl to, co nemohl před tím vidět nikdo z nás</em></li>
         <li>Řekl bych, že to přesně vystihuje právě skončenou sezónu: <strong>Thriller</strong> - hodně mrtvejch a ještě blbej konec </li>
</ul>
