---
title: Letní příprava
date: 2011-07-07 10:00
---


          Treninky se konají v hojném počtu každé <strong>úterý</strong> a <strong>čtvrtek</strong> od <strong>17:30</strong> a v <strong>neděli</strong> od <strong>10:00</strong> na hřišti v Morašicích.&nbsp;<br>S sebou do baťůžku kromě želvičky přibalte i tenisky na výlety po okolí.<br><br>
          <strong>Přípravná utkání:</strong><br><br>
          <p>NE 24.7.2011 - 17:30 Kameničky / hřiště Morašice - 0:2</p>
          <p>SO 30.7.2011 - 17:00 Vysoké Mýto (1.kolo poháru) / hřiště Morašice - 2:0</p>
          <p>NE 7.8.2011 - 17:00 Svitavy / hřiště Morašice (2.kolo poháru) - 0:8</p>
          <p>NE 14.8.2011 - 17:00 Morašice - Živanice (mistrovský zápas)</p>
