---
title: Neobyčejný příběh šílenství
date: 2012-06-21 10:00
---


      <p> O tomto zápase jste se mohli dozvědět bližší informace z nejrůznějších zdrojů internetových i v tištěnné podobě. Zde to bude poněkud chudší pro mou nepřítomnost, kvůli obavám z možného zranění, na daném klání. Nikdo netušil o jak velké proroctví šlo.
      Je jasné, že v dnešní době umí potravinářský průmysl v kombinaci s překupníky drog namíchat tak silnou dávku návykové látky, která když napadne jedince s menším množstvím mozkových buněk, respektive napadne všechny jeho buňky, tak se konzument stává na nějaký čas neovladatelný. Alespoň, že se nikomu nic vážnýho nestalo. Stehy Klementovi na nose docela sluší a než se znova ožení, tak se mu to určitě zahojí.  </p>
                    <section class="info">
                        <p><em>Zápas: </em> Letohrad B - Morašice 0:3 <strong>kontumace</strong></p>
                        <p><em>Góly: </em> J.Kubeš, P.Vomáčka</p>
                        <p><em>Žluté karty: </em> &nbsp;D.Kubeš</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Chmelík, M.Ropek, J.Vosmek, M.Klement - D.Kubeš, J.Kubeš, V.Jetmar (Petr Kuta), J.Růžek - M.Částek (P.Vomáčka), M.Burian&nbsp;</p>
                    </section>
