---
title: Další útěk hrobníkovi z lopaty
date: 2012-06-02
---


      <p> Soupeř z Chrudimi, se kterým jsme na podzim sehráli bitvu delší, než hodinu a půlovou, přijel velmi dobře naladěn, oproti nám, neboť jsme to měli zakázané. Po disciplinární dovolené se do sestavy vrátil Burian a od začátku čeřil vody hostující obrany, co mu kolena dovolily. V poločase počátečním se po několika minutách do jediné pseudošance dostala Chrudim, kdy se centr z pravé strany snesl na břevno. Na opačném konci hřiště trefil Vosmek z přímáku tyč a dorážející Pavel Kuta poprvé minul.
      Z pohledu nezaujatého diváka bych řekl, že se naše hra oproti předcházejícím duelům malinko pozměnila. Dostávali jsme na polovinu soupeře mnohem více, než on na naši a ba dokonce jsme si vytvářeli i šance. Pavel Kuta prohodil míč za obranu na Štancla, který střelou přes brankáře otevřel skóre. Je pravda, že hostující golman toho za své působení na hřišti mnoho nestihl. Po tyčce od Vosmeka kapituloval od Štancla, aby v závěru svého pobytu setnul Buriana, jenž si ho obhazoval a tím by se dostal do téměř tutové šance.
      Nového opatrovníka branky chtěl Burian vylekat lobem z uctivé vzdálenosti. Bohužel tento pokus by se ujal maximálně na poli ragbyovém.</p>  
      <p> Druhá půle probíhala bez vážnějších šancí do chvíle, kdy hostující obrana zahrubkovala a Pavel Kuta se nadechl k velkému sólu. Doběhl až k vápnu, tam se zastavil, nechal přiběhnout obránce, přehodil si míč na slabší pravou a technicky pod břevno upevnil naše vedení. Pak jsme z neznámého důvodu přestali hrát, běhat a ostatní věci, které se ve fotbale obvykle dějí, z čehož Chrudim vytěžila jakýsi tlak, s pomocí Lněničky tyčku a s další pomocí Lněničky v kombinaci s trávníkem i snížení. Dvoubrankový náskok mohl vrátit ještě Pavel Kuta a Štancl, ale střelám jako by něco scházelo, většinou to byl tedy směr.
      Zápas jsme se rozhodli dohrát jednoduchým způsobem a po posledním hvizdu sudího jsme si s pocitem vítězství a opuchýřovaných chodidel uvědomili, že pořád nemáme klid a příští týden je zase o co hrát. </p>
                    <section class="info">
                        <p><em>Zápas: </em> &nbsp;Morašice - Chrudim C 2:1</p>
                        <p><em>Góly: </em> M.Štancl, Pavel Kuta</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Chmelík, M.Ropek, J.Vosmek, M.Klement - Pavel Kuta (T.Holomek), M.Štancl, J.Jokeš, Petr Kuta (V.Jetmar) - P.Vomáčka (Z.Škoda), M.Burian (M.Částek)</p>
                    </section>
