---
title: Víte, co to znamená? Že jsme zase o krok za nimi
date: 2012-04-25
---



      <p> Naše úvodní čtyři vystoupení by se daly popsat zkratkou ctrl+c a ctrl+v, neboť je to neustále na stejné brdo. Trenér Kuta pro posílení ofenzívy do tohoto zápasu nasadil trojici útočníků a ve středu zálohy nechal samotného neutahatelného Jokeše.
      Kromě zámořského Ropka jímala střídačka prakticky všechny sedmdesátky, které v kádru máme.</p>
      <p> Úvod zápasu se nám jako již tradičně nad míru nevydařil, což dali hlasitě a právem najevo zase všechny sedmdesátky v ochozech. Nejprve si mezi Štancla a Válka naběhl hostující záložník a předložil Kaciáňovi první zářez k budoucímu hatricku. O pár minut později Holomek krásně vysunul Kaciáňa, ten obešel Lněničku a manko bylo dvougólové.
      My jsme si kromě pár centrů do vápna nevytvořili žádnou příležitost, jak výsledek zkorigovat.</p>
      <p> Druhou půli jsme nezahráli špatně, ale hosté si náskok poklidně hlídali. Místo snížení přišel po centru do vápna nárůst vedení a před koncem ještě Kaciáňa vysunul Jokeš a bylo vymalováno. Stolany zápas dohráli nakonec v deseti. Jeden z jejich spoluhráčů zbytečně loktem přepočítával Válkův chrup a byl vyloučen. První jarní branku mohl v samém závěru z dálky vstřelit ještě Holomek, ale lehce přestřelil.</p>
                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Stolany 0:4</p>
                        <p><em>Žluté karty: </em> M.Štancl</p>
                        <p><em>Sestava: </em> J.Lněnička - B.Válek, M.Chmelík, V.Jetmar, T.Holomek - J.Kubeš, J.Jokeš, M.Štancl - P.Vomáčka (M.Burian), M.Částek (Pavel Kuta), Z.Škoda&nbsp;</p>
                    </section>
