---
title: Do vápna ani nemusíme
date: 2011-11-02
---


      <p> Na začátek si můžeme položit otázku, zda tak málo diváků přišlo kvůli špatnému počasí, našemu špatnému hernímu projevu, nebo špatné reklamě tohoto utkání na webu. S trochou nadsázky to však vypadá, že když máme na zápas klid a nikdo do toho nežvaní, jde nám zakončení mnohem lépe :)</p>  
      <p> Jedna z hlavním zbraní proti hostům selhala. Kluci z Letohradu jsou v ranném kritickém věku, tak jsme tak nějak doufali, že třeba v pátek požijou a jejich fyzická kondice se trochu přiblíží té naší. Bohužel. V první polovině prvního poločasu mělo hostující béčko míč více na svých kopačkách, dokonce trefili spojnici Andrleho branky z přímáku, ale pak přišlo něco, co všichni diváci v ochozech (počet lidí roven počtu prstů mého dědy po 60-ti letech praxe s cirkulárkou, včetně chirurgického restaurátorství), nečekali. Růžek přenesl hru na volného Štancla, který vystřelil z předvápení na protější tyč (ale tu trefit nechtěl).
      Jelikož Burian s ním byl dva dny před tím na treninku, tušil jak to dopadne. Do střely, která se po zemi sunula na louku za brankou skluzem vložil nohu a trajektorie míče rázem zaznamenala naše vedení - 1:0. Hosté chtěli pochopitelně rychle vyrovnat, aby neudělali ostudu kurzu, který na ně vypsaly sázkové kanceláře, tudíž se do hry zapojil i brankář a místo skromného postávání v brance oběhával větší polovinu vápna velkého. Po jednom výkopu si na polovině hřiště míč jedním dotekem zpracoval Burian a druhým mu ho s prstem v nose vrátil zpátky do brány. V tu chvíli se začala projevovat naše druhá zbraň, která u podobných mužstev nevylézá na povrch, když vedou. V těchto případech bývá ovšem kolikrát i smrtelná. Jsou to nervy. Až na Vendu Jetmara, který si plete nejen sety při terninku, ale možná i to, že za strkanici končící fyzickým kontaktem nedostane 2+2 za hrubost, ale 2 zápasy na tvrdo, je máme všichni v prdeli :)
      Poslední větší šanci hostů výborně vyřešil všasným výběhem a odkopem do pole Andrle. Následně se po faulu na Buriana u střídaček postavil k míči Chmelík, trenér Kuta ho však duchapřítomně poslal do šestnáctky na hlavu a jako exekutora určil Štancla. Ten jeho důvěru poprvé nezklamal a jeho centr naštěstí všichni minuli, takže si asi po třech letech mohl konečně zase připadat jako fotbalista :) Díky kouči.</p>
      <p> Druhá půlka zápasu mohla začít na naše poměry až neuvěřitelně. Dlouhý centr Chmelíka za obranu našel Štancla, který přehodil brankáře a o fous minul branku. Hostům veškerou snahu o zkorigování výsledku zhatila obrana, nebo Andrle. Infarkt se pokoušel akorát o letohradského trenéra, kdy silně reklamoval ofsajd Buriana, zřejmě oprávněně, ale kdyby věděl, jak my zacházíme se samostatnými nájezdy, zůstal by naprosto v klidu. Do dvou šancí se dostal ještě Škoda. Nejprve před prázdnou bránou minul v ofsajdu míč a podruhé střele něco chybělo, protože byla chycena. Faul na Buriana na hranici velkého vápna znamenal možnost navýšení skóre. Po dohodě se k míči postavil opět Štancl, který si věřil, asi naposled v životě. Minul. Na konci zápasu ještě po teči zvonilo hostům břevno a pak už jsme mohli s úsměvem na rtech mít konečně trochu radosti z předvedeného zápasu. </p>
                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Letohrad B 3:0</p>
                        <p><em>Góly: </em> M.Burian 2x, M.Štancl</p>
                        <p><em>Žluté karty: </em> M.Burian, J.Jokeš, B.Válek, J.Růžek</p>
                        <p><em>Sestava: </em> V.Andrle - M.Klement, M.Chmelík, J.Jokeš, M.Ropek - B.Válek, J.Růžek (Pavel Kuta), M.Štancl, V.Jetmar (J.Kubeš) - Z.Škoda (P.Vomáčka), M.Burian</p>
                    </section>
