---
title: Závěrečné zhovnocení
date: 2012-06-21 20:00
---


      <p> Do posledního zápasu sezóny jsme šli s vědomím, že i výhra může znamenat pád. První dějství bylo takové normální, klasické. Hosté měli převahu. Občas vystřelili, ale netrefili. Po centru Klementa zakončoval z malého vápna vedle Štancl. Do naší největší šance se dostal už ani nevim kdo. Jetmar hlavou přizdvihl centr a onen útočník určitě nedal.
      Do vedení se Přelouč dostala po kombinaci, kterou zhruba z penalty zakončil Koch. Odpověď si připravil Pavel Kuta v podobě penalty za ruku soupeře. Naložil s ní v souladu se svými zkušenostmi.</p>
      <p> Fakta o tom, co rozhodlo zápas se různí. Čas se pohybuje mezi 4 - 7 minutami, běhěm kterých jsme inkasovali tři branky od jednoho hráče. Určitě je to rekord, nebo tak něco. Pořádně si ani nevzpomínám, jak padli, protože to byl vážně fofr. Pak už jsme se jenom pokoušeli výsledek zkorigovat a mezi námi probíhal takový vnitřní souboj, kdo si dá poslední gól v A. třídě.
      Nejblíže k němu měl Chmelík, který hlavou z rohu trefil břevno, po něm Štancl, který od břevna nohou trefil obránce na čáře a nakonec Petr Kuta, který od hráče na čáře trefil toho samého hráče na čáře. Po konečném hvizdu hlavního sudího v bolavých duších morašických velikánů uvízlo tiché přiznání kouče Kuty: "Už to není jen naše hra". Za to Přelouč měla důvod oslavám, protože se díky zasloužené výhře dostala přímo do Krajského přeboru.</p>
      <p> Když jsme ze sebe smyli poslední prašné částečky 1.A. třídy, sešli jsme se v nedalekém pohostinství na pár pětipiv, abychom se důstojně předrozloučili s uplynulou sezónou. Během nostalgických vzpomínek se nám nejmladší z rodu Kutových vydělal před kabinama, čímž nám nejapně naznačil, za co letošní sezóna stála :-)</p>
                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Přelouč 1:4</p>
                        <p><em>Góly: </em> Pavel Kuta</p>
                        <p><em>Žluté karty: </em> &nbsp;V.Jetmar, M.Chmelík</p>
                        <p><em>Sestava: </em> &nbsp;J.Lněnička - M.Chmelík, M.Ropek, J.Vosmek, M.Klement - Pavel Kuta (T.Holomek), M.Štancl, J.Jokeš, Petr Kuta (V.Jetmar) - P.Vomáčka (Z.Škoda), M.Burian (M.Částek)</p>
                    </section>
                    <div>
                        <h3>Komentář trenéra Petra Kuty</h3>
                        <blockquote>Věděli jsme o síle Přelouče v útoku a po krajích zálohy, čemuž jsme chtěli čelit defenzivní taktikou. V prvním poločase se nám to dařilo, ačkoli jsme jednou inkasovali. Stačili jsme vyrovnat, jenže v nástupu do druhé půle přišel naprostý herní výpadek, kdy jsme během sedmi minut třikrát inkasovali od jednoho hráče, jehož jsme nebyli schopni zpacifikovat. To nás zlomilo, potom už jsme jenom prostřídali a utkání dohráli. Ani vítězství by však pro nás nic neřešilo. Je třeba uznat, že hosté byli jednoznačně lepší.</blockquote>
                    </div>