---
title: Alespoň jsme zdraví
date: 2012-04-05
---


      <p> "Při zápase prostě nevystřelíš. A vystřelíš-li, nedostřelíš. A dostřelíš-li, netrefíš se." (Jára Cimrman)</p>
         <p> Úvodním citátem by se dalo shrnout naše marné snažení ohrozit soupeřovu branku. Říká se, že zdraví je nejdůležitější, ovšem mít občas trochu štěstí neuškodí, protože třeba na Titaniku pili taky na zdraví a bylo jim to hovno platný, když neměli štěstí. Jak říká Kuta Pavel, Srch si mohl do branky klidně píchnout vidle, protože i ty 2 střely, které jsme vyslaly by šly do těch vidlí. První poločas přitom nevypadal nijak hrozivě. Soupeř byl sice technicky a herně lépe vyspělý, ale na to jsme si za ty roky už zvykli a málokdo tomu věnoval větší pozornost. Kromě jednoho selhání ofsajdové pasti, kdy hasil Lněnička již celkem zhurta zažehnutý plamen snad Srch neměl vážnější šanci. Ale buďte v klidu, my taky ne. Do vápna jsme se několikrát dostali, ale chybělo zakončení, myšlenka, nebo něco, co by k té myšlence vedlo.</p>
         <p> Druhé dějství jsme odehráli víceméně na naší polovině. Nebyli jsme sice omezováni tlakem soupeře, ale vůbec jsme se nedokázali dostat přes obranu, občas i zálohu hostí. Takovéhle scénáře vídáme většinou v biografem a často nekončívají dobře. V tomto případě se osud naplnil po záběhu za obranu a takovém pseudolobu přes Lněničku. Bod do tabulky mohl připsat Růžek, který pronikl po křídle a teprve dnes jsme se dozvěděli, že  nestřílel, ale nahrával. Bohužel v dosahu nebyl nikdo, kdo by pokračoval v jeho akci.</p>
         <p> Tímto se stává boj o záchranu soutěže opět složitější. V sobotu asi nebude na co čekat a vyhrát bychom vážně měli.</p>
                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Srch 0:1</p>
                        <p><em>Žluté karty: </em> M.Štancl, J.Jokeš</p>
                        <p><em>Sestava: </em> J.Lněnička - V.Jetmar (J.Růžek), M.Chmelík, M.Ropek, T.Holomek - J.Jokeš, Pavel Kuta, J.Kubeš, M.Štancl - M.Burian (M.Částek), Z.Škoda (P.Vomáčka)</p>
                    </section>
