---
title: Jen dva kříže...
date: 2011-10-11 20:00
---


      <p> Burian opět v základu a Kříž na střídačce. Tím se alespoň v myslích mohla zvýšit naděje na úspěch. Jelikož Vomáčka přestal kouřit, jeho plíce dostaly šanci na kraji zálohy, aby ukázaly, zda to těžké rozhodnutí plné bezesných nocí, třesoucích se rukou a zkažených zubů od okousaných propisek bylo k něčemu dobré.</p>
      <p> Úvod zápasu byl jako z učebnice pro mírně pokročilé kuželkáře. Taková poklidná hra při sluníčku bez akcí, při nichž by stoupal krevní tlak a klesala brada přihlížejícich. Domácí brankář všechny naše centry s přehledem sbíral, na druhé straně Prešinský jednou zaváhal a jen tak tak stačil míč odkopnout do autu. To bylo z prvního poločasu asi tak všechno.</p>
      <p> Po přestávce se do hry zapojil již dříve zmiňovaný Kříž a Moravany tak nějak ožily. Po autu Kříž nahrál za sebe a balón se dostal přes velké vápno až k osamocenému Lukasovi, který pohodlně otevřel skóre. O několik minut později prošel po lajně jeden z moravanských přes Štancla, Ropka i Jokeše, našel na vápně Kříže, jenž přidal střelou k tyči druhý gól. 
      Holomek se přesunul do útoku a pár minut před koncem poslal do úniku Válka, který naši první pořádnou střelou mezi tyče v zápase snížil na rozdíl jedné branky. Víc už se ale udělat nestihlo, tak jsme si opět připsali nulové bodové ohodnocení.</p>

                    <section class="info">
                        <p><em>Zápas: </em> Moravany - Morašice 2:1</p>
                        <p><em>Góly: </em> B.Válek</p>
                        <p><em>Žluté karty: </em> J.Kubeš, Z.Škoda</p>
                        <p><em>Sestava: </em> M.Prešinský - M.Klement, M.Chmelík, M.Ropek, J.Jokeš - Pavel Kuta, T.Holomek, M.Štancl, P.Vomáčka (J.Kubeš) - M.Burian (J.Růžek), Z.Škoda (B.Válek)&nbsp;</p>
                    </section>
