---
title: Křížem krážem a domů
date: 2012-05-21
---


      <p> S tímto celkem, který se krčí na prvním místě se nám análně (archivní statistiky pozn.redaktora) docela daří. Prý u nás nevyhráli od roku 2006. Upozorněni jsme byli opět na Kříže, který góly dává, nebo připravuje po většinu svého působení na hřišti. Jenže když je hráč o nějakou tu úroveň výš, tak se stane,že ho prostě občas neuhlídáte. Nyní se nám to stalo čtyřikrát.</p>
      <p> V prvním poločase si naběhl před obránce, poté se dostal za ně a s klidem otevřel skóre. Vyrovnat mohl Klement, ale jeho nepříliš silnou střelu brankář chytil.</p>
      <p> Začátek druhého poločasu Kříž zatáhl míč po lajně, předložil pod sebe a bylo to 2:0. Totéž za několik minut provedl opět a Lněničkovi nezbylo nic jiného, než lovit po třetí. Poslední zásah Moravanům daroval Chmelík, který vyslal Kříže samotného na Lněničku a ten do třetice nabídl spoluhráčovi skórovat do odkryté branky.</p>
      <p> Prohra byla určitě zasloužená.</p> 
                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Moravany 0:4</p>
                        <p><em>Žluté karty: </em> &nbsp;J.Vosmek, M.Ropek</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Chmelík, M.Ropek, J.Vosmek, M.Klement - Pavel Kuta (V.Jetmar), M.Štancl (B.Válek), J.Jokeš, M.Částek - P.Vomáčka, Z.Škoda (J.Kopecký)</p>
                    </section>
