---
title: Je nutné klást důraz na důraz
date: 2011-09-15
---


      <p> Téměř před nezvyklou diváckou kulisou, kterou si lze vysvětlit snad jen spojením krásného počasí s atraktivitou soupeře našeho béčka, jsme očekávali mužstvo z Březové. Byli jsme upozorněni na dvě jména z hostujícího týmu, že prej kdysi hrávali někde vejš a možná i za nějakou tu korunu.</p>
      <p> V čím dál složitějším rozestavení jsme tušili ostrý nápor hostí. Už od prvních minut měli nepochopitelné potíže s koordinací pohybu v našem velkém vápně. Následné divení, proč se nekope penalta bylo nacvičené také velmi hezky. Sice s převahou, však bez nějakého většího střeleckého efektu.
      Jen Vorlický s Bednářem (to jsou zřejmě ti dva, kteří zjistili, že by se měli živit něčím pořádným a tak hrají fotbal v Březové už jen pro zábavu) nás trochu motali, což bylo samozřejmě podle plánu. Z naší strany byla první půle standartní. Trenér, ač se snažil sebevíc, neudržel předepsaný klidový režim.
      Když přihrávka na spoluhráče, tak těžká, ať ukáže, jak se s tím popasuje. V šanci vystřelit levou nepříchází v úvahu, protože jsem pravák a přečíslení 3 na 1 řešeno nahráním tomu jedinému samotnému, co má jiný dres než já, protože takhle slibnou možnost nemáme bohužel natrénovanou.</p>
      <p> Druhý poločas jsme načli k překvapení všech přítomných aktivněji než soupeř a po několika planých pokusech vysunul krásně Pavel Kuta Škodu, který tváří v tvář brance trefil Ehrenbergera, který se v těchto místech zrovna pohyboval. Do dobré střelecké pozice se dostal i Pavel Kuta sám, jenže veškerou sílu, která by byla potřeba na střelu zanechal někde cestou k brance. Březová zahrávala přímý volný kop, pro takovou polocentrostřelu si povyběhl Andrle, neudržel míč v ruce a hostující hráč dorazil do prázdné branky. Radost okamžitě vystřídala, promiňte mi ten výraz,
      nasranost, neboť kdesi na lajně s kamenou tváří a praporkem nad hlavou jim úsměv sundal muž, který do Brna asi bude muset jezdit zadem. Pomezní byl okamžitě obklíčen několika hráči a fanoušky, aby si vyslechl co je zač. Asi za deset minut se ke střele ve vápně dostal Bednář, jenže střílel v takové pozici, že i v hokeji by mu pískli vysokou hru a navíc napálil ne zrovna vysokého Kubeše, který se přesunul do horizontální polohy.
      Následovalo několik nadávek na adresu Jirky, což nevydržel Andrle a s otcovským přístupem odstrčil hlavního osočovatele. Na oplátku hnedka letěl na zem taky. U rozhodčího pak zkoušeli zesvětlit barvu karty, ale museli předčasně do sprch, nebo hospody. Je otázka, jestli skutečně šlo o chvilkovou nervovou indispozici, nebo jede Vojta příští tejden na dovolenou, bál se to trenérovi říct a takhle hezky to vyřešil. Je teda fakt, že od týhle chvíle jsme se dostali fakt pod tlak. Prešinský musel několikrát řešit ne zrovna jednoduchou situaci, zatim se mu to dařilo. Při jedné akci si zpoza obrany vyběhl Bednář a jemným přiťuknutím poslal Březovou do vedení,
      ovšem jen zdánlivého. Opět totiž došlo k ruční erekci čárového sudího a jednalo se o ofsajd číslo dvě. Kupodivu tohle hráči uznali celkem rychle, fanoušci zas tolik ne. Na druhé straně branku netrefil Vomáčka ani Štancl a když přišla 95.munuta, tak se míče chopil Vorlický, před vápnem z otočky vystřelil, napůl trefil nešťastně Chmelíka a míč přes natahujícího se Prešinského skončil již regulérně v síti. Tudíž jsme prohráli.</p>

                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Březová nad Svitavou 0:1</p>
                        <p><em>Žluté karty: </em> J.Kubeš, T.Holomek, J.Kopecký</p>
                        <p><em>Sestava: </em> V.Andrle - M.Klement, M.Chmelík, V.Jetmar (B.Válek), T.Holomek - Pavel Kuta, J.Růžek (M.Prešinský), M.Štancl, J.Kubeš - P.Vomáčka, Z.Škoda (J.Kopecký)&nbsp;</p>
                    </section>
