---
title: Pýcha předchází postup
date: 2011-10-11 22:00
---


      <p> Proti prvnímu celku tabulky, kterému věkový průměr "kazí" pouze o 30 let starší nejlepší střelec soutěže Ryba, jsme nenafasovali moc důvěry - nepřišlo nejen pěkné počasí, ale i, až asi na 6 vyjímek, diváci.</p>  
      <p> Věděli jsme, že fotbalově to proti Pardubicím nepůjde, ale bojovností by se nějaké překvapení urvat dalo. Fungovalo to docela slušně až na 2 akce Ryby, nejprve po zkažené nahrávce Štancla na Jokše vyplynula situace v břevno a o chvíli později si Ryba v klidu naběhl do vápna a hlavou poslal hosty do vedení.
      Na druhé straně netrefil hostující golman dobře míč a Růžek postupoval sám na prázdnou bránu. Byl ještě před šestnáctkou faulován, ale rozhodčí si zřejmě zapomněl doma červenou kartu, protože když se snažil dorazit na místo přestupku z poloviny hřiště, kde se zapomněl, tak místo rady s pomezním, který tu situaci měl přímo před sebou určil verdikt sám a vytáhl kartu žlutou.
      Strach ze svěřené moci může být někdy tak svazující, že se prostě člověk nedokáže správně rozhodnout. V tento moment ale dokáže pořádně nasrat. Když se po individuální akci prosadil další z pardubických, odcházeli jsme do kabin z dvoubrankovým mankem.</p>
      <p> Místo pokusu zvrátit výsledek jsme hned na začátku druhého poločasu inkasovali třetí gól ze standartní situace a bylo vlastně hotovo. Hosté zápas dohrávali v pohodě a stihli přidat ještě další dvě branky.</p> 
      <p> Zápas připomínal páteční kvalifikační utkání proti Španělsku. Hosté předvedli přesně to, co jsme od nich čekali, fotbalově byli výborní, ale také nám v plné kráse dali najevo, že oni bydlí v krajském městě naší vlasti. Volné chvíle si krátí vysedáváním u počítače pod modrou lištou, nebo si v podchodech mění žvejkačky za vojáčky. Ale občas by to chtělo vyjít na čerstvej vzduch a provětrat hlavu.</p>
                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Pardubice C 0:5</p>
                        <p><em>Žluté karty: </em> M.Chmelík</p>
                        <p><em>Sestava: </em> M.Prešinský - M.Klement, M.Chmelík, J.Jokeš (T.Holomek), M.Ropek - B.Válek, J.Růžek, M.Štancl, J.Kopecký (J.Famfulík) - P.Vomáčka, M.Burian (V.Jetmar)</p>
                    </section>