---
title: Jedna vlaštovka jaro nedělá
date: 2012-04-29
---


      <p> V neděli, kdy po celé naší vlasti padaly teplotní rekordy jsme měli dá se říct poslední možnost se pokusit zachránit soutěž, neboť prohra s barážově postavenými Valy by naše šance na záchranu limitně přiblížila nule. S jemnou nervozitou a plni napětí jsme čekali, zda se soupeřem dorazí též obávaný střelec Bažant, který si při podzimním střetnutí výrazně vylepšil kanadské bodování.
      Překvapením bylo ovšem zjištění, že se v hostujícím týmu objeví i nám dobře známý Džony Kuchta, který jak vidno sbírá angažmá po všech možných klubech Pardubického kraje, stejně jako zarputilí skauti loví bobříky. Z jeho nervově hroutívajícího se systému během takovýchto zápasů by se dalo leccos vytěžit.</p>
      <p> Prakticky celý první poločas jsme strávili v příjemné atmosféře na hostující polovině. Hlavním důvodem nebyla přesnost a krása naší hry, ale vítr, jenž nám pro úvodních 45 minut dělal celkem dobrého partnera. Jak bývá naším zvykem, tak jsme z toho moc nevytěžili. Až na pár střel, se kterými si valský golman v pohodě poradil se nebylo moc na co koukat. Jen jeden z mnoha přímých kopů zahrál Pavel Kuta přesně tak jak měl a Ropek s Burianem jen o fous lebkami minuli.
      Těsně před přestávkou mohli jít hosté do vedení, ovšem Lnenička se zachoval skvěle a průnik nohou vyrazil.</p>
      <p> Druhý poločas se čekal tuhý povětrnostní nápor soupeře. Ale upřímně jsem to čekal horší. Když se po Štanclově rohu prosadil hlavou k tyči Ropek, hnedka bylo co bránit. A mohlo být ještě líp. Za dohrání souboje s Kubešem v přerušené hře šel pod sprchu jeden z hostí a nervová hráz kousek od Přelouče začínala mít povážlivé trhliny. Do brejku se dostal Burian a byl těsně před velkým vápnem uveden do horizontální polohy. Vcelku četné publikum se dožadovalo další červené karty, ale sudí byl neoblomný. Dokonce se snad ani nežlutilo. Velmi slibnou standartku, kterou s bravurou sobě vlastní kluci Kutovi na tréninku proměňují běžně, Štancl o fous přestřelil.
      Obraný val(y) jako by přestal držet pohromadě a nabízela se i zajímavá přečíslení pro naše odchovance. Myslím, že vydržet ještě 10 - 15 minut, mohla být přesila ještě větší, protože psychika dělá svý. Jenomže hosty do zápasu vrátil Burian, když Budinskému, jenž fauloval Jokeše, ustědřil takové provizorní plácnutí a musel jít též z placu. Od toho času byla hra dosti kouskovaná. Valy se snažily o vyrovnání, ale kromě jedné vážnějsí střely bránu neohrozily. My jsme zase v klidu nedotahovali do závěru brejkové situace a když v poslední minutě Budinský z dobré pozice trefil pouze zeď, mohli jsme si konečně připsat první jarní body.</p>
      <p> Bodově jsme se dotáhli na spodek tabulky, což zní vcelku divně, však je to tak a teď si ho hlavně nenechat zase utýct. Příště jedeme na derby do Dolního Újezda, tak uvidíme. Motivace by tu určitě byla, jen jestli bude dostatek hráčů... </p>
                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Valy 1:0</p>
                        <p><em>Góly: </em> M.Ropek</p>
                        <p><em>Žluté karty: </em> J.Kubeš, Z.Škoda</p><p><em>Červené karty:&nbsp;</em>M.Burian<br></p>
                        <p><em>Sestava: </em> J.Lněnička - M.Chmelík, M.Ropek, T.Holomek, M.Klement - Pavel Kuta (J.Kubeš) (Petr Kuta), M.Štancl, J.Jokeš, M.Částek (V.Jetmar) - M.Burian, Z.Škoda</p>
                    </section>
