---
title: Teď už se jen odrazit
date: 2011-11-02
---


      <p> Kvůli přepálenému začátku soutěže jsme moc nezvládli roli jednoho z lídrů A-třídy a postupně se v tabulce propadali. Nebylo se čeho chytit, takže se jen čekalo, až se dostaneme úplně na dno, abychom se mohli odrazit. Po tomto víkendu konečně nastala ona toužebná situace, tak uvidíme, jak se to vyvrbí. </p>  
      <p> Proti Starému Hradišti se nám poslední dobou vcelku dařilo a jediným důvodem, proč by se měla tato tradice porušit mohla být snad jen naše nynější forma. Zápas probíhal v tempu špatně střeleného srnce a k vidění bylo akorát hodně nepřesností. Jako první se ze schrumáže v pokutovém území prosadili hosté, ale pro předhozí faul nebyla branka uznána. To na druhé straně jednou Vomáčka odcentroval po zemi do vápna, Jetmar si míč a)špatně zpracoval, nebo za b) přiťukl Holomkovi, který ho s klidem sobě vlastním uklidil pod břevno. Pro kontrolu jsme se raději museli podívat na rozhodčí, zda branka platí, neboť střelcova radost byla vskutku dosti introvertní.
      Bohužel jsme po vedoucím gólu jak se říká "přestali hrát", i když toto spojení se v našem podání podobá spíše metafoře. Soupeř do přestávky měl snad jen jednu šanci, kdy po lajnovém úniku záložníka a střele, kterou Andrle neudržel v rukou s klidem dorážel do prázdné brány jeho kamarád.</p>
      <p> Pokyn do druhého poločasu byl jasný. Hlavně nepodělat začátek. Měli jsme asi tři možnosti jít do přečíslení, ale vždycky to dopadlo tak, že soupeř kopal roh. No a po jednom z nich se míč odrazil před vápno, odkud se Hradiště dostalo pěknou střelou z první od tyče do vedení. Podle videa byl náš výkon nevyhovující, poslední vlaštovkou, která nám mohla přidělit nějaký bod byl Chmelík, který po rohu těsně minul bránu. Hosté v závěru ještě po rohovém kopu trefili břevno a my jsme nakonec zjistili, že hlavní je, že jsme všichni zatím zdraví.</p>
                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Staré Hradiště 1:2</p>
                        <p><em>Góly: </em> T.Holomek</p>
                        <p><em>Žluté karty: </em> J.Jokeš</p>
                        <p><em>Sestava: </em> V.Andrle - M.Klement, M.Chmelík, J.Jokeš, M.Ropek - T.Holomek, B.Válek, M.Štancl, Pavel Kuta - P.Vomáčka (Z.Škoda), V.Jetmar (M.Burian)</p>
                    </section>
