---
title: Standartní Vomáčka
date: 2011-10-11 10_00
---


      <p> Naším hlavním úkolem bylo po nepovedeném zápase ve Valech ukázat, že jsme si opravdu jen spletli mistrovské utkání s odpolední vycházkou do lesa a hledáním hub. Také si nekomplikovat situaci a jednoduše se pokusit získat nějaké body.</p>
      <p> Prakticky celý zápas se odvíjel od toho, jestli se povede někomu skórovat ze standartní situace a těch nebylo zrovna málo. Jako první se prosadil jeden z újezdských stožárů. Po neodpískaném faulu na Ropka hasil přechod do útoku u lajny Jokeš. Z nařízeného přímého kopu si na míč naběhl Martin Vomáčka, hlavou otevřel skóre a tím pro něj podzim skončil, neboť o pár minut později si šlapně došlápl v souboji.
      Z prního poločasu se neujal ani jeden z velmi doře zahrávaných přímáků Pavla Kuty. Všechno končilo na hlavě Vomáčky, Havrana, nebo Svobody.</p>
      <p> Ve druhé půli jsme byli určitě bojovnější a nebýt předkopnutí, mohl jít Škoda na Klusoně sám. Při zahrávání standartek se do vápna začal vysouvat Chmelík, nejprve na míč o fous nedosáhl, druhý pokus mu reflexivně vytáhl nad břevno Klusoň a do třetice po hlavičce Buriana dorazil vypadnuvší míč na místo určení. Tím skončilo derby zřejmě spravedlivou a nekonfliktní remízou.</p>

                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Dolní Újezd 1:1</p>
                        <p><em>Góly: </em> M.Chmelík</p>
                        <p><em>Žluté karty: </em> M.Klement, P.Vomáčka</p>
                        <p><em>Sestava: </em> M.Prešinský - M.Klement, M.Chmelík, M.Ropek, J.Jokeš - Pavel Kuta, J.Růžek (J.Kopecký), M.Štancl, B.Válek - P.Vomáčka, Z.Škoda (M.Burian)</p>
                    </section>
