---
title: Vyložené šance nám vyloženě nejdou
date: 2011-08-31
---


      <p> Třetí zápas a už zase musíme, aby se nezačala zvyšovat ztráta v tabulce a nekonala se prohra s týmem, který zřejmě pro tento ročník také nemá postupové ambice. </p>
      <p> První poločas se nesl v poklidném duchu, kdy si diváci mohli dosytosti vychutnat slunečný konec srpna spojený s velkým množstvím zkažených přihrávek na obou stranách. Hosté se do vápna dostávali pouze z dlouze hazovaných autů a my jen občas náznakem šance, která však končila na stromech, nebo v náručí brankáře. 
      Deset minut před přestávkou se k podivně se odrážejícímu míči dostal Škoda a stejně podivně nás poslal do vedení. Branka to nebyla zrovna z nejkrásnějších, ale počítá se.
       </p>
      <p> Do druhého poločasu nastoupili aktovněji Slatiňany, jejich nadšení ovšem končilo daleko od branky, čili se nebylo zrovna moc z čeho radovat. Díky větším mezerám v obraně jsme předvedli něco, co většina mužstev asi ani neumí. Možná i proto je na nás trenér tolik hrdý.
      Nejdříve se po narážečce dostal před hostujícího golmana Štancl, dostal se však moc blízko a trefil pouze nohu brankáře. Pak se od půlky vydal sám na branku Škoda, balón si předkopl a zase z toho nic nebylo. Při této akci se hosté vehementně dožadovali odmávání ofsajdu, dokonce třímetrového. Jelikož Škoda vybíhal z naší poloviny hřiště, tak se jedná buď o horší kvalitu zraku, nebo špatné znalosti pravidel fotbalu.
      Do třetice branku překopl z úniku Vomáčka a vystřídal za Válka, který se nestačil ještě ani zahřát a už jsme šli 3 na bránu, byla s přehledem překopnuta. Jako poslední v této disciplíně soutěžil znovu Válek, kdy dostal před prázdnou branku nahrávku od Škody po zaváhání hostující obrany a nadvakrát přesně trefil jediného obránce, který byl proti navýšení skóre. Slatiňanská obrana se na naše trápení už nemohla koukat, tak když se do dalšího úniku znovu dostával Válek, zvolil jeden z nich raději faul v podobě červené karty. To pro nás bylo v jistém smyslu vysvobození.
      Uvidíme za týden, třeba znovu někdo uteče možná i promění.</p>
                    <section class="info">
                        <p><em>Zápas: </em> &nbsp;Morašice - Slatiňany 1:0</p>
                        <p><em>Góly: </em> Z.Škoda</p>
                        <p><em>Sestava: </em> M.Prešinský - M.Klement, M.Chmelík, V.Jetmar, M.Ropek - Pavel Kuta, M.Štancl (J.Růžek), J.Vosmek, J.Kubeš - Z.Škoda, P.Vomáčka (B.Válek)</p>
                    </section>
