---
title: Spousta smůly se štěstím
date: 2011-08-15
---


      <p> Na první podzimní mistrovský zápas jsme doma přivítali exdivizokrajské Živanice, které prošly obměnou kádru a tak prý jen Bůh věděl, co od nich čekat.
      Trenér Kuta nás před zápasem upozornil na některá jména ze soupeřovy jedenáctky, která nám byla známá asi jako jedlé houby v mikologickém atlase. </p>
      <p> Začátek zápasu společně se sluníčkem nám jasně ukázal, že kromě několika hráčů ztrátou fyzické kondice soupeř asi trpět nebude. V prvním poločase měly Živanice převahu, což se dalo papírově čekat, ale do vyložené šance se nedostaly. Když už se dostaly do zakončení, tak míč skončil za nebo nad bránou no a nebo si s ním celkem bez problémů poradil Prešinský.
      My jsme se dostali ke stručnějšímu počtu střel, tou nejslibnější Válek po lajnovém úniku lehce přestřelil. Poté už jen Pavel Kuta nedostřelil a Štancl taky minul. Na konci první půle vystřídal polozraněného Vomáčku Kubeš a Štancla pro minimální obsahu kyslíku v plicích nahradil Růžek hned po přestávce.</p>
      <p>Druhá pětačtyřicetiminutovka se pro nás vyvíjela vcelku dobře. Pokud vynecháme miniaturní slovní strkanice se soupeřem, tak srdeční tlukot nebyl od střídačky slyšet u diváku asi jen pro hostující buben. Nejprve se sám před brankáře dostal Válek, bohužel se dostal až moc blízko. Růžkova střela mu zůstala pod nohama a Vosmekovu střelu do protipohybu reflexivně (a velmi dobře) špičkou nohy vytáhl nad břevno. Holomkovu hlavičku z rohu zase zastavila tyč. Z nečekané výhry mohlo bejt kulový. Nevim jak, ale najednou se před Prešinským objevil jeden ze Živanic a jeho lob skončil nad šibenicí.
      Nakonec ještě Klement zvyšoval zkušenosti našeho brankáře, když mu hodil aut, aby dokázal lépe zvládat stresové situace. </p>
                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Živanice 0:0</p>
                        <p><em>Žluté karty: </em> B.Válek</p>
                        <p><em>Sestava: </em> M.Prešinský - M.Klement, M.Chmelík, V.Jetmar, T.Holomek - M.Štancl (J.Růžek), Pavel Kuta (Z.Škoda), M.Ropek, B.Válek - P.Vomáčka (J.Kubeš), J.Vosmek</p>
                    </section>
