---
title: Půltucet
date: 2012-05-21
---



      <p> Pro případnou záchranu bylo již nutné bodovat i se soupeři z horních příček tabulky, tudíž i s pardubickou rezervou rezervy. Jenže po 15 minutách jsme "tekli" 3:0 a dá se říct, že bylo po zápase. Domácí nás porazili ve všech směrech a Bůh ví, kolik jich vlastně je.
      Možná by nám šlo líp chytání ryb někde u rybníka, než se pokoušet udržet alespoň vzdálené wifi spojení s hráči, jenž po lajnách unikali v pravidelných intervalech. Do konce poločasu dokázali skóre navýšit na 6:0 a o přestávce jsme marně hledali nějaký starý ošuntělý ručník, který by se dal hodit do středového kruhu.
      Prostřídali jsme, co se dalo, domácí polevili a tak měli "pouze" tři větší příležitosti, ze kterých mohli ve druhé půli zlepšit svůj střelecký koeficient. Jediný únik zakončil z naší strany zakončil Škoda mimo a pak už byli jenom dva domácí hráči odvezeni do špitálu se zraněním, jehož příčina se v takhle rozhodnutém zápase rovná smůle, či náhodě.</p>  
                    <section class="info">
                        <p><em>Zápas: </em> Pardubice C - Morašice 6:0</p>
                        <p><em>Žluté karty: </em> M.Ropek, M.Štancl</p>
                        <p><em>Sestava: </em> J.Lněnička (M.Prešinský) - M.Chmelík, M.Ropek, T.Holomek, M.Klement - Pavel Kuta, M.Štancl, J.Jokeš, V.Jetmar (Petr Kuta), B.Válek (J.Kubeš) - P.Vomáčka (Z.Škoda)</p>
                    </section>
