---
title: Na podzim naposled
date: 2011-12-19
---


      <p> Předem mého dopisu přijměte srdečné pozdravení s omluvou za několika týdenní nefunkčnost tohoto webu z důvodu komplikovaného inženýrsko-geologického problému.  
          Co se týče samotného zápasu, tak podle matného záznamu v zadní části lebečního svalstva si vzpomínám, že nás nebylo mnoho. Ještě před výkopem se zranil Štancl a tak na střídání zůstal pouze multifunkční trenér Kuta.</p>
         <p> Stručně: Domácí byli aktivnější, však po našem rohovém kopu si na zadní tyč zaběhl Ropek a uvedl nás do vedení. Do přestávky stihli domácí skóre otočit ne moc složitými brankami. Ve druhém poločase několikrát v brance nadějný výsledek podržel Prešinský, ale jinak si myslím, že nic víc k chlubení se nestalo.</p>
         <p> Po zápase jsme se vysprchovali, odvezli dresy k Rajmanom a v poklidu se rozešli do svých domovů.</p>

                    <section class="info">
                        <p><em>Zápas: </em> Přelouč - Morašice 2:1</p>
                        <p><em>Góly: </em> M.Ropek</p>
                        <p><em>Žluté karty: </em> M.Ropek, T.Holomek, V.Jetmar</p>
                        <p><em>Sestava: </em> M.Prešinský - M.Klement, M.Chmelík, M.Ropek, T.Holomek - B.Válek, Pavel Kuta, Z.Škoda (Petr Kuta), V.Jetmar - P.Vomáčka, M.Burian&nbsp;</p>
                    </section>
