---
title: Na flintu do žita je ještě brzo
date: 2012-04-12
---


      <p> V přímém souboji o poslední flek jsme měli v plánu konečně vstřelit nějakej ten gól a pokud možno vyhrát.</p>
         <p> Již v úvodu jsme začali laxně a po ztrátě míče v útrobách středového kruhu šel domácí útočník s Ropkem na zádech do brejku. Martin se v dobrém úmyslu snažil míč odkopnout pryč, ale zřejmě nechtěně přeloboval Lněničku a záchranářský zápas se pro nás začal vyvíjet ne zrovna ideálním způsobem.
         Trvalo nám docela dlouho, než jsme se k brance soupeře vůbec dostali, natož ji ohrozili. Mezitím za Lněničkou ještě zacinkala tyčka a pár pokusů skončilo vedle. Za naše švarné střelce na sebe vzal zodpovědnost jako první Jetmar a na náš způsob hry až nezvykle dlouhým sólem zamířil levačkou pod břevno. Bohužel tam byla přítomna rukavice brankáře, čili pouze roh. Taktéž skončila po centru do vápna hlavička Částka.
         O přestávce jsme se od jednoho domácího fanouška doslechli, že jsme lepší. Upřímně doufám, že ten jedinec po zápase domů neřídil, protože určitě čistej nebyl.</p>
         <p> Prakticky celý druhý poločas jsme míč kontrolovali my. Teda až do tý doby, než jsme si špatně nahráli, nebo nám ho soupeř sebral. Ač v paměti pátrám jak chci, tak nějakou vážnou šanci si nedokážu vybavit. Pár střel tam bylo, se kterými měl domácí brankář problémy, ale nemyslim si, že to bylo zrovna kvalitou střely. Chvílema to vypadalo jako bloudění maďarů v kukuřici. I hra na čtyři útočníky nevykazovala možnosti ke zvrácení skóre.
         Slatiňany z brejku trefili ještě spojnici, netrefili prázdnou bránu a upravili skóre na 2:0.</p>
         <p> Po třech zápasech nám na kontě svítí 0 na pozici bodů a vstřelených branek. Zápasů k záchraně zbývá ještě 10, akorát soupeři budou papírově čím dál těžší. Ovšem nejen Amerika může být zemí neomezených možností. Zatím prohráváme, protože děláme stupidní chyby a , je tvrdý to přiznat, neplníme docela jednoduchý pokyny head kouče, což ho jistě nepotěší. </p>
                    <section class="info">
                        <p><em>Zápas: </em> Slatiňany - Morašice 2:0</p>
                        <p><em>Žluté karty: </em> Jetmar V., Válek B., Ropek M.</p>
                        <p><em>Sestava: </em> J.Lněnička - B.Válek, M.Chmelík, M.Ropek, V.Jetmar (T.Holomek) - J.Růžek (P.Vomáčka), Pavel Kuta, J.Kubeš (Z.Škoda), M.Štancl - M.Burian, M.Částek&nbsp;</p>
                    </section>
