---
title: Opět se nepovedlo Titanic potopit
date: 2011-08-25
---


      <p> S cílem vylepšit si vysoce záporné skóre z posledních let jsme v doprovodu svatebčanů dorazili do přístavu v Srchu. Hlavní lodivod Kuta pro tento zápas rozšířil záložní řadu a na přídi nechal jen osamoceného Škodu, kterému muselo být jasné, že se v těchto klimaticky pohnutých dobách určitě zadýchá. </p>
      <p> Průměrný věk domácího mužstva se pohyboval někde na hranici, kdy se hráč na zápas už může dopravit sám, nebo musí o odvoz poprosit maminku. Hned od začátku si nechávali míč pro sebe, ale nějak se nemohli dostat ani do našeho vápna, natož k ohrožení branky. Proto, jak bývá zvykem se karta otočila a po odraženém přímém kopu se před vápnem do míče opřel levačkou Válek a trefil přesně k tyči. Možná jen starousedlíci pamatují podobnou trefu od Bohumila.
      Sotva dozněly ovace, ozval se další náznak šance, a v něm muž s číslem 9 na zádech. Rozkaz domácího trenéra asi nezněl jasně, tudíž se po pěkné kombinaci mezi Klementem a Válkem dostal míč na penaltu, kam si sběhl Růžek a s klidem sobě vlastním rozvlnil síť podruhé. Srchu bylo jasné, že takhle to asi nepůjde, tak přitlačil, respektive my jsme povolili a prvním takovým drápečkem byla střela z docela dálky, která skončila na břevně. Pavel Kuta nebyl spokojen s několika výroky hlavního sudího, navrhl mu proto změnu některých jeho rozhodnutí a byl za to odměněn žlutým talismanem.
      Domací ještě z pravé strany trefili tyč a pak se lišácky  nechal ve vapně obhodit Holomek, útočníka proto skřížil Klement, nebo Chmelík, to ať si dohodnou jak chtěj a byla z toho penalta. Mimochodem s přehledem proměněna.
       </p>
      <p> Ve druhém poločase se domácí pokoušeli o úplný obrat výsledku kombinacemi, na které si už nevzpomínám, akorát vím, že jim to moc nešlo. Asi po deseti minutách zkoušel své štěstí jeden sršan proti pěti našim hráčům a byl před vápnem zfaulován. Zkoušeli jsme to reklamovat, ale bez odezvy. Přímý kop byl zahrán precizně do šibenice a mohlo se začít znova. Do konce zápasu bylo pořád teplo. Klement si opět zkusil jeden ze svých výletů až k bráně soupeře, bohužel ale minul. Pár minut před koncem Štancl našel na vápně Štancla, který se bál o svou zraněnou nohu, tak vystřelil trochu mírněji než by bylo potřeba.
      V závěru už docházel dech v důsledku přetrénování, tak jsme si situaci komplikovali zbytečným odkopáváním, ale naštěstí to dopadlo dobře a konečně jsme v Srchu uhráli nějaký ten bod.</p>

                    <section class="info">
                        <p><em>Zápas: </em> Srch - Morašice 2:2</p>
                        <p><em>Góly: </em> B.Válek, J.Růžek</p>
                        <p><em>Žluté karty: </em> Pavel Kuta, J.Růžek</p>
                        <p><em>Sestava: </em> M.Prešinský - M.Klement, M.Chmelík, J.Jokeš, T.Holomek - V.Jetmar, Pavel Kuta, M.Ropek, B.Válek (J.Štancl), J.Růžek (J.Kubeš) - Z.Škoda (M.Štancl)</p>
                    </section>
