---
title: Bylo jich pět
date: 2012-06-21
---


      <p> V úvodu zápasu jsme mohli několikrát otevřít skóre, ale zbrklost se špatnou volbou střely dovedly šance Štancla a Částka mimo branku. Jako třetí se pokusil prosadit Vosmek, domácí brankář si ale mezi inkasováním a rohovým kopem vybral raději tu druhou možnost.
      Pak se do pěti příležitostí dostali domácí a o přestávce na tabuli svítilo skóre 4:0 v jejich prospěch. Tři ze čtyř branek měli cosi společného. Vždy po dlouhém nákopu za obranu stačilo hradišťským hráčům pouze obejít Lněničku.</p>
      <p> Ve druhé půli se po pár minutách ozval zvuk Lněničkovy tyče, ale po zbytek zápasu jakoby se domácí spokojili s výší výsledku a nedostali se téměř za půlku. I to na nás stačilo. V našem kádru máme totiž nespočet koncových hráčů - (akce u nich končí) a tak i kdybychom neprohrávali o tolik branek, nemohli jsme pomýšlet na nějaký bodový zisk, protože všechny střely, co na branku soupeře šly by pochytal i nadprůměrně šikovný elév.
      Pár minut před koncem se přece jen domácím podařilo proniknout přes praporek pomezního a podle hlavního sudího si dobíhající Klement počínal ve vápně nedovoleně, tudíž k dovršení "bůra" pomohla penalta.</p>  
                    <section class="info">
                        <p><em>Zápas: </em> Staré Hradiště - Morašice 5:0</p>
                        <p><em>Žluté karty: </em> M.Chmelík</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Chmelík, M.Ropek, D.Kubeš, M.Klement - M.Štancl, J.Jokeš, J.Vosmek, Z.Škoda (P.Vomáčka) - M.Burian, M.Částek</p>
                    </section>
