---
title: Nejsme žádná kapela, abysme furt vyhrávali
date: 2011-09-08
---


      <p> Po drobném bloudění přírodou a kochání se krásami naší společné vlasti jsme se jen přeci sešli ke čtvrtému pokusu zkusit zase neprohrát. </p>
      <p> Již po několika minutách zápasu bylo zapotřebí trocha zvýšeného hlasu kouče na své svěřence, aby si střední záloha domácích neděla na hřišti co chce a potažmo nedošlo k průšvihu. Jinak šlo o krásnou prosluněnou sobotu, hráči na střídačce jsme se v klidu opalovali a ze spánku nás vytrhával pouze známý hlas s neustále se opakující větou: "Proč to nedáš z druhej?". Občas se k tomu přidalo nějaké to přirození, ale jinak pohoda.
      Chvílema se začalo zdát, že jsme začali přebírat otěže hry (to se tak říká) a pomalu se přesouvat k brance soupeře. Nejprve se několikrát nepovedlo odcentrovat Růžkovi, protože to ani nezkusil a pak svým typickým způsobem stojícího střelce na balónu se vydal na steč Jetmar. Soupeři neutekl, ale ušel a stejnou rychlostí vyslal i střelu na bránu. K překvapení brankáře Stolan míč skončil na tyči. My to také nečekali. Po faulu na Válka se k přímému kopu na příkaz trenéra postavil jeho bratr a domácí golman se mohl divit podruhé, to už jsme ale slavili vedení 1:0.
      A nyní právě přišel ten moment, kdy se nám přestalo zdát, že jsme lepší. Vedení nám vydrželo pouze chvíli. Chmelík musel do souboje ve vápně a opět venku, u Pardubic, v sobotu, penalta. A bylo po srandě. Za chvíli se ze zatím neznámých důvodů rozhodl jeden z domácích hráčů vystřelit cca ze 35 metrů a po šikovném odrazu míče od země Stolany vedly 2:1. Vyrování nám zhatila jediná věc. Praporčík. Vosmek zahrál přímý kop do vápna, kde po teči Válka dorážel do prázdné branky Růžek. Pomezní byl ale proti, zřejmě přešlap. Minimální brankový rozdíl udržel ještě v závěru první půle Andrle, když vytáhl ze šibenice míč na roh.
       </p>
      <p> Do druhého poločasu došlo v naší sestavě ke dvěma změnám s nadějí, že výsledek otočíme. Netrvalo moc dlouho a trenér jistě pochopil, že vystřídal pouze kus za kus :) Po centru Chmelíka Štancl nabídnul šanci Vomáčkovi, který v těžké pozici odmítl. V tomto poločase začalo narůstat nadstandartně číslo ukazující počet zkažených přihrávek na naší straně. Po centru do vápna se dostal Vomáčka do vzdušného souboje s golmanem. Následoval řev Vomáčky, následně řev domácích hráčů na Vomáčku, čehož využil Růžek a zblízka před poloodkrytou bránou trefil nohu obránce. Na druhé straně Jetmar poslal zkaženou přihrávkou Stolany do přečíslení, kde si domácí hráč udělal ze zbytku obrany kuželky a v klidu zvýšil na 3:1.
      Pár minut před koncem se po nahrávce Škody trefil do prázdné brány Vomáčka, ale to bylo od nás vše. Konec utkání se nesl v trochu vyhecovaném duchu a hrálo se spíš na to, kdo bude mít silnější nervy. Tenhle zápas jsme si prohráli vlastníma chybama, ale aby to všechno nebylo jen na nás, tak jak se říká, několik výroků sudích bylo opravdu nešťastných.</p>

                    <section class="info">
                        <p><em>Zápas: </em> &nbsp;Stolany - Morašice 3:2</p>
                        <p><em>Góly: </em> Pavel Kuta, P.Vomáčka</p>
                        <p><em>Žluté karty: </em> &nbsp;Pavel Kuta, M.Ropek, J.Vosmek</p>
                        <p><em>Sestava: </em> V.Andrle - M.Klement, M.Chmelík, V.Jetmar, T.Holomek (P.Vomáčka) - Pavel Kuta, J.Růžek, M.Ropek, J.Kubeš (M.Štancl) - J.Vosmek ,B.Válek&nbsp;</p>
                    </section>
