---
title: Turnaj morašických čtvrtí
date: 2011-07-07 20:00
---

                        V úterý 5.7.2011 se od 13 hodin konal na hřišti v Morašicích 13. ročník Turnaje morašických čtvrtí o Baziho pohár. Tradičně se sešlo šest mužstev z různých koutů Morašic: Františka, Hřbitovní kvítí, Kaučina, Mexiko, Říkovice a Za Rychtou. V roli obhájce loňského vítězství nastupoval tým z Kaučiny. Družstva byla rozlosována do dvou skupin, ze kterých vítěz postupoval přímo do semifinále a družstva z druhých a třetích míst mezi sebou sehrála čtvrtfinálová utkání.<br><br>
          <p><strong>Skupina A</strong></p>
          <p>Mexiko - Říkovice 2:3, Mexiko - Kaučina 0:2, Říkovice - Kaučina 1:1
          </p><p><strong>Tabulka:</strong> 1. Kaučina 4 body / 3:1, 2. Říkovice 4 / 4:3, 3. Mexiko 0 / 2:5<br><br>
          </p><p><strong>Skupina B</strong></p>
          <p>Františka - Za Rychtou 0:0, Františka - Hřbitovní kvítí 1:0, </p><p>Za Rychtou - Hřbitovní kvítí 1:1
          </p><p><strong>Tabulka:</strong> 1. Františka 4 / 1:0, 2. Za Rychtou 2 / 1:1,</p><p>3. Hřbitovní kvítí 1 / 1:2<br><br><br>
          </p><p><strong>Čtvrtfinále:</strong>Říkovice - Hřbitovní kvítí 1:1 (pen.1:3), Za Rychtou - Mexiko 1:1 (pen.2:3)<br><br>
          </p><p><strong>Semifinále:</strong>Františka - Hřbitovní kvítí 4:1, Kaučina - Mexiko 1:2<br><br>
          </p><p><strong>O 5.místo:</strong>Za Rychtou - Říkovice 0:2<br><br>
          </p><p><strong>O 3.místo:</strong>Hřbitovní kvítí - Kaučina 3:2<br><br>
          </p><p><strong>Finále:</strong>Františka - Mexiko 5:0<br><br>
          </p><p><strong>Nejlepší střelec:</strong> Jakub Nováček (Říkovice) 6 gólů</p><p><strong>Nejstarší účastník:</strong> Bartoš (Říkovice)</p><p><strong>Nejmladší účastník:</strong> Martin Ropek jr. (Františka)</p><p><strong>Vítěz penalt:</strong> Jiří Famfulík (Za Rychtou)</p><p><strong>Vítězka penalt:</strong> Míša Lněničková (Hřbitovní kvítí)<br><br>
          </p><p>V základních skupinách jako tradičně téměř o nic nešlo, takže se hrál fotbálek lahodící oku morašického i říkovského diváka. Obě skupiny byly velice vyrovnané, v áčkové skupině o vítězi rozhodl poměr branek, který měli lepší obhájci z Kaučiny. Následovaly čtvrtfinálová utkání, ve kterých se z vítězství radovali borci Hřbitovního kvítí a Mexika, v obou utkáních musel rozhodnout rozstřel ze značky pokutového kopu. V semifinále se opět potkali Františka s Hřbitovním kvítím a díky volbě hlavního pořadatele, že se utkání sehraje na hřišti u laviček, zvítězili Františka 4:1. Ve druhém semifinále se opět opakovalo utkání ze skupiny, tentokráte zvítězil účastník Copa America mužstvo z Mexika. Utkání o 5. místo zvládli lépe Říkovice a utkání o bronzovou medaili Hřbitovní kvítí, takže obhájci loňského triumfu obsadili 4. příčku. K finálovému utkání nastoupili vítězové z roku 2009 Františka proti vítězům z roku 2007 Mexiku. Utkání už přihlížel i nejvěrnější fanoušek Mexika Zbyňďa, ale i tak odešli vítězně z tohoto utkání hráči z František.
          </p><p>Na závěr turnaje proběhla soutěž o nejlepšího střelce a střelkyni penalt. V kategorii můžů zvítězil Jiří Famfulík a katerorii žen ovládla již tradičně Míša Lněničková. Bohužel, i když se turnaj hrál v přátelském duchu, nepodařilo se nám naplnit jeho krédo, aby jsme ho všichni absolvovali bez zranění. Proto přejeme Jirkovi Lněničkovi a mladému Proškovi brzké uzdravení. </p>

