---
title: U mnohých premiéra
date: 2011-09-22
---



      <p> Nové dresy je vždy třeba správně pokřtít, u většiny mužstev to většinou bývá výhrou. Jsem si jist, že na tuto premiéru nikdo z nás dlouho nezapomene. Není zrovna ideální čas na rozsáhlé politicko - ekonomické disputace a hledání oné úhlavní chyby, proč
      došlo k tomuto zaokrouhlenému výsledku. Je zbytečné rozebírat i zápasové akce, neboť jména domácích hráčů moc neznám. Z naší strany vykoukly ven pouze 2 vlaštovky. Nejprve Venda Jetmaru nesnesl na těle nový neopotřebovaný materiál bez syntetických vláken v podobě bílého dresu. Rozhodčí měl okamžité pochopení pro jeho náhlou frustrující situaci a poslal ho do civilního oblečení.
      Tou druhou, podstatně světlejší byl Zdenda Škodu, který využil jednoho nedorozumění valských a svým nájezdem z poloviny hřiště snížil na 6:1 a nám dal pevnou jistotu, že po zápase nebudeme muset podlejzat hrací plochu, jak tomu bývá v malém fotbálku. Pokud v tomto zápase máme najít něco pozitivního, tak musíme opravdu důkladně hledat.</p>

                    <section class="info">
                        <p><em>Zápas: </em> Valy - Morašice 10:1</p>
                        <p><em>Góly: </em> Z.Škoda</p>
                        <p><em>Žluté karty: </em> Petr Kuta, M.Chmelík, M.Prešinský</p><p><em>Červené karty:&nbsp;</em>V.Jetmar<br></p>
                        <p><em>Sestava: </em> &nbsp;M.Prešinský - M.Klement, M.Chmelík, V.Jetmar, T.Holomek - Pavel Kuta, J.Růžek (J.Jokeš), M.Štancl, J.Kubeš - P.Vomáčka (Petr Kuta), Z.Škoda (J.Kopecký)</p>
                    </section>
