---
title: Zimní příprava
date: 2012-01-25
---

                        <div class="center"> 
        Treninky zůstávají standartně <strong>úterý</strong>, <strong>čtvrtek</strong> od <strong>17:30</strong>. Stále se běhá i po venkovních komunikacích, tak se na to patřičně ustrojte. <br><br><br>
        <strong>ZIMNÍ TURNAJ v LITOMYŠLI na umělé trávě</strong><br><br>
        </div>
        SO - 4.2.2012 v 11:00 Kameničky - <strong>Morašice</strong> 6:1 (M.Burian) <br>
        SO - 18.2.2012 v 9:00 <strong>Morašice</strong> - Litomyšl  1:2 (M.Ropek)<br>
        SO - 25.2.2012 v 8:30 Svitavy B - <strong>Morašice</strong> 1:1 (Z.Škoda) <br>
        ČT - 1.3.2012 v 16:00 <strong>Morašice</strong> - Dolní Újezd 1:5 (M.Klement)<br>
        SO - 3.3.2012 v 11:00 Cerekvice - <strong>Morašice</strong> 4:2 (2x B.Válek)<br>
        SO - 10.3.2012 ve 12:00 <strong>Morašice</strong> - Libchavy 2:2 (2x Z.Škoda) <br>
        NE - 18.3.2012 ve 14:00 <strong>Morašice</strong> - Litomyšl B 2:4 (Z.Škoda, Pvel Kuta) <br> <br>  
        

