---
title: Premiéra nevyšla
date: 2012-03-28
---


<p> V relativně hojném počtu jsme odcestovali do Živanic, odkud jsme chtěli zpátky přivést nějakým způsobem 3 body, které by se nám na chvostu tabulky docela hodily.</p>
<p> První poločas probíhal podle tohoto scénáře: Domácí se myslím docela rádi ujali převahy v držení míče, ale nějak se jim nedařilo projít až k Lněničkovi. Na druhé straně po centru Válka minul v těžké pozici poloprázdnou bránu Škoda. Klement ji po lajnovém průniku zase o chlup přestřelil. Živanice hrozili jen z rohových kopů, respektivě z jejich dorážek, ovšem mezi tyče míč snad ani nezamířil, čili Lněnička byl téměř bez práce.</p>
<p> Do druhého poločasu nahradil flegmaticky a tužkově hrajícího Štancla, na kterého možná ještě působily 14 dní staré dozvuky srazu abiturientů, Jetmar. A hned po pár minutách na hřišti se mohl uvést gólově, nebo alespoň střelecky, kdyby si ve slibné pozici nepřehodil míč na "lepší" nohu. Do obdobné pozice se prodral také Škoda, ale vedl si podobně. Do třetice mohl Škoda otevřít skóre už nevim po jaký akci, trefil tyčku, míč se motal na brankový čáře a dokonce ani Pavel Kuta nebyl schopen ho dopravit do sítě. Chvílema to vypadalo, že domácím dochází dech.
Kyslíkový přístroj jsme jim přiložili sami podle generacemi a Mírou Bosákem tolik omílaného pořekadla - Nedáš, dostaneš. Stačil k tomu jeden zbytečný rohový kop, zachrápnutí Válka a vypadalo to úplně stejně jako v prodloužení na Euru 2004 proti Řekům. Bodový zisk mohl ještě zařídit Burian, který se ocitl v celém velkém vápně sám, teda i s domácím brankářem. Jenže... Míč si zpracovával normálně tak, že byl najednou zády k brance a po kontaktu s golmanem se poroučel k matičce zemi. Bury má sice postavu, která by ustála i srážku s vycházkovým tankem z dob Wermachtu, ale tohle ho položilo úplně. Škoda, že hrajeme fotbal a ne hokej, protože bychom určitě na místě
žádali o přezkoumání videa, zda se nejednalo o penaltový zákrok. Je vidět, že i v takovýchto soutěžích chybí brankoví sudí, kteří by takovéto momenty měli jak se říká přímo na talíři:) Na konci zápasu Lněničku ještě vylekal z půlky výbornou ranou domácí kapitán, nebo nějaký jeho kolega.</p>
<p>Bohužel již není na co čekat a jak bývá v našich jarních bojích zvykem, opět musíme, takže uvidíme s čím připluje Titanic.</p>

<section class="info">
    <p><em>Zápas: </em> Živanice - Morašice 1:0</p>
    <p><em>Sestava: </em> J.Lněnička - B.Válek, M.Chmelík, M.Ropek, T.Holomek - J.Jokeš, Pavel Kuta, M.Klement, M.Štancl (V.Jetmar) - M.Částek (M.Burian), Z.Škoda (J.Kubeš)</p>
</section>
