---
title: Boršov - Morašice B <em>1:1 (1:1)</em>
date: 2012-09-02 20:00
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR2/2012-2013/TJ Sokol Morašice B/198.html
---

<img alt="" class="right" src="/public/images/zapasy/borsov-morasice.png" />
<p>Po středeční remíze v Chornicích jsme měli opět velké starosti s odjezdem na utkání do Boršova, někteří hráči měli bolavá záda, krmení dobytka nebo turnaj ve fotbálku v sousední vesnici. Štěstí se na nás ale usmálo a odjížděli jsme v počtu <strong>13ti hráčů</strong>. V základní sestavě nastoupil na pozici stopera nejzkušenější morašický hráč <em>František Ropek</em>, který s <em>Pepou Kopeckým</em> na středu zálohy dali součtem věků skoro stovku. Právě Pepa byl tím, kdo otevřel skóre zápasu. Po standardní situaci dopravil levačkou balon za brankovou čáru. Domácí ihned zareagovali a začali se tlačit před naší bránu. Vše tam však řešil Franta Ropek nebo brankář Michal Prešinský. Ještě do poločasu však domácí vyrovnali a do kabin se šlo za stavu <strong>1:1</strong>. Ve druhém poločase hnali fanoušci své hráče dopředu, ale nikdy z toho nic nebylo. V <em>80. minutě</em> šel sám na branku Pavel Mach, ale se strachem, aby nepřekopl, trefil brankáře do těla. Zanedlouho zazněla píšťalka rozhodčího, který zápas ukončil. Výsledek 1:1 byl pro nás opět velmi přijatelný.</p>
