---
title: Chornice - Morašice B &nbsp;<em>0:0</em>
date: 2012-09-02 10:00
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR2/2012-2013/TJ Sokol Morašice B/196.html
---


                        <p>Ve středu 29.8. jsme s béčkem odjeli na mistrovské utkání do Chornic u Jevíčka. Jelikož středa byl pracovní den, tak mnoho hráčů na tento mač z důvodu výkonu zaměstnání nemohlo jet. Museli jsme si vystačit s <strong>desíti hráči</strong> (alespoň jsme ušetřili za prášek na praní). Tuto zkušenost už jsme jednou měli, když jsme z Linhartic v deseti přivezli 1 bod za remízu 2:2.&nbsp;</p><p>Postavení v tabulce nás a soupeře bylo velmi rozdílné. První Chornice čekali, že rozstřílejí poslední Morašice, ale to se tak nedělo. První šanci zápasu jsme měli my, když v <em>10. minutě</em> zachránilo domácí břevno. Na druhé straně nás podržel brankář Michal Prešinský, který zlikvidoval všechny šance domácích a že jich pár bylo. V <em>88. minutě</em> jsme se dostali do brejku, ale tváří v tvář s brankářem balon skončil vysoko nad. Z Chornic jsme tedy odvezli 1 bod, který nás stál hodně sil.</p>
