---
title: Fotbal a hokej na konec roku
date: 2012-12-12
---

                        <p>S blížícím se kalendářním závěrem je ještě možnost se naposledy zpotit.</p><p>A to v <strong>pondělí</strong> <strong>17.prosince 2012</strong> od <strong>19:30</strong> v <strong>Městské sportovní hale v Litomyšli</strong> (za III.ZŠ). Jen podotýkám, že se bude hrát něco na způsob fotbalu, takže hokejky můžete nechat doma.</p><p>Ty si vemte až ve<strong> čtvrtek 27.prosince 2012 v 16:00</strong> na <strong>zimní stadion</strong> v <strong>Litomyšli</strong>, kde je zamluvená ledová plocha.</p><p><br></p><p>No a všechno nejlepší do nového roku si popřejeme na silvestra <strong>31.12.2012</strong> na hřišti v <strong>Morašicích</strong>, kde od <strong>10:00</strong> vypukne klasický fotbalový souboj starý x mladý, v našem případě možná starý x ještě starší.</p>
