---
title: "Tomáš Holomek mistrem Tip-ligy: Škoda, že už jen tipuje... :-))"
date: 2013-06-20
---

<p><a href="http://svitavsky.denik.cz/fotbal_region/tip-liga-mistrem-jarni-souteze-je-tomas-holomek-20130619.html">http://svitavsky.denik.cz/fotbal_region/tip-liga-mistrem-jarni-souteze-je-tomas-holomek-20130619.html</a></p>
