---
title: Skvěle hrající Morašice nenadchly
date: 2013-05-19
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/155.html
image: /public/images/zapasy/jiskra-litomysl-morasice.png
---

<p>Z posledních novinových článků čekal možná každý druhý nezaujatý fanoušek okresního fotbalu příděl branek do domácí sítě. Jenže po sobotním derby se ukázalo, že opěvování bylo způsobeno spíše neinformovaností novinářů, neboť není všechno zlato, co se třpytí. Vzhledem k tomu, že na trénink se průměrně dostaví 4,12 hráče, včetně trenéra a brankáře, tak forma logicky nemůže jít nahoru. Takže pokud si někdo&nbsp;v sobotu po obědě&nbsp;místo fotbalu vybral sledování&nbsp;Posledního mohykána&nbsp;s lahváčem v ruce,&nbsp;o moc nepřišel.</p>

<p>Přitom začátek vycházel podle představ. Již ve třetí minutě zahrával Kuta kousek od rohového praporku přímý volný kop a s pomocí brankáře Kačera, tyčky a Ropka jsme se dostali do vedení. Na kvalitním trávníku, ze kterého bolej nohy stejně jako u nás, nám postupem času dělalo největší problémy velké množství prostoru a času, což si dokážeme vysvětlit dost těžko. Místo abychom domácí dostali pod tlak, tak jsme učinili pouze pár planých pokusů o výpad za obranu. Vždy se jednalo o ofsajd. Prvním varováním byl rohový kop zahrávaný Benešem, který Lněnička vytěsňoval na břevno. O pár minut později Lněnička uklidňoval všechny přítomné, že jde míč za bránu, ten ale skončil na břevně a osamocený Janoušek v klidu vyrovnal. Do třetice musel Lněnička řešit ošemetnou situaci po průchodu Vaníčka do pokutového území. Zpětně mohu říci, že to vyřešil dobře, protože ho fauloval a následnou penaltu mu chytil. Nicméně, tak dlouho se chodí se džbánem pro vodu, až se z dálky krásně k tyči trefil Beneš a dokončil obrat skóre. Vyrovnat mohl Burián po závaru v šestnáctce, ale na malém vápně se míč odrazil od jeho opoceného čela (důvod nevstřelení branky) příliš vysoko.</p>

<p>Poločasová rozmluva přinesla zlepšení asi jen v tom, že už jsme si tolik nenadávali, jako v prvním poločase. Zhruba&nbsp;po deseti minutách hry pláchl po křídle Vaníček a z dobré pozice nastřelil boční síť branky. Z "protiútoku" (prostě jsme se nějak dostali k vápnu soupeře) poslal Zerzán skrz vápno balón, jenž prošel asi čtyřmi jeslemi a Burián prázdnou brankou tentokrát nepohrdl. No a to bylo asi tak všechno zajímavé a vážné, co se na hřišti dělo. Zápas byl chvílemi emočně dost vypjatý a nervy pochodovaly na každém kroku. Remíza je asi spravedlivá, protože kde nic není, ani smrt nebere. Diváků také mnoho nebylo, na to, že se jednalo o derby. Dokonce jsme všech devět přítomných podezřívali, že si spíš přišli zabrat ta nejlepší místa pro následující utkání domácího Áčka, které skončilo bez branek. Supr sobota :)</p>

<p>Po zápase jsme si všichni sedli a vyjasnili si, co vedlo ke ztrátě bodů na půdě posledního celku tabulky. Zapřemýšleli jsme i nad variantami nápravy. Seděli jsme však dlouho a poctivě, čili moc vzpomínek bych v paměti nehledal. Takže pro příští domácí zápas je vše opět otevřené a překvapení nejsou vyloučena.</p>
