---
title: Z "králíkárny" s prázdnou
date: 2013-05-05
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/142.html
image: /public/images/zapasy/kraliky-cervena-voda-morasice.png
---

<p>K nedělnímu zápasu se z různých důvodů nedostavilo hned několik hráčů ze "základu". Důvody jejich nepřítomnosti byly různé, počínaje manželkou a končeje přijímačkami na VŠ. Proto byl povolán stále nestárnoucí Franta Ropek a po zranění se do sestavy vrátil Milan Klement. Po nepříliš vydařeném vystoupení se Sebranicemi jsme se chtěli pokusit o nápravu.</p>

<p>Jenomže úvod tomu vůbec neodpovídal. Na hřišti, kde každá prudká změna pohybu stála hráče pád na hubu, jsme byli od začátku hodně pasivní a k míči jsme se pořádně dostali až asi po dvaceti minutách. Domácí tlačili, zahrávali nesčetně rohových kopů a můžeme být rádi, že jsme nenafasovali. Hra se v dalším průběhu pomalu vyrovnávala, ale přesto Králiky - Červená Voda (dále jen K-ČV) hrozily především z dlouhých pasů za obranu. Naši první střelu na domácí klec vyslal Štancl, ale bylo to z dálky a že by s ní měl brankář problémy se říct nedá. Přesto jsme mohli do poločasu vést, když Burián dostal přihrávku za beky, která byla ovšem o pá km/h rychlejší, tudíž u míče byl golman o pár pikosekund rychleji.</p>

<p>Druhý poločas byl podstatně vyrovnanější, než ten první, přesto se nám moc nedařil přechod do útočné fáze, takže se opět hrálo většinou na naší polovině. Do obrovské šance se dostal Burián, kdy ho vysunul Kubeš, ale ten před golmanem zaváhal a dovolil mu, aby si připsal důležitý zákrok. Pak naším vápnem propadl centr, který až nepochopitelně minul K-ČVský útočník před prázdnou bránou. Hlavně ve druhém poločase rozhodčí povolil trošku tvrdší metr, takže došlo i na menší strkanice. Třeba Martin Buriánu se přiblížil počtem zubů ke svému synovi. Některé zákroky nebyly možná úplně fér, ale faktem je, že domácí se s tím vyrovnali mnohem lépe než my.</p>

<p>Po jednom rohu hlavičkoval K-ČVský hráč lobem na břevno. Z přímáku Ropek hlavou v souboji s golmanem minul. Několik střel se nám povedlo před průchodem ke Lněničkovi zblokovat. Do vedení jsme ale mohli jít my. Klement přihrál na střed hřiště Štanclovi, jehož střelu brankář vyrazil pouze před sebe, jenomže dobíhající Zdenda ležícího brankáře nechal opět vyniknout. Škoda. Tak dlouho se chodí se džbánem pro vodu, až se ucho utrhne. Po jednom odraženém centru jsme si nedokázali přebrat probíhajícího soupeře, který dostal míč za obranu na hranici, možná trochu za hranicí ofsajdu a takovou polostřelonahrávkou vybídl kolegu, aby 3 minuty před koncem skluzem uklidil míč za bezmocného Lneničku. V poslední minutě ještě chytil brankář přímý kop, který šel na střed brány.</p>

<p>Musíme uznat, že domácí vyhráli zaslouženě. Byli lepší, důraznější, hlavně v prvním poločase měli hodně příležitostí. Králíkům upřímně přeji, aby postoupili, protože se mi k nim za rok už nechce. Je to daleko a prohrát zase gólem v předposlední minutě namíchne.&nbsp;My bychom měli ale zase zabrat, protože se tabulkou propadáme dolů. Nahráno ještě nemáme a bude to chtít ještě máknout. A trénovat.</p>
