---
title: Staré železo nerezaví
date: 2013-04-20
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/129.html
image: /public/images/zapasy/kuncina-morasice.png
---

<p>&nbsp;Po dosti vydařeném zápase s Ústím jsme zajížděli k soupeři, kde nás čekala bitva o&nbsp;šest bodů, protože i on se pohybuje v patrech, kde každá ztráta&nbsp;posune mužstvo&nbsp;o krok&nbsp;blíže k okresní propasti.</p>

<p>Utkání se začalo vyvíjet více než dobře. Asi ve druhé minutě zahrával z půlícího kruhu Kuta přímý volný kop a Ropek podruhé v krátkém sledu necelého týdne nastavil svou holou lebku, aby nás poslal do vedení. Jenže o tři minuty později Kuta špatným rozhodnutím ztratil na půlce míč, z čehož vyplynula standartní situace před naším vápnem. Potom možná aj roh, po jehož zahrání si Kuta s Jokešem dávali ve vápně kámen, nůžky, papír, kdo míč odkopne. Toho využil domácí Salter a bodlem k tyči vyrovnal. Pak&nbsp;to vypadalo jako když nám opět mrsklo, ztratili jsme nervy a dostali trému, protože jsme nebyli schopný předvést nic, co by stálo za zmínku v tomto deníku.&nbsp;A nebýt dvou výborných zákroků Lněničky, tak jsme tekli a kdo ví, jak by to nakonec dopadlo.&nbsp;Kunčina nás tlačila a my se k ohrožení domácí branky moc nedostávali. Když už, tak tomu vždycky něco chybělo. Většinou pořádná střela mezi tyče. Co šlo na bránu, to by zastavilo i větší hejno much. Z přímáků a rohů zase Burián s Kopeckým o fous míjeli. Když Kopecký jasně zastavil pronikajícího Spálenského, byla na řadě penalta. Tentokrát se nám všem ulevilo, protože&nbsp;na nikom neležela zodpovědnost jít pokutový kop proměnit. K míči se postavil Tlustoš a Lněnička ji chytnul tak na 90 %.&nbsp;Přesto to nestačilo a&nbsp;Kunčina po necelé čtvrthodině dokázala&nbsp;skóre otočit. Dál bylo k vidění hodně osobních soubojů, ale jinak se hra alespoň opticky vyrovnala. Pár okamžiků před pauzou jsme zahrávali přímý volný kop z poloviny hřiště. Kuta ho&nbsp;poslal na bránu a shodou všech okolností vylepšil své kanadské body v zápase na 1+1.</p>

<p>Jasně jsme si řekli, že úvod do druhého poločasu nesmíme prochrápat, ale hned po rozehrávce domácí zahrozili, když se z naší levé strany dostal míč do vápna a tentokrát zase hráli kámen, nůžky, papír Ropek s Vosmekem a nebýt Jirky (Vosmeka nebo Lněničky), dopadla by tahle akce hůř než rohem. Od nás se o zakončení pokusil Burián, ale minul. Vlastně prvním ohrožením branky jsme strhli vedení na naši stranu, kdy ideální roh poslal hlavou přesně k tyči duševně již vystřídaný Kopecký. Neuběhlo ani pár chvil a Kuta vyslal na steč do vápna Buriána, který nezazmatkoval, ale ani nepřekvapil, protože v dobré pozici zasekl, přehodil si míč na slabší nohu a když už nevěděl kudy kam, poslal míč levačkou k tyči a rázem se zdálo, že je rozhodnuto. Jenomže to bychom nebyli my, kdyby jsme z toho ještě neudělali drámo. Kunčina vrhla všechno do útoku. Párkrát se ze slibné pozice vyhnala snahou o ještě slibnější přihrávku, která nevyšla, jednou za Lněničku museli zasahovat obránci. No a pak přišel centr z levé strany, kdy už bylo bílých hráčů na naší polovině tolik, že prostě někdo musel být volnej. Míč se snesl na druhou stranu vápna, našel hlavu Hlubinky, který zrovna neoplývá vyšším vzrůstem a ten ho svící poslal zpět přes celé vápno Lněničkovi k tyči. Než míč zapadl za brankovou čáru, tak by televize Nova zvládla odvisílat reklamy během seriálu Ordinace v růžové zahradě, přesto tento časový úsek nestačil Lněničkovi, aby zabránil snížení. Přesto jsme mohli vítězství o dvě branky obhájit. Štancl protlačil míč přes dva hráče a najednou jsme šli z poloviny hřiště tři hráči na brankáře. Bohužel jsme se nedostali ani za středový kruh, neboť Honza Mesárč zvolil nahrávku rychlejšímu Válkovi, který stál v chlupovém ofsajdu.</p>

<p>Konečný hvizd nás posunul v tabulce do trochu klidnějších vod, ale chce to pokračovat i nadále, neboť v tomto zápase byli domácí lepšejší, my jsme toho kromě bojovnosti dopředu moc nepředvedli, ale stačilo to. A znovu se ukázalo, že nesmíme zapomínat na internacionály v našem mančaftu, protože oni ještě zastanou fůru práce. Statistiku jim sice trochu pokazil Burián, ale jinak si Petr Kuta vybíral ke skórování pouze a jedině své vrstevníky.</p>
