---
title: Kunčina B - Morašice B <em>4:0 (1:0)</em>
date: 2012-08-27
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR2/2012-2013/TJ Sokol Morašice B/194.html
image: /public/images/zapasy/kuncina-morasice.png
---

<p>Po 14ti denní pauze odjelo béčko ke druhému ze šesti po sobě jdoucích zápasů hrajících na hřištích soupeřů a opět se moc nedařilo. V prvním poločase jsme byli lepším týmem, ale po chybě na pravé straně obrany nechali hráči samostatný průnik na naší branku a zničeho nic jsme prohrávali <strong>1:0</strong>. Za deset minut jsme mohli srovnat, ale Stoupa (David Bakeš), který dostal nádhernou přihrávku za obranu od Pepy Kopeckého, minul jen o pár centimetrů branku. Ve druhé půli jsme měli asi desetiminutovou převahu, ale pak se vše obrátilo a domácí nám uštědřili ještě tři branky.</p>
