---
title: Tak končí naše komédie
date: 2013-06-15
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/181.html
image: /public/images/zapasy/lanskroun-morasice.png
---

<p>V kabině jsme se sešli v deseti a čekali až přijedou posily z béčka ze zápasu v Třebářově. Chyběli Škoda, Štancl, Vosmek a Zerzán.</p>

<p>Domácí nás od začátku zmáčkli a po nevydařeném odvrácení rohu poslali ve 3. min. centr zpět do vápna, kde zůstal osamocený jejich útočník a hlavou skóroval do protipohybu Lněničky. Domácí nás neustále přehrávali, po malé krátké vysoké domů od Chmelíka nastřelil Ozzy záda domácího útočníka, od kterého se z vápna odrazil míč do náší svatyně. Třetí nebo nevím, jestli to nebyl druhý gól si nepamatuju. Do kabin se šlo za stavu 3:0.</p>

<p>Ve druhém poločase šli domácí několikrát sami na Prešinského, ale buď netretili bránu nebo zasáhl Míša Préša. Druhé dějství bylo vyrovnanější než první, i my jsme měli několik slibných šancí, Kléma sám na brankáře, Štancl V. hlavičkoval po rohu těsně vedle domácí branky. Kýženého gólu jsme se dočkali až patnáct minut před koncem, kdy levou nohou prostřelil brankáře křížnou střelou Klement.</p>

<p>Do konce se už skóre nezměnilo, a tak jsme mohli být rádi, že letošní sezóna už končí...<br />
&nbsp;</p>
