---
title: Letní příprava
date: 2012-07-10
scortes: 
image: 
---

                            <div class="center"> 
        
        Tréninky do začátku sezóny 2012/2013 jsou společné pro <strong>A</strong> i <strong>B - mužstvo</strong> a začínají ve <strong>čtvrek 12.7.2012</strong> od <strong>18:00</strong><br>
        <strong>Následující tréninky:</strong><br>
        <strong>SO</strong>boty - <strong>17:00</strong><br>
        <strong>ÚT</strong>erky - <strong>18:00</strong><br>
        <strong>ČT</strong>vrtky - <strong>18:00</strong><br>
        S sebou i obuv na výběhy po okolních luzích a hájích<br>
        </div>
        <strong>Přátelské zápasy:</strong><br>
        NE - 22.7.2012 v 17:00 <strong>Morašice</strong> - Krouná<br>
        SO - 28.7.2012 v 17:00 <strong>Morašice</strong> - Česká Třebová (pohár)<br>
        NE - 5.8.2012 v 17:00 <strong>Morašice</strong> - Kameničky<br>
        SO - 11.8.2012 v 17:00 Sebranice - <strong>Morašice</strong> (mistrovský zápas)<br>  


