---
title: Poslední kapka
date: 2012-10-09
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/64.html
image: /public/images/zapasy/morasice-jiskra-litomysl.png
---

<p>Na zápas proti Litomyšli jsme se scházeli hůř než švábi na pivo. Nechybělo moc a základní jedenáctka by musela dostat nový název. Náš spolek, po většinu času tvořen humorem a nadsázkou, začínal dostávat povážlivé trhliny.</p>

<p>Ač první půle nedopadla k naší spokojenosti, hosté se k vážnější šanci nedostali. Nám se přechod do útoku dařil také zřídka, ale šance přesto byly. A ne malé. Štancl po nahrávce Holomka netrefil branku a dobíhající Škoda doběhl pozdě. Vomáčka v kvalitní pozici volil místo střely nahrávku, bohužel do rukavic Krále. Ropek po rohovém kopu nedokázal vrazit míč do prázdné branky. A jako poslední zaskočil hosty přímý volný kop Chmelíka, který propadl těsně vedle brány.</p>

<p>Druhá půle byla odfláklá.&nbsp;Na&nbsp;to,&nbsp;že&nbsp;to&nbsp;bylo&nbsp;derby&nbsp;až&nbsp;příliš&nbsp;bezkontaktní. Bez chuti a zápachu. Hosté 3x utekli, čímž si vypracovali dostatečný náskok a zaslouženě vyhráli.</p>

<p>Nejen kvůli druhému poločasu jsme přišli o trenéra. To ho v odchodu spíš jen utvrdilo. Každej na tom máme menší, bo větší vinu. A jestli si nevyndáme hlavy ze zadku a místo keců nezačneme pro zlepšení situace něco dělat, tak Petr nemusí být poslední kdo odejde.</p>

<div>
<h3>Komentář trenéra Petra Kuty</h3>

<blockquote>Derby mělo alespoň podle mého přinést dramatický zápas se spoustou osobních soubojů, důrazu a nasazení. Nic takového se nedělo, z naši strany opět jasný pouťák bez chuti od některých našich se porvat o dobrý výsledek, i když v první půli se mohli střelit dva až tři go'ly, druhý poločas byl hodně odevzdaný. Nepřispělo tomu ani předzápasové čekání jestli se vůbec mužstvo sejde v počtu dostačující zahajit hru. To se nakonec stalo, ale to není nic co by mělo být vůbec oslavováno,neboť 11hráčů příchozích na zápas není to pravé ořechové. Všechny tyto střípky rozhodli že jsem se definitivně rozhodl ukončit působení jako trenér u A mužstva mužů. Přeji vám ať se vám přeci jen začne dařit lépe než doposud!!!</blockquote>
</div>
