---
title: Jsme zase o krok před nimi
date: 2013-05-12
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/146.html
image: /public/images/zapasy/morasice-semanin.png
---

<p>Výhra proti Semanínu se rovnala téměř povinnosti, neboť se slušelo jim oplatit podzimní porážku a také&nbsp;to znamená další ukotvení v klidných vodách tabulky. Počasí nám opět přálo, čili se nemuselo hrát na poušti a výše trávy zbrzďovala míč natolik, že nemusel utíkat ani těm méně nadaným z nás.</p>

<p>Od začátku zápasu jsme měli jakous-takous převahu. Akorát se nedařilo žádnou akci dokončit s příznivým rozzuzlením. Ať už z rohů, nebo ze střel kolem vápna jsme branku prakticky neohrozili. Zkoušeli to Kopecký hlavou a i Škoda s Chmelíkem nepochodili. Vyšlo to až při závaru v šestnátce, kam poslal centr Válek a Štancl takovou polostřelonahrávkou&nbsp;zastihl v dráze letu&nbsp;Buriána, který hlavou prodloužil trajektorii míče za bezmocného brankáře. Bohužel&nbsp;jsme pak nějak vyčichli nic dalšího se neudálo. Hosté&nbsp;dokázali&nbsp;z ojedinělé šance na konci poločasu vyrovnat. Útočník dostal ideální pas za obranu, Vosmek se na něj snažil pověsit, ale marně. Se sólem si poradil velice dobře. Před vápnem vystřelil po zemi přesně k tyči a bylo hotovo.</p>

<p>Druhá půle byla lepší aj živější, i když to zpočátku tak nevypadalo. Semanín se dostal do tlaku a my jsme jim laxním přístupem dovolili průchod až vápnu. Dá se říct, že nás nakopla vedoucí branka, kterou zařídil opět Burián, když si naběhl na zadní tyč, kam se snesl centr Štancla. Míč poslal s pomocí tyče do branky. Pár minut před tím postupoval Burián do šance, kterou se rozhodl rešit nahrávkou na Škodu, což se ukázalo jako ne zrovna ideální řešení. Do velké šance se dostal Válek, ale jeho střela byla zblokována. Z rohového kopu našel Kuta přesně Ropka, který přesně navýšil skóre o dvě branky. Centrujícímu Kutovi se dostalo potlesku na otevřené scéně z odlehlé lavičky, kde seděl ještě svobodný Pepa Jokšu, který "ukončil" aktivní kariéru, s nastávající. Válka vystřídal Zerzán, který po několika vteřinách na hřišti mohl trefit do černého. Nahrávku mezi beky ovšem zakončil pouze do brankáře. Situaci jsme si zkomplikovali po ztrátě míče na půlce a druhým sólem soupeře, který si v zakončení počínal stejně chladnokrevně jako v původním případě. Na přímý kop Kuty si na zadní tyči vyskočil Burián a vrátil míč před prázdnou bránu, kde před Chmelíkem stála jenom síť. Nevím co se stalo, ale najednou hlavičkoval Škoda do břevna a nic. Do další tutovky se opět z pravé strany prodral Škoda, jenže golman hostí byl&nbsp;zase proti. Pár minut před koncem vyslal Zerzán do laufu samotného Kutu, který namířil chladnokrevně po zemi k tyči. Míč skončil pod břevnem a tím bylo prakticky rozhodnuto o konečné podobě výsledku.</p>

<p>Výhrou o dvě branky jsme získali lepší vzájemný zápas, což je bod navíc. Smůla, že jsme nedokázali proměnit větší množství&nbsp;šancí, kterých jsme měli po delší době opět víc než dost, čímž pádem jsme se museli zbytečně strachovat v určitých fázích zápasu o výsledek. Za týden nás čeká v sobotu derby s Litomyšlí, které by chtělo též vyhrát, aby následné veselí probíhalo s lepší náladou hned od začátku.</p>
