---
title: Z mušky zlaté masařka
date: 2013-05-01
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/100.html
image: /public/images/zapasy/morasice-sebranice.png
---

<p>K prvnímu máji i odloženému zápasu jsme byli nuceni sestavu promíchat, neboť se z různých důvodů nesešli všichni aktéři.</p>

<p>Co se týče úvodního poločasu tak mohu směle říci, že až na světlé vyjímky jsme byli o něco aktivnější. Jedná se ovšem řádově o desetiny procent. Střelu Štancla z velkého vápna zablokovala obrana. Šance Škody a Kuty mířily zase vysoko nad. Burián si vkusně narazil míč s Kutou a dostal se až sám před brankáře, který rychlým vyběhnutím zabránil Buriánovi ve střele. Zahrávali jsme i dostatek standartních situací, ale ve vápně hrubě chyběl důraz, takže s eliminací míče neměl sebranický golman větší problémy.&nbsp;Fotbalovosti vskutku mnoho nebylo, o vzruch se spíše staral opakovaně sebranický kapitán, který si zřejmě pásku na levé paži přiškrtil příliš a návalu krve jeho psychicky verbální soustava podléhala v pravidelných intervalech. Hosté se dostali do tlaku až v závěru první půle, kdy několika střelami ohrozili branku. Zvláště ta poslední, kdy Lněnička výborně zlikvidoval únik soupeře zvyšovala šanci na zisk bodů.</p>

<p>Druhý poločas byl vážně skvostný. Hned od začátku jsme si nedůsledností a lajdáctvím koledovali o nafasování. Soupeř se obrazně řečeno dostal na koně a my jsme ho po zbytek zápasu nebyli schopni z něj sundat. Naši ojedinělou šanci, která by stála za zmínku zařídili starý známí - Kuta z lajny odcentroval do vápna, kde si míč našel Buriána a ten v souboji přetlačil soupeře a procpal vítězný balón do sítě. Do konce zbývalo ale ještě hodně zim a nervy dostávaly pořádně zabrat. Nebudu tady vypisovat všechny šance Sebranic, protože si je už ani nepamatuju a nerad bych na někoho zapomněl, ale kolikrát jsem se až divil, jak je možný, že není vyrovnáno. Kromě nervů trpěla také krční páteř, protože člověk si při sledování míče připadal jak na tenise. Se závěrečným hvizdem se ulevilo.</p>

<p>Domnívám se, že jsme ve středu před zápasem místo svých drahých lásek líbali pod rozkvetlou třešní paní štěstěnu a nám to teď oplatila. Byl to na jaře náš nejhorší zápas a jak zní dlouho omleté klišé, musíme na něj rychle zapomenout. Soupeři se na něj bude zapomínat určitě hůř. Stávají se horší věci, nikomu se nic nestalo, máme další tři body a to jsou fakta, která se nezmění. My doufáme, že po dnešku nějací fanoušci příjdou i příště a my se polepšíme. Snad.</p>
