---
title: Soutěž zachráněná, hledíme dopředu
date: 2013-05-26
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/161.html
image: /public/images/zapasy/morasice-slovan-moravska-trebova.png
---

<p>Se stále se blížícím létem nám počasí neustále ubírá i tu špetku diváků, kteří mají to srdce přijít na domací zápasy místního Áčka. Ceníme si toho, že přes naše výkony a nízkou teplotu zůstali až do konce.</p>

<p>Když už jsme se konečně rozhodli v jaké kombinaci dresů nastoupíme, přivítali jsme na semtam trávníku béčko Moravské Třebové, kde při podzimním vzájemném střetnutí rezerva zvítězila 2:1. Celý první poločas probíhal formou nepřesných přihrávek, vyčítavých pohledů a hlasitých povzdechů. Dva jakýkoliv hráči si nebyli schopni vyhovět, z čehož těžil soupeř. Nejprve rohy, později i přímáky. K vážnější střele se díky Bohu nedostal. Naši největší šanci propásl asi o deset centimetrů Burián, na jehož hlavu se snesl rohový kop Kuty. Kuta pak také mířil po nahrávce před vápno asi o 46,5 cm vedle levé tyče. Nedařilo se projít na polovinu soupeře po zemi, ani vzduchem. Což logicky vedlo k trestu. Burián v dostatečné vzdálenosti od brány dobře zabojoval v souboji, sice s faulem, ale snaha se cení. Centr do vápna nasměřovala na branku hostující lebka a Prešinský si připsal dobrý zákrok, jenže míč mu při dopadu na zem vypadl a skončil v síti. Před koncem poločasu měl ještě Prešinský starosti s nepříjemnou střelou ze střední vzdálenosti.</p>

<p>V hrobovém přestávkovém tichu bylo jasné, že takhle asi ne. Tudíž jsme změnili přístup, poté i rozestavení a začali jsme se dostávat do mírného tlaku. Vyrovnání přišlo po pěkně sehrané akci Zerzána s Ropkem, kdy vymíchali dva protihráče a Zerzánův centr na zadní skončil s pomocí tyče v bráně. Podal si ruku s otcem a vraceli jsme se zpět na vlastní polovinu. O vedení se snažil nejprve Kuta, jehož střela měla spíše stagnující parametry. Poté pohledný přímák o chlup minul Ropek s Buriánem. Další pokus o steč&nbsp;hostující&nbsp;svatyně již vyšel. Dlouhý balón křížem&nbsp;na obranu prodloužil Burián a třebovský bek si pod tlakem chtěl pomoci&nbsp;zřejmě malou domů, kterou důmyslně vystihl novopečený ženáč Válek a procpal míč pod padajícím brankářem podruhé do sítě.&nbsp;Hosty mohl dostat na koně ještě Vosmek, který dostal&nbsp;přísnou druhou žlutou kartu za to, že se při odkopu od branky na poslední chvíli rozmyslel a&nbsp;chtěl změnit své rozhodnutí.&nbsp;V samém závěru si ještě Kuta přehodil míč na levačku a z hranice vápna vypálil pod břevno. Radost mu sebral golman, který míč s potížemi vyrazil na roh. Nejednoho diváka pobavila momentka, kdy Burián vyslal do laufu za obranu Kutu. Hned jak si všiml o koho se jedná, procedil skrz ústa hlubokou omluvu: "Ty vole, to seš ty :)" Nic víc se již nestalo a zápas skončil. Jen co jsme si se soupeřem podali ruce na známku přátelství, vydali jsme se do polí. Po půlhodinovém prohledávání olejky rojnicemi ve formacích 4-4-3 a 1-3-6-Kuťák jsme s údivem zjistili, že&nbsp;v zemědělské půdě,&nbsp;o rozloze asi 4 ha, nenajde míč&nbsp;ani dobře organizované komando.</p>
