---
title: Zákopová válka
date: 2012-08-19
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/12.html
image: /public/images/zapasy/morasice-ceska-trebova.png
---

<p>&nbsp;Třebovské Áčko se u nás představilo nedávno a zanechalo v našich srdcích ne zrovna příjemné vzpomínky. Jejich mladá rezerva taky nevypadala zrovna jalově.</p>

<p>Zápas se vyvíjel vcelku vyrovnaně, jak bývá našich zvykem, tak jsme na šanci trpělivě vyčkávali. Soupeř naštěstí použil stejnou taktiku. Když to nešlo po zemi, tak se to zkusilo vzduchem. Válek z půlky našel Vomáčku, který se snažil rozhejbat libera. Po pěti planých pokusech ho obstřelil a nás poslal do kabin s vedením.</p>

<p>Druhý poločas jsme strávili zakopaní v řadě před pokutovým územím, čímž jsme soupeři celkem usnadnili hru. Jeho tlak rostl v přímé úměře se stupni celsia na míctních teploměrech. Lněnička musel dvakrát vytáhnout něco kvalitnějšího ze své knihovny. Když zastavil sólo v 90.minutě, zrodil se rozhodující protiútok s naší druhou střelou v zápase. Hostující golman chytil míč před pokutovým územím a z nařízeného přímého kopu Vosmek pečetil naši udrženou výhru.&nbsp;</p>

<div>
<h3>Komentář trenéra Petra Kuty</h3>

<blockquote>Zápas, kde první poločas byl vyrovnaný a drůhý jednoznačně v režii soupeře přinesl tři pozitivní a tři negativní zjištění. 1.zdá se že máme dostatek hráčů, 2 i v ve velkém teple svedeme běhat 3 máme stoprocentní uspěšnost střel směrem na bránu (2x2). 1 Brankaři teplo moc nevyhovuje, 2 nedovedeme bránit ,když se dostaneme pod souvislý tlak, 3 stále si nedovedeme vypracovávat jakékoli střelecké pozice. Věřím že to pravidelnou účastí všech hráčů na trénincích můžeme zlepšit</blockquote>
</div>
