---
title: A jde to i bez chlastu
date: 2012-09-24 20:00
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/51.html
image: /public/images/zapasy/morasice-kraliky-cervena-voda.png
---

<p>S novými tuzemskými posilami jsme vyprahlí, po nucené týdenní abstinenci, doufali, že konečně znovu zvítězíme a předvedeme výkon, po kterém nezbyde jen stud a hamba.</p>

<p>Začátek zápasu tomu ovšem opět nenapovídal. Soupeř byl u většiny míčů první a my přicházeli do soubojů tak rychle asi jako zákazníci ve frontě k pivu v místním pohostninství. Začáteční flegmatika vygradovala po výrazně dlouhém autu soupeře, který ještě usměrnil Chmelík za bezmocného Lněničku. Tolik vlastních gólů, co jsme si dali za polovinu podzimu si dal snad jen hokejovej nároďák na MS v 97. Hra se pomalu začala vyrovnávat, ale k ohrožení branky jsme se tradičně moc nedostávali. Nový příchozí Schauer se sice dostával přes soupeře více než ostatní, ale buď minul, nebo ho neminuli hosté.&nbsp;To samé pociťoval technicky podobně obdařený králicko - červenovodácký&nbsp; hráč. V jednom momentě byl Burián ve vápně objímán až moc láskyplně, ale rozhodčí dočista zamrznul. Lněnička měl v první půli ještě dvakrát starosti.&nbsp;Nejdříve hosté zahráli šikovně přímý volný kop na branku s tečí a míč musel z čáry vykopávat až Ropek. Po centru z druhé strany zase útočník vracel hlavou pod sebe na vápno a střela o síle koně možná způsobila Chmelíkovi půltýdenní&nbsp;zácpu.</p>

<p>Po očekávané bouři v kabině,&nbsp;která proběhla v poklidném a otcovském rozhovoru před námi stál jasný úkol, otočit&nbsp;zápas. Proházela se sestava a smýšlení všech přítomných a šlo se na věc. Nemohu říct, že nás bylo plné hřiště, ale určitě nás bylo nejplněji za celý podzim. Podařilo se zredukovat hrubé chyby a dokonce přicházely i šance. Do jedné z nich krásně vysunul Buriána Vomáčka, který na svůj věk a množství zahozených šancí vyrovnal s naprostým přehledem. Největší nebezpečí z druhé strany pro nás byly vhazované auty, které se rovnaly rohovým kopům. Onehdá Vosmek nabídl míč Zerzánovi, který přes celé vápno našel Kubeše, jenž nevypustil a s nasazením vlastních nohou nás poslal do vedení. Výhru mohl pojistit Schauer, který se po uvolnění netrefil o fous na přední tyč, poté po malé domů o několik decimetrů přestřelil a asi 10 minut před koncem z otočky poslal míč zase do kopru. Domníváme se, že za tím stál fakt, který dává povinnost střelci při své první brance donést do kabiny lihovinu jakéhokoliv množství, což by nyní nešlo. Doufejme tedy, že prohibice nepotrvá příliš dlouho. V 90.minutě nejprve došlo v našem vápně k souboji, který smrděl penaltou, míč se pak dostal k soupeři znovu a Lněnička vkusně zachránil situaci, která smrděla gólem. Dál se již nic nestalo.&nbsp;</p>

<div>
<h3>Komentář trenéra Petra Kuty</h3>

<blockquote>První poločas opak poličskému. Chybí nasazení a bojovnost, i když soupeř nám dává dostatek času i klid na zpracování a rozehrávku. Na co před začátkem zápasu upozorním, to se opět obrací proti nám a z dlouhého autu si dáváme vlastence, což asi značí snad mlčeti zlato. Druhý poločas přeci jen o něco lepší výkon, o což se zasloužili i nováčci v týmu, kteří nám pomohli otočit zápas. Něco u nás nevídaného, několik střel během druhého poločasu přímo ohrožující branku. Hlavně v podání nováčka&nbsp; nám pomohlo se lépe dostat do zápasu, dostat soupeře pod tlak i se střelecky prosadit. Je nutností na to v příštím zápase navázat!!!</blockquote>
</div>
