---
title: Gólkíprs kiks
date: 2012-11-04
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/90.html
image: /public/images/zapasy/morasice-lanskroun.png
---

<p>Pro poslední podzimní zápas doma jsme zvolili teplou variantu v ustrojení a dokonce i počet členů střídačky dovolil udržet tělěsnou teplotu vzájemným třením na přeživší úrovni.</p>

<p>Jelikož je tréninkové procento menší než při nedávných volbách, není se co divit, že se stále potýkáme s chybami, které by se v ochozech zdály býti triviálními. To nahrávalo hlavně hostujícímu kapitánovi, který nám docela přidával pod kotel. Naši první příležitost si mohl vypracovat Škoda, když mu Štancl nabídl míč na penaltu, on však promáchl. Odčinil to o pár minut později po ideálním pasu z druhé strany od Zerzána a světe div se, vedli jsme. Na tuto příležitost jsme do konce poločasu nedokázali navázat vůbec ničím. Dovolili jsme soupeři nejprve srovnat skóre. Nepříliš prudkou střelu lanškrounského hráče, opatřeného páskou na levé paži, Lněnička neudržel a jelikož mu kačena s hojným počtem knedlíků z dosud nestráveného oběda nedovolila vstát, dostal se mladý host (soudě podle vzhledu) lacino k vyrovnání. Neumělo příliš mnoho okamžiků a opět hráč s "céčkem" odcentroval před bránu a po divných odrazech jsme si defakto dali druhou branku. No a poněvadž se proti nám zahrávalo vcelku dost nebezpečných rohových kopů, tak prohra o jednu branku nebyla o poločase zase až tak tragická vzhledem k výkonu, který jsme předváděli.</p>

<p>Druhý poločas jsme začali mnohem lépe, než jsme končili ten první. Sice se nám stále nedařila kombinace, ale branku soupeře jsme začali ohrožovat víc než jsme zvyklí. Po průniku Zerzána zasahovali před brankovou čárou až brankářovi kolegové. Jeden z přímých kopů dostal míč do husté schrumáže ve vápně a nikdo z nás ho nedokázal protlouct do sítě. Možná to bylo i s faulem, ale pan sudí se vzhledem ke svému nezralému mládí bál písknout něco navíc. Taky mu to dali všichni přítomni ve zbývajících minutách řádně najevo. Střelu Chmelíka ze vzdálenosti uctyhodné vytěsňoval gólman na roh. Poté se ve snaze ušetřit několik vteřin rozhodl popustit si míč, čehož využil Zerzán,&nbsp;předběhl ho a pohodlně vyrovnal. Zhruba 10 minut před koncem jsme mohli jít do vedení. Kuta vyslal za obranu Štancla,&nbsp;který se i přes znalost svých kvalit v zakončení rozhodl debilně. Z lobu byla nejmenší malá domů.&nbsp;Ropek hlavou z přímáku přestřelil. Hosté se v druhé půlce dostali k jediné střele, ale povedla se. Lněnička měl co dělat,aby ji vytáhl. V poslední minutě byl ve vápně sražen Burián. Hra&nbsp;pokračovala až do konečného hvizdu.&nbsp;&nbsp;</p>
