---
title: S "novou" tváří
date: 2012-10-14
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/70.html
image: /public/images/zapasy/slovan-moravska-trebova-morasice.png
---

<p>Naše nekonečně měnící se sestava doznala změn i tentokrát, neboť se až na rodinné výjímky sešli v kabině všichni, včetně změněného trenéra.</p>

<p>Úvod zápasu patřil domácím, kteří diktovali hru a po nedorozumění v řadách obranných trefili tyč. Přesnější byli po samostatné akci a následném předložení míče zpět na malé vápno. Vedení dlouho neudrželi. Po centru Štěpána z přímého kopu se míč odrazil k Holomkovi, který ho nekompromisně napálil pod břevno a s klidem sobě vlastním se vrátil na svou polovinu. Zdá se, že vcelku velký problém nám dělají standartní situace, zvlášť když je zahrává soupeř. Po jednom takovém případu se hlavou dostali domácí opět do vedení.</p>

<p>Druhou půli se Moravská místo fotbalu spíše snažila vytočit hráče načaté žlutou kartou, aby snížila naše řady na hřišti. Možná i proto jsme je dokázali dostat pod jakýsi tlak, který nebyl soustavný a ani ne moc účiný. Do největší šance se dostal Schauer, bohužel udělal o kličku navíc. Vosmekovi zase z dálky chyběly centimetry. Jedinou velkou příležitost domácích ve druhém poločase zastavil Prešinský, který si s velkýn přispěním břevna poradil i s penaltou za Chmelíkovu ruku.&nbsp;</p>
