---
title: Kde jsou ty časy, kdy to stálo za houno
date: 2012-10-21
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/77.html
image: /public/images/zapasy/morasice-pomezi.png
---

<p>Vypadá to, že na naši hru už se ani ti nahoře nemohou koukat, tak raději divákům na víkend okořenili výhled mlhou. A udělali dobře.</p>

<p>Až na mlhavé okamžiky se nehrál fotbal. Míč lítal z jedné strany na druhou a o pohledné kombinace byla nouze. Hosté zkontrolovali postavení Lněničkovy branky střelou do tyče. Štancl zase přilnavost golmanových rukavic. O pořádnou střelu se postaral až Petr Kuta přímo z rohu, čímž pádem jsme vedli. Ale to je tak asi všechno.</p>

<p>Druhou půlku nás Pomezí zmáčklo. V jednu chvíli jsme tvořili rojnici na velkém vápně, naštěstí neprošel nikdo. Přibývalo emocí, jen ty šance ne. Hosté měli dvě solidní, poprvé Lněničkovi pomohl Ropek a napodruhé na brankové čáře zaskakoval Štěpán. Škoda poslal do brejku Schauera, který trefil pouze nohu brnkáře. O pár minut později stejného hráče oslovil Zerzán a vedení narůstalo. Konec už si ani nepamatuju, myslím že utkání skončilo standartně hvizdem hlavního rozhodčího.</p>
