---
title: Body pozvolna přibývají
date: 2012-09-19
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/38.html
image: /public/images/zapasy/morasice-kuncina.png
---

<p>Předzápasové statistiky fanoušků pro tip na vítěze hovořili jasně pro hostující mužstvo. Jenže tabulky v Morašicích nemají na funkci žádný vliv.</p>

<p>Již je to možná trapné, ale opět se zápas ubíral směrem nepřesnosti a snaha vymyslet pohlednou akci končila po několika dotecích s míčem. Naštěstí k nám zavítal soupeř podobného ražení, takže jsme měli všichni (22 hráčů pozn.autora) dostatek času si rozmyslet, kterým směrem akce skončí.</p>

<p>Šancí bylo k vidění pramálo, oproti minulým zápasům se alespoň o pár příček zvedla bojovnost, která ke konci prvního poločasu nesla, můžeme si to říci otevřeně, nezralé, ale přesto to bylo ovoce. To Burian usměrnil nepřesnou střelu k tyči.</p>

<p>Po pauze o sobě dala vědět i Kunčina. Několik slibných pokusů skončilo naštěstí v křoví, nebo je Prešinský zcela eliminoval. Sami jsme další branku přidat nedokázali, tak musel naše vedení po rohu Vosmeka navýšit kunčinský odchovanec. Moc dobře vím, jak se pak asi cítil. V momentu branky nebral údiv v ochozech konců, protože na takovou kanonádu nejsou diváci roky zvyklí. Prešinský pak podržel tým při tutovce soupeře, následně zazmatkoval, ale mrštným zákrokem srazil diváky téměř do kolen (roh). Po jeho rozehrání možná střelu trochu podcenil, čímž pádem došlo k snížení na 2:1.</p>

<p>Poslední minuty pak probíhali pouze v hádkách čtyř rozhodčích, kteří se pohybovali na ploše přibližně 15 m2. Je vidět, že i tak jednoduchá hra jako je fotbal nemá pro každého z nás jasně daná pravidla.</p>

<div>
<h3>Komentář trenéra Petra Kuty</h3>

<blockquote>Dnešní soupeř nám dovolil velmi mnoho, dostatečný čas na zpracování, na kvalitní rozehrávku a klid v zakončování, proto si myslím, že brankových příležitostí a střel mohlo být o něco více. I přesto to byl alespoň krátký posun ke zlepšeným výkonům (alespoň v to doufám).Negativum zápasu je, že nás stále ubývá a asi nejen z důvodu zranění.</blockquote>
</div>
