---
title: I brankáři mají své dny
date: 2013-04-07
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/115.html
---

<p>První ostrý start nemohl poskytnout náš místy krtkem pokrytý trávník, tudíž jsme vzali za vděk litomyšlské umělce. Sešli jsme se v hojném počtu, pouze brankářské trio se srazilo na samotného Míšu Préšu. Vojta mu s pořadatelskou páskou kryl záda ze střídačky a Ozzy v době, kdy jsme jeli ze zápasu domů možná teprve vstával z pelechu a přemýšlel, zda od trenéra dostane odpoledne důvěru.</p>

<p>Začátek utkání jsme měli až k brance famózní. Hned po pár vteřinách našel Kuta centrem ve vápně Škodu, který si těžký balón chtěl nejprve zpracovat a dál se nedostal. Hned &nbsp;na to vyslal Chmelík Buriána, ale branku nedal. Štancl hrubě zaváhal s rozehrávkou, načež situaci musel hasit faulem. Z přímého kopu chtěl Chmelík vrátit hlavou míč domů, ale dobíhající turek se dostal ke snadné brance. Možná už z prvního rohu jsme inkasovali podruhé, kdy Prešinský dosti slabě "vyrazil" míč, směřující na přední a hostující hráč zkusil elegantně nůžky. Nepamatuji situaci, kdy bychom se z takovéhoto stavu dostali. Ale množství centrů na hostující branku přibývalo, jeden kutův přímák hlavou prodloužil Burián a Zerzán měl na snížení snadnou práci. O pár minut později vyslal Kuta po lajně Kubeše, který předložil Škodovi vymazlenou přihrávku na malé vápno a začínalo se znova. Turci se dostali ještě do velké šance, kdy Prešinský neudržel míč a nahrávku před prázdnou bránu zachraňoval Štancl tak vehementně, že si skoro dal druhého vlastence proti Verměřovicím v této sezóně. Pět minut před přestávkou nacentroval do vápna Klement a Burián v poklidu dokonal obrat. Že se body budou dělit se rozhodlo ještě v první půli. Opět roh a nedůraz spojený s neschopností dostat míč z vápna.&nbsp;</p>

<p>Druhý poločas dostal několik změn v sestavě, ale bohužel i v přístupu k zápasu. Hosté si sice nevypracovali žádnou pořádnou šanci, přesto měli dvě tutovky po neuvěřitelných minelách, způsobených zřejmě nervozitou z prvního mistráku. Ty jsme měli i my, ale Burián ani Válek ve vápně nevystřelili, což se dá v určité míře považovat za blbost. Doufejme, že balet s fotbalem jsme si někteří spletli naposledy.</p>
