---
title: Kolmo dopředu a trefovat zařízení
date: 2013-04-14
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/116.html
image: /public/images/zapasy/morasice-jiskra-usti-nad-orlici.png
---

<p>Hřiště bylo podrobeno úpravám, aby se po něm dalo běhat bez hrozby vážnějšího zranění. Nicméně krtek nás stále neopustil. Dokonce i počasí bylo nakloněno fotbalu. Jediný, kdo by nám mohl tuto nedělní idylku zkazit byl soupeř, který se v tabulce pohybuje proklatě vysoko. Na podzim jsme od něj nafasovali symbolického bůra, tudíž jsme pro minimalizaci opakování divokého výsledku pozměnili rozestavení základní jedenáctky a zvýšili odhodlání s bojovností.</p>

<p>Zápas začal bez náznaku vážnějšího ohrožení jakékoliv branky. Hosté byli dle předpokladu technicky lépe vybaveni, ale náš osobitý přístup jim hru docela komplikoval, ba dokonce kazil. Paradoxně jsme měli větší příležitosti ke vstřelení prvního gólu my, vždy po standartních situacích. Jenže branka byla pokaždé úzká či nízká. Zhruba po půlhodině hry odpískal sudí penaltu pro naše barvy za faul na Buriana. Po menších dohadech byl demokraticky určen k jejímu zahrávání Štancl, který se dobře osvědčil v zápase, kdy o nic nešlo. Bohužel si příkaz trefovat zařízení vzal k srdci příliš do slova a míč poslal do tyče. Mohl si při tom vybrat kterýkoliv jiný kus volné sítě, protože brankář na čáře jakoby zamrzl. Zadostiučení se nám dostalo hned v zápětí, když Štancl vystihl nedorozumění hostů po autovém vhazování, narazil si s Burianem a po postupu k brance předložil Škodovi vkusnou příhrávku před prázdnou branku. Tím asi první půle skončila, alespoň co se týče zajímavostí.</p>

<p>Druhý poločas pro nás začal opět klasicky. Jako bychom se podělali z vedení a hosté začali kousat. Naštěstí se mimo pár centrů, které Lněnička stahoval v klidu, nedostali k žádnému ohrožení naší svatyně. Zvedli jsme se a pomalu vyráželi k brejkům. Do jednoho z nich vyslal elegantně Vosmek Škodu, který přestřelil pouze o fous. Chtělo to dát druhý gól, aby k té výhře bylo přece jenom blíž. Dočkali jsme se při jedné z vícero standartních situací. Štancl nacentroval dlouhý pas do vápna, kde byl na správném místě Chmelík a hlavou trefil tyč (metafora). No a jelikož hosté propásli příležitost, jak dostat míč do bezpečí, uklidil ho na místo určení bosou hlavou Ropek. Další brejk Škody hasil na poslední chvíli hostující golman, který přes své šediny předvedl pohotový zákrok. Do třetice přelstil Škodu poté, co si Zdenda na vápně s malíčkem v nose vysvačil obránce a vystřelil přesně k tyči, jenže šedivák vyrážel na roh. Mnozí fandové začínali spekulovat, zda patří opravdu mezi dříve narozené, nebo jsou jeho stříbrné vlasy pouze známkou toho, že se narodil na Pultanele. V pozápasových kuloárech se také hovořilo o jakési šanci exkouče Kuty, ale tu si vážně nemohu vybavit. Konečnou podobu výsledku zpečetil několik okamžiků po vstupu na hřiště Válek, jehož pobyt na hrací ploše by se dal vyjádřit slovy: Přišel, viděl, zavěsil. Fór je v tom, že k tomu ani nepotřeboval rozběhl.&nbsp;</p>

<p>Tři body potěší, jenže kromě nás jako naschvál vyhráli i jiní ohrožení druzi soutěže, tudíž nezbývá, než to příště zopakovat. Když se maká, tak se výsledky dostaví. Většinou.</p>
