---
title: Byly i horší zápasy
date: 2013-06-09
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/176.html
image: /public/images/zapasy/morasice-jablonne-nad-orlici.png
---

<p>K poslednímu zápasu na domácí půdě jsme museli pro zjevné důvody zamíchat sestavou a prolnout Áčko s Béčkem dohromady. A nebylo to naposled.</p>

<p>Úvodních pětadvacet minut se jednalo z naší strany o velice aktivní přístup k fotbalu, kdy jeden pohyb střídal druhý a soupeř moc nevěděl kudy kam. Zvláště pravá osa Klement - Zerzán vystrkovala kopačky směrem vpřed. První slibnou šanci vypracoval Zerzán úprkem po lajně a přihrávkou pod sebe na nabíhajícího Chmelíka, jehož střelu brankář pouze vyrazil, s druhou nahrávkou Zerzána už tolik práce neměl. Po faulu na Klementa centroval Kuta do vápna. Míč by asi skončil v bráně, kdyby ho Chmelík zasáhl o něco méně, nebo vůbec. Ovoce přinesla až souhra Kuty se Škodou, kterou později jmenovaný tváří v tvář golmanovi vyřešil,&nbsp;na to, že byl na Sádku, velmi klidně. Tím to ale haslo a prakticky po zbytek zápasu převzali otěže hosti z Jablonného. Pro zranění museli vystřídat Zerzán s Ropkem, čímž nechci říct, že by to byl zrovna důvod změny pojetí hry&nbsp;z naší strany. Hned po přestávce se k odraženému míči na vápně dostal nepokrytý Lička a procpal merunu do sítě. Do vedení nás mohl poslat Kuta, který se po jedné z mála akcí po zemi dostal prakticky do totožné situace jako Jiráček v pátek proti Bufonovi. Výsledek akce dopadl rovněž stejně. Jablonné si připravilo několik velmi dobrých příležitostí, ale naštěstí většinou trefili prostor, kde se zrovna nacházel Lněnička. Tudíž po shrnutí se dá říci, že jsme za bod vlastně rádi. V období festivalů a dalších hurá akcí se bude muset na poslední zápas v sezoně asi opět trochu polepit sestava. Hlavní cíl pro jaro byl však splněn, tak si můžeme dovolit mírný komfort.</p>
