---
title: Každý trávník má svá specifika
date: 2013-04-28
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/131.html
image: /public/images/zapasy/morasice-policka.png
---

<p>V dobře se rozvíjejícím rozjezdu jara jsme chtěli pokračovat i proti v tu dobu druhému celku tabulky. Hosté přijeli dobře naladěni a stejně jako ostatním soupeřům se jim do mysli nesmazatelně zaryla naše hrací plocha, která bude společně s kabinami za takových 20 let&nbsp;jistě zařazena na seznam&nbsp;UNESCO a z Morašic se postupně stane první oficiálně uznávaná&nbsp;památka z fotbalového prostředí.</p>

<p>První poločas byl celý takový neochucený. Většina z nás se bála si dojít pro balón zřejmě kvůli možné chybě. Tak se jen tak pobíhalo, míč se místy schovával ve vysoké trávě&nbsp;a střel na bránu bylo hodně poskromnu. Hosté byli mírně aktivnější, ale za celý poločas se dostali kromě několika rohových kopů k jedné střele, kterou Lněnička vyrazil právě na jeden z nich. Z naší strany nadělaly drobné starosti Poličce také jen rohové kopy. Ale Kopeckého hlavičce chyběla patřičná razance. Až pár vteřin před přestávkou vyslal Kuta Škodu k rohovému praporku, ten zasekl míč a odcentroval do vápna, kde nikdo z nás nebylo. Hostující obránce ovšem ve snaze míč odkopnout pouze protečoval za bezmocného brankáře.</p>

<p>Po přestávkové debatě bylo jasné, že musíme přidat na důrazu a bojovnosti, jinak byla možnost výhry dosti nereálná. Hned z kraje druhého poločasu jsme Poličce darovali několik standartních situací ze středového kruhu. Nevytěžili z toho nic, tak jsme udeřili my. Kuta si vyměnil míč se Škodou a Zerzán dostal míč do lajny a ukázal svou velkou přednost. Během pár sekund byl daleko za všemi a přes celé vápno poslal parádní přihrávku nabíhajícímu Buriánovi, který prázdnou bránu trefil. Dál se pokračovalo mezi vápny bez většího vzruchu, než Štancl poslal Zerzána do obdobné situace, který zkopíroval druhou branku s tím rozdílem, že na konci akce stál tentokrát Kubeš. O další zásah se mohl postarat Škoda, kterého ve vápně našel centrem Kuta, ale přímý nárt tentokrát selhal. Poté Štancl raději vystřídal, kvůli odhaleným příliš důrazným jevům, které by mohly končit červenou kartou. Na jeho místo se posunul Burián a už po několika sekundách v nové roli z dálky napřáhl levačkou a střelou k tyči stanovil konečnou výši skóre. Zpečetit bůra odmítl Válek, který po průniku zblízka trefil pouze brankáře. Hosté se k přímé střele na naši branku dostali snad jen jednou, ale i ta skončila nad.</p>

<p>Konečný hvizd znamenal další důležité tři body, které vyloudili na několika tvářích fanoušků jemný úsměv. Mnozí hráči očekávali mírný potlesk, ale chápeme, že na vavřínech se usíná lehko a vytahovat ruce z kapes v téhle zimě za to nestojí. Ve středu nás čeká další dejme tomu derby, kde vyzveme Sebranice, které tento víkend našli střeleckou potenci.</p>
