---
title: OKRES ODLOŽEN
date: 2013-03-21
---


<p>Vzhledem k nepříznivým klimatickým podmínkám a nezpůsobilému stavu hracích ploch rozhodla STK OFS Svitavy o odložení všech mistrovských utkání v termínu 23. – 24. 3. 2013, a to následovně:</p>

<ul>
	<li><u><strong>14. kolo okresního přeboru dospělých</strong></u> se odkládá na náhradní termín <strong>ve středu 8. 5. 2013 s úředním začátkem v 10:15.</strong></li>
	<li><u><strong>14. kolo III. třídy dospělých</strong></u> se odkládá na náhradní termín <strong>ve středu 8. 5. 2013 s úředním začátkem v 17 hodin.</strong></li>
	<li><u><strong>27. kolo IV. třídy dospělých</strong></u> se odkládá na náhradní termín<strong> ve středu 8. 5. 2013 s úředním začátkem ve 14 hodin.</strong></li>
</ul>

<p>Oddíly mohou uzavřít vzájemnou dohodu na jiném náhradním termínu odloženého utkání, <u>ne však v termínech 1. a 8. 5. 2013</u>. Případnou dohodu předloží na STK nejpozději ve středu 27. 3. 2013 do 12 hodin.</p>

<p><em>Radek Halva, předseda STK OFS Svitavy</em></p>
