---
title: Plán zimní přípravy
date: 2013-01-22
---

<h3>Zápasy a další akce</h3>

<ul>
	<li><strong>NE 10.2.2013 11:00</strong> - Morašice A : Horní Újezd <em>1:0</em> (Štancl M.)&nbsp;- hřiště UHT Litomyšl,</li>
	<li><span><strong>PÁ-NE 15.-17.2.2013</strong>&nbsp;- <em>soustředění Milovy (Penzion Poslední míle)</em>,&nbsp;</span></li>
	<li><strong>SO 23.2.2013</strong> - trénink od 10,00 hod; Obecní ples (pořádáme),</li>
	<li><strong>SO 2.3.2013 16:00</strong> - Morašice B : Borová &nbsp;<em>0:5</em> - hřiště UHT Litomyšl,</li>
	<li><strong>NE 3.3.2013 9:00</strong> - Morašice A : Cerekvice <em>&nbsp;3:4</em> (2x Z.Škoda, J.Mesarč) - hřiště UHT Litomyšl,</li>
	<li><span><strong>NE 10.3.2013 11:00</strong>&nbsp;- Morašice A : Dolní Újezd B 5:2 (2x Petr Kuta, J.Kubeš, M.Zerzán, Z.Škoda) -&nbsp;hřiště&nbsp;UHT Litomyšl,&nbsp;</span></li>
	<li><span><strong>NE 17.3.2013 10:00</strong>&nbsp;- Morašice A : Krouná&nbsp;-&nbsp;hřiště&nbsp;Krouná (odjezd 8:30 hod)</span></li>
	<li><span><strong>NE 24.3.2013 15:00</strong><span>&nbsp;- Sebranice&nbsp;: Morašice A&nbsp;- <strong>MISTRÁK</strong></span></span></li>
</ul>

<h3>Tréninky</h3>

<p>Každé <strong>úterý </strong>a <strong>čtvrtek </strong>od <strong>17:30</strong> hod v <strong>tělocvičně </strong>ZŠ Morašice (věci ven a do haly).</p>

<p>O <strong>víkendu </strong>- sobota nebo neděle dle dohody v týdnu, bude vždy uvedeno na netu (věci ven i do haly).</p>
