---
title: Nebe a dudy
date: 2012-09-24 10:00
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/40.html
image: /public/images/zapasy/policka-morasice.png
---

<p>Hned ve 4. minutě překvapil Karmaše střelou ze třiceti metrů Vosmek a když po rychlém brejku dorážel Burián, bylo to 0:2. Domácí měli územní převahu, ale do poločasu zahrozili pouze ránou Kučery do břevna. Zato po změně stran se v koncovce prosadili. O bleskové snížení se postaral Jan Mužík a po faulu na téhož hráče vyrovnal z penalty Adamča – 2:2. V 74. minutě dokonal obrat střelou k tyči V. Klein a nestárnoucí J. Dittrich v samotném závěru zpečetil výsledek.</p>

<div>
<h3>Komentář trenéra Petra Kuty</h3>

<blockquote>První půle ve znamení naši podzimní klasiky = co střela, to gól, jinak precizní obrana. Druhá&nbsp;půle absolutní změna - neochota bránit, bojovat, rvát se o výsledek, velké šance soupeře a naše hrubé chyby umožňují soupeři úplně otočit zápas, i když trenér a Vomáčka mohli výsledek rozhodnou či vylešit.</blockquote>
</div>
