---
title: V obyváku jsme zachrápli
date: 2013-06-02
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/168.html
image: /public/images/zapasy/pomezi-morasice.png
---

<p>Na přímý boj o bronzový flek jsme odcestovali trochu netradičně do Pomezí. Jeden pojízdný vůz v sobě skrýval několik defektů, které během cesty vycházely pomalu na povrch. U druhého zase pomalu docházel olej. Jenže hlavní potíží se zdá být počet lidí na soupisce. Stačí jedna svatba, jedna červená karta, trocha práce, mnoho neochoty a na lavičce se trenér skoro bojí. O den dříve za Béčko bylo tak natřískáno, že se někteří nevešli ani na lavičku a museli vítězný zápas strávit u piva v hospodě. Pořekadlem "Mládí vpřed" bych se moc nechlubil, poněvadž mladí perspektivní členové Sokola neprojevují dostatek erudice a zájmu publikovat svou osobu v té nejlepší kvalitě na trávníku, jenž nemá v&nbsp;kraji obdoby. Místo nich se musí po&nbsp;hřišti chtě - nechtě prohánět otcové od rodin, jejichž děti&nbsp;pomalu prožívají první lásky. Stačí však aby došly léky, chuť, nebo se prostě namíchnou a&nbsp;řady prořídnou ještě víc.&nbsp;Na&nbsp;utkání jsme dorazili tedy v pořádku a konec i v počtu, který&nbsp;zajišťoval&nbsp;potřebné jednotky k úvodnímu hvizdu. Zapomněli jsme se ovšem stavit v nemocnici pro návleky. Hned co jsme překonali bahenní lázně, způsobené srážkami, které nad našim územím poslední dobou převládají, ocitli jsme se v "obývacím pokoji" se zeleným kobercem, na který&nbsp;nám bylo povoleno pohledět pouze jedním okem a to ještě skrz svářečské brýle. Po několikaminutovém řádném čištění obuvi jsme vstoupili do kabiny, kde každému z nás byla určena role, kterou v zápase ztvárníme. Rozvičku jsme se soupeřem provedli na&nbsp;nám dobře známe jetelové směsi obklopené malým potůčkem ze dvou stran.</p>

<p>Sranda nás přešla poměrně brzy, co sudí, jež dorazil z nedaleka se svými partnery (pomezní rozhodčí) kyvadlovou dopravou, vtlačil svůj dech do píšťalky. Již ve čtvrté minutě totiž nezafungovala ofsajdová "past" a domácí Stýblo byl u míče o chlup dříve než Lněnička. Míč si prohodil, rozmyslel se a v klidu do prázdné branky rozjásal ochozy. O tři minuty déle bylo ještě hůře. Centr z levé strany, možná nějaký odraz a opět "Brčko" s klidem míč zpracoval a z otočky zvýšil skóre střelou přesně k tyči.&nbsp;Škoda, že jsme se probrali až po deseti minutách. Nicméně v&nbsp;15.minutě&nbsp;domácí propadli na půlce a míč se z levé strany přes několik hráčů dostal až ke Škodovi, který vylezlého golmana přestřelil a dal zápasu zajímavý ráz (alespoň jsme si to v tu chvíli mysleli). Zápas skončil pro Zerzána, kterého kvůli zranění nahradil Mach, jenž se rozhodl rozšířit užší kádr. Do konce poločasu se o uchazeče zapsali pouze Štancl, který v záklonu přestřelil a&nbsp;několik minut před ním domácí borec, který zamířil přesně do půllitrů temperamentního publika sedícího nedaleko.</p>

<p>Řádově 10 - 15 minut druhého poločasu jsme si vytvořili celkem slušný tlak, který ale končil u vápna domácích a nebyli jsme schopni se dostat do pořádné brankové příležitosti. Centr Kuty do šestnáctky brankář stačil jen lehce vyrazit, vleže však stačil strčit ruku do střely Škody, který tím pádem propásl obrovskou příležitost. Míč do branky sice dotlačil Burián,&nbsp;trefil mu však ruku, takže udělal radost pouze fanouškům, kterým z prvního poločasu zalezl zřejmě hluboko do lebky.&nbsp;Celou dobu&nbsp;fandící publikum dokázal vyhnat od sklenice piva jenom Kubeš, který byl v souboji o něco později a linčování se vyhnul pouze zázrakem. Na druhé straně hatrick odmítl Stýblo.&nbsp;Nepředvedli jsme nic navíc, body tedy zůstali u Poličky. Nutno dodat, že hřiště mají vskutku kvalitní.</p>
