---
title: Pomezí B - Morašice B <em>3:1 (1:1)</em>
date: 2012-08-27
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR2/2012-2013/TJ Sokol Morašice B/188.html
image: /public/images/zapasy/pomezi-morasice.png
---

<p>V sobotu 11.8.vyrazilo Morašické béčko k prvnímu mistráku IV. třídy do Pomezí u Poličky, kde se střetlo se místním B mužstvem. Utkání pro nás začalo velmi dobře už ve třetí minutě jsme zahrávali rohový kop, míč se odrazil na nohu <em>Pepy Kopeckého</em> a ten nádherně přehodil brankáře <strong>0:1</strong>. Domácí do poločasu ještě srovnali po chybě naší obrany <strong>1:1.</strong></p>

<p>Ve druhé půli jsme mohli jít opět do vedení, ale Jarda Vomočil netrefil z půlky hřiště úplně prázdnou branku. Pak převzali otěže domácí. Nejprve po rohovém kopu byl závar před bránou a v 65 min. šli domácí do vedení <strong>2:1</strong>. Branka na konečných <strong>3:1</strong>&nbsp;padla v 85 min., když Tomáš Sopoušek neudržel míč v náručí a domácí ho doklepli do prázdné branky.</p>
