---
title: Plichta asi spravedlivá
date: 2012-08-15
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/9.html
image: /public/images/zapasy/sebranice-morasice.png
---

<p>K prvnímu mistrovskému zápasu v "nové" soutěži jsme odcestovali na nezvyklé derby do Sebranic, kde několik z nás hrálo naposledy asi před deseti lety.</p>

<p>Začátek utkání vycházel k radosti domácího fan-klubu lépe sebranickým, ale z několika slibných příležitostí nedokázali trefit zařízení. Z naší strany byl úvod spojen&nbsp;s nepřesnostmi a pokus o napodobení nakopávat míče za obranu nevycházel úplně ideálně, neboť Burian nemůže stát všude a rozptyl našich centrů byl široký. Ke jedné ze standartních situací se postavil znovuzrozený Chmelík. Krásně obstřelil zeď a nebýt tyče, tak jsme vedli, protože "Kočka" se ani nehl. Ve vápně nám chyběl důraz, párkrát stačilo trochu zabrat a míč by se do brány nějak dostal. Josef Štancl zhruba z penalty "vystřelil" a asi po 20-ti vteřinách se míč odrazil opět od tyče a z brankové čáry ho domácí útočník odklidil do bezpečí. O pár minut později dobíhal&nbsp;ve vápně odražený míč Martin Štancl a z voleje krásně trefil Válka. Když Lněničkovi nad šibenicí prosvištěla střela domácího útočníka, šlo se do kabin smírně.</p>

<p>Ve druhém dějství se zranil Klement a domácí začali mírně tlačit. Do žádné větší šance, když nebudeme počítat rohy a auty, se nedostali. My "hrozili" vlastně jen z brejků. "Kočka" nejprve vychytal v dobré pozici Vomáčku, aby ho z přímáku ještě jednou pořádně protáhl Chmelík.&nbsp;Ke konci už začaly&nbsp;mírně pochodovat nervy, ale to k tomu patří, jak říká Vápeník z Pemiér líg.</p>

<p>Zápas měl určitou kvalitu, která byla podpořena o diváckou kulisu. Na to, že šlo o úvodní kolo, kde by se dala nějaká ta nerovzita odpustit, tak myslím, že nejvyjukanější muž na place byl sudí.&nbsp;</p>

<div>
<h3>Komentář trenéra Petra Kuty</h3>

<blockquote>Vcelku vyrovnaný zápas, kterému z naší strany chyběla větší sehranost, od některých i větší zápal a chuť po vítěztví, větší důraz v osobních soubojích a častější hru po zemi, kde jsme soupeře v těch krátkých chvilkách přehrávali.A také důraznější střelba, neboť některým střelám hrozilo, že i při takovém teple zmrznou za letu.</blockquote>
</div>

