---
title: Štastné a veselé
date: 2012-12-12
---

<p>Ze srdce všem přítomným i nepřítomným přejeme krasopisné prožití svátků vánočních, kurážný vstup do nového roku a pevné nervy při našich mistrovských utkáních na jaře.</p>

<p>Pro utužení vztahů jste též srdečně zváni na <strong>Štěpánskou zábavu</strong> v <strong>úterý 25.prosince</strong> na <strong>RYCHTU</strong> v <strong>Morašicích</strong>, kde můžeme vše potřebné probrat jaksi důkladněji.</p>
<br />
<img class="center border" src="https://www.tyden.cz/obrazek/1216-493cf583c9876_275x183.jpg" />