---
title: Tak takhle asi ne
date: 2012-08-25
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/24.html
image: /public/images/zapasy/vermerovice-morasice.png
---

<p>Po zápase s třebovskou rezervou jsme si chtěli trochu napravit reputaci ze druhého poločasu, to ovšem nikdo netušil, že může přijít něco ještě horšího.</p>

<p>Úvodní minuty se nesly v poklidném rytmu nepřesností. Naši tři útočníci moc práce neměli, za to v záloze dostával soupeř až moc prostoru a jen díky podobně laděným přihrávkám za obranu se nedostal do vážnější šance. Obě naše příležitosti z odražených míčů skončily mimo tři tyče. Stačilo málo.</p>

<p>Po přestávce jsme toho moc nevymysleli. Jen si NEPŘESNĚ přihrávali a odkopů bylo taky dost. "Turkům" to šlo podstatně líp. Vytvářeli si šance, ale nemohli trefit zařízení. Jednu střelu na rohovej praporek ale Štancl elegantně vrátil za Lněničku, aby se domácí moc netrápili. Lněnička pak ještě dvě tutovky vychytal, ale nakonec mu nezbylo nic jinýho než si za brankovou čáru pro míč šáhnout ještě jednou.&nbsp;</p>

<div>
<h3>Komentář trenéra Petra Kuty</h3>

<blockquote>V Turecku jsme zahráli velmi špatnou partii, o které se ani moc mluvit natož žertovat nechce. Bohužel si nedokážeme souvisle třikrát za sebou nahrát, výjímkou byla 70min, kdy jsme si jedinkrát 5x za sebou nahráli. Toť vše. Nutno si to vzíti k srdci a proti lídrovi v příštím kole zahrát úplně jinou partii, kde soupeře (bohužel již ne Turka) rozsekáme.</blockquote>
</div>
