---
title: Zájezd a rozlučka
date: 2012-11-10
---

                        <p>Náš spolek si Vás, pravidelné i nepravidelné příznivce, či fanoušky dovoluje pozvat na poslední zápas podzimní části proti <strong>Jablonnému nad Orlicí</strong>.</p><p>Odjezd v <strong>sobotu 10. listopadu 2012</strong> v <strong>11:45</strong> ze hřiště v <strong>Morašicích</strong>.</p><p>Jede se autobusem, každý účastník platí pouze svůj hlad a žízeň.</p><p><br></p><p>Po příjezdu se plynule přeneseme do <strong>pohostinství Na Hřišti</strong>, kde bude následovat rozlučka s touto půlsezónou.</p><p>Další program je neorganizovaný a bude probíhat podle aktuálního rozpoložení.</p>
