---
title: Last minute
date: 2013-03-19
---

<p>Po komplikované dohodě se zástupci Krouné se utkání odehrálo v neděli již od 10 hodin. Bohužel moderní technologie zaúřadovaly v&nbsp;náš neprospěch a tudíž někteří z hráčů počítali s nulovou hladinou alkoholu v krvi až na druhou hodinu odpolední. Přesto se našlo 11 střízlivých odvážlivců, kteří měli zájem o kopanou. Ani domácí na tom nebyli lépe. Na hřiště se začali scházet až kolem půl desáté a bylo vidět, že se jim hrát moc nechce. Terén byl po zimě hrbolatý a zmrzlý, takže hrozilo zranění hráčů a přes hrací plochu foukal silný vítr, který ovlivnil průběh celého utkání. Vzhledem k podmínkám jsme se domluvili, že budeme hrát pouze na 2 x 35 minut (i tak toho bylo dost).</p>

<p>V prvním poločase jsme hráli proti větru, takže se hráči pohybovali většinou na naší polovině, ale bez vážného ohrožení prešinského branky. Z naší asi první ofenzivní akce se po vysunutí Petra Kuty chladnokrevně tváří v tvář brankářovi ze vzdálenosti pokutového kopu trefil do vinglu Zdenek Škoda. Ve 22. min. se po rohu k odraženého míčí dostal Zerzán, ale neproměnil. Ve 25 min. měl šanci J.Kubeš, ale ani on se mezi&nbsp;střelce utkání nezapsal.</p>

<p>Na začátku druhého poločasu, již ve 47. minutě se&nbsp;Mesarč dostal sám před vyběhnuvšího golmana domácích, kterého přehodil, trefil&nbsp;tyč, od které&nbsp;míč skákal po brankové čáře a vítr mu nakonec pomohl za brankovou čáru, 0:2. Zdálo se, že utkání je rozhodnuto, neboť domácí se sporadicky dostávali za půlící čáru, ale dvakrát se&nbsp;z brejku dostali až před naší bránu - V 50. min. snížili a v 60. min. dokonce Zdeněk Skala vyrovnal. Rozhodnutí&nbsp;si na 65. minutu nechal Petr Kuta, když v rohu velkého vápna nasadil domácímu hráči jesle a vyslal na branku&nbsp;tvrdý projektil, který&nbsp;do vlasní sítě hlavou tečoval domácí obránce. Konec utkání jsme si již pohlídali a zaslouženě vyhráli. Škoda, že<br />
jsme za rozhodnutého stavu polevili a přestali hrát - jak tradiční pro nás...</p>

<p>Určitě hlavním kladem utkání bylo, že se nikdo nezranil, neboť zmrzlý terén byl velice nebezpečný. Takže máme za sebou poslední přípravu a za týden nás čekají doma SEBRANICE!!!<br />
<br />
&nbsp;</p>
