---
title: Předposlední test
date: 2013-03-13
---


<p>Do začátku druhé poloviny sezóny již mnoho času nezbývá a my se na přátelské derby s újezdskou "rezervou" sešli v docela solidním složení. Ne že by sestava překypovala kvalitními hráči, spíš se absence stáhla na minimum.</p>

<p>Vzájemné předzápasové oťukávání utnul pár minut po úvodním hvizdu starší z bratrů Kutových, který sobecky téměř z nulového úhlu záhadně otevřel skóre. Vcelku se nám dařila kombinace a soupeř se k našemu vápnu přibližoval spíše náhodou. Navýšit skóre mohl opět Kuta Petr, který dobře naservírovaný míč narval do břevna. Pouze Bůh a pomezní ví, zda se balón ocitl za brankovou čárou. Do dobré příležitosti se dvakrát dostal Burian, nejprve si elegantně obhodil obránce, aby následně ještě elegantněji poslal míč do náruče golmana. Podruhé se zase spíše soustředil na pomezního, zda zvedne, či nezvedne imaginární praporek. Kubeš Jiří se dostal do šance po zkažené přihrávce Štěpána. Všichni čekali cokoliv a myslím, že i sám střelec byl překvapen jak pěkně to vyřešil a přidal druhou branku. Válek ještě trefil tyč. V tomto zápase jsme, podle subjektivního pocitu, měli více času na všechno, než proti klukům z Cerekvice, což zapříčinilo polevení a soupeř se pomalu dostával na dostřel. Mířil nepřesně. I střela Klusoně šla mimo, ale hlavu do ní vložil Ropek a Prešinský, který už šel pro míč za bránu, inkasoval. Klidnější přestávku zařídil znovu Petr Kuta, který si s přímým kopem po faulu na pronikajícího Buriana poradil famfárově na vzdálenější tyč.</p>

<p>I v počátcích druhého poločasu byl nejvíce vidět extrenér. Zatím nemá věk na to, aby tuhle situaci mohl svádět na zhoršený zrak, ale tak či onak, otočil se s míčem k vlastní bráně a vyslal mezi obránce do brejku Mandlíka, který pohodlně snížil. Na druhé straně zkusil své štěstí Štancl hned po autovém vhazování, ale břevno bylo proti. Akce pokračovala, Klement našel na penaltě úplně volného Zerzána a ten asi na 4x zvýšil na 4:2. Hra Újezdu se ve druhém poločase rapidně zlepšila, což je nepřímo úměrné hře naší. Údajně se neběhalo, nebojovalo a ostatní věci, co k tomu patří. Ještě stačil utéct Škoda a naposledy rozvlnit síť. Po závěrečném hvizdu jsme se v klidu rozjeli do svých domovů.</p>
