---
title: Gólů jak při&nbsp;mariáši
date: 2013-03-03
scortes: 
image: 
---


<p>K dalšímu přípravnému zápasu jsme nastoupili s vedoucím týmem krajského přeboru, který během zimní přestávky narozdíl od nás celkem hojně obměnil kádr. Ovšem i my měli sestavu, která doznala jistých změn. Třeba Štancl hrál naposledy středního záložníka když ještě nesměl legálně užívat alkoholické nápoje a Fanda Ropku se po záložním křídle proháněl ještě v dobách tuhého socialismu.</p>

<p>První půle byla oproti té druhé taková jalovější. Málo důrazu, z čehož plynul průnik, nebo spíše průchod Lorence přes 5 hráčů do vápna, kde Štancl s přehledem zařídil pokutový kop číslo jedna. Střelce neznám, ale moc problému s proměněním neměl. Středová řada Cerekvice obecně v prvním poločase těžila z toho, že ta morašická neví co dělat. Přesto provedli před vlastní šestnáctkou hrubici, míč sebral Štancl a přihrávkou na Válka vybídl Vomáčku, aby našel Škodu před poloprázdnou brankou a ten načal své zimní ranní vystoupení. Vyrovnal. Vyrovnání nám bohužel dlouho nevydrželo. Buď z rohu, nebo přímáku blízko rohu jsme o něj přišli způsobem znovu zbytečným. Dlouhý centr (ne délkou, ale dobou) se snesl na hlavu dejme tomu Růžičky a ten na protější 2:1. Ke konci poločasu pak vyslal za cerekvickou obranu Štancl Škodu, který si naposledy (kromě knock-outu ze 65.minuty na golmana) počínal chladnokrevně. Vyrovnal.</p>

<p>Na druhou půlku se na hřišti objevil dnes již nestárnoucí Kuta Petr, který své bohaté zkušenosti, obohacené v momentální době o techniku futsalu (která mu ještě ne docela přirostla k srdci viz. patička na Chmelíka, respektive pokus o patičku na Chmelíka), využil i v tomto zápase. O několik málo procent jsme se přestali chovat jako baletky, dařilo se podržet míč a rodily se šance, většinou po stranách. Jen Zdenda Škodu jich měl asi 6. Do vedení se cerekvičtí dostali ko kontaktu Chmelíka s protihráčem ve vápně. Naše vyrovnání jsme darovali Honzovi Mesarčovi, který dostal možnost poprvé nastoupit a poprvé dát góla. Využil obě možnosti. Mohli jsme i vést, ale odražený míč z přímého kopu Kopecký na cpal jen do břevna. Poslední gólový příspěvek tudíž patřil slovákům. Znovu průchod přes tři hráče, centr do vápna a bomba pod břevno.</p>

<p>Ke konci zápasu jsme byli ještě svědky zřejmě nejpohlednější akce cerekvického celku. Nepamatuji si její zárodek, ale domnívám se, že střílel Roman Pražák a k míči, který se rozmýšlel zda skončí v brance bo nikoliv, se dostal nejrychleji Venda Jetmar a ze vzdálenosti zhruba 15-20 cm nikým neatakován zakončil dvakrát do tyče, dal si jesle a kulatý nesmysl byl pro nás v bezpečí. Náš již téměř profesionální kameraman byl bohužel pro nízkou teplotu nucen tento zápas nenatáčet, což je škoda, protože bychom měli velkou šanci se ukázat večer na konci sportovních novin v televizi.</p>
