---
title: "První příprava: Morašice - Horní Újezd 1:0"
date: 2013-02-10
---


<p>Počáteční utkání po vánočních svátcích bývají v našem podání dosti různorodá. Ve většině případů se na ně ale koukat nedá. Na zápas jsme se sešli v očekávaném počtu, po menších rozpacích již opět všichni věděli, jak vypadá kopací míč, tudíž nic nebránilo v cestě zkusit sladit svoje myšlenky, pohyby a koordinaci s dalšími deseti lidmi ve stejném oděvu.</p>

<p>První poločas probíhal vcelku dobře. Sice jsme soupeře nemleli, ale myslím, že to po posledních zkušenostech moc příznivců ani neočekávalo. "Horňák" se dostal do několika slibných závarů v našem pokutovém území, z čehož naštěstí nevytěžil nic. Pouze Pechanec Jan z dálky orazítkoval Prešinského břevno. Naší největší slabostí se znovu ukázala koncovka. V dobrých příležitostech, kde by střílel i Otakar Janecký, jsme neustále hledali lépe postaveného spoluhráče. Nikdo takový se na hřišti nenacházel. Zhruba v polovině prvního poločasu se dostal do úniku Štancl a i on celou dobu svého postupu na soupeřovu branku čekal, až bude Škoda v ideální pozici, kdy by mohl přijmout přihrávku a z něj tak spadla zodpovědnost za případnou střelu vedle. Váhal tak dlouho, až nás poslal do vedení. Za zmínku stojí snad ještě možnost Ropka z rohu. To stojí ale opravdu pouze za zmínku.</p>

<p>Druhou půli bych moc nerozváděl. Buď došli síly, což při našich plně obsazených trenincích není divu, nebo jsme se na to vybodli. Chyběla nabídka i poptávka a kazily se nahrávky. Ale jak. I přesto dokázal Jokeš trefit břevno. Následnou dorážku bezpečně uklidil do náruče ležícího brankáře Burian. Soupeř měl několik zajímavých střel, ale stálo při nás štěstí v čele s Prešinským.</p>

<p>Uvidíme, jak dopadne přátelské derby s Cerekvicí, která obměnila.</p>
