---
title: Stále to nejsou ty pravé ořechy
date: 2013-03-25
---

<p>Díky globálnímu oteplování, jenž má za následek různorodou situaci venku jsme měli možnost se stále ještě nanečisto přesvědčit, jak&nbsp; na tom jsme a co od sebe můžeme očekávat. Kromě toho, že si brankář zapomněl věci se předzápasový rituál nijak nelišil od ostatních utkání. Humoru bylo na rozdávání a na nikom nebyly patrné známky sebemenší únavy.</p>

<p>Kameničky do utkání vstoupily sebevědomě a již v prvních minutách nás začaly ujišťovat, že do Litomyšle nepřijeli na tříkolce v kraťasech s nápisem nazdar na hrudi. Především hráč s číslem 14 vynikal a většinu rodících se akcí jsme zastavovali až za cenu faulů. Předali jsme si pár pokynů ve formě vaginálních opisů a hra se vyrovnala. Okna najednou byla i v obraně na druhé straně. Burian vyslal do sólového úniku Škodu, který si ve finální fázi míč předkopl a mohl se vracet zpátky. Ve středu hřiště si vyměnili míč Kuta se Štanclem, který vcelku přesně vyslal do vápna Kubeše a ten nezahálel. O pár minut později se dostal do podobné situace znovu, ale zkouškou kličky pojď sem, kde mám balón šanci zkonil. Kameničky se k prvnímu vážnému ohrožení branky (alespoň co si vzpomínám) dostaly při standartní situaci z hranice velkého vápna. Jelikož nám zrovna nefungovala komunikace mezi sebou a bloudili jsme po hřišti jako maďaři v kukuřici, měl dříve jmenovaný hráč XIV dostatek času, aby propálil tři clonící hráče k tyči prešinského branky. Při jednom z průniku výborně zasáhl ve vápně Klement. Však jeho počínání nebylo v souladu se sudího přesvědčením a odpískal hodně trotlovskou penaltu. Prešinský sice vystihl směr, ale v botaskách prostě nemohl mít ten správnej grif, aby "domácím" zabránil v otočení skóre. Doufali jsme, že hlavní sudí Andrle má přece jenom svědomí a zaměří se do vápna i na druhou stranu. Má. Burian vycítil šanci a došel si pro faul, který se dal pískat asi jako ten první. Štancl nevěřil Zerzánovi, že by penaltu proměnil, tak se nehledě na své bohaté zkušenosti z mládí k exekuci postavil sám. Proměnil s klidem nevídaným.</p>

<p>Druhá půle zpočátku nevykazovala charakter jakéhosi průšvihu. Ale přišly emoce. Myslím si, že úplně zbytečný. To "domácí" docela nakoplo a narozdíl od nás začali jezdit. Pomalu ale jistě se zřejmě začala projevovat podceněná (vybral jsem jedno z těch slušných slov, které sice nevystihuje přesný význam, ale postačí) zimní příprava, síly ubývaly. Gól na 3:2 jsme dostali hodně lacino. Najednou se za obranou objevil hráč ve žlutým dresu, rychle zakončil a trefit prázdnou polovinu brány mu nedělalo moc problémů. Další zářez by se dal použít někde ve varieté, protože trajektorie míče odporovala všem fyzikálním zákonům. Na to, že nás soupeř tlačil a fyzicko-technicky přehrával jsme si vypracovali tolik šancí, že jsme paradoxně mohli i vyhrát. Jenže Štancl z odraženého míče trefil břevno. Burian na penaltě skákavý míč napálil do plotu nad bránou. Ropek zblízka trefil nohy brankáře a Klement se Štanclem mířili taky do háje. Zerzán utekl po lajně, ale míč i s pomocí tyče skončil v zámezí. Mesarč mohl slavit i po třetí v řadě, ale nepovedený výkop brankáře nevrátil správným směrem. Kameničky si šance vytvářely mnohem snadněji, ale většinu střel se podařilo zblokovat, nebo jinak eliminovat. Těsně před koncem ještě skončil míč za Prešinským po táhlé střele z vápna.</p>

<p>Hodnocení zápasu asi proběhne v týdnu, ale je tam spousta věcí, které se dají udělat mnohem líp, když budou všichni na hřišti pro. Kdyby se dneska hrál mistrák, tak by to asi nebyl moc úspěšný krok k záchraně.</p>
