---
title: Někde udělali soudruzi z Morašic chybu
date: 2012-09-06
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/25.html
image: /public/images/zapasy/jiskra-usti-nad-orlici-morasice.png
---

<p>Po nevyvedeném zápase ve Verměřovicích jsme zavítali na letiště do Ústí nad Orlicí, kde měl proběhnout reparát za nekvalitní výkon z předchozího zápasu. Jedině dobře, že se hrálo venku a náš výkon nemuselo spatřit větší množství diváků z morašických "ochozů".</p>

<p>Soupeř potvrdil své postavení v tabulce i naše domněnky a od začátku diktoval tempo i hru samotnou. Netrvalo dlouho a ústecký záložník otevíral skóre takřka do prázdné brány. Vyrovnat mohl Částek, který dostal ideální centr od Štancla ml.. Místo hlavičky zkusil míč zpracovat na prsa a ten mu utekl. Utíkal nám nejenom míč, ale i domácí plejeři bohužel v nepřímé úměře s časem. Po poločase tak svítilo skóre "pouze 3:0 pro lepší tým a to díky Prešinskému v bráně, který několik šancí soupeře ve spolupráci s Vosmekem zastavil.</p>

<p>Druhý poločas jsme zkusili začít aktivně v porovnání s tím prvním. Chvíli se dařilo držet i balón, o který jsme nakonec stejně přišli a nafasovali ještě 2 góly. Naši poslední šanci nevyužil Škoda, když šel téměř sám na branku.</p>

<p>Dostali jsme pět fíků a každý z nich byl originální. Mísila se tam jak smůla, kravské kiksy, tak i herní vyladěnost soupeře.</p>

<div>
<h3>Komentář trenéra Petra Kuty</h3>

<blockquote>Minulý týden nám nevyhovovalo krátké a úzké hřiště, nyní jsme se nevyrovnali se širokým a dlouhým hřištěm,dále nám dělalo problém jedenáct fotbalistů v soupeřově sestavě, míč, který měl na kopačkách soupeř nebo jsme mu ho dobrovolně našima nahrávkama a nedůrazem vraceli a občas i mokrý pokropený trávník. Suma sumárum opět vše bylo špatně jen soupeřova výhra zcela zasloužená a jen díky našemu brankaři nebyla ještě ne vyšší.</blockquote>
</div>
