---
title: Ty konce
date: 2013-05-09
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2012-2013/Morašice/103.html
image: /public/images/zapasy/ceska-trebova-morasice.png
---

<p>Poslední dohrávku jsme uvítali snad jen proto, že byla opravdu poslední, protože jsme se scházeli opět jako skauti k večernímu rozdělávání táboráku. Nicméně jedenáctku jsme dohromady dali a ještě pár kusů zbylo na střídání.</p>

<p>Nedá se říct, že jsme na lodivoda bé třídy vlítli, protože to nám prostě není vlastní, ale asi ve druhé minutě jsme měli 2 hodně velké šance, které měly skončit jinak. Obě se udály po rohových kopech, nejprve domácí obránce ve vápně narazil Buriánovi, který nechal bohužel vyniknout golmana. Z následujícího rohu pak minul o pár čísel hlavou Kopecký. S přibývajícími minutami se dostali nahoru domácí, dokonce několikrát zahrozili, ale Prešinský si počínal jistě, což se o nás ostatních říci nedalo. Kazilo se opět mnoho přihrávek, přitom trávník byl k fotbalu předurčen přímo ortodoxně. Jenomže ve většine případů jsme byli o malý kousek v souboji pozdě, nebo vůbec, z čehož vyplynul žlutý karneval hlavního rozhodčího. Jediný pokus o první branku zápasu vyslal Škoda, jenže střela měla opačnou rotaci, než by bylo potřeba a skončila v kopřivách. Prešinský ještě minul standarní situaci soupeře, ale naštěstí v cestě stálo břevno.</p>

<p>Druhý poločas se zdál býti takový laxní. Jenom Zerzán dělal domácímu bekovi problémy, jenže ze závarů jsme nevytěžili nic. Třebovou poslal do vedení jinoch z rohu, k jeho smůle to bylo ale rukama. Sice tvrdil, že skóroval hlavou, jenže lhaní se neodpouští, takže následovala karta barvy žluté. Pokud to myslel vážně, tak by si měl zopakovat anatomii lidského těla, aby si nepletl orgány. V budoucím životě by ho to mohlo dost poznamenat a skončí sám. Čtvrt hodiny před koncem vyslal Kuta dopředu Zerzána, který svou rychlostí elegantně obkopl posledního hráče Třebové a ten zatáhl za záchranou brzdu. Výsledek pouhopouhá žlutá karta. Přímý volný kop ze zajímavé pozice pro toho, kdo to umí kopat, se rozhodl zahrát Kuta. Nevím, jak to dělá, ale možná i na tohle existují jakási skripta. Levou, přes zeď do vinglu a nazdar Franta Jakubec. Uplynulo zřejmě něco okolo 5 minut, domácí se vybodli na návrat, Zerzán zase utekl a předložil Kutovi na vápno míč. Ten se nerozmýšlel a pumelicí trefil golmana, dostal možnost reparátu, ovšem tentokrát pravou nahulil pouze síť za brankou. Už to vypadalo, že urveme výhru, ale 2 minuty před koncem nakopli třebováci míč dopředu. V 9 případech z 10 by se nic nestalo, ale my jsme vždycky vyjímka. Kopecký ač se snažil, jak mu tělo dovolilo prohrál sprintérský souboj s o generaci mladším chlapcem, který téměř od rohového praporku poslal pas na kamaráda, který o sobě nedal nikomu z nás vědět a stál v klidu na penaltě. Zpracoval a střelou k tyči vyrovnal. A tím to haslo. Kdyby jsme nebyli trotli, tak jsme místo jednoho bodu mohli mít za tyhle dva poslední zápasy body 4, čímž pádem by se záchranářská akce mohla pomalu změnit na postupovou. Takto stále bojujeme o přežití.</p>
