---
title: Turnaj morašických čtvrtí 2013
date: 2013-07-05
---

<strong>Pátek 5.7.2013 od 13,00 hodin na hřišti v Morašicích</strong>

<p class="bezodsazeni">Konečné pořadí: 1. Říkovice, 2. Mexiko, 3.&nbsp;Za&nbsp;Rychtou, 4. Hřbitovní kvítí, 5. Kaučina,&nbsp;6. Františka</p>

<p class="bezodsazeni">Nejlepší střelec: Kopecký Michal ml.</p>

<p class="bezodsazeni">Vítězové penalt: Petra Válková a Tobiášek ml.</p>
