<%
categories = {
    'obecne' => '<label class="label label-default">Obecné</label>',
    'muzi' => '<label class="label label-success">Muži</label>',
    'dorost' => '<label class="label label-warning">Dorost</label>',
    'zaci.st' => '<label class="label label-primary">Starší žáci</label>',
    'zaci.ml' => '<label class="label label-info">Mladší žáci</label>',
    'pripravka' => '<label class="label label-info" style="background: purple">Přípravka</label>',
}
adminPath = "/admin/#/collections/clanky-vse"
%>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <title>Články | CMS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="<%= adminPath %>/new" class='btn btn-success pull-right'>
                    Přidat nový článek
                </a>
                <h1>Sokol Morašice - správa článků</h1>
                <div class="btn-group" role="group" aria-label="...">
                    <button id="show-all" class="btn btn-default">Zobrazit všechny články</button>
                    <button id="show-current" class="btn btn-default">Zobrazit aktuální články</button>
                </div>
            </div>
            <div class="col-sm-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th width="50">Datum</th>
                            <th>Článek</th>
                            <th width='200'>Odkazy</th>
                        </tr>
                    </thead>
                    <% cms_articles().each do |article| %>
                    <tr data-date="<%= article.date.date.strftime('%Y-%m-%d') %>"
                        data-published="<%= if article.is_published then '1' else '0' end %>"
                        class="hide"
                    >
                        <td class='text-center'>
                            <%= article.date.date.strftime('%-d.%-m.%Y') %><br />
                            <%= categories[article.data.category] %>
                        </td>
                        <td>
                            <%= article.data.h1 || article.data.title %>
                            <% if article.data.h1 and article.is_published %>
                            <br /><small class='text-muted'><%= article.data.title %></small>
                            <% end %>
                        </td>
                        <td class='text-left'>
                            <div class="btn-group">
                                <a href="<%= adminPath %>/entries/<%= article.filename %>"
                                   target="_blank" class="btn <%= if article.is_published then 'btn-default' else 'btn-danger' end %>">
                                   <%= if article.is_published then 'Upravit' else 'Napsat' end %>
                                </a>
                                <% if article.data.scortes %>
                                <a href="<%= article.data.scortes %>" target="_blank" class="btn btn-default">
                                    Scortes
                                </a>
                                <% end %>
                            </div>
                        </td>
                    </tr>
                    <% end %>
                </table>
            </div>
        </div>
    </div>
    <script>
    (function () {
        $('#show-all').click(showAll);
        $('#show-current').click(showCurrentArticles);
        showCurrentArticles();
        
        function showCurrentArticles() {
            var start = new Date(Date.now() - 12 * 24 * 3600 * 1000);
            var end = new Date(Date.now() + 1 * 24 * 3600 * 1000);
            $('tr[data-date]').each(function () {
                var row = $(this);
                var date = Date.parse(row.attr('data-date'));
                if (date > start && date < end) {
                    show(row);
                } else {
                    hide(row);
                }
            });
            show($('#show-all'));
            hide($('#show-current'));
        }
        
        function showAll() {
            show($('tr.hide'));
            hide($('#show-all'));
            show($('#show-current'));
        }
        
        function show(element) {
            element.removeClass('hide');
        }
        
        function hide(element) {
            element.addClass('hide');
        }
    }());
    </script>    
</body>
</html>
