---
title: 25.října DERBY v Litomyšli
date: 2009-10-18
---

                        <p>V neděli, v předposledním kole hodláme uhasit jiskru litomyšlským fotbalistům, kteří za poslední 2 zápasy získali plný počet bodů. Výkop je již v <strong>14:30</strong> a domácí budou mít další z mnoha pokusů Morašice porazit, což se jim ještě nikdy nepovedlo. Doufejme, že tuto tradici i nadále udrží....
          </p>