---
title: Vám se jako pane Horník ten fotbal líbil?
date: 2010-06-07
---

                         <p>Tak jsme my, kluci z vesnice, kteří se mohou pyšnit neurvalými způsoby a primitivním chováním, vyrazili do města, kam se momentálně člověk dostane jenom vlakem, nebo 30-ti kilometrovou objížďkou autem.</p>
           <p>Začátek zápasu byl na hřišti hodně poklidný a nezáživný, snad kromě jedné tvrdčí střely domácích, se kterou si Lněnička poradil, tak se o rozruch postarala asi 5-ti člená skupinka choceňských penzistů, jejíž věková inteligence se podle neklamných fyziologických symptomů pohybovala na úrovni dvouleté školy pastevecké a nedokončených tanečních, 
           protože poslouchat se to fakt nedalo a ještě k tomu tejden po volbách.</p>
           <p>Většina poločasu se odehrávala bez zapojení brankářů, domácí hráli především na brejky z nakopávaných míčů za obranu, z nichž vytěžili ve 42.minutě vedení. Druhou půli začal náramně sudí, když bez rozpaků vyloučil Klementa. Bohužel neměl za co, údajně za surové a úmyslné podražení protihráče při souboji.
           Tady je vidět, jak krásný a rozmanitý může být český jazyk. Tenhle verdikt nás docela nakopnul, a tak po necelých 10.minutách a několika šancích Pavel Kuta vyrovnal z přímého kopu. V oslabení se nepodařilo remízu udržet a ke konci zápasu jsme ještě 2x inkasovali. V 90.minutě mohl korigovat Částek, ale domácí golman výborně střelu zastavil.</p> 
           <p>Nevim, jestli by měl mít po nedělním zápase v Chocni hlavní rozhodčí pocit z dobře odvedené práce. Do konce sezony zbývají 3 zápasy a k jisté záchraně soutěže je nějaký ten bod ještě potřeba.  </p>

                    <section class="info">
                        <p><em>Góly: </em> Pavel Kuta</p>
                        <p><em>Žluté karty: </em> M.Burian, Pavel Kuta</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Chmelík, M.Ropek, V.Štancl - Pavel Kuta, B.Válek, J.Vomočil, T.Holomek - M.Burian (P.Vomáčka), Z.Škoda (P.Částek)</p>
                    </section>