---
title: Derby zrušeno nejen kvůli semifinále MS v hokeji
date: 2010-05-25
---

                        <div class="center"> Utkání s Dolním Újezdem bylo pro nezpůsobilost terénu odloženo na <br><strong>čtvrtek 10.června 2010 od 17:30</strong>.<br>Snad budou pořadatelé již lépe připraveni :-) 
      <div class="center">
      <iframe src="https://www.youtube.com/embed/FXM8OlcLP40?rel=0" width="200" height="150"></iframe>
      </div>
           </div>