---
title: Hodnocení podzimní části na žádost dopisovatele BLESK magazínu
date: 2009-11-08
---

                        <p>Morašice se řadí na 7.místo v žebříčku vesnic Pardubického kraje: (Živanice, Dobříkov, Stolany, Staré Hradiště, Načešice, Moravany). Pak již následují finanční velmoci Cerekvice nad Loučnou a Březová nad Svitavou.</p><br>
          <p><strong>Statistiky podzimu</strong></p><br>
         <p>Podzim jsme zakončili s bilancí 4 - 2 - 7, se skóre 10:16 a se</p> <p>14 body (-4)</p><br>
          <p><strong>Střelci:</strong></p><p>2- Pavel Kuta, Martin Štancl, Bohumil Válek</p><br><p>1- Václav Štancl, Martin Burian, Petr Vomáčka, Martin</p> <p>Ropek</p><br><br>
          <p>Účast na tréninku oproti loňskému roku opět klesla. Nejvyšší přítomnost zaznamenal:<br> Kuta Petr 87%, Štancl Martin a Válek Bohumil 77,4%, Chmelík Milan 74,2%</p><br>
         <p><strong>Objektivní pohled trenéra Petra Kuty</strong></p><br><br>
         <strong>Nejlepší zápas:</strong> V Prachovicích, protože brankových příležitostí bylo stejně jako za celý podzim v ostatních zápasech<br><br>
         <strong>Nejhorší zápas:</strong> V Třemošnici, 11 sprinterů (Boltů) a 11 chodců (golfistů), to nemůže jít dohromady<br><br>
         <strong>Nejlepší fanoušci:</strong> Přece ty z Makova a Suché Lhoty<br><br>
         <strong>Nejhorší fanoušci:</strong> Morašičtí <strong>ProtiKuta ultra fans</strong><br><br>
         <strong>Největší počin sezony:</strong> Oficiální stránky Sokola, neboť každý velkoklub se musí zviditelňovat<br><br>
         <strong>Nejlepší treninkový zápas:</strong> S Chrudimí, to jsme jen běhali, ale stále bez míče<br><br>         
         <strong>Hráč štístko:</strong> Václav Štancl - pokud nastoupil a dohrál, tak jsme vyhráli a nedostali branku<br><br>         
         <strong>Nejšťastnější hráči:</strong><br>Václav Štancl - vstřelil první branku za muže do správné brány<br>
                                               Petr Částek - nastoupil poprvé za muže<br><br>

         <strong>Největší zombí:</strong> Martin Štancl - muž se železnou maskou<br><br>         
         <strong>Srdcař týmu:</strong> Petr Vomáčka - to když se mu po zákroku soupeře v Moravanech málem zastavilo srdce<br><br>
         <strong>Benjamín týmu:</strong> František Ropek - ze všech hráčů má nejblíž věku, kdy se myšlení mění opět v dětské<br><br>
         <strong>Nejlepší hráč:</strong> Marian Komínek - Kdo nehraje, nemůže nic zkazit<br><br>
         <strong>Největší posila:</strong> Pavel Kuta - posílil počet hráčů na rum<br><br>         
         <strong>Nejobětavější účast na treninku:</strong> Josef Jokeš a Tomáš Holomek - u nich se dá říci, že pokud mohli, tak vždycky přišli<br><br>

         <strong>Nejhezčí branka:</strong> Martina Buriana proti Chocni, kdy nosem ryje zem<br><br>
         <strong>Nejšťastnější branka:</strong> Martina Ropka tečovaná, bohužel do vlastní sítě<br><br>
         <strong>Nejlepší obranný zákrok:</strong> Ten červený Milana Chmelíka proti Slatiňanům<br><br>         
         <strong>Nejlepší kombinační počin:</strong> Já na bráchu, brácha na mě<br><br>
         <strong>Nejlepší průniková nahrávka:</strong> Ta Pepy Jokše v Moravanech na 3:1 pro domácí<br><br>
         <strong>Nejlepší brankářský zákrok:</strong> Vlastně každý Honzy Němce na trenincích na začátku sezony, co střela to gól, ale tím držel naše střelce v euforii, že mají formu<br><br>
         <strong>Nejlepší centr na bránu:</strong> Ten zadrbaný bratrův proti Chocni, po němž dostal pojeb a já žlutou<br><br>
         <strong>Můj nejšťastnější okamžik:</strong> Konečný hvizd rozhodčího v Třemošnici