---
title: Chodí Pešek okolo, nedívej se na něho...
date: 2009-10-26
---

                        <p>V slunném nedělním odpoledni začalo druhé derby, tentokrát na vlahé a měkké půdě v Litomyšli. Už od první minuty sudí provětrával kapsu, takže mával kartama jak při licitovaným mariáši.</p>
           <p>V první půli se do největší šance dostal domácí Kuchta po centru Košína, jinak Litomyšl hrozila hlavně z rohových kopů. Po změně stran se pokračovalo v podobném scénáři, ve skluzech, žlutých kartách a bez větší šance. Až se jednu krásnou chvíli v pokutovém území na okamžik zamyslel Rajman a Libor Pešek, klopijíce své zraky k zemi, do něj narazil. Kopala se tedy penalta, kterou by Lněnička Němcovi možná chytil, kdyby skočil na druhou stranu. O několik minut později si na hranici šestnáctky spracoval míč opět Pešek a s klidným svědomím vsítil druhou branku domácích. To je asi tak vše, co mohu o válce ve Vjetnamu říci...</p>
                    <section class="info">
                        <p><em>Žluté karty: </em> M.Ropek, B.Válek, T.Rajman, Petr Kuta, J.Jokeš</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Chmelík, T.Rajman, T.Holomek - J.Jokeš, B.Válek (Petr Kuta), M.Štancl, M.Ropek - M.Burian (Pavel Kuta), P.Vomáčka (Z.Škoda)</p>
                    </section>