---
title: Mery Chrismas end hepy ňú jír
date: 2009-12-06
---

                        <div class="center"> Naše fotbalová multifunkční organizace přeje všem jímavé prožití doby Vánoční a radostný vstup do roku nového.
      <div class="center">
      <iframe src="https://www.youtube.com/embed/AdKPjGdxQZM?rel=0" width="200" height="150"></iframe>
      </div>
         Zároveň si Vás dovolujeme pozvat na tradičně každoroční<br> <strong>Štěpánskou zábavu na Rychtě v Morašicích 25.prosince 2009 od 20:00</strong>.<br> K poslechu a tanci bude hrát skupina <strong>Medium 2</strong>, ale tento maraton odstartuje progresivní mladá dívčí skupina <strong>Nový Zboží</strong> (spousta blondýnek, jedna bruneta, ale prsa velký všechny).
          PS: Účast hráčů je povinná a kdo bude poslední u baru, ten je bloud.</div>