---
title: Derby vypadalo pro lajcké oko diváka ne příliš vábně, čili 0:0
date: 2009-10-05
---


          <p>V téměř větrném počasí k nám dorazil zatím neporažený oddíl z Dolního Újezda. S tímto mužstvem máme pár společných vazeb, ať už současných, nebo již uplynulých, ale na ně musel Pavel Kuta, František Jandáček, Martin Novák i Zdeněk Škoda na 90 minut zapomenout.</p>
          <p>Pokud čekalo čtvrttisícové publikum nějaké ostřejší utkání, kde bude plno tvrdých soubojů a každou chvíli bude ve vzduchu vonět sádra, tak se mohly v jejich mimických svalech obličejvých projevit gesta zklamání, protože kromě tyčky, kterou nastřelil v první půli starší a vyšší Vomáčka Jan, neměl Vojta Andrle ani Milan Janecký v bráně téměř žádnou práci.</p>
          <p>Druhá půle přinesla ještě méně šancí, než ta první. Oba týmy si připsali po jedné šanci hlavou a pak i po jednom bodu do tabulky. Na hřišti tedy Dolní Újezd udržel i nadále neporazitelnost, však v pozápasovém rumovém klání totálně vyhořel a prohrál 6:1. Jediný, za to čestný úspěch hostí zaznamenal Svoboda Karel.</p>
          <section class="info">
                        <p><em>Žluté karty: </em> M.Chmelík, Petr Kuta</p>
                        <p><em>Sestava: </em> V.Andrle - T.Holomek, M.Chmelík, T.Rajman, M.Klement - Petr Kuta (J.Kopecký), Pavel Kuta, M.Štancl, J.Jokeš (Z.Škoda) - B.Válek, P.Vomáčka</p>
                    </section>