---
title: Bezbranková plichta s Heřmaňákem
date: 2010-05-09
---


          <p>Málo zajímavého fotbalu vidělo morašické publikum. V prvním poločase se hrálo vůbec bez šancí a jen mezi vápny, po přestávce se už tu a tam něco zajímavého narodilo. Za domácí zahrozil několikrát Válek, hosté zlobili především ze standardek, ale neujalo se nic a body se tak po zásluze dělily.</p>

                    <section class="info">
                        <p><em>Žluté karty:&nbsp;</em>T.Rajman, J.Jokeš<br></p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Chmelík, T.Rajman, V.Štancl - Pavel Kuta, B.Válek, J.Jokeš, M.Ropek - T.Holomek (P.Vomáčka), Z.Škoda (M.Burian)</p>
                    </section>