---
title: Začátek jara se povedl... (Morašice - Mezilesí Načešice 2:0)
date: 2010-03-29
---


            <p>V prvním zápase, který začal delší promluvou a střídavě deštivými přeháňkami jsme začali v jiném složení formace, než jsme zakončili podzim a tento zápas nejen, že se nic nepohnojilo, ale dokonce se utrpěl zisk tří bodů.</p>
          <p>První poločas se odehrával většinou ve středu hřiště. Jako první prověřili brankáře hosté, ale <strong>Lněnička</strong> bez větších problémů míč chytil. V určité minutě první části zahrával <strong>Pavel Kuta</strong> přímý volný kop z pravé strany na zadní tyč a <strong>Tomáš Rajman</strong> neměl moc problémů dostat míč hlavou do branky <strong>(1:0)</strong>. O několik minut později utekl obraně <strong>Martin Štancl</strong> a kolem brankáře po zemi zvýšil na <strong>2:0</strong>. První poločas mohl skončit výraznějším rozdílem, jenže <strong>Štancl</strong> si po nahrávce <strong>Kuty</strong> za obranu nechal odkopnout míč a <strong>Válkovi</strong> se nepovedla finální nahrávka na volného <strong>Buriana</strong>.</p>
          <p> Po změně stran již moc šancí k vidění nebylo. Střelu <strong>Kuty</strong> zblokovala obrana a po další nahrávce <strong>Štancl</strong> opět sám před brankářem nedal, když trefil pouze jeho nohu. Poslední potíže připravil hostujícímu golmanovi vlastní obránce, kdy zahrál velkou domů a ten měl co dělat, aby míč neskončil za jeho zády. Načešice za celý zápas mockrát nevystřelili, když už se jim to povedlo, tak mířili naštěstí přímo na <strong>Lněničku</strong>, nebo přímo mimo branku.</p>

                    <section class="info">
                        <p><em>Góly: </em> T.Rajman, M.Štancl</p>
                        <p><em>Žluté karty: </em> B.Válek</p>
                        <p><em>Sestava: </em> J.Lněnička - T.Holomek, M.Chmelík, T.Rajman, M.Ropek - Pavel Kuta, B.Válek, Z.Škoda, M.Štancl (J.Vomočil) - M.Burian, P.Vomáčka (J.Kopecký)</p>
                    </section>