---
title: Jarní výlov v Morašicích
date: 2010-04-12
---

                        <p>Původní plán nechat hřišti trochu tvrdosti a nerovnosti, aby míč skákal a kluci z Eskáčka si to nemohli dát moc po zemi byl zeshora stornován vodou,
          za to ale byla zima jak v ruským filmu na nádraží a hráčům by místo kolíků spíše pomohli filcáky.</p>
          <p>Jinak Chrudim hrála tak, jak jsme očekávali. Bohužel už v 9.minutě jsme dostali první gól, když po úniku z lajny předložil přesnou přihrávku před branku jeden z černobílých a Němec Jan si zahrál poprvé na rybáře.
          Potom přišla série 6-ti rohových kopů Chrudimi za sebou. Jedinou šanci vstřelit branku měl v prvním poločase Burian, kdy dorážel míč těsně vedle brány. Do přestávky hosté přesně zakončili ještě 2 úniky a bylo vymalováno.</p>
          <p>Druhá půlka byla podobná té první, jen s rozdílem, že bratr Němec vybíral síť pouze 2x, tváří v tvář na útočníka několikrát vyzrál a od dalších nájezdů našeho brankáře zachránil mockrát pomezní rozhodčí zdviženým praporkem.
          Tím pádem si první tým připsal zasloužené body do tabulky a my bychom měli uhrát něco příští týden, neboť jak říká Kuta Pavel, bude to důležitej zápas pro Hradiště :-)</p>

                    <section class="info">
                        <p><em>Sestava: </em> J.Němec - T.Holomek, M.Chmelík, T.Rajman (Petr Kuta), V.Štancl - Pavel Kuta, B.Válek, Z.Škoda (P.Vomáčka), M.Ropek - M.Burian, J.Vomočil (J.Kopecký)&nbsp;</p>
                    </section>