---
title: Brečení jehňátek
date: 2010-05-16
---

                        <p>Zmrzlí muži si nedali pokoj ani v neděli na Přemysla a tak na střetnutí proti třetím Moravanům nepřihlíželo zrovna
          velké kvantum diváků.</p>
         <p>Hosté si zřejmě přijeli pro 3 body a ono se to ne a ne podařit. Sice již po pár minutách musel po pěkné přihrávce za obranu hasit tutovku Lněnička, ale to bylo z větších šancí hostujícího celku 
         za první poločas všechno. Na druhé straně měl velkou šanci Burian, bohužel však po centru Jokeše nezamířil hlavou přesně, respektivě nezamířil vůbec. Do největší šance se v prvním poločase dostal Pavel Kuta, když brankář na velkém vápně neudržel míč v ruce, tak na něj zívala prázdná brána, zřejmě si ale řekl, že ještě nepřišel jeho čas, proto minul.
         Celý zápas se odehrával z obou stran v důraznějším rytmu, z čehož plynulo zranění Rajmana na straně domácích a kapitána z Moravan. Pásku předal spoluhráčovi, který si asi zapomněl vzít svoji víkendovou dávku sedativ, s čímž se jeho nervová soustava vyrovnávala jen z velkými obtížemi, pořadatelé byli neustále v pohotovosti s nosítkami, neboť na zemi se ocitl při sebemenším výkyvu rovnováhy.
         Svůj verbální projev si několikrát procvičil na rozhodčích, hráčích i dívácích, musím ale říci, že jako táborový řečník by si nevydělal na suchý chléb. První půli ukončil nepřesnou hlavičkou nad Lněničkovu bránu "Pičus", mimochodem moc pěkná přezdívka pro kamaráda.</p>
         <p>Ani druhý poločas mnoho šancí nenabídl. Z domácích se ocitl pouze Válek v souboji s golmanem, Lněničku parkrát prověřil Kříž, ovšem buď minul, nebo střele chyběly řádné vyživovací látky.
         Ke konci zápasu konečně dostal hostující kapitán žlutou kartu za další recitační vložku, když se mu nelíbilo, že nebyla zastavena hra pro horizontální polohu jednoho z jeho spoluhráčů, jenže zřejmě již i sudí nevěděli, kdy se hráči válí z recese a kdy stůňou doopravdy.</p>
         <p>Moravany měli herní převahu, ale co z toho? Branka opět nepadla a vzhledem k vzájemnému postavení v tabulce jsme s bodem spokojeni jak my, tak i Třemošnice.</p>

                    <section class="info">
                        <p><em>Žluté karty:&nbsp;</em>T.Rajman, J.Jokeš<br></p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Chmelík, T.Rajman (J.Kopecký), V.Štancl - Pavel Kuta, B.Válek, J.Jokeš, M.Ropek - M.Burian (Petr Kuta), Z.Škoda (J.Vomočil)&nbsp;</p>
                    </section>