---
title: Kosa, čaj a penalty...
date: 2009-11-01
---

                        <p>Kdo si v neděli v předdušičkový čas našel chvilku na trochu travnaté poezie asi pěkně zmrznul. Jen otrlý pomezní rozhodčí, pohybující se ve stínu kolem sektoru G 42 u jižní tribuny, nastoupil v krátkém dresu...začalo to jako žert a málem se to zvrtlo v neštěstí. Rozkaz, ten zněl jasně, vyhrát za každou cenu.</p>
                  <p>Kromě střely Pavla Kuty, se první poločas odehrával tak nějak mezi šestnáctkama (velkými vápny) prakticky bez vážnější šance.Ovšem v 45.minutě bylo náhle vše jinak. Kuta Pavel zahrával roh, signálem naznačil, kam míč poletí, ten nakonec letěl úplně někam jinam, ale naštěstí se v těch místech nacházel Václav Štancl, který ty signály taky nezná, a LEVOU nohou z PRVNÍ překonal brankáře střelou, jež měla tendenci stáčet se doprava.Tento okamžik jistě zanechá v jeho duši nezapomenutelný zážitek, neboť to byl první gól v mužích do soupeřovy branky.Bohužel se mu ještě více zhorší finanční situace.</p>
                   <p>Po přestávce se začala projevovat psychická labilita hostí. Nejprve Válek s klidným svědomím poslal míč z dobré pozice do náruče semanínského brankáře. O několik minut později byl ve vápně faulován Burian a Pavel Kuta s přehledem sobě vlastním pokutový kop bezpečně proměnil. Tato situace se opakovala, když se po střele Rajmana dostal míč opět k Burianovi, na kterého se pověsil obránce a dá se pochopit, že takové břemeno lze jen těžko unést. Čili červená karta a penalta číslo 2..byla chycena, však pro chybné postavení brankáře a špatný výhled Lněničky se musela opakovat. To už s nervovou soustavou hostujících hráčů a fanoušků nevypadalo moc dobře.
                   A jelikož Pavel Kuta tuto na psychiku náročnou situaci zvládl (proměnil penaltu č.3), křečové žíly hostí se projevily naplno. Do konce zápasu se již nic zvláštního nestalo,jen Semanínští párkrát minuly branku Lněničky, Pavel Kuta houmranem odmítl hattrick a jeho starší bratr se po něm opičil. Tudíž se slavila zasloužená výhra. Nyní zbývá jen dobře přezimovat... </p>

                    <section class="info">
                        <p><em>Góly: </em> V.Štancl, 2x Pavel Kuta</p>
                        <p><em>Žluté karty: </em> T.Rajman, M.Burian</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Chmelík, T.Rajman, V.Štancl - Pavel Kuta, Petr Kuta (T.Holomek), J.Jokeš, M.Ropek - M.Burian (Z.Škoda), B.Válek (J.Kopecký)</p>
                    </section>