---
title: V Moravanech jsme ZTRATILI 3 body a prohráli 3:1
date: 2009-09-27
---

                    <p>První poločas nepřinesl zajímavý fotbal, až ve 32. minutě trefil Lukas břevno a Fišer míč dotlačil do sítě – 1:0. V závěru půle se zatřáslo břevno i nad Rumlem.&nbsp;Ve 47. minutě se Vomáčkovi podařilo srovnat, o několik minut později běžel sám na brankáře Válek, ale trefil jen nohu domácího golmana. Na jeden z přímých kopů si naběhl k zadní tyči Rajman, ale hlavičkoval pouze do břevna.Po vyloučení domácího kapitána rozhodli Moravany o svém vítězství. Po přiťuknutí Kříže zakončil Imramovský na 2:1, aby v závěru pečetil sám Kříž.</p><p></p>
                    <section class="info">
                        <p><em>Góly</em>: 47. P.Vomáčka&nbsp;</p>
                        <p><em>Žluté karty</em>:  B.Válek, M.Klement&nbsp;</p>
                        <p><em>Sestava</em>: J.Němec - J.Kopecký, M.Chmelík, T.Rajman, M.Klement - Petr Kuta, Pavel Kuta (P.Částek), M.Štancl, J.Jokeš - B.Válek, P.Vomáčka (Z.Škoda)</p>
                    </section>
