---
title: Proč?
date: 2010-05-30
---

                         <p>Vulkanický popel z nedalekého Islandu ulevil atmosféře v srdci Evropy alespoň na pár hodin nedělního odpoledne,
          však herní plocha připomínala místy spíše kus louky po poličském rockoupání. Soupeř, který k nám zavítal patří k těm hbitějším,<br>o čemž se na podzim naše plíce přesvědčily do sytosti.</p>
          <p>Zápas začal hvizdem hlavního rozhodčího. V prvních minutách se hra přelévala od jednoho kraje středového kruhu k druhému. Naši krajní obránci se několikrát přesvědčili, že průjem není 
          nejrychlejším jevem na této planetě, poněvadž třemošnická defenzíva utočníky zásobovala dlouhými a bohužel i přesnými balóny, naštěstí z toho byl vždy maximálně zákrok Lněničky, nebo rohový kop, kterých se v tomto utkání nekopalo zrovna málo, my jsem měli taky pár.
          Atmosféra mezi střídačkami probíhala v přátelském duchu, našemu trenérovi spadly ze srdce během prvního poločasu hned 2 kameny. První, když v 10.minutě zápasu konečně dorazil náhradní brankář Andrle a druhý po zákroku Lněničky, který vyrazil plavající předvápní střelu.
          Poté, co se neujaly ani 2 pokusy Pavla Kuty se šlo do kabin za bezbrankového stavu.</p>
          <p>Během přestávky byla konzumace tekutin fanoušků slušná, soudím podle unáhlených žádostí v druhé půli o vyrovnání i za stavu 0:0. Hostující fans změnili místo usazení a přesunuli se na útočnou polovinu svého týmu. Toto lze vídat snad jen v přírodě, kdy se květiny točí za sluncem.
          Žádná vážnější šance během první půle druhé půle nepřišla, pokud nepočítám několik schrumáží před vápnem po rohových kopech. Tak udeřilo na druhé straně. Nejdříve z rohového kopu minul o fous hlavou Ropek, což byl takový první drápeček. Pak se po špatném odkopu hostující obrany dostal
           do dobré pozice Škoda, jeho střelu brankář pouze vyrazil a Vomáčka dorážel už celkem v klidu do brány. Do konce zbývalo čtvrt hodiny. Hosté začali tlačit a zcela logicky chtěli vyrovnat. To se jim povedlo v 86.minutě po autovém vhazování o délce rohu a nějakou takovou divnou čudlou, z který nemohli mít ani radost.
           Jenže to bylo houno. Pak Kopeckého hlavičce chyběla razance a v 90.minutě hlavičkoval za sebe i za obranu jeden z Třemošnických a jeho kolega postupoval od lajny směrem k bráně. Z docela i dálky poslal pěknou střelu, která zapadla pod šibenici.Ozzy řikal, že si šáhnul, ale z tohohle tvrzení může mít radost tak akorát nějakej předpubertální adolescent, 
           kterej byl s holkou poprvý sám. Prostě během 5-ti minut se z docela velký radosti dostala nálada úplně do kopru.</p>
          <p>Kluci z Třemošnice mají z týhle výhry možná větší radost, než kdyby vyhráli 5:0, porážka bolí o to víc, když se člověk po zápase v hospodě dozví, že by body pustili za 2 pytle brambor a prohlídku litomyšlského zámku:-) Jeden z domácích fanoušků byl ale přece alespoň trochu rád, po třech zápasech jsme doma konečně prohráli s favoritem a jemu tím pádem vyšel tiket :-)    </p>

                    <section class="info">
                        <p><em>Góly: </em> P.Vomáčka</p>
                        <p><em>Žluté karty: </em> B.Válek, Pavel Kuta</p>
                        <p><em>Sestava: </em> &nbsp;J.Lněnička - M.Klement, M.Chmelík, M.Ropek, V.Štancl - Pavel Kuta, B.Válek (J.Vomočil), J.Jokeš, T.Holomek - M.Burian (P.Vomáčka), Z.Škoda (J.Kopecký)</p>
                    </section>