---
title: Po utkání s Chocní opět vzrostl počet fanoušků trpící srdeční chorobou
date: 2009-10-30
---

                        <p>S blížícím se koncem podzimní části tohoto ročníku se diváci čím dál častěji vybavují zimními doplňky. Ku příležitosti oslavy státního svátku si měl ale zřejmě skalní fanoušek vzít na fotbal do Morašic místo kulicha svého kardiologa. </p>
           <p>Celý první poločas se hosté k žádné šanci nedostali, buď trucovali, nebo se jim nechtělo. My jsme měli několik velmi dobrých příležitostí, jak dostat míč do branky, ale vždycky byl někdo proti, ať už rozhodčí po ruce choceňského hráče ve vápně, obránci hostí, kteří zastoupili brankáře, když byl překonán Burianem, nebo Pavel Kuta s Ropkem, kteří svými neuváženými a zbrklými střelami hledali ptáky v trní.</p>  
          <p>Ale pak se pár chytrých hlav dalo dohromady a řeklo dost. Ze západní, čili levé strany odcentroval mladší z Kutů a po hlavičce Válka dostal konečně míč do sítě hlavou Burian. Tuto jedinou správně zakončenou akci již sledoval Martin Štancl z lavičky, neboť si vinou svou vlastní zranil koleno. Rehabilitace potrvá 3-6 týdnů, nicméně olympijský sen se mu rozplývá.</p>
          <p>V půli druhé se naši útočníci hrdě podporováni Jokešem předháněli, kdo z nich efektivněji a hlavně co nejtěsněji mine branku soupeře. Martin Burian byl asi po 16 neúspěšných pokusech vsítit svou druhou branku hlavou vystřídán pro podezření z lehkého otřesu mozku :-) V tu chvíli se pokoušel infarkt i o velmi tvrdé povahy na domácí jižní tribuně, kde i v těch největších mrazech neustále koluje rezavý vychlazený nápoj pro zahřátí. Nakonec to dobře dopadlo a 3 body si do tabulky připíšeme. Chtělo by to ovšem zopakovat ještě v neděli v posledním kole proti Semanínu.</p>

                    <section class="info">
                        <p><em>Góly: </em> Martin Burian</p>
                        <p><em>Žluté karty: </em> M.Ropek, T.Rajman, Petr Kuta</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Chmelík, T.Rajman, V.Štancl - Pavel Kuta, Petr Kuta, M.Štancl (J.Jokeš), M.Ropek - M.Burian (Z.Škoda), B.Válek (J.Kopecký)&nbsp;</p>
                    </section>