---
title: Rada ptáka losKuťáka byla vyhrát
date: 2010-04-26
---

                       <p>Diváci, kteří upřednostnili fotbal před projížďkou na kole, nebo oslavami pardubického titulu jistě počítali s výhrou domácích a možná také tím, že se trochu rozroste skóre vstřelených branek.
          Bohužel jak už to bývá...proti poslednímu se tradičně nedaří.</p>
          <p>Začátek utkání vypadal, že gólů málo nebude. Pavel Kuta hned první střelou asi v 10. vteřině zápasu dostal míč do sítě a po deseti minutách se totéž povedlo J.Kopeckému. Jenže to byla jedna z posledních příležitostí, kdy si mohl hostující brankář sáhnout na balón, né že by 
          nebyly šance, těch se urodilo haba fúr, akorát rozptyl střel byl jaksi v rozporu s velikostí branky.</p>
          <p>Do druhého poločasu se tedy nastupovalo s dvoubrankovým vedením a oproti první části trvalo docela dlouho, než jsme se poprvé dostali do vážnější šance. Povedlo se to, ale opět s nulovým efektem. Hosté si pocit vystřelého míče mezi tyče užili pouze jednou, ale stačilo to. Němec, jak tvrdí, čekal centr, čili svůj pohyb podřídil tušení, na které 
          už bych se víckrát nespoléhal, a musel lovit míč ze sítě.</p>
          <p>Ať se dělalo co se dělalo, tak jsme prostě třetí gól nedali, tudíž jsme asi něco dělali špatně. Neproměnili se ani šance, ať už šel hráč sám na brankáře, nebo se spoluhráčem. Asi jsme nepřekonali počet vyložených šancí z podzimního utkání, ale hodně jsme se tomu přiblížili. Až bude dělat pan redaktor Halva víkendovou sestavu kola, tak by v našem případě určitě neměl zapomenout na ventilky.</p>
          <p>V sobotu zajíždíme do Valů, které jsou na tom stejně jako my a jen výhra nás udrží v tabulce před nimi.</p> 

                    <section class="info">
                        <p><em>Góly: </em> Pavel Kuta, J.Kopecký</p>
                        <p><em>Žluté karty: </em> B.Válek</p>
                        <p><em>Sestava: </em> J.Němec - M.Ropek, M.Chmelík, T.Rajman, V.Štancl - Pavel Kuta, B.Válek, Petr Kuta (J.Jokeš) - M.Burian (J.Vomočil), J.Kopecký (P.Vomáčka), T.Holomek&nbsp;</p>
                    </section>