---
title: Propozice zimní přípravy - čtěte pozorně!
date: 2010-01-01
---

                         <div class="center"> Treninky zvostávají úterý, čtvrtek v 17:30 a sobota od 14:00 hodin<br><br>
          Zimní soustředění se letos koná v <strong>Daňkovicích</strong> (asi 12 km od Poličky na SSV) http://www.selskydvur.net/index.htm<br>
          Doba trvání je standartní: <strong>čtvrtek 28.1.2010 - neděle 31.1.2010</strong><br>Odjezd je  v <strong>16:00</strong> z Morašic, ve <strong>ČTVRTEK</strong><br><br></div>
          <br><br>
          
          <p><strong>Rozpis zimního turnaje na umělé trávě v Chocni:</strong></p>

          <p>SO 6.2.</p> <p>Litomyšl - Morašice       v 9:00....<strong>4:1</strong></p>
          <p>ST 10.2.</p><p> Morašice - Choceň v 17:30...<strong>2:4</strong></p>
          <p>SO 13.2. </p><p>Morašice - Dolní Újezd   v 13:00...<strong>1:1</strong></p>
          <p>SO 20.2.</p><p> Vysoké Mýto - Morašice   v 15:00...<strong>1:3</strong></p>
          <p>SO 27.2.</p><p> Morašice - Dobříkov      v 15:00...<strong>0:6</strong></p>
          <p>SO 6.3.</p><p> Holice - Morašice         v 15:00</p>
          <p>SO 13.3.</p><p> Morašice - Cerekvice     v 11:00</p><br><br>
          
          Dále je zamluvena umělá tráva v <strong>Chocni</strong> pro treninky v <strong>úterý 2.2. a 16.2.</strong> (účast povinná).<br>
          Poslední přátelák se hraje <strong>20.3. v Janově od 15:00.</strong>
                