---
title: Rekapitulace jara 2010 a odchod Kuťáků do fotbalové penze
date: 2010-07-10
---

                        <br><br><p><strong>Statistiky jara</strong></p><br>
          Bilance: 3 - 4 - 6, s celkovým skóre 22:40, 27. bodů a 10.místo<br><br>
          <p><strong>Střelci zabijáci:</strong></p><br>4 - Josef Kopecký<br>2 - Pavel Kuta<br>1 - Petr Kuta, Petr Vomáčka, Zdeněk Škoda, Bohumil Válek, Tomáš Rajman, Martin Štancl<br><br>
          <p>Účast na tréninku oproti podzimu opět klesla. Průměrná hodnota se pohybovala v okolí 44%. Nejvyšší přítomnost zaznamenal:<br> Martin Ropek 95%, Petr Kuta a Bohumil Válek 80%</p>
          <br><br><br>

<br>
         <p><strong>Stručné shrnutí jednotlivých zápasů</strong></p><p><strong><br></strong></p><br>         
         <strong>Načešice 2:0 - </strong> První vyhrání z kapsy vyhání a góly dávají i orgáni (PČR)<br><br>
         <strong>Slatiňany 0:3 - </strong>Od nás výkon pražádný, ale chtěj telátko z jalovičky<br><br>
         <strong>Chrudim 0:5 - </strong>Soupeř si hrál s naší obranou stejně tak, jako kočka s myší<br><br>
         <strong>St.Hradiště 0:1 - </strong>Boj 22 invalidů a vítězství jednookého<br><br>

         <strong>Prachovice 2:1 - </strong>Rychlé góly rychlých spojek duel vykrášlili<br><br>         
         <strong>Valy 2:2 - </strong>První supertah kouče s žolíkem a umfer tah brankáře s obráncem<br><br>         
         <strong>Heřmanův Městec 0:0 - </strong>Zápas celý o ničem<br><br>
         <strong>Moravany 0:0 - </strong>Stejný jako předešlý, jen soupeř byl více ubrečený<br><br>
         <strong>Třemošnice 1:2 - </strong>Druhý supertah kouče, bohužel v závěru opět kiks trenéra<br><br>
         <strong>Choceň 1:3 - </strong>Trenérovi zle bylo z toho dlouho před zápasem a i "vraždou" rozhodčího se to nezlepšilo<br><br>
         <strong>Dolní Újezd 0:4 - </strong>Odevzdat body Dolňáku, toť úkol hodný Pražáků, neboť služební cesty dlouhé, Morašice bodů chudé<br><br>
         <strong>Litomyšl 3:2 - </strong>Třetí poslední supertah tréni, matador město potťal zas<br><br>
         <strong>Semanín 1:1 - </strong>Bratři prachy rozdávají a tím mužstvo motivují, chytil jen hráč jeden, trefil bránu angličanem<br><br><br>

         <strong>Aspirant na starýho mořskýho vlka: </strong>Mates - 3x nastoupil, 3x otočený koleno a tedy náběh na dřevěnou<br><br>         
         <strong>Plácačka na mouchy: </strong>Jendův osobitý zákrok ve Valech se nedá zapomenout<br><br>
         <strong>Nejsložitější kop: </strong>Buryho přes branku z 30 centimetrů<br><br>
         <strong>Precizní kop: </strong>Kouče za 3 body o břevno, podložený hodinovým treninkem před zápasem<br><br>
         <strong>Zabijácký instinkt: </strong> Matador Pepa, kdy přišel, viděl, trefil, zvítězil<br><br>
         <strong>Penaltový specialista: </strong> Ozzy - dvě vyrobil a žádnou nechytil<br><br>
         <strong>Rychlík: </strong> Pavel - 100 metrů za 7 sekund a závdavkem gól, to se jen tak nevidí<br><br>
         <strong>Fotbalová pilka: </strong>Zdenda - jezdí, jezdí, tráva lítá, však bohužel se sítí se jen míhá<br><br>
         <strong>Zlý muž: </strong>Kléma - soupeře vůbec nemá rád, tak po něm prý kope snad a hodný rozhodčí se okamžitě mstí<br><br>
         <strong>Kouzelníci: </strong>Célé mužstvo - minimum treninku, maximum úsilí a ve finále udržení A.třídy, to je částečně zázrak<br><br><br><br><br>
         <p class="center"><strong>Drazí Ká</strong><br><br>Milí, drazí, drazí, milí,<br>sešli jsme se v tuto chvíli,<br>o které jsme všichni snili<br>-Kuťáci nás opustili !<br><br>
         Podobný jak vejce vejci<br>rádi maj kapelu Strejci.<br>Na jaře pak mládenci<br>uďáli si licenci.<br><br>Kvůli Jandáčkově splátce<br>je tu jeden celkem krátce.<br>Běhá jak Zátopků Emil,<br>
         v cíli se nám vždycky tlemil.<br>Debil.<br><br>Tímto odbudeme Pavla,<br>v týdnu měla svátek Pavla.<br>Teď se zaměřme na Petra,<br>v srpnu měla svátek Petra.<br>Vloni<br><br>
         Když ti začla kariéra,<br>my jsme měli malý péra.<br>Ještě než jsi koučoval,<br>na hřišti jsi kraloval.<br>Zvolil jsi si číslo Osum,<br>na hřišti jsi patřil k Bossům.<br>Prej.<br><br>
         Portlík odešel nevrle,<br>vzal jsi to ty a Andrle.<br>Ten to časem zabalil,<br>když mu ji Strup ubalil.<br><br>Toho pohltila Billa,<br>že by ho tu škoda byla?<br><br>Když nám na to Janda kálel,<br>
         tak nastoupil mistr Karel.<br>Rajman<br><br>Trénovals nás čtyři roky,<br>zopákli jsme první kroky.<br>Fotbalové.<br>Debilové.<br><br>Sorry ,Péťo, já se splet,<br>vždyť ty jsi tu už pět let.<br>Za ty roky se tu střídá<br>
         první krajská A, B třída.<br><br>Přemýšlels vždy krátkozrace,<br>furt podával abdikace,<br>není žádná pověra,<br>že v tom roli má Věra.<br><br>Takhle vymřeš po míči,<br>bez syna máš po ….<br>Stejně škoda, žes to vzdal,<br>Bobeš kope ještě dál.<br><br>
         Trénuje nás jen šest kusů,<br>jak v Sibiři za mínusů.<br>Div, že nejsi aspoň docent,<br>když máš účast přes sto procent.<br><br>Našli se i tací hráči,<br>ze kterých ti bylo k pláči.<br>Bufet Újezd, Chmelík moře,<br>Zip zalezlý ve své noře.<br>
         Cvejn a Venda na Vltavě<br>ještě teď ti leží v hlavě.<br><br>Zavdali jsme rumu dost,<br>Tobě Péťo pro radost.<br>Jó, to bylo rodeo,<br>chtěl bys vidět video?<br><br>Při utkání, to seš v transu,<br>díky antiKuta ultra fansu.<br>Tihle kluci tebe mučí,<br>Hendrich, Nepraš, taky Fučík.<br><br>
         Dopřejem Ti nyní spásu,<br>věnovals nám mrtě času.<br>Účes se Ti často ježil,<br>málokdo by tohle přežil.<br><br>Tvůj blonďatý věčný melír,<br>naši partu vždycky tmelil.<br>Ta je tu na prvním místě,<br>peníze ne, to vím jistě.<br><br>
         Odchází nám duše týmu,<br>kterou díky srdci lvímu<br>budem dosti postrádat,<br>dovol nám jen požádat:<br><br>Choď si s námi zavdávat,<br>vyhrávat i prohrávat,<br>morálku furt dodávat,<br>plesy s námi pořádat.<br><br>
         Mějte se vy kluci krásně,<br>to je konec této básně.<br>Skoro<br><br>Tak voláme z plných hrdel,<br>polibte nám oba čelo.<br>Ať je tady stál veselo,<br>a vůbec se nebrečelo.<br><br>Tohle psali psychopaté,<br>tudíž je to košilaté !
         </p>