---
title: Místo políbení na rozloučenou penaltu
date: 2010-06-21
---

                        <p>K poslednímu zápasu v sezoně jsme odjížděli s jistotou Á třídy i pro příští rok, kterou nám proti Litomyšli vystřílel matador Bobeš, přesto se nedá říct, že by o nic nešlo. Jedním z důvodů je to, že to tam prostě nemáme rádi,
          neboť tamější lidé fotbalu nerozumí, pročež jsou na nás oškliví a zlí. Hlavně ale se s aktivními hráčskými i trenérskými kariérami loučili kluci Kutovi. V odcházení zkušenější Petr už ví, že se nikdy nemá říkat nikdy, proto řekl, že už je to asi určitě definitvní. V zájmu vítězného konce 
          jejich blýštivých kariér nás ještě před zápasem namotivovali příslibem nemalých prémií, mimo jiné za gól vstřelený Petrem Kutou osobně.</p>
          <p>Zápas  přesto začal poměrně laxně z obou stran, vezmete-li slovíčko „nebezpečný“ za správný konec, tak jsme přeci jen byli nebezpečnější my, ale ani Škoda ani Pavel Kuta nepochodili. Mezitím domácí zahrozili nepřesně zakončeným nájezdem po naší skvostné průnikovce. Poté jeden z našich 
          záložníků jen tak nenápadně napřáhl a od břevna se balon odrazil za čáru a ven, což naštěstí pomezní zaznamenal a byl z toho první gól v sezoně pro našeho hrajícího trenéra - Petr Kuta, 1:0! Zbytek poločasu už by se vešel snad jen do jedné semanínské standartky, která orazítkovala tyč, 
          ale to měl Ozzy v malíku a oku a šlo se do kabin.</p>  
          <p>Druhá půlka byla na hřišti spíš jen boj a fotbal nevalné úrovně, zato v hledišti už se začali projevovat idioti (to není nadávka, to je diagnóza) o hodně vysoké úrovni. Kromě pár žlutých se stalo jen to, že Burian dostal balon moc za sebe a proto netrefil prázdnou bránu a že rozhodčí se bál, 
          aby dostal napít a tak si na nás vymyslel v takový 95. minutě penaltu. To Lněnička chytil ubohej přímák a chtěl vyhodit míč dopředu, když zezadu dostal ukázkovej krosček (samozřejmě bez povšimnutí) a balon poskakoval po vápně, kde ho Chmelík odkopl před skluzujícím protihráčem, jenž byl ale dle 
          sudího dotyčným Chlmelíkem držen. Fyzikálně absurdní, leč fotbalově v Semaníně možný zákrok, byl posouzen jako penaltový. Ozzy si na ni šáhnul, ale víc nedokázal a tak buďme jen rádi, že už tam kdesi v lesích u Třebovej o nic nešlo. Škoda jen, že to pokazilo rozlučku Kuťáků, kterým tímto děkujeme 
          za všechno, co pro morašický fotbal udělali a přejeme úspěšný fotbalový důchod.</p>
                    
                    <section class="info">
                        <p><em>Góly: </em> Petr Kuta</p>
                        <p><em>Žluté karty: </em> M.Chmelík, T.Holomek</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Chmelík, M.Ropek, V.Štancl (M.Burian) - Pavel Kuta, B.Válek, P.Kuta, T.Holomek - J.Kopecký (P.Vomáčka), Z.Škoda (J.Vomočil)</p>
                    </section>