---
title: Slatiňany - Morašice (3:0)
date: 2010-04-06
---

                        <p>Z naší strany se jednalo o absolutně nepovedené utkání, podali jsme hodně špatný výkon. Za celý zápas jsme si nevypracovali
          vážnější brankovou příležitost, jediný náznak měl snad Burian hlavou po rohu. V prvním poločase byl stejně plonkový i soupeř, ve druhém jsme mu 
          však nabídli několikrát přečíslení dva na jednoho či tři na dva. Dokázal toho využít buď přímo gólově, nebo penaltou. Domácí byli určitě hratelní, 
          ale oni z minima vytěžili maximum, zatímco my se nedostali vůbec k ničemu.</p>
                        <section class="info">
                        <p><em>Žluté karty: </em> M.Chmelík</p>
                        <p><em>Sestava: </em> J.Lněnička - T.Holomek, M.Chmelík, T.Rajman, M.Ropek - Pavel Kuta, B.Válek, Z.Škoda (Vomočil), M.Štancl (Částek) - M.Burian, P.Vomáčka (Petr Kuta)</p>
                    </section>