---
title: Soustředění - cenzurované
date: 2010-02-14
---

                        <div class="center"> Zde je krátká ukázka třídeního plahočení v okolí Daňkovic. Naběhalo se toho vcelku dosti, pitný režim jsme až na některé výjimky taky udrželi v normálu, čili se dá říci, že letošní soustředění splnilo naše očekávání. 
      <div class="center">
      <iframe src="https://www.youtube.com/embed/flrg7w0w96g?rel=0" width="425" height="319"></iframe>
      </div>
         Fotky můžete shlédnout ve složce Galerie a promítání celého snímku proběhne opět po skončení valné hromady.
                        </div>