---
title: I krátká návštěva postačí
date: 2010-04-21
---

                        <p>Po týdenním lijáku přišlo konečně jarní počasí a s ním i další důležitý zápas, po jehož zvládnutí bychom se dotáhli v tabulce právě na Staré Hradiště.
          Vítězství podřídil trenér nejen sestavu, ale snažil se dostatečně nabudit i hráče, což mu vkusně zarazil Burian. To byl na několik příštích hodin poslední okamžik, který vykouzlil v našich mimických svalech obličejových úsměv.</p>
           <p>Domácí začali aktivněji, ale už ve 4. minutě musel opět pro zranění střídat M.Štancl. Co se dělo do 30. minuty pak nemám zdání, z vyprávění vím jen o tutovkách Válka Bohumila a Petra Kuty. </p>
           <p>Staré Hradiště hned ze svojí první šance vstřelilo branku, jak se později ukázalo tak vítěznou, kdy se k domácímu útočníkovi (ne)šťastně odrazil míč a ten ho s klidem poslal do protipohybu Němce. Našeho brankáře pak ještě zastoupil Petr Kuta, když vyhlavičkoval z čáry střelu, která mířila do horního rohu. </p>
           <p>Ve druhém poločase měli více šancí domácí, ale v koncovce byli stejně labilní jako my. Jednou z mála možností jak vyrovnat bylo přečíslení, ve kterém šli 3 naši hráči proti jednomu obránci, ale nedošlo ani k zakončení. Za týden nastupujeme doma proti poslednímu mužstvu tabulky a výhra bude již nutností.</p>

                    <section class="info">
                        <p><em style="font-size: 14px; line-height: 14px; ">Sestava: </em><span style="font-size: 14px; line-height: 14px; "> J.Němec - M.Ropek, M.Chmelík, T.Rajman, V.Štancl - Pavel Kuta, B.Válek, M.Štancl (Z.Škoda), J.Kopecký (J.Vomočil), Petr Kuta - M.Burian</span><br></p>
                    </section>