---
title: Studijní stáž a shánění posil ve Španělsku
date: 2009-11-24
---

                       <p>Stále častěji se ukazuje, že ani malé kluby v dvakrát okupované zemi nelení a snaží se pro svůj vzrůst udělat maximum. Když se nedají sehnat posily bez keců v okolních týmech, pak se musí hledat hold někde jinde v Evropě.</p>
          <p>Pro zisk zkušeností, rozšíření kádru a zvýšení si kreditu u manželek se vydalo duo <strong>Kuta Pe a Kuta Pa</strong> do co by kamenem dohodil vzdálené španělské Barcelony. Po několikadením jednání s <strong>Pepikem Guardiolou</strong>, kde kaviáru bylo po kolena a šampaňské se nalejvalo z konví, se nakonec expedici ze Sokola podařilo získat několik posil na půlroční hostování. Mimo morašický kádr také nastoupí jako nová pracovní síla firem Alfa a Stavitelství Jokeš s.r.o..</p>
          <p>Trenér Petr Kuta, jakožto léty ostřílený stavař zhodnotil architektonické prvky na jihu Evropy a rád by zapracoval něco podného i u nás...(zelený trávník po celém hřišti, plastové sedačky pro fan klub, zcela rovné lajnování atd.). Rovněž mu byla od Josefa Guardioli nabídnuta smlouva, že až za mnoho let skončí v morašickém fotbale, může svůj podzim života strávit jako 2 asistent trenéra právě po jeho boku v Barceloně.</p> 
           <p>Ostatní fotky ze studijního zájezdu naleznete ve složce <strong>Galerie</strong></p>