---
title: Kočka myš, a to není metafora, přátelé
date: 2009-10-12
---

                        <p>Po remíze v derby jsme zavítali k nováčkovi do Třemošnice již s uzdraveným Ropkem, ale bez brankáže Andrleho, který dal přednost koním, před kamarády. Díky vcelku bezchybné a dobře organizované navigaci jsme dorazili bez větších problémů na místo konání. Takovou poslední pseudoradostí byla informace, že na jedné z lajn bude operovat nám dobře známý arbitr Olda Bleša.</p>
          <p>Od první minuty jsme všichni zjistili, proč jsou Třemošnice na špici tabulky a že to asi nebude moc komická sranda. Ty nás sfoukli jak svíčku, prostě parádičky, nahrávečky, střelbička. Celej první poločas jsme se motali po hřišti jak vítr v bedně a nebýt několika výborných zákroků Lněničky a trochu kravského štěstí, tak jsme šli do kabin s mnohem větším přídělem, než jen <strong>1:0</strong>.</p>
          <p>Do druhého poločasu přišlo několik změn v sestavě, ale domácí měli stále převahu. Teoretická naděje na nějaký bodový zisk byla živena pouze do okamžiku, než z přímého kopu přidal kapitán druhou branku. V nastaveném čase jsme inkasovali ještě jednou, kdy střídající útočník pečetil výsledek na <strong>3:0</strong>.</p>
          <p>Domácí hráli velmi dobře, ale my jsme jim zisk tří bodů naší hrou dost ulehčili. Golman Třemošnice mohl být rád, že nebylo zas až tak špatné počasí, poněvadž by v bráně asi nastydl. Snad jediným kladem z naší strany je to, že se nám fanklub rozrostl o další psy. A teď zbývá jen čekat, než se vytřou a díky prodeji jejich produktů se zvýší dotace:-)</p>  
                    
                    <section class="info">
                        <p><em>Žluté karty: </em> Pavel Kuta, B.Válek, M.Klement</p>
                        <p><em>Sestava: </em> J.Lněnička - J.Vomočil (J.Jokeš), M.Chmelík, T.Rajman, M.Ropek - J.Kopecký (Z.Škoda), Pavel Kuta, M.Štancl, M.Klement - T.Holomek, P.Vomáčka (B.Válek)</p>
                    </section>