---
title: V neděli na první Moravany
date: 2009-09-25
---

                        <p></p><p>O víkendu zkusíme bez rekreujícího se Holomka a zraněného Martina Ropka urvat nějaké body v Moravanech. Trenér Petr Kuta nominoval pro tento zápas i Františka Ropka, který by měl svými zkušenostmi a herní vyzrálostí pomoci mladým hráčům k větší psychické stabilitě.</p>