---
title: Pár vteřin od vítězství
date: 2010-05-04
---

                        <p>K našemu na delší dobu poslednímu šestibodovému zápasu jsme se vydali až do Valů, co by kamenem dohodil od pardubického „mekáče“. Do sestavy se nám vrátil Klement, který nahradil služebně vytíženého Rajmana.
           S pokynem opět vyhrát a nechat pardubickým rozhodčím zápas v jejich režii jsme se do toho pustili pěkně zostra a za první poločas jsme domácího gólmana téměř neohrozili. Zato Němec nejprve vychytal pokus z malého vápna a pak si spolu s ostatními notně oddechl, když hostujícímu útočníkovi chyběl krok tři,
            aby tečoval balón do prázdné brány. Po zbytek poločasu to spíš byly ukvapenosti a nepřesnosti ve středu pole.</p> 
          <p>Do druhého poločasu nastoupil na hrot Škoda a hned po rozehrávce k němu po ose Pavel Kuta-Válek doputoval centr, který hlavou nádherně zahodil do sítě – <strong>1:0</strong>!. 
          A pak už bylo o emoce postaráno, protože nejdříve nebyl domácím uznán gól z ofsajdové pozice, což se u velkých měst vždy setká s nepochopením. Do ohně pak přilil Chmelík, který se u lajny potkal s Bažantem a ten, jelikož se Chmelík dušuje, že se ho nedotknul a my mu věříme, si svou hereckou etudou ublížil o zábradlí. 
          Byla z toho žlutá pro našeho stopera, nějaká ta karta za nadávání pro druhou stranu a hlavně téměř pětiminutová herní pauza vyplněná pěkně hnusnými interpelacemi na adresu sudích. 
          Naše obavy z případné kompenzace se nepotvrdili a rozhodčí nám zápas nakonec nepokazili. Po zklidnění vášní přišli pro změnu naše světlé momenty. Nejdříve centr Jokeše propadl až na malé vápno, kde Válek tváří v tvář gólmanovi vybojoval rohový kop. Bohužel o něco později tentýž hráč tečoval centr Pavla Kuty tak, že brankář se k tomu už nachomýtnout nemohl a míč se o tyč lehce doplazil do brány – <strong>2:0</strong>!. 
          A protože my, Sokol Morašice, z boje neutíkáme, tak jsme rázem nechali domácí snížit, aby se o výsledek bojovalo až do konce – <strong>1:2</strong>!. Po zbytek zápasu jsme už více než víceméně bránili, od pohromy nás uchránila tyč, pár odmávaných ofsajdů, jednou výborně Němec a pak taky to, že se Valy soustředili víc na rozhodčí a na nás než na fotbal. 
          Až v 97. minutě se pár chytrých hlav dalo dohromady a vybojovali jsme pro Budínského navýsost příjemnou pozici pro standartku a ten se bohužel trefil náramně.</p>
          <p>Pozici před naším soupeřem jsme tedy uhájili, ale Valuju, aby to vzhledem k průběhu zápasu a našemu losu pro příští zápasy někdo považoval za úspěch.</p>

                    <section class="info">
                        <p><em>Góly: </em> Z.Škoda, B.Válek</p>
                        <p><em>Žluté karty: </em> B.Válek, M.Chmelík</p>
                        <p><em>Sestava: </em> J.Němec - M.Ropek, M.Chmelík, T.Holomek, V.Štancl, M.Klement - Pavel Kuta, B.Válek, J.Jokeš - M.Burian (J.Vomočil), J.Kopecký (Z.Škoda)</p>
                    </section>