---
title: Víkendové zápasy odloženy
date: 2009-10-16
---


<p>Kvůli sněhové pokrývce, nízkým teplotám a malému zájmu diváků byly odloženy víkendové zápasy v Pardubickém kraji. Možná se totéž stalo i v ostatních částech naší společné vlasti, ale to nás v tuto chvíli nemusí zajímat. Náhradní termín je stanoven na <strong>středu 28.října</strong> tohoto roku. <br><br>Dorost: <strong>Morašice</strong> - Česká Třebová <strong>12:15</strong> SEZČ<br>Muži: <strong>Morašice</strong> - Choceň B <strong>14:30</strong> SEZČ</p>   
