---
title: Byl to fičák
date: 2013-08-25
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2013-2014/Morašice/663.html
image: /public/images/zapasy/chrudim-morasice.png
---

<p>Celý zápas se hrálo na dvě branky. První poločas na jednu a druhý na tu druhou. Domácí "Céčko" ukázalo, že i rezervní rezerva skrývá kvalitu, která nám sice dala čuchnout, ale v žádném případě ne ochutnat.</p>

<p>Od první minuty byla Chrudim všude rychlejší, silovější a nakonec i efektivnější. Na hranici šestnáctky pomalu začal mizet úhledný trávník, který nevydržel dusot našich kopyt. V mnohých pozápasových rozhovorech jsme mohli slyšet větu, že jsme dali branku příliš brzo, tentokrát to ovšem neplatí. Nováček prchl po křídle, zaseknutím oklamal domácího obránce a přesnou přihrávkou našel na vápně Veselíka, který brankáře překvapil střelou na přední. Nutno dodat, že od zárodku akce, až po uklidnění emocí z vedoucí branky, jsme strávili na soupeřově polovině něco okolo dvou minut. Jednalo se o nejdelší tlakovou vlnu naší jedenáctky, kterou musela Chrudim absorbovat. Po hrubé chybě v obraně vyrovnali asi za tři minuty a od dalších branek nás zachránil Prešinský.</p>

<p>Druhá půle se dá shrnout pouze v číslech. 60. minuta 5:1 pro Chrudim, poté hra o 10 a na závěr ještě poslední kousek na cestu.</p>
