---
title: Darmo mluvit, to se musí vidět
date: 2014-04-12
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2013-2014/Morašice/759.html
image: /public/images/zapasy/hlinsko-morasice.png
---

<p>V prosluněnou sobotu, kdy nám předvoj dělalo pražské derby, jsme plni nadějí a odhodlání dorazili do Hlinska, jehož rezerva se, stejně jako my, nemůže pyšnit extra bodovým ziskem v tabuli.</p>

<p>Úkol zněl jasně: Dlouhý nakopávaný balóny za obranu a trefovat zařízení. Nutno dodat, že první fáze nám šla na výbornou. Obranné&nbsp;čtveřici se pomalu již začínají rýsovat svaly na pravých nohách. Záložníky trápí potíže s krční páteří od neustálého otáčení hlavy k nebi. No a útok? Ten si taky neví rady, přesto věřím, že dělá, co může. Jedinej Préša chápe svůj úkol, a tak se pokouší za svá záda pustit co nejméně míču vystřelených od soupeře a Chmelíka. Summa summárum to dává velice nevýrazný projev, spousty nechápavých pohledů, minimum kombinace a vaginální opisy, které lítají po hřišti jako vlaštovky.</p>

<p>První branku jsme sice vstřelili my, nýbrž Burián stál při prodloužení Chmelíkovy standartky v postavení mimo hru. Na druhé straně&nbsp;dostali domácí možnost zahrávat Péká po faulu Zerzána. Zde přišla hrubá chyba Prešinského, který nevystihl úmysl ani směr a kapituloval. Naše pokusy o steč končily již v zárodcích, tudíž už vůbec identifikace náznaku šance dala zabrat.</p>

<p>Ve druhé půli nás Hlinsko míchalo hlavně ve středu pole a po vcelku přesných nákopech za obranu. Nebýt Prešinského, trudomyslnosti soupeře, štěstí, sluníčka a dalších nevysvětlitelných jevů, skóre by nárůstalo výrazně častěji,než pouze jednou. Nejhezčí střelu vyslal z půlky Kuta. Bránu minula zhruba o 10 cm. Největší možnost ke střele, či skórování měl Válek, ale nevystřelil ani neskóroval. Jedinou "střelu" mezi tyče si zapsal Štancl, míč se však zastavil v pilinách na malém vápně.</p>

<p>Závěrem: Dojem nesympatický, pozitiva těžkonajitelná, výsledek milosrdný.&nbsp;&nbsp;</p>
