---
title: AFK Horní Jelení - TJ Sokol Morašice 3:0 (0:0)
date: 2014-03-30
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2013-2014/Morašice/746.html
image: /public/images/zapasy/horni-jeleni-morasice.png
---

<p>Favorit měl hru po většinu utkání ve své moci. Téměř hodinu však neúspěšně dobýval hostující branku. Jelení vysvobodil teprve cizelérsky zahraný trestný kop Kaňkovského. Hned z následující akce narýsoval Michálek kolmici na Dědiče, ten dloubl míč do vápna, kde ho opět Kaňkovský „z první" napálil přesně k tyči. Plodnou dvanáctiminutovku favorita završila využitá penalta po faulu na Štěpánka, jejímž exekutorem byl Hendrych.</p>

<div>
<h3 class="no-clear">Komentář trenéra Jana Kuchty</h3>

<blockquote><p>Soupeř byl lepší, my jsme na něho fotbalově nestačili. Sice jsme hodinu hry drželi díky důsledné obraně bezgólové skóre, ale potom se domácí trefili z trestného kopu, hned za minut přidali druhý gól a bylo po zápase. Jelení má opravdu silný mančaft, my jsme proti němu prakticky neměli šanci. Pro nás budou důležitá jiná utkání.</p></blockquote>
</div>

<p> </p>
<p><strong>Branky:</strong> Kaňkovský 2, Hendrych (PK). Rozhodčí: Ujec.</p>
<p>ŽK: 1:1 (Škoda), Diváků: 270.</p>
<p><strong>Horní Jelení</strong>: Jozl – Čermák (80. Raich), Hendrych, Chytka, Houžvíček – Štěpánek (88. Kabeláč), J. Velinský, Michálek (65. Pinkas), Seidenglanz (65. Martinec) – Dědič, Kaňkovský (83. Svatoň)</p>
