---
title: Ani nové trio nepomohlo
date: 2014-05-04
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2013-2014/Morašice/784.html
image: /public/images/zapasy/morasice-slatinany.png
---

<p>Slatiňanům jsme měli po podzimním klání co vracet. A nejednalo se jen od pětibrankový příděl. Na lavičku se usadilo staro-nové trio, jenže chyba lávky, stejně to jaksi nevyšlo.</p>

<p>Přeci jen je to již 14 dní, tak vzpomínky hledám hodně daleko v lebce, ale myslím, že jako první okusil brankáře Holomek z rohového kopu. Slatiňany měly více energie a problémy nám dělalo hlavně jejich pravé křídlo, který disponoval minimálně o dva rychlostní stupně, než pohybující se hráči kolem něj. Právě po jednom takovém pasu za obranu v klidu prchlo a ještě klidněji zakončilo. Byli jsme ve většině soubojů pozdě, z čehož vyplývaly i standartní situace pro soupeře. Jednu takovou ve 45.minutě zrežíroval hostující hráč tak, že podstřelil zeď a Lněnička byl bez šance.</p>

<p>Druhá půle se z naší strany příliš nezlepšila. Jednalo se stále o takový čudný výkon. Lněnička chytil přibližně 3 - 4 tutovky i za cenu krvácení. Pak si ovšem i on vybral slabší chvilku kdy propustil za svá záda velmi nicotnou čudlu. Čtvrtou branku jsem již neviděl, ale kolují spekulace, že míč zamířil do šibenice.</p>

<p>Tento pokus o body opět nevyšel, ale jsou na světě horší věci.</p>
