---
title: Přepište dějiny
date: 2013-11-03
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2013-2014/Morašice/733.html
image: /public/images/zapasy/morasice-nacesice.png
---

<p>Poslední možnost k navýšení bodového koeficientu se odehrála první listopadovou sobotu s Načešicemi, které jsou víceméně za vodou, takže sázkové kanceláře vypsaly vysoký kurz opět na nás.</p>

<p>Hosté ukázali, že jsou v tabulce o tolik příček před námi právem. Celý první poločas jsme měli problém, když měli míč na kopačkách. Sice se do žádné vyložené šance nedostali, ale i tak to nedělalo naší nervové soustavě dobře. Z našich řad se do dobré příležitosti dostal Zerzán, ale v těžké pozici zatím selhal. Načešický Jirásek využil psychického rozpoložení domácí obrany se zálohou a po kombinaci pronikl do vápna, kde Lněničkovi nedal příliš na výběr a otevřel skóre.</p>

<p>O přestávce jsme se rozhodli změnit taktiku, respektive jsme se rozhodli, že si nějakou taktiku určíme a zkusíme s ní vyrukovat na soupeře. Ovoce přišlo již po několika minutách, kdy byl zbytečně již mimo hru ve vápně zfaulovaný Burián a následoval pokutový kop, na které si začínáme zvykat asi jako Plzeň. Předem určený Kuta ztratil v sebe víru a přenechal svoji pozici Zerzázovi, který s přehledem a drnem trávy vyrovnal. Načešice mohli jít znovu do vedení, když byl u rohového praporku trapně vysvačen Štancl a ránu z penalty jistě vyrazil Lněnička. Poté následovala opět nudná pasáž nepřesného fotbalu, až se z rohového kopu dostal míč nejprve k Buriánovi, následně k hostujícímu brankáři a nedá se říct ani do sítě, ale za čáru ho dopravil opět Zerzán. Poslední hřebík zatloukl Zerzán, čímž dovršil svůj hatrick, ale hlavně zakončil svůj úprk nezvykle přesně po zemi na přední, čímž pádem stanovil konečnou podobu výsledku.</p>

<p>Stejně jako&nbsp;4 evangelisté podávají svědectví a vypráví v Bibli o&nbsp;Novém zákoně, tak 5 diváků, kteří&nbsp;byli přítomni na zápase v Morašicích budou muset&nbsp;vysvětlovat výhru domácích mnohým zvědavcům.</p>
