---
title: Zmrtvýchvstání se nekonalo
date: 2014-04-20
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2013-2014/Morašice/769.html
image: /public/images/zapasy/morasice-pomezi.png
---

<p>Na velikonoční neděli jsme doma přivítali Pomezí, odkud jsme si na podzim přivezli symbolického bůra.</p>

<p>Ani tentokrát to netrvalo moc dlouho a tekli jsme 2:0. Pocit ze vstřelené branky vehnal do našich duší Kuta, když vymetl šibenici z přímého kopu. O pár minut později jsme se dočkali vyrovnání po kombinaci Kuty a Štancla, kdy se o finální tečku postaral Burián. Tentýž jinoch mohl dokonat obrat. Bohužel tváří v tvář s brankářem neproměnil. Nadějně naladěná atmosféra se však nepřenesla do druhého poločasu. Rozhodčí nám sice pomohl vyloučením hostujícího hráče, ale ani to nepomohlo. Dostali jsme další dva kusy a na žádnou korekci jsme se nezmohli.&nbsp;</p>

