---
title: Neuvěřitelné se stalo skutečností
date: 2014-05-11
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2013-2014/Morašice/785.html
image: /public/images/zapasy/morasice-stare-hradiste.png
---

<p>Do sedmého jarního duelu jsme opět vyrazili s chutí, humorem a tentokrát konečně i s bojovností. Sestava doznala poměrně dosti změn a lze říci, že v celkovém součtu byly ku prospěchu věci.</p>

<p>Vcelku mladý výběr Starého Hradiště, obohacený velezkušeným Fandou Rybou, který kromě nízkého rodného čísla zaujal i za ta léta logicky propracovanou hrou, přijel určitě vyhrát. Jako ostatně většina týmů. Jenže důsledná obrana, prototyp míče a trávník jim dělaly velké problémy a hosté se nemohli dostat do žádné vážnější šance. K trávníku bych rád pouze podotknul, že takhle měkce se neběhalo již roky. Sem tam jsme se dostali k ohrožení hostující svatyně, ale jednalo se spíš o zápas s osobními souboji. Přesto se z rohového kopu ve schrumáži ideálně zorientoval Chmelík a otevřel skóre. Pojistit vedení mohl Mach, jenže o fous překopl svatyni&nbsp;vyběhnutého brankáře. Řádově 5 minut před pauzou si Kuta vybojoval na pravé straně faul. Sám si trestňák zahrál a Burián dychtivě vyhýbající se míči ho tečoval do volného kusu brány.</p>

<p>Vedení 2:0 o poločase tu na jaře ještě nebylo. V hlavách jsme si do druhého poločasu museli zachovat ideu, že není nic vyhraného a že na podobně projeté zápasy jsme fajnšmekři. Nehrálo se ani 10 minut a hosté sehráli svoji nejhezčí akci zápasu. Průnikovka bezi obránce, náběh za obranu a Lněnička byl pod nohama útočníka pozdě. Do dvoubrankového vedení nás znovu&nbsp;mohl poslat Mach, našel si míč odražený z rohového kopu na penaltě a ránou jako prase ho poslal do větráku.&nbsp;Hradiště se stále drželo na míči, ale do žádné další velké šance se nedostalo. Lněnička s pozornou obranou míče s větším či menším klidem odvracel a tím se naskýtala možnost pro brejkové situace.&nbsp;Na jejich řešení musíme určitě zapracovat. Nejprve se&nbsp;za obranou soupeře na půlce zjevil Kuta, jenže nedokázal pořádně zařadit a nic z toho nebylo. Pár minut před koncem postupoval do dobré šance Famfulík, ale na svůj věk ji vyřešil nedobře. Střelu mu zblokoval obránce, tak se rozhodl vybídnout na vápně zcela osamoceného Vopařila, který z první branku přestřelil.&nbsp;</p>

<p>Hodnocení jednotlivých hráčů nechám pro kouče na trénink, jestli někdo příjde. Za tejden jedeme k vedoucímu celku do Moravské Třebvé. Chtělo by se říci, že mu máme co oplácet :-)</p>
