---
title: Sokol Morašice - MFK Chrudim C 0:5 (0:3)
date: 2014-04-06
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2013-2014/Morašice/754.html
image: /public/images/zapasy/morasice-chrudim.png
---

<h3 class="no-clear"><a href="http://svitavsky.denik.cz/fotbal_region/lov-jelenu-byl-uspesny-slovan-se-dostal-na-spici-20140407.html" target="_blank">Svitavský deník</a></h3> 

<p>Domácí narazili na fotbalovou kvalitu, která byla mimo jejich možnosti. Navíc soupeři pomohli do sedla chybami a ještě do poločasu bylo o osudu utkání rozhodnuto. I po změně stran se hrálo v režii céčka, domácí z několika příležitostí nedokázali debakl ani upravit.</p>

<div>
<h3 class="no-clear">Komentář trenéra Jana Kuchty</h3>

<blockquote><p>Po špatném výkonu jsme dostali pěknou nakládačku. Věděli jsme, že první dvě kola pro nás budou těžká, beru, že se může prohrát, ale ne tímto způsobem. Hráči si musí uvědomit, že poslední Králíky se k nám přiblížily na jediný bod a že takhle to prostě dál nepůjde. Vždyť tři góly jsme si dali prakticky sami. Je to trochu paradoxní, ale hrbolatý terén nedělal ani tak problémy soupeři, jako nám.</p></blockquote>
</div>
