---
title: Dřina
date: 2013-09-01
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2013-2014/Morašice/668.html
image: /public/images/zapasy/morasice-hlinsko.png
---

<p>Na čtvrtý pokus posbírat body jsme přivítali rezervu Hlinska, které na tom není o mnoho lépe než my. A opět jsme nesehráli utkání, se kterým bychom se chlubili před budoucím zaměstnavatelem.</p>

<p>Pro těch 6 diváku to zřejmě nebyla kdo ví jaká podívaná. Znovu chyběla mezihra a hrubky&nbsp;by se daly spočítat taky těžko. Kdyby jsme nebyli tak laxní, tak by hosté míč neměli taky tak často. Sami bychom góla nedali ani do tmy, takže nám musel pomoci soupeř. Autové vhazování poslal do vápna Jokeš a Zerzán v souboji se soupeřem docílil několika tečí, až se míč dokutálel do brány. Ve zbytku poločasu stojí za zmínku ještě přečíslení 3 na jednoho, ale nahávka Nováka na Škodu se neujala a ani dvojitá dorážka úspěch nepřinesla.</p>

<p>Druhý poločas pokračoval v nezajímavosti z naší strany. Hosté tlačili a snažili se o vyrovnání. Kromě 20-ti ofsajdů si vypracovali "pouze" střely vně šestnáctky, se kterými si Prešinský poradil. Na druhé straně se však děly věci. Po faulu na Zerzána poslal penaltu Kuta do tyče. Střídající Vopařil šel z půlky sám na brankáře, ale domníval se, že hrajeme pouze na tři doteky, tak zakončoval už ze středového kruhu. A Zerzán v úniku obcházel brankáře tak dlouho, až se ocitl na poli. Míč do sítě sice procpal Válek, ale pomezní byl hrubě proti.</p>

<p>Vítězství se sice urodilo, ale že by bylo nad čím jásat, to si troufne říci málokdo. Sejdeme se v lepších časech, třeba už za týden v Pomezí.</p>
