---
title: Tak snad napotřetí
date: 2013-08-18
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2013-2014/Morašice/655.html
image: /public/images/zapasy/morasice-horni-jeleni.png
---

<p>V prvním poločase se hrál fotbal s řadou nepřesností a pouze s náznaky<br />
šancí. Do dvou šancí se dostal hostující Kaňkovský, ale zakončil nepřesně,<br />
za domácí zakončoval ve slibné pozici nepřesně Nováček. Domácí do druhého<br />
poločasu sáhli k dvojitému střídání, ke kýženému zlepšení to ale nevedlo.<br />
Hned ve 48. min. nahrával před branku hostující Martinec a Kaňkovský<br />
naštěstí pro domácí skóroval z postavení mimo hru. V 54. min. nebezpečně<br />
zaútočili po straně i domácí, Zerzán ale nahrál Nováčkovi na paty. V 62.<br />
min. nebezpečně střílel Kaňkovský, Prešinský nadvakrát kryl. V 72. min. se<br />
už hostující prosadili, po pravé straně unikl Štěpánek a prostřelil domácího<br />
gólmana. V 84. min. se sám na penaltě objevil Kaňkovský, kterého skvěle<br />
vychytal Prešinský. V 86. min. už hosté rozhodli, když nedorozumění<br />
Prešinského s Ropkem před pokutovým územím využil střídající Šmidberský.<br />
&nbsp;</p>
