---
title: Bída s nouzí
date: 2013-10-20
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2013-2014/Morašice/720.html
image: /public/images/zapasy/morasice-kraliky-cervena-voda.png
---

<p>Zápas o poslední flek v tabulce byl kvůli minimální hladině inkoustu v tiskárně o několik minut posunut, z čehož mohli těžit diváci, aby našli to nejvhodnější místo a polohu pro sledování, podle předpokladu, jistě napínavého utkání. Museli jsme se obejít bez Chmelíka, který zrovna přiváděl na svět potomka, respektivě potomku, ke které mu samozřejmě srdečně blaopřejeme, ale zároveň se zdá, že náš oddíl zřejmě postupně vymře po meči, protože líheň chlapců byla jaksi zastavena.</p>

<p>Již od začátku bylo jasné, že fotbalovosti duel pobírat moc nebude. Na pohlednou kombinační akci by se čekalo možná až do tmy a míč se k pokutovému území dostal pouze vlivem silnějšího v osobním souboji. Než na krásu se spíše hrálo na kvalitu verbálního projevu a stylistiku recitační vložky proti rozhodnutí hlavního arbitra. Přesto všechno jsme měli v prvním poločase několik dobrých příležitostí ke vstřelení branky. Bohužel jak rohové kopy, tak i standartní situace končily na hlavách Ropka a Buriána. Zerzán v úniku s obráncem na zádech netrefil branku. Dvě minuty před pauzou si nepokrytý záložník soupeře udělal cestu do vápna, kde byl zfaulován a rázem bylo vše jinak. Ježek s pomocí tyče penaltu proměnil a tím dal konečnou formu poločasovému výsledku.</p>

<p>Druhá půle byla horší, než ta první. Těžko říct, jestli se na to dalo koukat s prázdným žaludkem a neobohaceným dechem o nějakou tu špetku alkoholu. Jakýsi platonický tlak jsme si vytvořili až v závěru zápasu, kdy jsme měli možnost zahrávat dvakrát tu samou standartní situaci, jenže nejprve minul Kuta a po něm i Skala. Druhou penaltu odpískal rozhodčí po faulu hostujícího brankáře na Ropka, se kterou si bezpečně poradil Válek. A to je asi tak vše. Za zásluhy se většinou dávají medaile, ale za tento výkon by nám pan prezident asi 3 body neudělil.</p>
