---
title: Ani na koukání
date: 2013-10-06
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2013-2014/Morašice/707.html
image: /public/images/zapasy/morasice-moravska-trebova.png
---

<p><span style="font-family: Tahoma, Helvetica, Arial; font-size: 14px; font-style: normal; font-variant: normal; line-height: 21px;">Ve 4.&nbsp;minutě vyběhnuvší domácí brankář Prešinský odhlavičkoval balon k&nbsp;hostujícímu Štěpánkovi, který jeho chybu s&nbsp;přehledem potrestal. V&nbsp;10. minutě zaváhal Chmelík při rozehrávce a ani Masopust neměl problém se zakončením – 0:2. Morašičtí svými hrubkami pomohli Třebové ke snadnému náskoku 2:0 a to navíc nebylo do poločasu všechno, protože po rohu ještě zamířil přesně hlavou R. Šatník. Po přestávce pokračovala jednoznačná partie. V&nbsp;63. minutě navýšili hosté z&nbsp;penalty skóre zásluhou Vančury a nakonec nasázeli půltucet gólů. Slovan vyhrál v&nbsp;derby naprosto zaslouženě, domácí mu nekladli téměř žádný odpor.</span></p>

<p>&nbsp;</p>

<p><strong><span style="font-family: Tahoma, Helvetica, Arial; font-size: 14px; font-style: normal; font-variant: normal; line-height: 21px;">Komentář trenéra J.Kuchty:&nbsp;</span></strong><span style="font-family: Tahoma, Helvetica, Arial; font-size: 14px; font-style: normal; font-variant: normal; line-height: 21px;">Být to v&nbsp;boxu, tam tam po deseti minutách hodím ručník a půjdu domů. Nechci snižovat výkon Moravské Třebové, hrála dobře, ale my předvedli velkou fotbalovou bídu. Bylo to od nás vystoupení někde na úrovni třetí třídy. A&nbsp;to můžeme být docela rádi, že jsme nedopadli ještě hůře, další tutovky chytil Prešinský. Žádného dalšího komentáře k&nbsp;tomu ani nemám.</span></p>
