---
title: S bojovností přicházejí i body
date: 2013-09-15
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2013-2014/Morašice/681.html
image: /public/images/zapasy/morasice-prelouc.png
---

<div style="text-indent: 0px;">
<p>    Morašičtí konečně poprvé v této sezóně předvedli bojovný a důrazný fotbal,  za což byli odměněni třemi body. Hostující Přelouč sice měla většinu času  míč na svých kopačkách, ale domácí jí nepustili do vyložené šance a hrozili  z rychlých brejků. Poprvé domácí zahrozili ve 36. minutě, kdy Zerzán sám  před hostujícím brankářem Pořízem střílel nedůrazně do prostřed brány.  Domácím se podařilo jít do vedení v 39. min., když Zerzán přihrál před  branku Buriánovi. Minutu před koncem prvního poločasu mohli jít domácí do  dvougólového vedení, kdyby Veselík nemířil ve skluzu těsne vedle Pořízovi branky.</p>

<p>I druhý poločas se hrál za neustálé, ale platonické převahy hostů. Domácím se však podařilo navýšit skóre v 74.minutě, když po rohu hostů proměnil rychlý brejk aktivní Klement po vysunutí Buriánem. Domácí do konce utkání  pozorně bránili a defenziva společně s výtečným Prešinským nedovolila hostům skórovat.</p>
</div>
