---
title: Podzimní jízdní řád
date: 2013-07-04
---

<p class="bezodsazeni"><strong>Změny v pravidlech: </strong>v utkáních dospělých lze střídat 5 hráčů, střídavý start hráčů do 23 let</p>

<p class="bezodsazeni">&nbsp;</p>

<p class="bezodsazeni"><u><strong>MUŽI</strong></u><strong> - 1. A třída PKFS</strong></p>

<p class="bezodsazeni">Tréninky&nbsp;v úterý a čtvrtek od 17,45 hod</p>

<p class="bezodsazeni">Přípravný zápas: NE 21.7.13 v 17 h Morašice - Svratka 3:2</p>

<p class="bezodsazeni">1. kolo Pohár hejtmana: SO 27.7.13 v 17 h&nbsp;Morašice - Polička 1:0</p>

<p class="bezodsazeni">2. kolo Pohár hejtmana: NE&nbsp;4.8.13 v 17 h Morašice - Sokol Dolní Újezd 1:3</p>

<p class="bezodsazeni">1. mistrovské kolo: SO 10. srpna 2013 od 17,00 hod&nbsp;proti <strong>TJ FC Titanic Srch </strong>(hřiště Srch)</p>

<p class="bezodsazeni">Mužstva v 1.A třídě: <strong>FC Jiskra 2008, FK Česká Třebová B, TJ Mezilesí Načešice</strong>, T.J. FC Titanic Srch, <strong>AFK Horní Jelení</strong>, MFK Chrudim C, <strong>FC Hlincko B, <strong>TJ </strong>Sokol Pomezí, FK Přelouč, SK Spartak Slatiňany, o.s., TJ Sokol Morašice, SKP Slovan Moravská Třebová,</strong> <strong>SK Sokol Prosetín</strong>, TJ Sokol Staré Hradiště</p>

<p class="bezodsazeni">&nbsp;</p>

<p class="bezodsazeni"><u><strong>DOROST</strong></u><strong> - 1. třída skupina B PKFS</strong></p>

<p class="bezodsazeni">společné družstvo Morašice/Cerekvice, hřiště Morašice a Cerekvice</p>

<p class="bezodsazeni">Mužstva: FK Proseč o.s., TJ Jablonné nad Orlicí, FK JEHNĚDÍ 1980/SK Sloupnice, TJ Žichlínek, TJ Sokol Březová n.S., Sportovní kluby Polička/Sokol Pomezí, TJ Sokol Kunčina, TJ SOKOL LIBCHAVY, TJ Sokol Řetová/Jiskra Ústí B, TJ Sokol Morašice/Cerekvice, TJ Horní Újezd, TJ Radiměř</p>

<p class="bezodsazeni">&nbsp;</p>

<p class="bezodsazeni"><strong><u>ŽÁCI</u> - okresní přebor 7+1 OFS SY</strong></p>

<p class="bezodsazeni">Mužstva: Cerekvice, Bystré, Rohozná/Pomezí, Morašice, Čistá, Jaroměřice, Opatov, Hradec n.S., Borová, Jevíčko</p>

<p class="bezodsazeni">&nbsp;</p>

<p class="bezodsazeni"><strong><u>PŘÍPRAVKA</u> - okresní přebor smíšených přípravek</strong></p>

<p class="bezodsazeni">Mužstva: Cerekvice, Svratka, Jevíčko, Čistá, Městečko Trnávka, Jaroměřice, Bystré, Borová, Morašice, Dolní Újezd, Radiměř, Sebranice, Březová, Svitavy B</p>
