---
title: Venku znovu s nulou
date: 2013-09-08
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2013-2014/Morašice/678.html
image: /public/images/zapasy/pomezi-morasice.png
---

<p><span style="font-family: Tahoma, Helvetica, Arial; font-size: 14px; font-style: normal; font-variant: normal; line-height: 21px;">Domácí začali derby ve velkém stylu, hýřili nápady i&nbsp;pohybem, kombinační hrou válcovali soupeře, který se jenom s&nbsp;obtížemi bránil. Po dvaceti minutách udeřil J. Nespěšný, bratrská spolupráce se ujala o&nbsp;něco později, kdy druhou branku vsítil M. Nespěšný. Pomezí si dovolilo luxus neproměněné penalty, ale celý zápas se hrál ve stejném duchu a góly padaly i&nbsp;po přestávce. Přesně pod břevno se z&nbsp;trestného kopu trefil J. Nespěšný a aby to nevypadalo, že je zápas záležitostí bratrů Nespěšných, skórovali i&nbsp;střídající hráči. Nejprve Stýblo a konečnou podobu dal výsledku J. Svoboda – 5:0. Dohrávalo se za drtivé převahy domácích.</span></p>

<p>&nbsp;</p>

<p><span style="font-family: Tahoma, Helvetica, Arial; font-size: 14px; font-style: normal; font-variant: normal; line-height: 21px;"><strong>Komentář trenéra J.Kuchty:</strong> Špatná hra, špatný výsledek. Chyběli nám někteří hráči ze základu, ale na to se nelze vymlouvat. Soupeř byl lepší a zaslouženě vyhrál, nám se vůbec nedařilo. Myslel jsem si, že nás trochu probere neproměněná penalta domácího brankáře za stavu 2:0, ale bohužel se tak nestalo a utržili jsme debakl. S&nbsp;předvedeným výkonem v&nbsp;Pomezí jsem velmi nespokojen.</span></p>
