---
title: Šancí jako much
date: 2013-10-13
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2013-2014/Morašice/709.html
image: /public/images/zapasy/prosetin-morasice.png
---

<p>S blížícím se koncem podzimní části sezóny se v tabulce pomalu začíná oddělovat zrno od plev. Dnes jsme zavítali k soupeři, který je v obdobné situaci jako my, čímž pádem se očekávalo, že to nebude znovu tah na jednu branku, ale konečně se dostaneme ke slovu. Střídačka byla neobvykle naplněna a i sestava doznala jistých změn.</p>

<p>Hned v úvodu nám domácí ukázali, že největší problémy budeme mít s technicky vybaveným Odvárkou a útočníkem "Bonym", který byl před zápasem trochu neprávem podezříván, jestli nehraje na černo. Svoji kvalitní spolupráci předvedli již v 7.minutě. Odvárka našel přesným centrem za obranou Bonyho, který si míč zpracoval jako v televizi a s přehledem k tyči otevřel skóre. Naší nejvěrší zbraní v první půli byly standartní situace, se kterými měl Prosetín docela dost starostí.&nbsp;Prakticky každý centr našel hlavu Ropka, nebo Buriána, jenže míč se do branky&nbsp;jaksi nevešel. Průnik Zerzána zase gólman vyrážel na roh.&nbsp; Ve 35.minutě jsme se dočkali vyrovnání&nbsp;z rohového kopu, když zahrávající Kuta našel opět hlavu Buriána, jež si tentokrát mířidla srovnala. Na druhé straně jsmeskoro &nbsp;dali vlastňáka, když došlo k nedorozumění při odvracení rohu. Dvě minuty před pauzou byl souboj Bonyho a Chmelíka posouzen jako nedovolený v náš neprospěch. Zahrávající Haman nezahrál trestňák nikterak jímavě. Obstřelil zeď a nedůslednost ve vápně způsobila, že byl míč zastaven až sítí za Prešinským.</p>

<p>Po přestávce jsme se od začátku usadili na soupeřově polovině a pořád není jasné, proč žádná ze šancí neskončila gólem. Nejprve Zerzán přestřelil branku po zaváhání gólmana, potom přišla série rohových kopů a standartních situací, po kterých se míč pohyboval hodně blízko brankové čáry. Vždy však chybělo pár centimetrů, aby se dostal na místo určení.&nbsp;V 58.minutě&nbsp;vyslal Burián za obranu Štancla, který vlastně skoro klidně vyrovnal. Vyrovnávací branka domácí mužstvo trochu nakopla a začal boj o to, komu se povede dát tu pátou,&nbsp;možná vítěznou. Nikdo si nelámal hlavu s kombinační hrou,&nbsp;vsázelo se na dlouhé balóny a sílu v osobních soubojích.&nbsp;Vedení&nbsp;jsme na svou stranu mohli strhnout my, když jsme využili otevřené obrany soupeře a dlouhým autem do vápna byl Kuta vybídnut, aby rozhodl zápas.&nbsp;Zařízení sice trefil, ale&nbsp;v místě střely byl jakýsi muž v rukavicích.&nbsp;Domácí zahrozili&nbsp;z přímého kopu, který&nbsp;mimo tři tyče vytěsňoval Chmelík.&nbsp;Ke konci zápasu nechyběla ani špetka emocí, aby si diváci za ty prachy taky na něco přišli. Konečný hvizd&nbsp;připsal&nbsp;každému mužstvu po bodu a dá se říci, že asi spravedlivě.</p>
