---
title: První vlaštovky
date: 2014-04-26
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2013-2014/Morašice/772.html
image: /public/images/zapasy/prelouc-morasice.png
---

<p>Jedno z mála mužstev, které jsme na podzim porazili byla právě Přelouč. Na tento mistrák jsme se sešli v hodně stručném počtu. Střídačka zela prázdnotou a to ještě dorazil z hlavního města Holub a pomohli nám dva kluci z dorostu.</p>

<p>Nástup byl přímo ideový. Již ve druhé minutě Kuta vysunul Zerzána, ten utekl obraně a do protipohybu golmana otevřel skóre. Vedení nám vydrželo asi 36 vteřin a po centru do vápna bylo vyrovnáno. Náš druhý výpad do soupeřova vápna znamenal rohový kop, který brankář špatně vyboxoval a Válek míč vrátil na místo určení. Další branku zaznamenal ještě Skala, jenže praporek sudího byl proti. Do týhle fáze to jakštakš šlo, i když jsme vzadu občas hořeli. Jenže Přelouči stačily&nbsp;3 minuty, aby otočili skóre a do kabin šli s vedením 3:2.</p>

<p>Druhá půle byla z naší strany hodně titěrná. Došel nám dech a k soupeřově brance jsme se dostali asi až v 90.minutě. Mezitím jsme nafasovali ještě 2 fíky a bylo po srandě.&nbsp;</p>

<p>Dali jsme již dva zápasy po sobě nějakou tu branku. Dokonce jsme se dostali 2x do vedení. Uvidíme co bude příště.</p>
