---
title: Předvánoční zájezd do vinného sklepa
date: 2013-11-10
---

<div class="center">V <strong>sobotu 7.prosince 2013</strong> pořádáme zájezd do <strong>vinného sklípku U Dufků v Bořeticích</strong>. Volná místa&nbsp;stále jsou. Kdo má chuť a nebojí se, nechť se ozve jakýmkoliv způsobem kterémukoliv &nbsp;představiteli Sokola. Upřednostňujeme Ropka Martina, či Kutu Petra.&nbsp;</div>

<div class="center">Odjezd: <strong>Sobota 7.12.2013</strong> v&nbsp;<strong>15:00</strong> ze hřiště v Morašicích</div>

<div class="center">Cena: <strong>600,-</strong> záloha + jemný doplatek na dopravu závislý na počtu účastníků</div>

<div class="center">Návrat v nočních hodinách</div>

<div class="center">Zájezd obsahuje kromě kopce srandy neomezenou konzumaci vína, dvě večeře a&nbsp;degustaci&nbsp;s přátelským výkladem</div>

<div class="center">&nbsp;</div>

<div class="center"><a href="http://www.udufku.cz/uvod">http://www.udufku.cz/uvod</a></div>
