---
title: Zasejc bůro
date: 2013-09-21
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2013-2014/Morašice/693.html
image: /public/images/zapasy/slatinany-morasice.png
---

<p><span style="font-family: Tahoma, Helvetica, Arial; font-size: 14px; font-style: normal; font-variant: normal; line-height: 21px;">Lépe začali domácí a v&nbsp;17. minutě vedli 2:0, když nejprve Dostál otevřel hlavou skóre a poté stál na konci pěkné kombinační akce Kopecký. Hosté se dostali ke slovu díky důrazu Zerzána, který sebral míč obráncům a obešel i&nbsp;brankáře Borka – 2:1. Jejich aktivita ale neměla dlouhého trvání, naopak ve 37.&nbsp;minutě se v&nbsp;koncovce prosadil opět Kopecký a zvýšil na 3:1. Po změně stran domácí kontrolovali vývoj a hosté se do výraznějších možností nedostali. V&nbsp;závěrečné čtvrthodině poté ještě dvakrát kapitulovali, když konečné skóre završil brankář Borek z&nbsp;nařízeného pokutového kopu.</span></p>
