---
title: Soustředění 2014
date: 2014-01-15
scortes: 
image: 
---

<p><font color="#1f497d" face="Calibri" size="3">Soustředění se uskuteční v termínu <strong>7.-9.2.2014 v Daňkovicích </strong>– Penzion Selský dvůr, odjezd v pátek ráno, návrat v neděli odpoledne. Zálohu vybírá Milan Chmelík.</font></p>

