---
title: Stačilo zabloudit
date: 2013-08-10
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2013-2014/Morašice/648.html
image: /public/images/zapasy/srch-morasice.png
---

<p>K prvnímu mistrovskému zápasu v nové sezóně i soutěži jsme zavítali na pardubicko, kam se budeme vracet častěji než obvykle. Až na světlé vyjímky jsme se sešli všichni, takže konečně nechyběla ani věková variabilita v sestavě.</p>

<p>Podobný úvod nepamatuji. Srch získal možnost prvního&nbsp;výkopu a když časomíra ukazovala 1:58, nafasovali jsme už dvoubrankové manko. Domácí na nic nečekali, vzali to z gruntu, vytěžili roh, ze kterého se hlavou prosadil neobsazený kapitán Brož. Rozehráli jsme, jenže Vopařilovi se míč zamotal mezi nohy, čehož využil Karela a z dálky poslal míč pod břevno. Na zdejším trávníku jsme už měli tu čest odvést si domů příděl v podobě sedmi, nebo dokonce i devíti branek a mnozí z nás se strachovali, aby rekord nebyl náhodou překonán. Bylo vidět, že si domácí vedení užívají a náš styl jim plně vyhovoval, aby si v případě potřeby oddechli a pak se do nás mohli znovu opřít. Nebezpečí hrozilo prakticky z každé jejich standartní situace, které měli nacvičené velmi dobře. Přesto se snaha o korekci výsledku vyplatila.&nbsp;V 18. minutě sklepl dlouhý centr Burián na vápno, kde z voleje vystřelil Štancl. Trefil sice pouze brankáře, ale vyražený míč nadvakrát procpal do sítě, jeden z nováčků, Novák. Tentýž hráč mohl o deset minut později i vyrovnat, když po obdržení míče na střed hřiště prošel skrz celé vápno, jenže tentokrát střelu Mičjan dokázal vytěsnit na roh. Několik minut před přestávkou ještě vybojoval míč téměř u rohového praporku Burián, poslal ho pod sebe na hranici šestnáctky, odkud Štancl vůbec netrefil branku.</p>

<p>Druhý poločas byli domácí stále lepším týmem, ale už se nedostávali tolik do šancí jako v tom prvním. Ve 46. minutě zkusil štěstí z dálky Novák,&nbsp;střela šla do náruče&nbsp;gólmana.&nbsp;Poté jsme kolem 60. minuty zahrávali dvě standartky při kterých nám důraz sice nechyběl, ale scházelo trocha štěstí. Míč se koulel po brankové čáře, nebo se odrážel od nohou, které kolem stály, ale do sítě se mu nechtělo.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; V 58. minutě měli domácí asi největší šanci druhé půle, kdy útočník prošel vápnem, poslal obranu i s brankářem do protipohybu a vystřelil do prázdné branky. Kde se vzal, tu se vzal najednou Prešinský a byl z toho roh. V 70. minutě vystřelil nad Famfulík. Rozhodující moment přišel v 74. minutě, kdy Srch zahrával standartku, Prešinský míč pouze vyrazil před sebe a na dorážku Doležala byl krátký. Minutu před koncem se před velkým vápnem srazil domácí obránce s brankářem a výborně hrající Novák do prázdné branky stanovil konečnou podobu výsledku.</p>

<p>Asi jen ten nahoře ví, jak by to vypadalo, kdyby jsme nepohnojili začátek. Ale co, jak se říká: "Každý začátek je těžký, řekl zloděj a ukradl kovadlinu."</p>

<div>
<h3>Komentář trenéra Jana Kuchty ze <a href="http://svitavsky.denik.cz/fotbal_region/i-a-trida-tri-tesne-nezdary-to-je-cerny-vstup-do-podzimu-20130811.html" target="_blank">Svitavského deníku</a></h3>

<blockquote>O naší porážce bohužel rozhodlo prvních pět minut, které jsme tragicky zaspali a dvakrát inkasovali. Potom jsme se však na trávníku srovnali a v dalším průběhu jsem byl se hrou spokojen. Za stavu 2:1 jsme měli i tlak na vyrovnání, místo toho dostali třetí branku a další snížení pak už přišlo pozdě. Nebýt pokaženého začátku, myslím si, že se v Srchu dalo něco udělat. Dobře se uvedli mladíci Novák s Vopařilem, kteří poprvé naskočili do tak těžkého utkání.</blockquote>
</div>
