---
title: Opět nechycený začátek
date: 2013-09-28
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2013-2014/Morašice/694.html
image: /public/images/zapasy/stare-hradiste-morasice.png
---

<p><span style="font-family: Tahoma, Helvetica, Arial; font-size: 14px; font-style: normal; font-variant: normal; line-height: 21px;">Hosté nezachytili úvod zápasu, dostali se pod tlak, čelili sérii rohových kopů a od 17.&nbsp;minuty prohrávali, když střílený centr Kučery tečoval Holubec – 1:0. Po půlhodině trefil Stefanov po úniku břevno, do poločasu po dlouhém výkopu brankáře Hlavatého zvýšil na 2:0 Vykoukal. Hned po změně stran dotlačil po rohovém kopu balon do sítě Holubec a bylo jasné, že s&nbsp;nadějemi hostů je amen, i&nbsp;když regulérnost této trefy by se dala zpochybnit. Poslední slovo si domácí vzali v&nbsp;65. minutě, kdy Lexman vysunul ideální „uličkou" mezi beky rychlého Stefanova, ten sólo proměnil a zpečetil skóre.</span></p>

<p>&nbsp;</p>

<p><strong><span style="font-family: Tahoma, Helvetica, Arial; font-size: 14px; font-style: normal; font-variant: normal; line-height: 21px;">Komentář trenéra J.Kuchty:&nbsp;</span></strong><span style="font-family: Tahoma, Helvetica, Arial; font-size: 14px; font-style: normal; font-variant: normal; line-height: 21px;">Herně to sice bylo o&nbsp;malinko lepší než minule, ale pořád to není ono. Prakticky jsme si zápas prohráli sami. První dvě branky byly v&nbsp;podstatě vlastní, čtvrtá padla v&nbsp;době, kdy jsme trochu otevřeli obranu, a tu třetí nám dal rozhodčí. Opravdu nechápu, jak mohl uznat gól po tak evidentním faulu na brankáře v&nbsp;malém vápně. Přiznám se, že mě to hodně rozzlobilo. Příčiny porážky však musíme hledat především u&nbsp;sebe.</span></p>

