---
title: Štěpánská zábava
date: 2013-12-11
---

<div class="center">Náš sousedský spolek, jenž je udržován hlavně pro radost všech zúčastněných, si dovoluje prostřednictvím tohoto webu popřát Všem přítomným Štastné a Veselé, včetně tříbodového zisku při vstupu do nového roku.</div>

<div class="center">Samozřejmě Vás také zveme na již tradiční <strong>Štěpánskou zábavu</strong> konanou ve středu <strong>25.prosince 2013</strong> od <strong>20:00</strong> na <strong>Rychtě v</strong> <strong>Morašicích</strong>.</div>

<div class="center">K tanci a poslechu hraje skupina <strong>Medium II.</strong></div>

<div class="center">Alkoholické nápoje se podávají neředěné a v jakémkoliv množství</div>

<div class="center"></div>
