---
title: Zimní příprava nejen pro žáky + silvestrovský fotbálek
date: 2013-12-11
---

<div class="center">Ve <strong>čtvrtek 23.ledna 2014</strong> proběhne od <strong>1</strong><strong style="line-height: 1.4em; text-indent: 2em;">5:00</strong><span style="line-height: 1.4em; text-indent: 2em;"> v </span><strong style="line-height: 1.4em; text-indent: 2em;">morašické tělocvičně ZŠ</strong><span style="line-height: 1.4em; text-indent: 2em;"> úvodní seznamovací trénink pro děti z blízkého i širšího okolí Morašic. Ideální příležitost jak udělat již v útlém věku něco pro své&nbsp;zdraví, naučit se pár nových věcí a získat dobré&nbsp;kamarády, kteří při vás budou stát až do fotbalové penze.</span></div>

<p>&nbsp;</p>

<p>- Trénink pod vedením tří kvalitních a zkušených koučů s psychicky stabilní povahou, kteří narozdíl od Jirky Luňáka z Okresního přeboru vlastní trenérskou licenci</p>

<p>- Vše v přátelské atmosféře se snahou ukázat, že i tak prostý&nbsp;sport&nbsp;jako je fotbal lze hrát&nbsp;pro radost</p>

<p>- Cvičení různých herních variací získaných z instruktážního DVD tréninku Manchestru United</p>

<p>&nbsp;</p>

<p>- Při trénincích lze využít nový umělý povrch na hřišti (bývalé antukové hřiště)</p>

<div class="center"></div>

<p>&nbsp;</p>

<div class="center"><strong>Zimní příprava</strong> pro muže začíná 14.1. nebo 16.1.. Jelikož se dá předpokládat hojná účast, příjďte všichni <strong>pořádat Štěpánskou</strong>, kde se všechno dozvíte konkrétně a mnohem přesněji.</div>

<p>&nbsp;</p>

<div class="center">V <strong>úterý 31.12.</strong> (silvestr) se koná tradiční fotbálek starý x mladý (v našem případě spíš starý x ještě starší) od <strong>10:00</strong>. Pokud počasí dovolí, tak je to na hřišti, pokud ne, zamluví se hala. Zde se včas dozvíte konečný verdikt&nbsp;</div>
