---
title: Zimní příprava 2014
date: 2014-02-01
scortes: 
image: 
---

<p>Tréninky: úterý a čtvrtek od 17,30 hod.</p>

<p>Příprava:</p>

<p>sobota 1.2.14 od 12:00 hod Proseč 5:2 (1:0, Vomáčka 2, Burián, Štancl Martin, Kuta)</p>

<p>pátek - neděle 7.-9.2.14 soustředění v Daňkovicích (odjezd v pátek v 8,00 hod)</p>

<p>neděle 16.2.14 od 10:00 hod Cerekvice 4:2 (3:1; Zerzán 2, Štancl V., Kopecký)</p>

<p>sobota 22.2.14 od 14:00 hod Sebranice 1:3 (0:1; Ropek)</p>

<p>neděle 9.3.14 od 9:00 hod Kunčina 2:2 (0:0; Mach, Skala)</p>

<p>sobota 15.3.14 od 15:00 hod Dolní Újezd B 2:0 (1:0; Štancl V., Klement)</p>

<p>sobota 22.3.14 od 15:00 hod Kameničky 2:3 (1:2; Válek, Ropek)</p>

<p>&nbsp;</p>

<p><strong>SOBOTA 29.3.2014 od 8 hod - !!! BRIGÁDA !!! - příprava hřiště na sezonu - ÚČAST POVINNÁ !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</strong></p>
