---
title: I golmani mají své dny
date: 2013-10-27
scortes: https://scortes.rozpisyzapasu.cz/api/STM2MOR1/2013-2014/Morašice/724.html
image: /public/images/zapasy/ceska-trebova-morasice.png
---

<p>V okleštěném seskupení jsme pochmurně postávali před kabinami fotbalového svatostánku v České Třebové a naše zraky toužebně okukovaly všechny možné východy areálu s přáním spatřit někoho známého, který by mohl obohatit náš skromný spolek pro tento zápas. Nestalo se tak. Verdikt zněl jasně. Pouhých 11 kusů plus náhradní brankář, trenér,&nbsp;vedoucí mužstva a chleba se sádlem. Sešlo se nejen minimum lidí, ale i několik faktorů, které způsobily nezvykle velký prostor v kabině pro každého z nás. V diváky se na tribuně proměnilo duo bratří Klementů a na nedělní odpoledne možná až příliš nažehlený Vopařil Ká, který prodal kopačky, zakoupil pivo a před rozšířením našich řad raději upřednostnil soukromý rozbor kvality hry z bezpečné vzdálenosti. Zbývalo jediné, bojovat.</p>

<p>Domácí rezerva týmu, který pomalu zasekává drápeček do divize vypadal mladě, co hůř i schopně, pokud jde o fotbal. Rozhodně se nám nedá upřít snaha o eliminaci třebovské rozehrávky, nebo hráčů samotných. Osobních soubojů bylo k vidění konečně poměrně hojné množství, leč fotbalová krása a občasné pokusy o brejk vyšly naprázdno, neboť i defenzíva České Třebové se pyšnila rychlostí stolice kašovité konzistence. Čili ohrožení domácí brány námi se dá shrnout do jedné věty. Nic. Za to na druhé straně měl soudruh (ne že by volil třešně, ale i my se snažíme jít s dobou a držet se nových trendů) Lněnička plné ruce a nohy práce. Když po čtyřiceti minutách svítilo na tabuli stále skóre 0:0, rozhodoval se domácí zdravotník, zda při&nbsp;poločasové&nbsp;pauze&nbsp;neaplikovat&nbsp;svým svěřencům vyšší dávku antidepresiv.&nbsp;Jakmile Lněnička nedosáhl na míč rukavicemi, pomohl si špičkou kopaček, nebo byl v blízkosti vždy jeden z obránců. Dokonce přišla na řadu i penalta. Vršovický dloubák Antonína Panenky se stal osudný již mnohým brankářům, ale ne Ozzymu. Konečně mohl těžit ze svého dlouhého vedení a pomalejších reflexů. Prostě chvíli trvalo, než si rozmyslel, na kterou stranu skočí, zůstal stát a míč měl v rukavicích.</p>

<p>Druhá půle byla zajímavější. Domácí stále v převaze nemohli překonat výborného Lněničku. Z naší šance tečoval standartku těsně vedle hlavou Ropek. Pak se sudí smiloval nad odpískáním druhé penalty po zákroku Chmelíka na unikajícího jinocha. Přes snahu jsme dvacet minut před koncem přece inkasovali, když byl po úprku po lajně předložen míč před prázdnou bránu Šafářovi, který neměl problém se trefit. Prakticky hned z rozehrávky se dostal hluboko do pole soupeře Škoda, předložil na malé vápno Prešinskému a ten nechal vyniknout svého kolegu v soupeřově dresu. Míč se odrazil od břevna a před hlavičkujícím obráncem ho důrazně uklidil do sítě Válek. Ale prej s faulem. O několik chvil později se zaskvěl opět Lněnička, jenže Šafář se dostal k dorážce&nbsp;a takovým pseudonůžkolobem pojistil vedení. Ke slovíčku jsme se dostali až se závěrečnými minutami. Z rohu hlavičkoval Chmelík a Skalovi ke vstřelení kontaktní branky chyběla pouze větší erekce, nebo pivní pupek. Dosáhl ji (branky) až 2 minuty před koncem, když vydařeně k tyči zakončil standartní situaci před velkým vápnem. Ve zbytku utkání už domácí drama nepřipustili a vítězství si v klidu pohlídali.&nbsp;&nbsp;</p>
