// settings
$width: 100%;
$cellSpacing: 10px;
// colors
$red: #cd2b0f;
// background
$cellDate: #dca;
$event: #fda;
$currentWeek: rgba(255, 221, 170, 0.5);
// border
$borderStyle: 1px solid;
$borderColor: #d0b990;

table#stmCalendar {
    width: $width;
    text-align: center;
    border-collapse: separate;
    border-spacing: $cellSpacing;
    td, th {
        position: relative;
        width: floor($width / 7);
        border: $borderStyle $borderColor;
    }
    tr#aktualni-tyden {
        td {
            background: $currentWeek;
        }
        tr.match {
            td {
                background: $cellDate;      
            }
        }
    }
    td#dnes {
        border: $borderStyle $red;
        tr.match {
            td {
                border-bottom: $borderStyle $red;
            }
        }
    }
    td.invalid {
        border: 0;
        background: transparent !important;
    }
    table.event {
        td {
            background: $event;
        }
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;                
        width: 100%;                
        td, th {
            border: 0;
            padding: 3px;
        }
        tr.match {
            td {
                color: #4d1006;
                background: $cellDate;      
                border-bottom: $borderStyle $borderColor;
            }
        }
        .unknown, .win, .loss, .draw {
            font-weight: bold;
        }
        .unknown {
            background: $cellDate !important;
        }
        tr.empty {
            height: 100px;
        }
        tr.team td {
            img {
                width: 60%;
            }
            strong {
                display: block;
                padding-top: 3px;
                font-size: 1em;                
            }
        }
        tr.score td {
            font-weight: bold;
            color: $red;
            padding: 1px;
            .penalty {
                display: inline-block;
                font-size: 0.7em;
                color: black;
                padding-left: 3px;
            }
        }
        tr.field td {
            text-transform: uppercase;
            font-size: 0.8em;
            color: #822616;
        }
    }
}