$background: #102601;

body > nav > div {
    position: relative;
    margin: 0 auto;
    max-width: 910px;
    padding: 0px 20px;
    width: 90%;
}

body > nav {
    clear: both;
    background: $background;
    #mobile-toggle {
        display: none;
    }
    ul {
        li {
            position: relative;
            display: inline-block;
        }
        a {
            display: block;
            padding: 1ex;
            color: #edb;
            text-shadow: #8b6d37 1px 1px 1px;
            letter-spacing: 0.2ex;
            font-size: 0.95em;
            text-transform: uppercase;
            font-weight: 700;
            &:hover, &:focus {
                background:#da2d11;
                color:#ffff27;
            }
        }
        li.selected > a {
            background:#da2d11;
            color:#ffff27;
        }
    }
}

body.non-touch-device {
    > nav {
        > div {
            text-align: center;
            padding: 7px 20px;
        }
        ul {
            li {
                padding: 0;
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
            }
            a {
                line-height: 30px;
                padding: 0 1em;
                border-radius: 5px;
                border: 1px solid $background;
                &:hover, &:focus {
                    border: 1px solid #4d1006;
                }
            }
            li ul {
                display: none;
            }
            li:hover ul {
                display: block;
                position: absolute;
                top: 30px;
                background: #102601;
                text-align: left;
                z-index: 10000;
                li {
                    display: block;
                    letter-spacing: normal; 
                    margin: 10px 0;
                }
                a {
                    display: block;
                    border-radius: 0;
                    a:hover, a:focus {
                        color:#ff6;
                        background:#822616;
                    }
                }
            }
            li.selected li a {
                background:transparent !important;
                color:#fda;
                &:hover, &:focus {
                    background:#da2d11;
                    color:#ffff27;
                }
            }
        }
    }
}

/* MESSAGES */
body > figure {
    background: #da2d11;
    color: #ffc;
    font-weight: bold;
    line-height: 1.3em;
    text-shadow: #822616 1px 1px 1px;
    > div {
        // 100%width, text only in center
        position: relative;
        margin: 0 auto;
        max-width: 910px;
        padding: 7px 20px;
        width: 90%;
        &:before, &:after {
            content: url('../images/warning.png');
            position: absolute;
            top: 3px
        }
        &:before {
            left: 5px;
        }
        &:after {
            right: 5px;
        }
        > span {
            display: block;
            margin: 0 30px;
        }
    }
    strong, em, a {
        color: #ff9;
    }
    a:hover, a:focus {
        color: #ff0;
    }
}

body.touch-device {
    /* message */
    > figure > div {
        width: 100%;
        padding: 0;
        &:before, &:after {
            display: none;
        }
        > span {
            padding: 1em;
            margin: 0;
            font-size: 12px !important;
        }
    }
    // nav
    > nav {
        div {
            width: 90%;
            text-align: left;
        }
        #mobile-toggle {
            width: 100%;
            display: block;
            padding: 1em;
            background: $background;
            color: white;
            text-align: center;
            border: 0;
            &:before, &:after {
                display: inline-block;
                margin: 0 1em;
                color: grey;
            }
            &.toggle-open {
                &:before, &:after {
                    content: '▼';
                }
            }
            &.toggle-close {
                &:before, &:after {
                    content: '▲';
                }
            }
        }
        #menu {
            display: none;
        }
        ul, li {
            display: inline !important;
        }
        ul {
            a {
                display: inline-block;
                padding: 2em;
            }
            li li a {
                font-weight: normal;
                color:#fda;
            }
            li:hover ul {
                position: relative;
            }
            li.selected > a {
                background: transparent;
            }
        }
        .mobile-hidden {
            display: none !important;
        }
    }
}
