
@media screen and (max-width: 600px) {
    /* general */
    body > header > div, body > div#main > div, body > footer > div {        
        padding: 8px;
    }
    /* header */    
    body > header {        
        min-height: 30px;
    }
    body > header figure {        
        display: none;
    }
    body > header section {        
        width: 100%;
        text-align: center;
        clear: both;        
        margin: 0;    
    }
    body > header section > strong, body > header section#tipovacka > strong {
        font-size: 2em;
        line-height: normal;
    }
    /* content */
    #main ul, #main ol {
        margin: 1ex;    
        list-style-position: inside;
        line-height: 1.5em;
    }
    #main .left, #main .right {
        float: none;
        display: block;
        margin: 1ex auto;
        width: auto;
        height:auto;
        position:relative;
        text-align:center;
    }
    /** Season table */
    #main table.seasonTable th, #main table.seasonTable th.leftAlign {
        width: auto;
    }
    #main table.seasonTable td.logo img {
        display: none;
    }
    /** Left & Right panel */
    #main section.left-panel, #main section.right-panel {
        width: 100%;
        float: none;
        display: block;
        margin-bottom: 2em;
    }
    #main section.right-panel table.match td.logo {
        width: 40%;
    }
    #main section.right-panel table.match td.logo img {
        max-width: 100px;
    }
    /** footer */
    body > footer > div > span {
        display: block;
        background: #102601;
        margin: 1ex 0;
        border-radius: 10px;
        padding: 1ex !important;
        border-right: 0 !important;
    }
}
