
@media print {
    body > figure,
    body > nav, 
    body > header figure,
    #main article > footer,
    #main ul.content,
    body > footer {
        display: none;
    }

    body {
        font-family: "Times New Roman", serif;
        font-size: 12pt;
        line-height: 16pt;
        color: #000;    
        background: #fff;
    }

    a {
        text-decoration: underline;
        color: #606;
    }

    /* MAIN ELEMENTS */
    body > header > div, body > div#main > div {    
        padding: 7pt;
    }
    /* HEADER */
    body > header {
        background: #eee;
        border-bottom: 1px solid #ccc;
        min-height: auto;
    }
    body > header section > strong {
        color: #323;
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 3px;
        line-height: normal;
    }
    body > header section > strong > span{            
        display: block;
    }

    /* CONTENT AREA */
    /** Text elements */
    div#main p {
        text-indent: 2em;
    }
    div#main strong {
        font-weight: 700;
    }
    div#main em {
        font-style: italic;
    }
    /** Headings */
    div#main h1, div#main h2, div#main h3 {
        font-weight: 700;
        color: #111;
        margin: 1ex 0;
    }
    div#main h1 {
        font-size: 1.6em;        
    }
    div#main h2 {
        font-size: 1.3em;
    }
    div#main h3 {
        font-size: 1.2em;
    }
    /** Article */
    #main article {             
        border-bottom: 1px solid #ccc;
        margin-bottom: 2em;
    }
    /** Lists */
    div#main ul, div#main ol {
        margin: 1ex;
    }
    div#main ul > li {
        list-style-type: square;
    }
    div#main ol > li {
        list-style-type: decimal;
    }
    /** Left & Right panel */
    #main div.left-panel {
        width: 100%;
        float: none;
        margin-bottom: 2em;
    }
    #main div.right-panel {
        width: 100%;
        float: none;
    }
    /** Images with description */
    #main div.image {
        float: left;
        padding: 1ex;
        margin: 0 1em 1em 0; 
        text-align: center;
    }
    #main div.image img{
        display: block;
        margin-bottom: 1ex;
    }
    #main div.image strong{    
        display: block;
    }
    /** Floating elements - images, ... */
    #main .left, #main .right, #main .center {
        margin: 1ex 1em;
    }
    #main img.left, #main img.right, #main img.center {
        max-width: 50%;
    }
    #main .left {
        float:left;
        margin-left: 0;
    }
    #main .right {
        float:right;
        margin-right: 0;
    }
    #main .center {        
        display: block;
        margin: 1ex auto;
        width: auto;
        height:auto;
        position:relative;
        text-align:center;
    }
    /** Border for central div is 100% width -> only img.center */
    #main .border {       
        border: 1px solid #ccc;
    }
}