body {
    font-family: Arial, sans-serif;
    font-size: 14px;    
    background: #3d7317 url('../images/background.jpg') top right repeat;
    text-align: left;
}

/* PAGE CENTERING */
body > header, body > #main, body > footer {
    position: relative;
    margin: 0 auto;    
}
/** Header, main, footer - only in center */
body > header, body > #main, body > footer {    
    max-width: 950px;
    width: 90%;
    overflow: hidden;
}
body > header > div, body > #main > div, body > footer > div {        
    padding: 30px;
}

/* BORDER AND BACKGROUND */
body > header, body > div#main {
    border: 3px solid #102601;
    border-top: 0;
    background: #edb;
}
#main {background: #edb;} /* Bo wysihtml5 */
body > header {    
    border-bottom: 0;
}
body > #main {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;    
    min-height: 500px;
}

/* HEADER */
body > header {
    min-height: 200px;
    text-align: left;   
}
/** Znak */
body > header figure {        
    position: absolute;
    top: 30px;
    right: 30px;
}
/** Slideshow */
body > header.s1{background: #edb url('../images/header/s1.png') top right no-repeat;}
body > header.s2{background: #edb url('../images/header/s2.png') top right no-repeat;}
body > header.s3{background: #edb url('../images/header/s3.png') top right no-repeat;}
body > header.t1{background: #edb url('../images/header/t1.png') top center no-repeat;}
/** logos */
body > header section {
    margin-top: 1em;
    text-align: left;
}
body > header section > strong, body > header section > strong > span {    
    display: block;        
}
body > header section > strong {        
    color: #da2d11;
    font-size: 5em;
    font-weight: 700;
    line-height: 60px;
    text-shadow: #102601 1px 1px 1px;
}
body > header section > strong > span{            
    color: #102601;    
    font-size: 0.4em;    
    line-height: 1em;
    text-shadow: #dca 1px 1px 1px;
}

/* CONTENT AREA */
/* Main colors + links */
#main {
    color: #000;        
}
#main a {    
    color: #cd2b0f;
}
#main a.stm {    
    color: #8b6d37;    
    font-size: 0.85em;
}
#main a:hover, #main a:focus {
    color: #da2d11;
    background: #ffc;
}
/** Text elements */
#main p {
    text-indent: 2em;        
    line-height: 1.4em;  
}
#main p.bezodsazeni {
    text-indent: 0;
}
#main strong {
    font-weight: 700;
}
#main em {
    font-style: italic;
}
/** Headings */
#main h1, #main h2, #main h3 {
    font-weight: 700;    
    clear: both;    
    text-shadow: #dca 2px 2px 3px;
}
#main h1 {
    font-size: 1.4em;    
    margin: 0 0 1em 0;
    color: #102601;  
    text-shadow: #dca 1px 1px 1px;       
    position: relative;
    left: -30px;
    padding: 2px 2px 2px 0;
    border-left: 30px solid #dca;
}
#main h1:first-line {
    background: #dca;
}
#main h1:after {
    content: '\A0';
}
#main h1 > span.highlight, #main h2 > span.highlight {
    color: #cd2b0f;
    padding-left: 1ex;
    .penalty {
        display: inline-block;
        padding-left: 1ex;
    }
}
#main h1 > em, #main h2 > em, #main h3 > em {
    color: #cd2b0f;
    font-style:normal
}
#main h2, #main article > header > h1 {
    font-size: 1.3em;
    margin: 1em 0 1ex 0;
    color: #822616;
}
#main h3 {
    font-size: 1.2em;
    margin: 1ex 0;
    color: #4d1006;
}
/** Breadcrumb navigation */
#main nav#breadcrumb {
    font-size: 0.8em;
    text-transform: uppercase;
    margin-bottom: 1em;
    opacity: 0.7;
}
#main nav#breadcrumb a{
    color: #8b6d37;
}
/** Article */
#main article {
    margin: 1em 0 2em 0;
}
#main article > header, #main article > div, #main article > section, #main article > footer{
    padding: 1ex;
}
#main article > header {
    padding-bottom: 0;
}
#main article > header > h3, #main article > header > h2, #main article > header > h1 {        
    margin: 12px 0 0;
}
#main article > header > h1 {    
    position: relative;
    left: 0;
    padding: 2px 2px 2px 0;
    border-left: 0;
}
#main article > header > h1:first-line {
    background: transparent;
}
#main article > header > time {
    font-size: 0.9em;
    background: #da2d11;
    border: 1px solid #4d1006;
    border-radius: 5px;
    color: #fda;    
    padding: 2px 1ex;
}
#main article > header > .category {
    font-size: 0.9em;
    background: #dca;
    border: 1px solid #102601;
    border-radius: 5px;
    color: #102601;    
    padding: 2px 1ex;
}
#main article > div, #main article > section { 
    clear: both;
    line-height: 1.4em;
}
#main article > div img {
    vertical-align: middle;
}
#main article > div > h2 {
    font-size: 1em;
    display: inline-block;
}
#main article > div > h3 {    
    font-size: 0.9em;
}
#main article > div > blockquote {    
    margin: 1ex 2em;
    font-size: 0.98em;
    color: #102601;
}
#main article > div > blockquote:before {
    content: '\201E';
    /*content: '\A0\A0\A0\A0\A0\A0\201E'; instead of text-indent */
}
#main article > div > blockquote:after {
    content: '\201C';
}
#main article > div table {
    padding: 1ex 0;
    td, th {
        padding: 3px 6px;
    }
}
#main article section.info {
    padding-top: 0;
    p {
        text-indent: 0;
    }
    em {    
        color: #8b6d37;
        font-style: normal;
    }
}
#main article div section.info { // old articles
    padding-top: 1em;
}
#main article > footer {        
    text-align: right;
    font-size: 0.8em;    
    border-bottom: 1px solid #dca;
    margin-bottom: 3em;
    clear: both;
}

/** Lists */
#main ul, #main ol {
    margin: 1ex;    
    list-style-position: outside;
    margin-left: 2em;
    line-height: 1.5em;
}
#main ul > li {
    list-style-type: none;
    list-style-image: url('../images/li.png');
}
#main ol > li {
    list-style-type: decimal;
}
#main ul li ul, #main ol li ol{
    margin: 0 1em;
}

/*** Content list */
#main ul.content {
    list-style-position: inside;
}
#main ul.content, #main ul.content a {
    color: #8b6d37;
}
#main ul.content a:hover {
    color: #da2d11;
}
/** Floating elements - images, ... */
#main .left, #main .right, #main .center {
    margin: 1ex 1em;
}
#main .left {
    float:left;
    margin-left: 0;
}
#main .right {
    float:right;
    margin-right: 0;
}
#main .top{margin-top:0}
#main .center {        
    display: block;
    margin: 1ex auto;
    width: auto;
    height:auto;
    position:relative;
    text-align:center;
}
/** Border for central div is 100% width -> only img.center */
#main .border {       
    border: 1px solid #8b6d37;     
    border-radius: 5px;    
    -moz-border-radius: 5px;
    box-shadow: 3px 3px #dca;
    -moz-box-shadow: 3px 3px #dca;
    -webkit-box-shadow: 3px 3px #dca;    
}
#main a .border:hover {    
    border: 1px solid #102601;
}
#main.history-page p img {
    display: block;
    border: 1px solid #8b6d37;
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 3px 3px #dca;
    -moz-box-shadow: 3px 3px #dca;
    -webkit-box-shadow: 3px 3px #dca;
    width: 100%;
    margin: 1em 0;
}
/** Images with description */
#main div.image {
    float: left;
    padding: 1ex;
    margin: 0 1em 1em 0; 
    text-align: left;
    img {
        display: block;
    }
    strong {
        display: block;
        margin-top: 1ex;
        margin-bottom: 0.5ex;
    }
    em {
        font-style: normal;
        display: block;
        font-size: 0.9em;
        line-height: 1.2em;
        max-width: 120px;
        color: #555;
    }
}

/** Results */
#main form#results {
    margin: 1em 0 3em;
}
#main form#results input, #main form#results select {
    background: #edc;
    padding: 0.5ex;
    border: 1px solid #dca;
}
#main form#results  label {
    color: #8b6d37;
}
#main form#results  input[type="submit"]:hover {
    cursor: pointer;
    background: #cd2b0f;
    color: #ffc;
    border: 1px solid #111;
}
/** Season table */
#main table.seasonTable {
    width: 100%;
    margin: 2em 0;
    text-align: center;
}
#main table.seasonTable th {
    font-size: 0.7em;    
    text-transform: uppercase;
    color: #8b6d37;
    background: #dca;
    line-height: 2em;
    width: 7%;
}
#main table.seasonTable th.leftAlign {
    width: 40%;
}
#main table.seasonTable td {
    font-size: 0.9em;    
    line-height: 35px;
    border-bottom: 1px solid #dca;
    padding: 0 1ex;
}
#main table.seasonTable tr:hover td {
    background: #ffc;
}
#main table.seasonTable td.position {
    color: #8b6d37;
}
#main table.seasonTable td.logo img {
    width: 25px;
    vertical-align: middle;
}
#main table.seasonTable .leftAlign {
    text-align: left;
}
#main table.seasonTable tr.team td {    
    color: #cd2b0f;
    font-weight: bold;
}
/*** truth points */
#main table.seasonTable  td.truth {    
    color: #8b6d37;
}
/** Season schedule */
#main table.schedule {
    width: 100%;
    margin: 2em 0;
    text-align: center;
}
#main table.schedule tr:hover td {
    background: #ffc;
}
#main table.schedule td {
    border-bottom: 1px solid #dca;
    vertical-align: middle;
    padding: 1ex;
}
#main table.schedule td.logo {
    width: 60px;
}
#main table.schedule td.logo img {
    width: 30px;
    vertical-align: middle;
}
#main table.schedule td span.score {
    font-size: 1.2em;
    font-weight: bold;
    color: #cd2b0f;
    display: block;
    line-height: normal;    
    .penalty {
        display: inline-block;
        font-size: 0.7em;
        color: black;
        padding-left: 3px;
    }
}
#headToHead .penalty {
    display: block;
    font-size: 0.9em;
    color: #822616;
    font-weight: normal;
}
#main table.schedule td span.info{
    text-transform: uppercase;
    font-size: 0.7em;
    color: #2b500f;
    line-height: 0.8em;
}
/** Left & Right panel */
#main section.left-panel {
    float: left;
    width: 63%;
}
#main section.right-panel {
    float: right;
    width: 35%;
    margin: 0 0 2em 0;
    border-left: 1px solid #dca;
}
#main section.right-panel h2{    
    font-size: 1.1em; 
    padding: 1ex;
    background: #dca;
}
#main section.right-panel h3 {        
    font-size: 1em; 
    padding:  3px 3px 3px 1ex;    
    border-left: 5px solid #dca;  
}
/*** Navigation */
#main section.right-panel ul {
    margin: 0 1ex;    
    list-style-type: none;
    line-height: normal;
    text-align: center;
}
#main section.right-panel ul li {
    display: inline-block;
    margin: 0 1em;
}
#main section.right-panel ul li > a  {    
    color: #8b6d37;
}
/*** Next and last matches */
#main section.right-panel  table {    
    width: 100%;
    margin-bottom: 2em;
}
#main section.right-panel table:last-child {    
    margin-bottom: 0;
}
#main section.right-panel table td, #main section.right-panel table th {    
    padding: 3px;
    vertical-align: middle;
    text-align: center;
}
#main section.right-panel table.match th {    
    font-weight: bold;
    color: #cd2b0f;
}
#main section.right-panel table.match td.logo {
    width: 100px;
}
#main section.right-panel table.match td.logo img {
    width: 80px;
}
#main section.right-panel table.match td.score {
    font-size: 1.7em;
    font-weight: bold;
    width: 40px;
    .penalty {
        font-size: 0.6em;
        display: block;
        font-weight: normal;
        padding-top: 3px;
        color: #822616;
    }
}
#main section.right-panel table.match tr.info {
    text-transform: uppercase;
    font-size: 0.85em;
    color: #2b500f;
}
#main section.right-panel table.match td.score em {font-size: 0.55em;color: #e4060b;display: block}  
/*** Table */
#main section.right-panel table.table td {
    font-size: 0.9em;    
}
#main section.right-panel table.table tr:hover td {
    background: #ffc;
    cursor: pointer;
}
#main section.right-panel table.table td.position {
    width: 30px;
    color: #8b6d37;
}
#main section.right-panel table.table .team {
    text-align: left;
}
#main section.right-panel table.table tr.team td {    
    color: #cd2b0f;
    font-weight: bold;
}
#main section.right-panel table.table thead th {
    color: #8b6d37;
    font-size: 0.8em;
    text-transform: uppercase;
}

/** Other */
#main  code {
    display: inline;
    font-size: 0.9em;
    font-family: "Courier New", Courier, monospace;
    color: #4d1006;
    word-break: break-all;
    word-wrap: break-word;
}
#main hr {
    clear: both;
    background: transparent;
    border: 0;
    border-top: 1px solid #dca;
    margin: 1em 0;
}
#main .no-clear {
    clear: none !important;
}
#main  iframe#vzkazy {
    border:0;
    width:100%; 
    height:2000px;
    position:relative;
    overflow:auto
}
#main .expired, #main .expired a {
    color: #555 !important;
    text-decoration: line-through;
}
#main div#chart {margin: 1em 0}
.jqplot-axis {padding: 1ex;color: #8b6d37;font-size:0.8em}

#dsq-content ul,#dsq-content li{list-style-image:none !important}
#dsq-content a:hover{background:#000 !important}

/* FOOTER */
body > footer {    
    opacity: 0.7;
    margin-bottom: 1em;
}
body > footer > div {    
    padding: 1ex;
    font-size: 0.9em;
    color: #ffc;
    text-align: center;
}
body > footer > div > span {
    padding: 1ex 1em;
    line-height: 1.5em;
}
body > footer > div > span:last-child {    
    border-right: 0;
}
body > footer a {    
    color: #a5e814;
}
body > footer a:hover, body > footer a:focus {
    color: #ffc;    
    background: #2b500f;
}

#main div#chart {margin: 1em 0}
#main nav.neighbours {
    text-transform: uppercase;
}

#main ul.activeTeams {
    list-style-type: none;
    line-height: normal;
    text-align: center;
    margin:0 1ex;
    li {
        display:inline-block;
        a {
            display: block;
            margin: 0 1em;
            border-radius: 5px;
            padding: 2px 1ex;
        }
        &.selected a {
            background: #da2d11;
            color: #fda;
            border: 1px solid #4d1006
        }
    }
}
#main .right-panel {
    ul.activeTeams {
        li {
            margin: 0 2px 0 0;
            font-size: 14px;
            a {
                margin: 0;
                padding: 4px 8px;
            }
        }
    }
}
#main {
    ul.activeTeams.article-filters {
        text-align: left;
        li {
            margin: 0;
            font-size: 0.9em;
            a {
                margin: 0;
                padding: 4px 8px;
            }
            &.selected a {
                background: #dca;
                color: #102601;
            }
        }
    }
}
.hide { display: none !important }
.show { display: block }

#main div.tables {
    margin: 20px 0;
    h3 {
        font-size: 1em;
        margin: 25px 0 7px
    }
    table.seasonTable {
        margin-top: 0
    }
}

#main aside.errors {
    color: #c00;
    padding: 0 0 0.5ex;
    h2{
        color: #c00;
        font-size: 0.8em
    }
}

#main form#login {
    input, select, label {
        display: inline
    }
    label {
        display: inline-block;
        font-size: 0.9em;
        padding: 5px 0 3px;
        width: 5em;
        text-align: right
    }
    input, select{
        background: #edc;
        border: 1px solid #555;
        padding: .5ex;
        margin-bottom: 5px
    }
    input[type=submit]{
        background: #da2d11;
        color: #ffc;
        border: 1px solid #111;
        margin: 1ex 0 1em;
        &:hover{
            cursor: pointer;
            background: #000;
            color: #ffc;
            border: 1px solid #111
        }
    }
}

.jqplot-axis {
    padding: 1ex;
    color: #8b6d37;
    font-size: 0.8em
}
table.jqplot-table-legend {
    margin: 12px;
}    
table.jqplot-table-legend, table.jqplot-cursor-legend{
    background-color: transparent;
    color: #900;
    border: 0;
    position: absolute;
    font-size: .85em;
}
td.jqplot-table-legend {
    vertical-align: middle;
}
td.jqplot-seriesToggle:hover, td.jqplot-seriesToggle:active {
    cursor: pointer;
}
.jqplot-table-legend .jqplot-series-hidden {
    text-decoration: line-through;
}
div.jqplot-table-legend-swatch-outline{
    border:1px solid #fc9;
    padding:1px;
}
div.jqplot-table-legend-swatch {
    width:0;
    height:0;
    border-top-width:5px;
    border-bottom-width:5px;
    border-left-width:6px;
    border-right-width:6px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}    
.jqplot-table-legend-label{
    padding-left: 1ex
}

#main table.schedule td.resultInfo {
    width: 2px !important;padding: 0
}

#main {
    .win {
        background: #3c0 !important;
        color: #fff !important;
    }
    .draw {
        background: #00c !important;
        color: #fff !important;
    }
    .loss {
        background: #c00 !important;
        color: #fff !important;
    }
    .unknown {
        background: #edb !important
    }
}

#main {
    #chartPredictions {
        height: 250px;
        width:50%;
        color: #edb
    }
}

.scortes {
    display: block;
    text-align: right;
    font-size: 0.9em;
    opacity: 0.5;
}
#statistiky .scortes {
    text-align: left;
    margin-left: 2em;
}

#main .h1 {
    font-weight:700;
    clear:both;
    text-shadow:#dca 2px 2px 3px
}
#main .h1 {
    font-size:1.4em;
    margin:0 0 1em;
    color:#102601;
    text-shadow:#dca 1px 1px 1px;
    position:relative;
    left:-30px;
    padding:2px 2px 2px 0;
    border-left:30px solid #dca
}
#main .h1:first-line{
    background:#dca
}
#main .h1:after{
    content:'\A0'
}
#main .partners a {
    padding: 0 1em 1em 0
}
#main .partners a:hover, #main .partners a:focus {
    background: transparent
}
