---
title: BRIGÁDA
date: 2014-09-27 10:00
---

<p>Přátelé, kamarádi, ve dnech <strong>20.9.2014</strong> a <strong>27.9.2014</strong> se uskuteční brigáda za účelem zkrášlení našeho betonového plácku. Předpokládaný start je vždy od <strong>8:00</strong>. Takže se nestyďte přijít, v pátek si dejte o něco míň, ať ráno vstanete a čest práci.</p>
