---
title: Zřejmě překvapení
date: 2014-10-28
scortes: https://scortes.rozpisyzapasu.cz/api/530A3B/2014-2015/Morašice/A3B0105.html
image: /public/images/zapasy/cerekvice-nad-loucnou-morasice.png
---

<p>Krásně prosluněný státní svátek jsme mohli strávit kousek od Loučné na derby s místním Slavojem. Rozdíl v tabulce je patrný na první pohled. Domácí kouč jistě řešil rébus koho postavit, koho posadit a koho nechat doma. Náš trenér letmým pohledem počítal ovečky, které si přišli zahrát. Jedenáct nás bylo, kámen ze srdce spadl, teď to jen nepodělat. Do sestavy se znovu zařadili starý osvědčený kusy, které nestárnou. Taktika byla jasná - vyhrát. Víc říkat nebylo potřeba.&nbsp;</p>

<p>Derby začalo opatrně. Cerekvice kombinovala v obraně a my trpělivě číhali s větrem v obličeji, co bude. V 6.minutě si Vomáčka málem podřezal větev, když zaběhnuvší za naši obranu našel zcela volného Vostčila, který zcela volnou klec minul. O pár minut později domácí propadli ve středu hřiště, Válek posunul na Štancla M., který z hranice vápna trefil nohu Kusého. Lněnička předvedl ještě několik povedených zákroků proti Vomáčkovi a Lorencovi. Jinak se dá říct, že obrany fungovaly a tak se bojovalo hlavně mezi nimi. Ve 40. minutě byl na polovině faulovaný Válek a Skala nakopl míč do vápna. Kusý si křikl, ale hlavičkoval Chmelík. Chvilku to ještě trvalo, ale míč si našel cestu do branky a my po dlouhé době zase vedli. Tím první půle skončila.</p>

<p>Přestávkový program vyplněný exibicionistou potěšil diváky všeho věku i pohlaví.</p>

<p>Do druhého poločasu nás opustil Famfulík a domácí zase Lorenc. Již po čtyřech minutách poslal Válek po lajně do laufu Štancla, ten konečně přesně našel nabíhající druhou vlnu, kde Kopeckému v nadějné pozici vlezl pod nohy Zerzán a přesnou střelou k tyči v nás zažehl bodové plamínky radosti. Domacím se nedařilo skoro nic, za naši obranu se nedostali a pohodu ve středu hřiště jim hodně kazil Klement. Pod tlakem v obraně dělali aj chyby, které jsme bohužel nedokázali potrestat. Standartních situací přibývalo. Většina proti nám. Při jedné z nich míč dokonce skončil na břevně Lněničkovy branky a odražený míč se Štancl trotlovsky snažil dostat z vápna nohou. Proti byla nejprve lebka domácího obránce a pak i píšťalka sudího. Penaltu Pražák proměnil s přehledem a zase bylo o co hrát. Naštěstí se nám podařilo dobře rozehraný zápas dotáhnout do konce a další minelu vzadu jsme nedovolili. Čili se dá sdělit, že kromě několika šancí na začátku zápasu toho soupeř moc neměl. My jsme svoje šance proměnili a tři body z venku se počítaj.&nbsp;</p>
