---
title: Klementovi chyběl Laurin
date: 2014-09-27 20:00
scortes: https://scortes.rozpisyzapasu.cz/api/530A3B/2014-2015/Morašice/A3B0802.html
image: /public/images/zapasy/dlouha-loucka-morasice.png
---

<p>Při pochopitelných,&nbsp;nepochopitelných či žádných omluvenkách jsme do Loučky odjeli po dvaceti letech v sestavě, odpovídající těmto dávným věkům. &nbsp;Osm stabilních hráčů, dva ze staré gardy, dva pauzující více jak půl roku a jeden dorostenec. Telefonování v týdnu tedy pomohlo k tomu, abychom odjeli alespoň v jedenácti lidech.&nbsp;</p>

<p>První poločas byl ve znamení nepřesných přihrávek a kombinací jak z našeho, tak soupeřova pohledu. Ten druhý se s prvním prakticky ztotožnil. V prvním dějství nám byl přisouzen gól Zerzánem, ale následně Kopecký soupeři penaltovým zákrokem usnadnil vyrovnání. Ve druhé půli jsme se snažili nechat vyniknout našeh brankáře, aby dohnal pět měsíců nečinosti. Všechna čest, snažil se co to šlo, až deset minut před koncem kapituloval na konečných 2:2, když před tím náš nejlepší hráč na hřišti Klement vsítil druhou branku. Vedení ale vydrželo snad jen 5 minut. Škoda, že jsme na hřišti neměli alespoň čtyři Klementy. Stačilo by to určitě na vítězství. Byl o 300 % lepší než všichni ostatní.</p>

<p>V penaltovém rozstřelu nedal Zerzán a Skala. No a neboť Ozzy penalty rok nechytal ani netrénoval (byl překvapen, co se na závěr zápasu chystá), soupeř nám dal o gól víc a my jsme s Dlouhé Loučky jeli po dvou desetiletích s prohrou. Hra se nepodobala fotbalu ani kopané a neměůl na to vliv podmáčený terén ani míč. Ani rohy kopat neumíme.</p>
