---
title: Naposledy v kraji venku
date: 2015-06-13
scortes: https://scortes.rozpisyzapasu.cz/api/530A3B/2014-2015/Morašice/A3B2604.html
image: /public/images/zapasy/kamenna-horka-morasice.png

sestava: Prešinský (Nadrchal) - Škoda (D.Štancl), Chmelík, V.Štancl, Skala - R.Lněnička (Válek), Klement, Kuta (Kopecký), Novák - Vomáčka, Famfulík
---

<p>Na nějakou dobu náš poslední krajský venkovní výjezd jakoby nás připravoval na výjezdy nadcházející. Jeli jsme totiž do "vesnice", kam se ani kombajnem nedá dostat. Dusno by se dalo krájet. Ne kvůli zápasu, i nejoptimističtější uznali, že už hrajeme pouze o pocitově lepší sestupovou pozici. Ale kvůli tomu, že dešťové mraky zůstávaly jen viset poblíž a ani nekáplo. A to jsme je vzývali my i betonový povrch jakému je v kraji rovno jen u nás.</p>

<p>Nicméně úvod zápasu nás zastihl uvolněné a směle kombinující, než se kdo nadál, po středové ose Klement - Kuta - jesle se balón dostal do vápna k Famfulíkovi a ten ho poslal podél vyběhnuvšího domácího veterána do sítě. Vážně, byla snad třetí minuta. A i ty další svědčily v náš prospěch. Byli jsme běhavější, tvořivější, hlavně z pravé strany se do vápna dostalo několik centrů, škoda, že v tom vápně většinou nikdo nebyl. Domácí se poprvé osmělili až po dvaceti minutách, ale hned jsme si museli pořádně oddychnout, když jim rozhodčí odpustil penaltu po Škodově zákroku. Tomu jeho stehenní sval vydržel ještě méně než obvykle a předal svůj post i penaltové žezlo D.Štanclovi. Ten totiž po několika minutách na hřišti neměl tolik štěstí a po prohraných soubojích ve středu hřiště se dostal do běžeckého a silového souboje s domácím útočníkem, který dopadl pokutovým kopem. Prešinský si odskočil na druhou stranu a bylo vyrovnáno. Vedení nám mohl vrátit Kuta, která ve vápně hlavičkoval do protipohybu gólmana a ten jen bezmocně přihlížel, jak míč o fous míjí tyč. Naše útočná snaha se začala poměrně systematicky rozpadat, což vedlo k čím dál většímu tlaku na naši obranu. Po dvou našich rychle následujících Váchovských narážečkách na našem vápně musel Prešinský vytáhnout robinzonádu jara. To my jsme se střel opět tak trochu báli a z našich nedokončených akcí domácí hrozili rychlými brejky, pokud jim vyšel nákop. Jeden takový jsme uhasili do autu, po jeho vhození a několika soubojích byla odpískána další penalta proti nám. Nutno dodat, že nikdo, včetně domácích, neví za co. Prešinský neměl štěstí ani proti druhému exekutorovi a byli jsme tam, kde jsme jako doma - v gólovém deficitu. Po zbytek poločasu nic nenasvědčovalo tomu, že by jsme se z něho měli vyhrabat. Taková směs frustrace, chaosu a nemohoucnosti to byla.</p>

<p>A přes naznačované odhodlání se to v druhém poločase nezměnilo. Deset minut po přestávce domácí poslali odražený balón z rohu pod břevno, za chvíli vystřídal Kuta a začala naprosto neorganizovaná hra, zjevně jen tak pro zábavu. V tu chvíli šlo už jenom o to, abychom domácím nezkazili oslavy jubilea nebo si něco neudělali. Hrálo se nahoru dolů, ale pro lemplovitost obou stran z toho moc šancí nebylo, u nás tedy vůbec žádná. Hosté párkrát zahrozili, nejvíce když jejich útočník protančil mezi čtyřmi našimi a tváří v tvář Prešinskému o fous minul. Za tento nejfotbalovější kousek druhého poločasu by si ten gól snad i zasloužil. A to je všechno. Nám nepomohlo ani stažení hry na 3 obránce, protože takovýhle hurá fotbal prostě hrát nejde. Dokonce to bylo takové hurá, že si málokdo všiml, že Nadrchal si na posledních pár minut odbyl premiéru v brance áčka. Aspoň něco. Pozápasové surfování nám totiž potvrdilo, že už se z úplného dna nedostaneme a proti Cerekvici půjde jen o to, zkazit jim radost. Což ovšem není málo.</p>
