---
title: Zas ten úvod
date: 2014-10-12
scortes: https://scortes.rozpisyzapasu.cz/api/530A3B/2014-2015/Morašice/A3B1003.html
image: /public/images/zapasy/kraliky-cervena-voda-morasice.png
---

<p>Do Králík jsme vyráželi jednak s vědomím, že jsme tam nevyhráli již řadu let a s pocitem, že sestava, která vyběhne bude trochu ozvláštněna. Soupiska sokolníků&nbsp;se téměř nevejde na tabuli, ale v kabině, která nepatří mezi ty největší, jsme se o sebe třeli minimálně. Stačila jedna mateřská, zánět slepého střeva, Velká pardubická,&nbsp;touha projevit pocit náklonnosti na jihu Evropy a do branky musel Burián.</p>

<p>Začátek zápasu klasicky v našem stylu - do desáté minuty dát soupeři náskok a pak se pokoušet s tím teprve něco udělat. Již ve 4.minutě jsme propadli na penaltě při rohovém kopu a míč z okolí brankové čáry vykopával Kuta. Názory na tuto situaci se různí i v našem kolektivu. Pomezní rozhodčí, který měl kromě hodně špatného výhledu v ochozech půl příbuzenstva, které si po nedělním obědě udělalo krátkou odpolední procházku zakončenou sledováním kopané, s jistotou branku potvrdil. O pět minut později jsme ztratili na polovině hřiště míč a domácí hoch měl před sebou dálnici až do vápna. Míč si předkopl a vyběhnuvší Burián sice nefauloval, ale s rukou na srdci musíme uznat, že penaltový prohřešek způsobil. Ejhle 2:0 a zase bylo o co hrát. Víckrát domácí branku netrefili. Nám se teda nevedlo o moc líp, pouze náznaky nás udržovali v naději, že třeba po přestávce by to mohlo být lepší.&nbsp;</p>

<p>A bylo. Asi po 20 vteřinách druhé půle, stále za podkresu diska, byl před vápnem faulovaný Holomek a Skala podstřelil zeď s klidem sobě vlastním. Následovala pasáž, kterou lze pro nás neobvykle označit za tlak na soupeře. Hrálo se až na světlé vyjímky na jejich polovině. Bohužel šance Skaly i Klementa zvostaly nad brankovou konstrukcí. Narážečky Štancla se Zerzánem utl až praporek domácího pomezního, který si vysloužil tolik krásných slovíček na svou adresu, jejichž význam všichni znají, leč ve slovníku by se hledala těžko. Ten hoch se asi vůbec nebojí, že se mu to jednou všechno vrátí na dětech. Prakticky z ničeho přišla rozhodující branka, když domácí odkopli míč z obrany za tu naši, kde byl nastartován jejich spoluhráč a vylezlého Buriána přehodil. Sám před golmanem se ještě zjevil Skala, jenže na své zakončení nebude vzpomínat v dobrém. V poslední minutě jsme hladce pronikli za soupeřovu obranu a Holomek s klidným svědomím snížil. Domácí chtěli zápas dohrát na naši polovině. Po jednom klasickém fotbalovém souboji rameno na rameno byl Chmelíkovi odpískán faul. Nejistý pohled hlavního v kombinaci s rozklepaným dechem v píšťalce vysílal neklamné signály, že si za svým rozhodnutím stojí pevně asi jako soudruzi za trabantama. Počáteční klidné vysvětlování, argumentované jasnými a nezvratnými fakty uzavřel několikrát Kuta, který dal dvěma pánům ve žlutém najevo, že tato funkce určitě není pro každého, čímž si vysloužil pár volných neděl.&nbsp;Přesto pevně věříme, že v tom nebyl úmysl, nýbrž neznalost, mladická nerozvážnost a vidina teplé večeře na kopci.</p>

<p><span style="line-height: 1.4em; text-indent: 2em;">Na body v neděli určitě bylo, příště snad budeme chytřejší a trenér bude mít větší variabilitu ve volbě 11 lidí.&nbsp;</span><span style="line-height: 1.4em; text-indent: 2em;">&nbsp;</span><span style="line-height: 1.4em; text-indent: 2em;">&nbsp;</span></p>

