---
title: AKTUÁLNĚ - poslední přípravná utkání
date: 2014-07-07
---

<p><strong>STŘEDA 6.8.14 v 18:00 hod (sraz 17:00) doma proti Janovu</strong></p>

<p><strong>SOBOTA 9.8.14 v 17:00 hod (sraz 16:00) doma proti Dolnímu Újezdu A</strong></p>
</header>

<p class="bezodsazeni center">&nbsp;</p>

<div class="center">Vážení, velevážení, zanedlouho nám začne nová sezóna. Tentokráte o soutěž níže, než tomu bylo minulý rok. Naše první setkání se uskuteční ve <strong>čtvrtek 10.7.2014</strong> od <strong>17:30</strong>. Další trénink bude v <strong>sobotu 12.7.2014</strong> od <strong>15:00</strong>.</div>

<div class="center"><strong>Příjďte všichni!</strong> I ti, co hostovali mimo náš spolek, nebo se věnovali jiným aktivitám. Ať se ví, s kým se může počítat, kdo si kdy chce naplánovat dovolenou a tak podobně.</div>

<div class="center">V<strong> sobotu 2.8.2014</strong> se hraje pohárové utkání s <strong>Litomyšlí</strong>.</div>

<div class="center">Hlavně se nestyďte přijít <strong>VY mladí</strong> (ročník narození vyšší než <strong>1980</strong>), protože ty "starý páky" to nemůžou táhnout do nekonečna.</div>

<div class="center">&nbsp;</div>

<div class="center"><strong>Volné pracovní pozice: - trenér žáků, elévů, vedoucí mužstva mužů</strong></div>

<div class="center">Kdo neví, co odpoledne po práci dělat, ozvěte se, neprohloupíte.</div>
