---
title: Opět s prázdnou
date: 2015-05-16
scortes: https://scortes.rozpisyzapasu.cz/api/530A3B/2014-2015/Morašice/A3B2206.html
image: /public/images/zapasy/libchavy-morasice.png

sestava: Prešinský - Škoda (D.Štancl), Chmelík, V.Štancl, Jokeš (Kopecký) - R.Lněnička, Klement, Novák, V.Tměj (Kuta) - Famfulík (J.Lněnička), Válek
---

<p>V době začínajícího konce hokejového šílenství si na utkání nějakých Morašic v Libchavách vzpomněl málokdo, a tak tamější návštěva směle konkurovala té, na kterou jsme zvyklí u nás. Nutno dodat, že kromě domácích fanoušků odválo semifinále i několik našich hráčů, takže se sestava šila hodně horkou jehlou. Na malém hřišti nás už po pěti minutách přivítal nerušeným slalomem a zakončením do břevna hostující útočník, jehož záda jsme toho dne viděli ještě několikrát. Po této šanci jsme se několikrát dostali k zakončení ze střední i větší vzdálenosti, ale nebezpečí z toho moc nekoukalo. To se nedá říct o domácích dlouhých autech, na které jsme byli před zápasem několikrát upozorněni. Přesto se po jednom z nich dostal k hlavičce neobsazený Háněl a přestože Prešinský předvedl na čáře výborný reflex, měl i dávku smůly a míč proskotačil do sítě. Domácí tempo nebylo nijak závratné, možná se jim do mysli vkradlo vědomí naší jarní bilance, a tak jsme měli i čas vymýšlet něco dopředu. Po půl hodině hry se za vápnem dostal k balónu Novák a jeho skákavé bodlo překvapilo červenajícího se domácího gólmana, jenž pro změnu příjemně překvapil nás a bylo srovnáno. Remízový stav poté udržel Prešinský, který nohou skvěle vyrazil střelu z velmi solidní blízkosti. Další aut skončil po jemné teči mnohem dále od nebezpečných míst, než si náš trenér myslel, ale chvíli na to už nešlo nevidět, že se naše síť vlní znovu. Jokeš prohrál souboj ve vápně, Prešinský se neodlepil od čáry a ten Háněl to z úhlu tak nějak divně trefil do protějšího rohu brány. Do poločasu jsme ještě stihli zajímavou standartku Chmelíka, ale domácí brankář si nabíhajícího Klementa pohlídal. Po velmi fotbalové akci pak ještě udělal průvan do vápna z pravé strany R.Lněnička, ale z jeho zpětné přihrávky nakonec nic nebylo a šlo se do kabin.</p>

<p>Návštěva se mezitím mírně zvýšila a my jsme věřili, že je v našich silách ji trochu zarmoutit a urvat nějaký bod. Tyto plány brzy naboural Jokeš, jehož váhavou rozehrávku domácí přeměnili v rychlý brejk, kterým Háněl dovršil hattrick. Naštěstí se nám podařilo záhy vrátit do zápasu, když další Chmelíkův centr jemně líznul V.Štancl a míč se od tyče odrazil za čáru. Chvíli poté se situace opakovala, ale osamocený V.Štancl nedokázal zareagovat na jemnou teč domácího obránce, takže to jen tak trošku zahučelo. Poté jsme byli nuceni vystřídat oba beky, ale pozornost na sebe strhl opět V.Štancl, který narozdíl od Jokše s rozehrávkou vůbec neváhal a vyslal domácí do dalšího brejku zakončeného Hánělem a bylo to opět o dva góly. To bylo do konce asi dvacet minut. Během nich jsme zkoušeli nějak překonat domácí obranu, pěknou střelu vyslal Válek, ale jinak většina našich pokusů končila před vápnem nebo neúspěšným závarem po standartkách, na které jsme už byli posílení i dravé stáří v podobě Kuty a Kopeckého. Domácí si spokojeně zkusili párkrát zaběhnout do naší otevřené obrany, kde Hánělovi chyběl kousek k pátému zásahu. Na závěr jsme na hrot vyslali J.Lněničku, který byl poté, co domácí gólman neudržel lehký centr, ve velmi dobré pozici, ale na jeho hlavičce i Kopeckého dorážce si gólman spravil náladu, a tak už nás čekalo jen dlouhé čekání na pivo a cesta domů. Opět s prázdnou.</p>
