---
title: Penalty umíme
date: 2014-08-17
scortes: https://scortes.rozpisyzapasu.cz/api/530A3B/2014-2015/Morašice/A3B0203.html
image: /public/images/zapasy/morasice-vermerovice.png
---

<p>Na první mistrovský zápas v Bé třídě mělo trenérské trio nezvykle zamotanou hlavu. Způsobila ji abnormálně vysoká účast hráčských jednotek v jedné kabině. To se na začátku sezóny občas stává. Snad se křivka bude pohybovat v horizontální rovině.</p>

<p>Prvních dvacet minut utkání probíhalo podle stravitelného scénáře. Vcelku se nám dařilo držet míč na nohách, soupeře od těla, ale kromě několika provizorních šancí zase žádný vzůšo. To až Burián se po pohledné průnikovce ocitl za hostující obranou. Sám před brankářem se zastavil v domění, že stojí v postavení mimo hru. Práci za něj dokončil Zerzán, který přesnou střelou k tyči otevřel skóre. Místo posichrování výsledku, a šance na to byly, se stal pravý opak. Za naši obranu se dostal pro změnu hostující záložník a Štancl neodhadl situaci a vše vyřešil ve vápně nedobře. Stejně si počínal i Prešinský při penaltě, šel úplně na druhou stranu. Od vyrovnání se vyrovnala i hra, ba spíš měli navrch chlapci ze vsi turecké. Přesto jsme šli do kabin s gólovým náskokem, když Chmelík z voleje vrátil odražený rohový kop přesně k tyči.</p>

<p>Druhá půle se nesla v rytmu nepřesností. Slibné náznaky brejkových situací jsme nedokázali dotáhnout ani do špatného konce. No a tak zákonitě přišel trest. Necelých 10 minut před koncem jsme vzadu propadli a možná trochu šťastnou brankou hosté vyrovnali. Na řadu tedy přišlo zatraktivnění zápasu v podobě penaltového rozstřelu. Ale ten my umíme.</p>

<p>Všech pět hráčů (Skala, Burián, Válek, Tměj, Mach) svoji šanci využilo. Jelikož si tak vedl i soupeř. Přišlo na náhlou smrt. K míči se postavil Tomáš Holomek, sami hráči ho vybrali. Nikdo se nedíval, jak to Holub kopne. Proměnil. Prešinskému to naposedmé konečně vyšlo, čímž pádem jsme brali 2 body v nové soutěži.</p>
