---
title: Hledá se inseminátor
date: 2014-09-21
scortes: https://scortes.rozpisyzapasu.cz/api/530A3B/2014-2015/Morašice/A3B0707.html
image: /public/images/zapasy/morasice-policka.png
---

<p>Co si budeme namlouvat. Výsledky nemáme takové, jaké jsme si představovali, ani celkový obraz hry není nikterak oslnivý. Jsou tu ovšem i zárodky toho dobrého. Vezměme kupříkladu tu pěknou čtyřku s Čistou, nebo dva bodíky s Verměřovicemi. Holý fakt&nbsp;<span style="line-height: 1.4em; text-indent: 2em;">k zamyšlení a dost možná uvedení do kroniky je, že za poslední dva zápasy jsme nevystřelili na branku. Je na čase cosi změnit.</span></p>

<p><span style="line-height: 1.4em; text-indent: 2em;">Úvod zápasu nám vyšel opět klasicky. Třetí minuta, penalta a hned bylo o co bojovat. Musíme si položit ruku na srdce. Se soupeřem jako je Polička B se hrát dalo, hlavně teda mělo, jenže...</span></p>

<p><span style="line-height: 1.4em; text-indent: 2em;">Penaltový faul mohl o pár minut později Šplíchal vymazat, když po dlouhatánském centru za obranu předběhl vše, včetně brankáře. Bohužel jeho lebka nasměřovala míč pouze do jedné místy bílé&nbsp;tyče. Zbytek poločasu by se dal sice šířeji rozebrat, ale byla by to ztráta času. Je pravda, že času jsme měli na všechno dost. I možností, jak ohrozit soupeřovu branku. Ale dostat míč do vápna, kupříkladu centrem, se projevilo jako neřešitelný úkol. Jednogólové manko do druhé půle tedy zůstalo.</span></p>

<p><span style="line-height: 1.4em; text-indent: 2em;">Do té druhé se nás nahodit na správnou kolej pokusil sám lodivod svou&nbsp;přítomností na hřišti.&nbsp;Uběhly možná opět tak tři minuty a taková nemastná střela zpoza vápna zapadla k prešinského tyči. Nám se zápas zdramatizovat nepodařilo. Naopak soupeř po další chybě potřetí vystřelil do čtrykovaného a bylo skoro jasno. Hosté cítili, že by tohle už pustit neměli, tudíž začali riskovat víc, než možná bylo zdrávo. Z toho se rodily naše šance, ale moc dlouho na světě nepobyly. Hostující brankář všechno likvidoval. Když už na to sám nestačil, pomohla mu branková konstrukce, nebo sami protihráči, davájící si přednost na čáře v úmyslu věnovat první vstřelenou branku kamarádovi.&nbsp;</span></p>

<p>Naše impotentní snažení dostat míč do soupeřovy svatyně i nadále pokračuje. Slepýma se sice střílí bez rizika, ale časem to omrzí.</p>
