---
title: Ach Mirku, Mirku, kdopak-li jsi?
date: 2014-10-05
scortes: https://scortes.rozpisyzapasu.cz/api/530A3B/2014-2015/Morašice/A3B0906.html
image: /public/images/zapasy/morasice-libchavy.png
---

<p>Po sedmi nezdarech, kdy už jsme si řekli dost a pevně se opřeli do tréninku se nás v kabině sešel opět houf. Věkový průměr znovu trhal rekordy, mládí svačilo buřta s pivem v ochozech a předzápasové prognózy expertů elektronické klávesnice hovořili jasně ve prospěch lídra tabulky. Návštěvnost&nbsp;hostujících fans všeho věku zvýšila&nbsp;bouřlivost atmosféry v našem fotbalovém svatostánku postiženého povětrnostními podmínkami z okolních polí.</p>

<p>Zápas jsme začali buď připosraně, nebo nám to prostě dopředu nešlo. Soupeř disponovaný rychlými hráči, kteří při úvodním podávání pravic&nbsp;z úcty vykali našim plejerům, jež jsou očividně starší než oni sami, prokazoval kvalitami své postavení v tabulce. Zejména rohy a auty o stejné trajektorii zaváněly průšvihem. Ten nahoře společně s Lněničkou, který před mateřskou dovolenou chytil kromě druhého&nbsp;dechu i pár šancí, nám byli ovšem nakloneni. První jakási šance z naší strany, kdy si konečně mohli dříve narození fanoušci sundat&nbsp;brýle na dálku, vyšla dobře. Centr do vápna, zřejmě z přímáku, směřoval na Buriána, ten byl ve vápně stažen a pak už se jen řešilo, kdo půjde kopat penaltu. Imaginární los vyšel na Zerzána, který s ní naložil poctivě a zažehl v nás plamínky vedení. Od rohového praporku se o několik desítek minut pokoušel lobocentrem překvapit hostujícího brankáře Burián. Za svůj pokus bez známého záměru byl odměněn hrobovým údivem se zbytky potlesku, ztrácejícího se ve větru severozápadního směru. Na druhé straně bylo přeci jenom o trochu rušněji. Lněnička se vytáhl skvělým zákrokem, když jasný gól po hlavičce tahal u tyče z brankové čáry.</p>

<p>Druhá půle byla oproti té první živoučká. Po pěti minutách odvedli Štancla a dalších zhruba 15 minut nevím, co se dělo. Údajná šance Kuty a Buriána podtrhla vyloučení hostujícího libchavského hráče. Hosté se snažili o vyrovnání, to je pravda, ale nepodařilo se jím pořádně projít do vápna. Rozhodnout mohl pár minut před koncem Skala. Burián vybojoval na hranici velkého vápna míč, předložil ho Skalovi, který svou myšlenku nedotáhl do konce. Dobrá věc se nakonec podařila a my jsme se mohli radostně odrazit k lepším zítřkům.</p>
