---
title: Už to není jen naše hra
date: 2014-11-02
scortes: https://scortes.rozpisyzapasu.cz/api/530A3B/2014-2015/Morašice/A3B1304.html
image: /public/images/zapasy/morasice-kamenna-horka.png
---

<p>Poslední zápas podzimu k nám přijelo stejně impotentní mužstvo, co se vstřelených branek týče. Za dvojtečkou mají ovšem o hodně nižší číslo, proto se mohou pohybovat v horních patrech tabulky.</p>

<p>Co říci. Opět jsme nepřesvědčili. Sluníčko sice svítilo, ale husí kůže naznačovala, že se blíží Ježíšek. Co jsme na hřišti naznačovali my nevím. Fotbal nevzhledný. Šance minimální. Bojovnost zaostávala. Naši největší příležitost zaznamenal ve vzduchu Štancl Václav, pročeš jeho lebka kvůli slunečním paprskům, pronikajícím přímo do očí, nebyla schopna míč trefit ideálně. Na straně u hospody měl Lněnička přeci jen o něco víc práce. Po Chmelíkově kontaktu ve vápně sice dostal branku z penalty, kterých tento půlrok bylo požehnaně, ale pak alespoň jednou zachránil situaci a vysloužil si dlouhý obdiv od všech přítomných.</p>

<p>Po pauze jsme se sice pohybovali na polovině soupeře častěji než v předchozím dění, ale nepřeceňoval bych to. Nahrávky nešly a pořádnou střelou si diváci vymodlívali též marně. Abych nezapomněl. Ještě jsme zbytečně inkasovali. Poté, co brankář trefil Famfulíkovu levou hýždi, nevyhodnotil Ropek situaci ideálně a netrefil prázdnou bránu. Téměř na konci měla možnost podruhé skórovat Štanclova hlava. Tentokrát vlice dobře zasáhl hostující muž v rukavicích.</p>

<p>Podzim je pasé. Nebylo to to, co jsme si předsevzali, nicméně, házet puštu do ovsa nebudeme a na jaře nastoupí úplně jiný mužstvo (nemusí být metafora).</p>
