---
title: Překvapení
date: 2015-04-15
scortes: https://scortes.rozpisyzapasu.cz/api/530A3B/2014-2015/Morašice/A3B1606.html
image: /public/images/zapasy/morasice-usti-nad-orlici.png
---

<p>Odložený zápas s ústeckým béčkem jsme sehráli po anglicku uprostřed týdne se zapadajícím slunkem v zádech. Hosté si zřejmě nepřipouštěli jakoukoliv ztrátu bodů, což vzhledem k našim výkonům a postavení v tabulce plně chápu. Nicméně stalo se málo očekávané.</p>

<p>První poločas moc vzrušení nepřinesl. Spíš se bojovalo. Nám se dařilo nepouštět Ústí do šancí a každý ze tří pokusů o steč hostující svatyně byl odměněm hlubokým uznáním všech přítomných. Vážnější šance jsme se vskutku nedočkali, takže před brankami bylo rušno jen při rohových kopech a následných schrumážích. No a když ve 44. minutě Válek zabojoval a z vápna propasíroval míč do sítě, začaly se městské hlavy vařit.</p>

<p>Ve druhé půli nás zmáčkli. Několikrát nás podržel Prešinský a jednou branková konstrukce, nic víc. Někteří hostující chlapci těžce nesli porážku, na což reagovali občas i podrážděně a nezapomněli přidat pár urážek na náš vesnický původ. Nebylo to prvně, tudíž nás to nechalo ledově klidnými.</p>
