---
title: Aj ty konce
date: 2014-10-19
scortes: https://scortes.rozpisyzapasu.cz/api/530A3B/2014-2015/Morašice/A3B1105.html
image: /public/images/zapasy/morasice-jablonne-nad-orlici.png
---

<p>V klidné fotbalové atmosféře jsme doma přívítali možného lodivoda tabulky Jablonné nad Orlicí.</p>

<p>První poločas nepřinesl moc vzrušení, neboť ohrožení branky se nekonalo ani na jedné straně. Ale mohlo by, kdybychom uměli zahrávat standartní situace. Aby se do kabin neodcházelo za bezbrankového stavu dovolili jsme soupeři zahrávat rohový kop v poslední minutě. Špatně kopnutý centr Štancl prodloužil mimo dosah Lněničky a otevřel skóre.</p>

<p>Druhá půle byla sice lepší, než ta první. Jakýsi takýsi tlak jsme měli, jenže bez střely na branku to k ničemu není. Soupeř se ke střele dostal pár minut před koncem. Václavek napřáhl z 35 metrů, Lněnička zamrzl a míč si našel cestu do šibenice sám. Zápas nikterak atraktivní jsme nezvládli a Jablonné se mohlo vyhoupnout do čela.</p>

