---
title: Ach ty úvody
date: 2014-08-31
scortes: https://scortes.rozpisyzapasu.cz/api/530A3B/2014-2015/Morašice/A3B0402.html
image: /public/images/zapasy/morasice-cista.png
---

<p>Los nám pro první regionální derby v této sezóně určil tým z Čisté. Na zápas jsme se scházeli trošku volněji, než bývá zvykem, odpovídala tomu aj rozcvička a úvod zápasu. Nepomohly ani dobře mířené rady vedení, které tušilo ofenzivní sílu soupeře.</p>

<p>Zkrátka po necelých patnácti minutách jsme prohrávali 2:0. Obě branky jsme si vlastně dali sami. Nejprve propadla defenzíva a Prešinský už toho moc nezmohl. Při druhé Štancl zbytečně ztratil na polovině míč a přesto, že to Pavlákovi trvalo docela dlouho, nebyli jsme schopni mu zabránit v tom, aby vstřelil svůj druhý gól v zápase.&nbsp;Diváci začali možná litovat toho, že sychravou neděli nestrávili raději u babičky na kousku štrůdlu a kávy. Přitom ještě za stavu 0:0 dostal míč za obranu Klement a předložil Buriánovi vcelku vkusně balón do skluzu, jenže náš nový kapitán přestřelil. Víru, že se dá se zápasem ještě něco udělat, vrátil do našich lebek Vašek Štancl, který si našel na vápně přímý kop Skaly. O tom, že hosté svůj dvougólový náskok do poločasu prohospodaří rozhodl Burián, který si naběhl za stopera na centr Štancla a hostující brankář byl opět o něco pomalejší. Obě mužstva měla ještě možnost přidat kus do sítě, ale žádná ze standartních situací se ani na jedné straně neujala.</p>

<p>Vstup do druhé půle se naštěstí dosti lišil od té první. Pavláka se našim zadákům dařilo držet dál od Prešinského, sice ho to asi docela bolelo, ale svůj úděl si vybral sám. Čistou jsme ve druhém poločase kromě jedné střely z dálky, která lízla břevno, do vyložené šance nepustili, čili záleželo jenom na nás, co dokážeme vyprodukovat. Nutno dodat, že naše sterilita je už na pováženou. Nejen, že se rodí skoro jenom samé holky, ale když už se rozhodneme vyrazit kupředu, tak většinou příjde sprška vaginálních opisů ze střídačky. Přechod nám pořád jaksi nefunguje. I tak jsme se ale do několika šancí dostali. Většinou to byly teda standartky. A právě z jedné z nich se opět prosadil hlavou Burián, který tak dokončil obrat výsledku. Úplně na konci zápasu, kdy už Čistá neměla co ztratit pronikl do vápna Mach a po jeho změně pohybu do horizontální polohy pojistil tři body z penalty Zerzán, i když s řádnou dávkou kliky.</p>

<p>Tři body se počítají, ale že bychom plesali nad výkonem....</p>
