---
title: Body po jednom
date: 2015-04-25
scortes: https://scortes.rozpisyzapasu.cz/api/530A3B/2014-2015/Morašice/A3B1901.html
image: /public/images/zapasy/morasice-lanskroun.png

sestava: Prešinský - Ropek, Chmelík, V.Štancl, Holomek - Novák, Klement, Famfulík (Vomáčka), R.Lněnička (D.Štancl) - Zerzán, Skala (Kuta)
---

<p>Po fiasku z minulého týdne si rozcvičku před dalším zápasem o naději vzal sám Kuta Petr. Ne snad, že by to mělo vliv na slušný výkon v prvním poločase, to je prostě fakt. Náš počáteční výzkum zaměřený na kvalitu soupeřových standartek pro nás dopadl dobře, na Prešinského snad neprošla jediná střela, a již okolo 15. minuty jsme si připsali první střelu i my, konkrétně Novák. Sice to bylo vedle, ale už tak jsme se výrazně přiblížili celkové bilanci minulého zápasu. Na hrotu útoku se místo Zerzána nově objevil létající Zerzán a obrana soupeře s ním měla co dělat. Po jednom z úspěšných běžeckých soubojů se ocitl sám před vyběhnuvším gólmanem, ale zblízka ho trefil jen do plastrónu. Náš, troufám si říct tlak, se s přibývajícím časem stupňoval. Chmelíkův přímý kop ze špatné strany skončil o fous v boční síti, nového útočníka Skalu vychytal mrštný soupeřův gólman (možná dvakrát), do vápna jsme dostávali poměrně fotbalově víckrát a Zerzána v několika dalších nadějně vypadajících soubojích z lajny usměrnil jeho otec. To mu ale chuti neubralo a před poločasovou přestávkou se po docela pěkné kombinační akci z křídla dostal balón na malém vápně ke Skalovi, jehož zblokovanou střelu Zerzán dorazil do prázdné brány. Hosté z lavičky prý viděli jednoznačný ofsajd, zřejmě mají oči jako rys. Ale po operaci. Jejich pocitu křivdy jsme do přestávky mohli využít ještě jednou, ale i naše standartky byly toho dne bídné.</p>

<p>Do druhého poločasu jsme nastoupili jako vyměnění a dopředu už jsme se prakticky nedostali. Nechali jsme hosty se pozvolna rozjet, a to do takové míry, že jsme jim během deseti minut dovolili, nekecám, pětkrát úplně stejné přečíslení z pravé strany. Jeden centr přeletěl, jeden skončil v bráně po ofsajdu. To hostujícím hnulo žlučí a létalo u nich pár karet za nevhodné chování a mluvu, zatímco naše stoperská dvojice fasovala za fauly. Ale vraťme se k centrům zprava: po dalším z nich zblokoval Ropek krkolomné zakončení před prázdnou bránou, ale to už bylo poslední varování a ten další, tentokrát přízemní, už hosté pohodlně uklidili do prázdné brány. Naše lavička poslala do hry Vomáčku na oživení útoku a D.Štancla na vyztužení pravé strany, ale pomohlo jen to druhé. Naše řídké útočné snažení totiž končilo nesmyslnými a nepřesnými nahrávkami, které někdy přišly místo zakončení až těsně před vápnem. Ale to byly jen vlaštovky, míč ovládali hosté a párkrát to pořádně smrdělo, nejvíc asi po nepovedené střele z penalty, které změtí těl prošla metřík vedle. Na závěr nám přišel klidu dodat Kuta, ale moc se to nedařilo. V poslední minutě se po našem autovém vhazování hluboko na půlce soupeře hosté dostali do rychlého brejku a za záchranou brzdu musel tahat příliš pomalý V.Štancl. Prešinský ponechanou výhodu zneutralizoval výborným zákrokem, Štancl nafasoval druhou žlutou, hosté následný roh zazdili a šlo se na penalty.</p>

<p>Prešinský se zaskvěl hned v první sérii, po jeho lapení pak nepošpinil svůj dobrý výkon Zerzán. V druhé sérii jsme si to prohodili, když uspěli hosté a překopl Novák. Poté svoje úlohy zvládli Prešinský (sice poprvé plachtící na druhou stranu, ale střelu očima vytlačil), v klidu Chmelík, pak hostující hráč a bohužel i hostující gólman, který vychytal Vomáčku. V poslední sérii po proměněné penaltě udržel nervy na uzdě mnoha rozstřely ostřílený Ropek a mohli jsme se těšit na náhlou smrt. Ta se pokoušela o nejednoho fanouška, když Prešinský opět vychytal soupeře, ale Kuta jednobodový mečbol neproměnil. V sedmé sérii hosté skórovali, vždy klidný Holomek poté klidně neproměnil a bylo to.</p>
