---
title: To nevypadá moc světle
date: 2015-04-19
scortes: https://scortes.rozpisyzapasu.cz/api/530A3B/2014-2015/Morašice/A3B1807.html
image: /public/images/zapasy/morasice-retova.png

sestava: Prešinský - Ropek, Chmelík, V.Štancl (Vomáčka), Skala - Lněnička (Famfulík), Klement, Novák, M.Štancl (Škoda) - Zerzán, Válek (Jandera)
---

<p>Předchozí středeční překvapivě tříbodová vložka a slunečné počasí nás tentokrát postavilo před nezvykle vysokou návštěvu. I když nával hostujících fanoušků s naším úspěchem těžko souvisel, zmínit se to musí, protože nervozita z tolika lidí může být jedním z důvodu našich rozklepaných kolen. Tím dalším může být vědomí důležitosti zápasu. Ale to bude asi taky liché, když je pro nás důležitý už pátý šestý zápas v kuse. Nejpravděpodobnější asi je, že jsme si po Ústí na Řetovou moc věřili a mysleli, že to přijde samo. A ono to přišlo.</p>

<p>&nbsp;</p>

<p>Ono dohromady není o čem vyprávět. Hosté si hráli a my se dívali. Na dlouhou dobu nás vážně ohrozili jen velmi dalekým bochánkem do břevna, jinak jim naše poctivě odkopávající defenziva moc nedovolila, ale vzhledem ke kvalitě soupeře to bylo z naší strany dosti málo. Dvě vzácné vyjímky tvořily ložené tutovky v podání Lněničky a Zerzána, které zvostaly nevyslyšeny. Prvně jmenovaný využil své rychlosti a obešel vše, včetně golmana. Před prázdnou brankou však zazmatkoval a k zakončení se pořádně ani nedostal. K tomu se nedostal ani Zerzán, který dostal pocukrovanou přihrávku od Válka na malé vápno. Míč však bez dotyku prošel na protější stranu. Všude pozdě, doma nejlíp, dalo by se říci. Tak jako když si hostující hráč stihl před přestávkou zatancovat u odraženého balónu a podivně pod něj strčit béčkovou nohu. On to ani nechtěl nahoru, jenom tam tak plácnul a vítr to zavezl z 25 metrů do brány. Nečekané zpestření lítého boje bez zápalu nabídl v poslední minutě Prešinský, když si nemohl vzpomenout, na kolik odrazů se hraje a naháněl míč z velkého vápna na malé.</p>

<p>&nbsp;</p>

<p>V druhém poločase jsme možná trošku přidali, ale na něco jako kombinaci jsme se nezmohli a naše nakopávané balóny se také nepotkaly s úspěchem. Zato jeden hostující nastartoval brejk, na jehož konci byl dosti haluzní lob a další divný gól. Vzápětí jsme stáhli hru na tři obránce a zlehka hosty přiťukli k jejich vápnu, ale vyjma Skalovy hlavičky jsme zápas dokončili&nbsp; bez nadějnější pozice nebo střely, takže nám vyrovnání přece jen o fous uteklo.</p>
