---
title: Velikonoční Štěpánská zábava
date: 2015-04-05
---

<div class="center">Náš oddíl Vás srdečně zve na<strong> Velikonoční zábavu na Rychtu do Morašic</strong>. Tato akce, která by mohla být náhražkou za neuskutečněnou Štěpánskou tancovačku, se koná v<strong> neděli 5. dubna 2015</strong> od <strong>20:00</strong>.</div>

<div class="center">K tanci a poslechu hraje skupina <strong>Vepřo knedlo s Dádou</strong></div>

<div class="center">&nbsp;</div>

<div class="center"><strong>Pro pořádající je začátek akce pochopitelně již v obvyklých 18:00. A konec až na konci!!!</strong></div>
