---
title: 11 proti jednomu
date: 2015-05-03
scortes: https://scortes.rozpisyzapasu.cz/api/530A3B/2014-2015/Morašice/A3B2007.html
image: /public/images/zapasy/policka-morasice.png

sestava: Prešinský - Chmelík, Štancl, Klement, Ropek, Famfulík, Skala, Lněnička, Škoda, Zerzán, Vomáčka (Válek, Kopecký)
---

<p>Nutno si přiznat, že výsledky nemáme takové jaké jsme si předsevzali, ale stále máme možnost se o víkendech pohybovat po kvalitních trávnících, kde možnost si zahrát fotbal je přímo ideální.</p>

<p>Proti poličské rezervě jsme začali s prominutím připosraně. Jelikož jsme si možná až moc byli vědomi své střelecké síly, tak se většina sil soustředila na jediný úkol - neinkasovat. Jak to však bývá, po dvou hrubých ztrátách míče se do našich otevřených řad rozhodl proniknout jediný áčkařský hoch, který nám dvěma góly dosti zkomplikoval možnost na bodový zisk.</p>

<p>Druhý poločas byl o poznání lepší, ale neschopnost dát branku se projevila v plné míře. Velké množství zkažených standartních situací a neproměněné tutové šance měly za následek opět nulu na našem kontě. V počtu vstřelených gólů i získaných bodů.</p>

