---
title: Přímý boj o dno
date: 2014-10-25
scortes: https://scortes.rozpisyzapasu.cz/api/530A3B/2014-2015/Morašice/A3B1204.html
image: /public/images/zapasy/sebranice-morasice.png
---

<p>Zima jak v ruským filmu na nádraží, náročný terén a opět jiná sestava. V Sebranicích mezi tůjemi se rozehrával souboj o důležité body. Se soupeřem jsme měli mimo stejného bodového součtu společnou i tréninkovou docházku.</p>

<p>Utkání odpovídalo náročnému terénu, čili se jednalo hlavně o boj mezi vápny. Domácí měli více ze hry, vykoledovali si několik standartek, se kterými naložili prachbídně. My jsme se nedokázali pořádně prosadit přes obranu domácích. Střela Tměje byla vyjímkou. Po půl hodině hry dostal Honza Horníček víc prostoru než bylo zdrávo a střelou z nějakých 20-ti metrů překvapil Lněničku. O vyrovnání se pokoušel Chmelík, ale málem pánu Bohu vysklil okno.</p>

<p>Do druhého poločasu jsme vstoupili mnohem lípe. Nedá se přímo říct, že bychom soupeře zamkli na jeho polovině, ale alespoň jsme se o to pokoušeli. Jenže o sprchu střel se teda nejednalo. Několik šancí nám domácí obrana nabídla. V jedné z nich byl Burián ve vápně zfaulován brankářem a rázem jsme měli možnost vyrovnání. Zodpovědnost na sebe vzal Chmelík a s přehledem zavěsil. Tento výsledek nevydržel moc dlouho. Štancl na půlce ztratil míč a Sebranicích stačili asi 4 dotyky s míčem, aby ho Mitáš z hranice šestnáctky s pomocí tyče dostal za Lněničku podruhé. Na 2:2 mohl dát Válek, ale o fous branku minul. Do konce zápasu jsme se pokoušeli s výsledkem cosi udělat, ale snaha byla jaksi bezzubá. Ze standartek jsme nevytěžili nic a tak jsme znovu prohráli.</p>
