---
title: Štěpánská zábava vysvětlení
date: 2014-12-23
---

<div class="center">
<p>Vážení a velevážení,</p>

<p>&nbsp;</p>

<p>pravděpodobně došlo k&nbsp;velkému nedorozumění ohledně zákazu Štěpánské zábavy, což vedlo k&nbsp;sledu nepříjemných situací pro některé zúčastněné, i přesto, že se jich zákaz vlastně vůbec netýká. Dovolte mi prosím několik vět k&nbsp;objasnění celé situace. Jeden ze tří majitelů se rozhodl „štěpánskou“ nepovolit, na což má, ať se nám to líbí nebo ne, právo. Věřte nám, že jsme se jej snažili všemi možnými způsoby přesvědčit, ale bohužel se nám to i přes vyvrácení všech jeho argumentů, kterými se snažil své rozhodnutí obhájit, nepodařilo. Nicméně nyní dochází k&nbsp;tomu, že začali chodit výhružné vzkazy dvěma jeho spolumajitelům, kteří však s&nbsp;tímto rozhodnutím nemají nic společného. Jménem našeho sportovně kulturního spolku (TJ Sokol Morašice) tímto prohlašuji, že nic takového nepochází od nás, že se od podobného jednání distancujeme, a i přesto že nám to dosti komplikuje samotnou existenci, rozhodnutí zákazu jednoho z&nbsp;majitelů respektujeme. Tímto bych chtěl požádat i Vás, máte-li v&nbsp;úmyslu řešit vzniklou situaci podobným výše popsaným způsobem, abyste od tohoto úmyslu upustili. Jednak byste tímto mohli znepříjemnit život nepravé osobě a i kdyby se Vám podařilo „potrefit“ tu pravou, tak si buďte jistí, že byste tím stejně ničemu nepomohli, spíše naopak.</p>

<p>&nbsp;</p>

<p>Přeji&nbsp;krásné Vánoce a do Nového roku všechno dobré</p>

<p>&nbsp;</p>

<div class="center">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Josef Štěpán</div>
</div>
