---
title: Byly horší zápasy
date: 2015-03-28
scortes: https://scortes.rozpisyzapasu.cz/api/530A3B/2014-2015/Morašice/A3B1503.html
image: /public/images/zapasy/vermerovice-morasice.png
---

<p>Na úvod jara, ve kterém se budeme pokoušet zvedat z tabulkového dna, udržet si trochu hrdosti a jistoty, že to co děláme má nějaký smysl, jsme zavítali na horkou tureckou půdu do Verměřovic. Protože byla zima jak v ruským filmu na nádraží, tak se počet diváků smrskl na minimum a zbytek osazenstva pokojně degustoval lihoviny na zahřátí v přilehlé hospůdce, odkud se spokojil pouze se zvukovým přenosem utkání.</p>

<p>Úvod zápasu nevypadal nikterak bídně, přesto vedení nepropadalo pozitivní panice. Bylo si totiž vědomo, že naše výkonnostní křivka má charakter blíže nespecifikovatelného vzorce. V prvních deseti minutách se do dobré příležitosti dostal Štancl, bohužel poslední dotyk byl již navíc, tak se pro střelu, což je velice silný výraz, domácí brankář pouze ohl. Vomáčka z nadějné pozice před vápnem pro jistotu nevystřelil vůbec a ostatní pokusy o průniky do vápna odvracela "turecká" obrana. Poté se hra přesunula na druhou stranu, což mělo za následek volnou polovinu pole pro Zerzána, který běžel úplně sám na kasu již od půlící čáry. Místo tam prej bylo, branku však minul. Následovala zhruba patnáctiminutovka hašení vápna, respektive jsme domácí útoky hasili až před šestnáctkou.<br />
Z volných přímých kopů, u kterých se vystřídala skoro celá jedenáctka domácích se ujal ten poslední. Ruku na srdce, koledovali jsme si zbytečně brzo před Velikonocemi. Za zmínku pak stojí určitě rána z dobrých 30 metrů, která skončila na břevně svatyně od Prešinských.</p>

<p>Druhá půle měla přinést otočení zápasu, alespoň to bylo v plánu. Byl to vcelku vyrovnaný poločas se zajímavými šancemi na obou stranách. Zatímco Prešinský tak třikrát výborným zákrokem udržel naděje na bodový zisk, domácí golmán stále mrzl, rukavice měl suché a akorát ho bolelo za krkem, jak se ohlížel za pokusy Válka a Nováka. A když se nám nepodařilo propasírovat ani odražený míč z přímáku v poslední minutě, o výsledku bylo rozhodnuto.</p>
