---
title: Zimní radovánky
date: 2014-11-12
---

<p>Tak nám skončil podzim a zimu máme hnedle na krku. Kromě nakupování dárků je zde několik závazných termínů, které je potřeba vštípit do lebky, nebo zapsat do diáře:</p>

<p>&nbsp;</p>

<p><strong>Středa 31.12. 2014</strong> v <strong>10:00</strong> - silvestrovský fotbal pro všechny ochotníky jakéhokoliv věku a pohlaví (hřiště v Morašicích)</p>

<p><strong>Úterý 20.1. 2015</strong> v <strong>17:30</strong> -<strong> zahájení zimní přípravy</strong> (je co dohánět) sraz v tělocvičně morašické ZŠ (věci do tělocvičny a ven)</p>

<p>- další tréninky budou dle domluvy - s předstihem informace zde</p>

<p><strong>Pátek - Neděle 20.- 22.2. 2015</strong>&nbsp; - <strong>Soustředění v Daňkovicích (muži a dorost)</strong></p>

<p><strong>Sobota 28.2. 2015</strong> v <strong>18:00</strong> - nástup na pořadatelství <strong>Obecního plesu</strong> (odchod po totálním úklidu v jakémkoliv stavu)</p>

<p>&nbsp;</p>

<p>To samozřejmě není všechno, ale pro začátek to většině bude stačit :-)</p>
