---
title: Zimní příprava
date: 2015-02-09
---

<p><strong>20. - 22. 2. 2015 SOUSTŘEDĚNÍ</strong></p>

<p>Daňkovice, odjezd v pátek ráno, návrat v neděli odpoledne</p>

<p>soustředění začíná čtvrtečním tréninkem v Morašicích&nbsp;(tělocvična se celý týden během prázdnin&nbsp;upravuje, čili trénink v út a čt</p>

<p><strong>SOBOTA 28.2.2015</strong> <strong>Tělovýchovná jednota Sokol Kunčina </strong>(13. místo I.A tř.)</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Výsledek: 4:5</strong> (0:3) - branky: M.Klement, 2x B.Válek,&nbsp; J.Kopecký</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> Sestava:</strong> M. Prešinský, R.Nadrchal, M.Chmelík, Z.Skala, Z.Škoda, V.Štancl, M.Štancl, M.Klement, M.Ropek, V.Novák, V.Tměj,</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; M.Černohorský, V.Tměj, R.Lněnička, J.Kopecký, J.Herold, D.Štancl, J.Famfulík, B.Válek</p>

<p><strong>NEDĚLE 8.3.2015</strong> <strong>FK Proseč o.s. </strong>(3.místo I.B tř. sk. A)</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Výsledek: 3:6</strong> (1:4) - branky: P.Vomáčka, M.Štancl, B.Válek</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> Sestava:</strong> J.Lněnička, M.Prešinský, M. Klement, M.Chmelík, M.Černohorský, Z.Škoda, M.Ropek, Z.Skala, M.Štancl, V.Štancl,</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; R.Lněnička, B.Válek, P.Vomáčka, J.Kopecký</p>

<p><strong>SOBOTA 14.3.2015 Tělovýchovná jednota Jiskra Litomyšl </strong>(7. místo OP)</p>

<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Výsledek: 1:1</strong> (0:0) - branky: vlastní</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> Sestava:</strong> M.Prešinský, M. Klement, M.Chmelík, M.Černohorský, Z.Škoda, M.Ropek, Z.Skala, M.Štancl, V.Štancl,</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; R.Lněnička, B.Válek, P.Vomáčka, J.Kopecký</p>

<p><strong>SOBOTA 21.3.2015 Tělovýchovná jednota Horní Újezd </strong>(2. místo OP)</p>

<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Výsledek: 3:2</strong> (0:0) - branky: P.Kuta, M.Štancl, M.Jandera</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> Sestava:</strong> M.Prešinský, R.Nadrchal, M. Klement, M.Chmelík, M.Štancl, R.Lněnička, B.Válek, P.Vomáčka, J.Kopecký, V.Tměj,</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; M.Jandera, P.Kuta, D.Štancl, M.Zerzán</p>
