---
title: Mládí vpřed
date: 2014-08-24
scortes: https://scortes.rozpisyzapasu.cz/api/530A3B/2014-2015/Morašice/A3B0306.html
image: /public/images/zapasy/usti-nad-orlici-morasice.png
---

<p>Do Ústí, kde jsme naposledy vyhráli minulou válku, odcestoval opět početný zástup hráčů. Bohužel to bylo to jediný, s čím jsme mohli být spokojený.</p>

<p>Od úvodního hvizdu soupeř ukazoval, že to letos asi myslí vážně. Už soupiska napovídala, že půjde o zápas plný běhu a že každý sobotní škopek s panákem na Babím létě bude hodně znát. Opřeli se do nás, ale naše inženýrská defenzíva s nezvykle hlasitým Prešinským namíchala pevnou dávku betonu. Bylo zřejmé, že pokud se urodí, tak asi jenom z brejku. Zerzán měl několik slibných možností, ale vždy něco scházelo. Do naší největší šance v prvním poločase se po rohovém kopu dostal Skala. Přestřelil. Domácí jich měli přeci jenom o něco víc, takže určitě nemohli být o přestávce spokojeni s výsledkem 0:0. Druhá půle prakticky kopírovala tu první, jen symetricky otočenou k druhé brance. Bohužel jsme se nevyvarovali faulů před vápnem. Z jednoho takového se domácím podařilo přesnou střelou přes zeď jít do vedení. O vyrovnání se málem postaral Burián, kterému scházel kousek nohy na centr Nováka. O pojistku se ústečtí postarali 10 minut před koncem krásnou šibenicí z hodně nízkého úhlu. Síly ubývaly, což se naštěstí neodrazilo na výši skóre. I když klidně mohlo.</p>
