---
title: Byla svatba na škodu?
date: 2015-04-11
scortes: https://scortes.rozpisyzapasu.cz/api/530A3B/2014-2015/Morašice/A3B1702.html
image: /public/images/zapasy/cista-morasice.png
---

<p>Derby o šest bodů, z nichž by nám na jakous takous naději úplně stačily tři. Šádeho dopředu avizovaná svatba kousek od hřiště nám pořádně zavařila, a tak se uvažovalo o povolání všech možných záloh ročníků 1958-1998. Čtrnáctidenní mobilizace však obavy o sestavení jedenáctky zahnala, bylo nás tolik, že Kopecký chtěl dokonce odjet hned, ale nakonec nás s spolu s Vomáčkou aspoň odkoučoval, byť nevydržel až do konce.</p>

<p>Tolik před zápasem, na hřišti není dohromady co vyprávět, bída a zase bída. Naše kombinace fungovala bezchybně jen na jednostranné trase Prešinský-Chmelík. Dále už to skřípalo, protože pro náš technicky vytříbený tým, kalkulující při každém zpracování s neomezeným prostorem, bylo za půlící čárou na tak malém hřišti prostě těsno. Po hříchu nám jindy nestačí ani větší hřiště. Domácí tak měli dost pokusů na to, aby z jejich dlouhých nákopů nebo našich chyb vytěžili alespoň pár autů, které nás dostávaly pod tlak. Po jednom z nich Štancl na penaltě neuhlídal Pavláka, ale na spadnutí jeho voleje někde od úrovni hlavy naštěstí musíme počkat do zimy. O chvíli později jsme nechali domácí sehrát pěknou kombinaci, jen centr od lajny do našeho vápna na naprosto osamoceného domácího hráče byl moc vysoký, tak ho do naší sítě aspoň zasmečoval a my z toho vyvázli se žlutou kartou pro soupeře. V závěru poločasu jsme dvakrát zahrozili i my. Nejdříve Lněnička nám i soupeřům ukázal na pravé straně co je to sprint, ale jeho zpětná přihrávka z nadějné do ještě nadějnější pozice nikoho z našich nenašla. Po tom se po kombinaci se Skalou dostal k balónu před vápnem Famfulík, ale viděl před sebou "osm noh", tak si pravačkou vystřelit netroufl. Přehodil tedy na levou a ať to byla střela nebo přihrávka, našla Zerzána v ofsajdu, takže i naše rozvlnění sítě (první na jaře) bylo neregulérní.</p>

<p>Bývá už zvykem, že si o přestávce připomínáme nezaspání začátku druhé půle a bývá také zvykem, že zůstane jen u připomínání. Z první série autů vytěžily domácí jen nebezpečné závary a my příležitost k ojedinělému brejku. Zerzán měl ale centr na tak dlouhou nohu, že z malého vápna zvládl jen přisvítit podobně jako v prvním poločase Pavlák. Tomu jsme vzápětí po vzájemné domluvě naší obrany, našeho brankáře a jejich přihrávajícího středopolaře umožnili sólo nájezd ze strany, ale Prešinský ho pravou nohou skvěle vychytal. To už bylo ale poslední varování. Jeden z dalších autů se v našem vápně odrazil k volnému domácímu hráči a ten ho napálil do sítě. Dá se říct, že naše další snaha se smrskla na křečovité nakopávání, protože kombinace pro nás byla toho dne opravdu zakletá. Novákovi se jednou naskytla možnost, tak z dvaceti metrů vystřelil, ale těžko říct, jestli si to pro její nenebezpečnost vůbec někdo pamatuje. Po jedné ze standartek si mohl Válek vybírat, do které části poloprázdné brány uklidí odražený míč, ale dal na nápovědu publika. Do čím dál otevřenější obrany se domácí, zejména střídající "Jaris", hnali za pojištěním tří bodů, ale několik slibně rozjetých akcí nedokázali dotáhnout do konce, a tak se pořád dalo něco zkusit. Jenže mračna se stahovala nad našimi nadějemi, nad hřištěm samotným i nad pověstí pana rozhodčího, který v závěru mával kartama, ale ať písknul cokoliv, tak to slíznul. Buď od nás nebo diváků. My mu určitě nezapomeneme na závěrečný faul, kdy centrovaný míč udeřil domácího gólmana do břicha tak tvrdě, že z toho byl náš faul, ale za tímhle upísknutím naše body určitě neleží, jen to v tu chvíli vážně nepotěšilo.</p>
