---
title: Zřejmě nic moc
date: 2014-09-07
scortes: https://scortes.rozpisyzapasu.cz/api/530A3B/2014-2015/Morašice/A3B0507.html
image: /public/images/zapasy/retova-morasice.png
---

<p>Týden po otočeném derby s&nbsp;Čistou nás čekalo další, tentokrát v&nbsp;Řetové. Těžko říct, kdy jsme tam hráli naposledy, ale hádám, že tou dobou byli tři hráči z&nbsp;naší lavičky ještě v rozpuku a ten čtvrtý nebyl na světě.</p>

<p>Očekávaný tlak domácích jsme se od začátku rozhodli raději nenarušovat a soupeřovi útočníci tento náš postoj férově ocenili ležérním počínáním ve slibných pozicích, takže Prešinský vyrazil víceméně jen jeden balon a jinak se ohlížel do sítě za sebou a odkopával a odkopával. A nejen on, ale vlastně všichni, nejvíc úspěšných kliček po hříchu nashromáždil stoper Holomek. Na malém hřišti se rýsovala možnost ohrožení brány třeba už při přímáku z&nbsp;půlky, ale bohužel jsme i při nich selhávali v&nbsp;naší věčně nejsilnější činnosti – nakopávání balonů. Naší jedinou střelou tak zůstala Buriánova jedovka z&nbsp;třiceti metrů, která se ale o stejný kus nevešla do branky.</p>

<p>Zpětně viděno se dá přestávkové dění shrnout tak, že jsme se ujistili, že je to špatné, ale evidentně zůstalo jen u uvědomění. Na tvrdší půlce hřiště se domácím útočilo lépe, ale první velkou šanci zblízka ještě Prešinský nohou vyrazil. To mohlo od našeho přestávkového poučení uplynout tak 5 minut. Chvilku nato se centr ze strany odrazil na velké vápno, kde se musel před zápasem zmiňovaný střelec Muller snad bát, jak tam byl sám. Bohužel má pro strach uděláno a s&nbsp;klidem vsítil vedoucí branku zápasu. Dalších dvacet minut do nás soupeř ještě bušil, vytěžil z&nbsp;toho naštěstí jen břevno, a tak by se mohlo zdát, že naše šance na body s&nbsp;čerstvými silami na trávníku ještě žije. Jenže soupeř se rozhodl, že si vlastňáka nedá, což sečteno s&nbsp;nulovým počtem našich střel dávalo jasný výsledek. V&nbsp;závěru svůj bravurní výkon vyšperkoval rozhodčí, který párkrát výrazně rozdmýchal emoce, jaké náš bezkrevný výkon určitě zajistit nemohl. Těžko říct, co ho k&nbsp;tomu vedlo, protože domácí proti nám opravdu žádnou pomoc nepotřebovali, takže jestli ta rozhodnutí dělal s&nbsp;tímto účelem, je to hlupák. A jestli si opravdu myslel, že rozhoduje správně, je to taky hlupák. Těsně před koncem jsme se ještě podívali na domácí precizní standartku, když si balon našel jednu tyč a zapadl za druhou, vážně hezká tečka, ale táhnout se do Řetový jenom kvůli tomu…</p>
