---
title: A bylo Jaro, všechno, všechno kvetlo...
date: 2011-03-24
---


      <p> O víkendu začíná druhá, většinou ta těžší, polovina soutěže. Letošní rok asi nebude vyjímkou. Zimní příprava byla naplánována standartně, včetně soustředění a následných přípravných zápasů. S tréninkovou účastí to nebylo nijak zvlášť valné. Z bezpečnostních či jiných důvodů se nám nepovedlo
      ani jednou překročit maximální povolenou kapacitu morašické tělocvičny. Nejvyšší počet lidí se sešel jen na zimním soustředění a i ten stál oproti minulým létům za hovno (po odečtení všech trenérů, funkcionářů a fanoušků fotbalu, kteří by do jarních bojů podle původního plánu neměli zasáhnout). Pokud většina jedinců trénovala v soukromí, pak je vše v pořádku, bohužel
      to vypadá, že se nám místo fyzické kondice dokázal zvýšit akorát průměrný věk v kádru.</p><p><em>Přípravná utkání jsme sehráli s výsledky:</em><br><strong>M - Ústí nad Orlicí B 0:2, M - Ústí nad Orlicí (dorost) 1:2, M - Řetová 1:0,<br>M - Kerhartice 2:0, M - Zámrsk 1:3, M - Česká Třebová 2:1 a M - Sebranice 2:3</strong><br><br>  
      </p><p>V <strong>neděli 27.3.</strong> hrajeme první mistrovské utkání od <strong>15:00 (SELČ)</strong> na domácím hřišti proti <strong>Starému Hradišti</strong>. Pokud budou klimatické podmínky a terén určeny sudími jako nezpůsobilé, bude se jako náhradní hřiště ničit to v <strong>Cerekcici nad Loučnou</strong>.<br> 
      </p><p>Tréninky jsou nyní každé <strong>úterý</strong> a <strong>čtvrtek / pátek</strong> od <strong>17:30</strong>. Čtvrteční tréninky mohou být přesunuty na pátek pro slíbenou vysokou účast hráčů (více než 5).</p><p>V sobotu <strong>26.3.</strong> od <strong>9:00 RÁNO</strong> je brigáda na hřišti (ne v hospodě) - účast hráčů povinná, pomoc fanclubu vítána</p>
