---
title: Tahali jsem za delší konec, ale Cerekvice za delší
date: 2010-10-25
---


      <p>Podle mínění všech sázkařů a Bossů kolem řeky Loučná jsme jako naprostí outsideři dorazili na nedaleký Slavoj a většina se těšila, že nás nabitý tým hvězd (počínaje zábavovým exibicionistou Zemanem a končije exligovým Svobodou) obdaruje alespoň bůrem. Jenže si v úterý zřejmě přečteme v novinách o "zázraku".</p>
      <p>
       Na nejlepšího hráče domácích byl nasazen nejrychlejší hráč hostí Klement a musím říct, že jsem Ivoše před zápasem nikdy neviděl a nebýt hlasatele, který zveřejnil jeho číslo, tak se mi do paměti nezapsal ani po tomto utkání. Kromě dvou možností, ze kterých nebylo nic, ho Milan nepustil k ničemu, ani když byl hlasitě podporován Holywoodskými herci.
       Mnohem větší rozruch dělal kolem naší obrany Josef Vondra, který změnil od našeho posledního setkání nejen klub, ale i účes. On se tomu účes teda moc říkat nedá, protože, co na tom chcete česat? Za první poločas vyhráli domácí v procentuálním poměru držení míče a počtem rohových kopů, jinak šlo všechno buď na Lneničku, nebo nad Lněničku.
       Hostující fanoušky zahřála na duši střela Vodehnala poté, co Kopecký vyvezl míč a oslovil ho (metafora). Do dvou příležitostí se dostal i Válek, nejprve šel sám na Ehrenbergera, jen míč byl drobátko víc vpředu, čili si mohl vybrat, zdali jít do souboje s domácím golmanem, nebo mu usnadnit připsání dalšího zákroku, vybral si tu méně bolestivější variantu.
       Ehrenberger mu to za pár minut podle fair-play vrátil, když mu hodil míč téměř na nohu, jenže nedůrazem Válka skončil míč na kopačkách domácích. Z první půle ještě stojí za zmínku snad jen žlutá karta pro Kopeckého za kecání.</p>       
      <p>Do druhé půlky jsme vyměnili kopačky a diváci na Penaltě nasadili brýle na dálku, aby měli přehled o dění na hřišti. Tuto pětačtyřicetiminutovku zvládli domácí lépe, než tu první. Počet rohů zdvojnásobili, ale stále se jim nedařilo překonat naši defenzivu, ani za cenu několika neoprávněných (ze strany lži domácích, nebo chybě sudích) autů, či rohů. V době největšího zmaru zaúřadoval snad sám fotbalový pán Bůh, zřejmě tak trošku Čech. Vodehnal galantně nabídl míč Ehrenbergerovi, ten oslovil Válka a nastávající otec zachránil Cerekvici střelou na praporek bod. Největší šanci domácích měl Vondra, nejdříve po centru za obranu trefil břevno a po chvilce ho vychytal parádně Lnenička.
      Souček zahrával přímák před vápnem, nestává se prý moc často, že by minul, ale naštěstí trefil pouze zadní tyč. Svoboda se dostal skoro do šance, byl neobsazen na malém vápně, poněvadž si Klement zrovna asi zavazoval tkaničku, naštěstí ho zmátl spoluhráč, který podskočil míč a Svoboda již nedokázal zareagovat. S rozestavením 10+1 jsme se nechtěli zatáhnout, byla to pouze taktika vnutit domácím naši hru, což se nakonec povedlo. A jelikož se nikdo z naší jedenáctky neutrhl a neskóroval, uhráli jsme v Cerekvici pouze bod.</p>
      <div class="center">
      <iframe src="https://www.youtube.com/embed/pURL9ZL2uPI?rel=0" width="320" height="180"></iframe></div>
                    <section class="info">
                        <p><em>Zápas: </em> Cerekvice nad Loučnou - Morašice 0:0</p>
                        <p><em>Žluté karty: </em> J.Kopecký, B.Válek</p>
                        <p><em>Sestava: </em> J.Lněnička, M.Klement, M.Chmelík, T.Holomek, M.Ropek, V.Jetmar, R.Pražák (P.Vomáčka), J.Kubeš (J.Famfulik), B.Válek, J.Kopecký - M.Vodehnal</p>
                    </section>
