---
title: Mohla to být jednička, jenom ta chybička
date: 2010-09-02
---


      <p>
       Do Chocně jsme v neděli odpoledne odjížděli s vědomím, že právě tady bychom mohli zase jednou vstřelit nějaký ten gól a díky němu získat nějaké ty body.
       Jak si mohli domácí fanoušci všimnout, nastoupili jsme v červených dresech s bílým doplňkem a s novou posilou Pražákem v základní sestavě.</p>
       <p>
       Začátek zápasu byl oboustranně hodně ukvapený a tak jsme si jen v duchu fair play navzájem vraceli špatné přihrávky . V první slibnější pozici se ocitl hlavičkující Burian 
       po dobré práci Vomáčky. Tentýž bohužel o chvíli později dostal z nespecifikované velmi malé vzdálenosti velmi tvrdý head shot a tak musel již v průběhu první 
       půle na hřiště Famfulík. Až do přestávky měla přeci jen o něco víc ze hry domácí jedenáctka, když nejdříve jejich hráč z jasné pozice na malém vápně hlavičkoval 
       vedle a poté nás po zbytek poločasu držela nad vodou šťastná hvězda Jirky Lněničky. Nakonec jsme však největší šanci měli my, když po spolupráci Vodehnala s Pražákem 
       a domácím obráncem ukázal rozhodčí v 45.minutě na značku pokutového kopu. Všeobecná neochota se toho ujmout nakonec poslala k exekuci Kopeckého, který však na domácího 
       gólmana nevyzrál a následné dorážky už se obraně podařilo zlikvidovat.</p>
      <p>
       Do druhé půlky jsme vstoupili, přiznejme si to, marně. Domácí byli přesnější a všude dřív, z čehož vykrystalizovalo několik šancí a střel, které ovšem s jistotou kryl Lněnička.
       Z letargie nás probral až tvrdý faul na Klementa, zřejmě s touhou dohnat ke stejně agresivnímu činu jako před pár měsíci a nástup Petra Kuty místo Pražáka. Ve chvíli, kdy se hra 
       poměrně srovnala, si pan sudí bohužel netroufl vyloučit domácího hráče. Byť chtěl kartu původně udělit, zjištění že by pro dotyčného byla druhá, prostě jaksi nestrávil. V poslední 
       desetiminutovce už se na to na naší straně hemžilo nadějnými brejky, které, když už neskončili předčasně vinou špatné nahrávky,bohužel Famfulík ani Vodehnal nedotáhli až na místo určení, 
       a tak jsme se s Chocní rozešli smírně bez branek. Vzhledem k průběhu zápasu se tu dalo snadno vyhrát i prohrát, přesto je pro nás výsledek spíše zklamáním než radostí ze získaného bodu. </p>
                    <section class="info">
                        <p><em>Zápas: </em> Choceň B - Morašice 0:0</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Chmelík, J.Kopecký, B.Válek - V.Jetmar (Z.Škoda), J.Kubeš, M.Vodehnal, R.Pražák (Pe.Kuta) - M.Burian, P.Vomáčka (J.Famfulík)</p>
                    </section>
