---
title: Noha za nohu, zub za zub
date: 2011-06-12 10:00
---


      <p> Hned na úvod derby v Bořkově, nebo nějak tak, uvolnil komisař Mandlík Honzu Vomáčku, který v totální samotě obstřelil Lneničku i jeho branku. Možná proto se o 4 minuty později rozhodl Mandlík projít před Lněničku sám. Střela prošla Ozzymu mezi nohama na roh. Centr Nováka za obranu na Fulíka znamenal zmařený pokus hlavou otevřít skóre a taky zlomení nohy v souboji s Lněničkou, možná i brankovou konstrukcí. Pro Fulíka zřejmě tato sezóna skončila.
      Ve 33.minutě mířil Mandlík nad šibenici Lněničkovy branky. Po 5 minutách se již po standartní situaci z půlky prosadil hlavou Havran a domácí vedli. Minutu před přestávkou pokusil ohrozit na druhé straně golmana Pavel Kuta a pak se k velkému sólu po lajně nadechl Petr Vomáčka, jehož výdech končil až v náručí Klusoně. Lněnička měl ještě starosti s tvrdou střelou Nováka a pak už se šlo po schodech do kabin. </p>
      <p> Druhý poločas se nesl v poklidném duchu, kdy trpěl trávník především uprostřed hrací plochy. Až v 70.minutě se v kličkách málem umíchal Mandlík, nabídl míč Vomáčkovi Jé. a jeho houmran byl viděn ze širokého okolí. V 75.minutě zahrával Kolčava roh a Havran ledabylou střelou prostřelil Lněničku podruhé. Po jednom ze závarů ve velkém vápně zůstal ležet na zemi Ropek, nejprve to vypadalo, že usnul, protože se vůbec nehýbal. Ulevilo se nám, když jsme zjistili, že se jedná pouze o přeražené zuby. V 88.minutě se před šestnáckou k přímému kopu překvapivě postavil Ropek s Lorencem. Všichni přítomní fanoušci Morašic si oddechli, že Ropek míč pouze přeskočil a přenechal ho zkušenějšímu odborníkovi na standartní, rohové a pokutové kopy.
      Balón poslal k tyči a trošku vylepšil náš dojem z odehraného derby.
      </p>
       
                    <section class="info">
                        <p><em>Zápas: </em> Dolní Újezd - Morašice 2:1</p>
                        <p><em>Góly: </em> Z.Lorenc</p>
                        <p><em>Žluté karty: </em> Z.Lorenc</p>
                        <p><em>Sestava: </em> &nbsp;J.Lněnička - M.Klement, J.Kopecký (J.Kubeš), M.Chmelík, J.Jokeš - Z.Lorenc, Z.Škoda, Pavel Kuta, M.Ropek - P.Vomáčka, B.Válek (V.Jetmar)</p>
                    </section>
