---
title: Čo chybalo?
date: 2010-10-13
---


      <p>Domácí měli převahu, hlavně v úvodu zápasu, ale několik nadmíru slibných možností jim zhatil Lněnička. Na zisk tří bodů se hodně nadřeli, protože s postupem zápasu, kdy skóre bylo stále bezgólové, se začaly do jejich myslí vkrádat pochybnosti, že by to tentokrát nemuselo vyjít. Naše obrana se dokázala vždy pozorně vrátit a uzavřít přístup do vápna. Lněnička kapituloval až v 86. minutě, kdy si na hranici šestnáctky zbytečně zpracovával míč Vodehnal, přišel o něj a J. Hamsa trefil.</p>
      <p>
       Narozdíl od minulého utkání to bylo odbojované, škoda jen, že se to nepodařilo dotáhnout do bodového konce. Nyní nás čeká duo derby zápasů, jako první za týden přijede Dolní Újezd, tak uvidíme, co se bude dít.    </p>   
                    <section class="info">
                        <p><em>Zápas: </em> Heřmanův Městec - Morašice 1:0</p>
                        <p><em>Žluté karty: </em> &nbsp;M.Vodehnal, B.Válek, Z.Škoda</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Chmelík, J.Kopecký, M.Ropek - V.Jetmar, J.Kubeš, B.Válek, T.Holomek - M.Vodehnal, P.Vomáčka (P.Částek, Z.Škoda)</p>
                    </section>
