---
title: Letní příprava
date: 2010-07-11
---


                       <p>So 10.7. v 17:30 Trenink</p>
          <p>Út 13.7. v 17:30 Trenink</p>
          <p>Čt 15.7. v 17:30 Trenink</p>
          <p>Ne 18.7. v 9:00 Trenink</p>
          <p>Út 20.7. v 17:30 Trenink</p>
          <p>Čt 22.7. v 17:30 Trenink</p>
          <p>So 24.7. v 17:30 Prosetín v Prosetíně</p>
          <p>Út 27.7. v 17:30 Trenink</p>
          <p>Čt 29.7. v 17:30 Trenink</p>
          <p>Ne 1.8. v 17:30 Česká Třebová v Morašicích</p>
          <p>Út 3.8. v 17:30 Trenink</p>
          <p>Čt 5.8. v 17:30 Trenink</p>
          <p>So 7.8. v 17:00 Mistrák</p> 
