---
title: Počet zraněných ku hrajícím se rychle vyrovnává
date: 2010-09-12
---


      <p>Na venkovní zápas se funkcionářských rolí ujala osvědčená dvojka Holub - Dědek a na soupisce se vyjímala nevídaná účast téměř 20-ti hráčů, to ale nikdo nevěděl, jaký bude mít utkání průběh. 
      Všichni jsme tušili, že mezi letohradskými tribunami to bude něco podobného jako minulý rok v Třemošnici, prostě mladí kluci s nejistou budoucností, bohužel s vysokou rychlostí.
       </p>
       <p>
       Od prvních minut se domácí hodně snažili dát rychle branku a usnadnit si tak další vývoj klání. Naše strategie byla jasná, nechat je tak zhruba půlhodinky vyblbnout a až příjde ochabnutí v presingu, 
       pak udeřit. Šancí měli v prvním poločase docela dost, kombinace zrychlení a techniky zatápěla naší obraně každou chvíli, naštěstí nevyzrálost a zbrklost v koncovce nenasměřovaly skoro žádný míč mezi tyče.
       Po jednom ze soubojů musel pro zranění kolene vystřídat Pražák a Jirka Famfulík se dostal na hřiště mnohem dříve, než měl původně v plánu, na úkor Petra Kuty, kterého porazil ve stříhání. Zahraná standartní situace z naší poloviny 
       dostala míč po ose Kopecký - Klement do vápna domácích, kde se ho po pár planých pokusech rozhodl poslat Burian na bránu a trefil - <strong>0:1</strong>. O pár minut později střílel s tečí tesně nad ještě Jetmar a to bylo z těch vážnějších 
       fotbalových momentů za první pětačtyřicítku vše.  </p>
      <p>
       Druhý poločas měl hned několik výstředních postav. Domácí rezerva chtěla pochopitelně otočit výsledek, čemuž jsme se snažili zabránit, zejména Lněnička, který 2x parádně chytil jinak jasný gól. Bohužel nás pro nefunkčnost kolena musel opustit 
       (ne navždy) Jetmar a později i Vomáčka, čímž naše řady opět trochu prořídly. Po celou tu dobu začal jemně vystrkovat růžky hlavní sudí, který od počátku hýřil hodně vysokým elánem, zřejmě moc kafe. Nejprve zfauloval Buriana, několikrát otáčel auty, vymýšlel fauly a po jednom z nich přišlo vyrovnání.
       Domácí hráč to trefil pěkně, to se mu nedá upřít, škoda jen, že do naší brány no. Pak už jenom Burian dostal žlutou kartu za to, že si nechal líbit okopávání se od protihráče, což rozhodčího moc nezajímalo, a když byl Kubeš po odpískání přišlápnut v místech, kde stačí málo a zejména muži pak zbytek života mluví 
       o takové frekvenci, kterou slyší pouze psi, trvalo dost dlouho a byla potřeba hlasitější nápověda ze střídačky, než došlo k vyloučení. I tak jsme dotáhli utkání ke šťastnému konci a bod udrželi.</p>
      <p>
       Domácí byli lepší, fotbalovější, ale všechno mít prostě nemůžou, remíza nás stála 3 zranění + 1 přiškrcení a při pohledu na odchod hráčů ze stadionu museli mít domácí fanoušci pocit určité podobnosti s pacienty Jedličkova ústavu :-)     </p>

                    <section class="info">
                        <p><em>Zápas: </em> Letohrad B - Morašice 1:1</p>
                        <p><em>Góly: </em> M.Burian</p>
                        <p><em>Žluté karty: </em> &nbsp;M.Burian, J.Kubeš</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Chmelík, J.Kopecký, M.Ropek - V.Jetmar (J.Šplíchal), J.Kubeš, B.Válek, R.Pražák (J.Famfulík) - M.Burian, P.Vomáčka (Z.Škoda)</p>
                    </section>
