---
title: A zase nic
date: 2010-08-23
---


      <p>
       Už od začátku sezony se potýkáme s nepříliš vysokým počtem hráčů na zápas. Jak říká Pepe Chovanec: "Není to výmluva, je to prostě fakt." V Litomyšli se domácí potýkali s tím samým problémem.</p>
      <p>
       Od začátku začala Litomyšl aktivně a už v 5.minutě měl tutovku na hlavě jeden z domácích útočníků, naštěstí minul. O 3 minuty později přišla další chyba v obraně
       a až na poslední chvíli odvracel na roh Kopecký. Poté přišlo pár houmranů za naši bránu, což nechalo všechny přítomné v naprostém klidu. Až v polovině poločasu 
       nejdříve zvýšil tepovou frekvenci divákům žlutým skluzem Jetmar a o několik chvil později dostal tu samou kartu domácí Holec, díky svému verbálnímu projevu za neuznaný gól pro ofsajd.
       Ve 33.minutě Lněnička vytahoval s pomocí břevna podivnou centrostřelu z poloviny hřiště. To bylo za první pětačtyřicítku všechno a do kabin se odcházelo za bezbrankového stavu.</p>
      <p>
      Druhý poločas byl téměř totožnou kopií prvního, až na změněné strany. Od 55.minuty se povedlo konečně Litomyšli vnutit naši hru, z čehož bohužel začali těžit ovoce, respektive dávat góly. Osamocený útočník vystřelil z vápna skrz obranu a míč zapadl k tyči. Za necelých 10 minut přišla standartní situace domácích od lajny a "nacvičený" signál, který dokázali po rozehrání několikrát zkazit. Kdosi se však přeci jen dostal ke střele a ve chvíli, kdy Lněnička vyřkl ona památná slova derby:<strong> "Ty vole, nevidim!" </strong>rozdíl skóre byl již dvoubrankový. Do konce zápasu už žádná vážnější šance nebyla a tak si Litomyšl připsala zcela zasloužené body. Opět se potvrdilo pořekadlo, že když nevystřelíš, góla nedáš, tudíž nemůžeš vyhrát.</p>    

                    <section class="info">
                        <p><em>Zápas: </em> Litomyšl - Morašice 2:0</p>
                        <p><em>Žluté karty: </em> V.Jetmar</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Chmelík, J.Kopecký, P.Částek - V.Jetmar, J.Kubeš (J.Famfulík), M.Vodehnal (J.Jokeš), B.Válek - M.Burian, P.Vomáčka (Z.Škoda)&nbsp;</p>
                    </section>
