---
title: Ze začátku to byl fofr
date: 2010-10-04
---


      <p>S blížícími se Vánocemi stoupá v hospodách spotřeba čaje a rumu, za okny klesá rtuť v teploměru, tudíž tuhle neděli možná poprvé diváci záviděli hráčům pohyb, jednu z levných možností, jak se zahřát.
      V mezi léto - zimním období, kdy je taková kosa, že by venku nastydnul i lední medvěd k nám dorazilo mužstvo z Mezilesí Načešic, které zaujalo počtem lahví sektu v kabině, zřejmě pro případný úspěch, ale hlavně útočníkem Jiráskem,
      který díky své výšce má určitě zakázané hrát v bouřce.
       </p>
       <p>
       Zápas začal z naší strany velmi dobře. Po několika vteřinách zatáhl míč k lajně Burian, nahrál na vápno Vomáčkovi, ten přiťukl Válkovi, který s přehledem k tyči zakončil <strong>1:0</strong>.O chvíli později utekl po straně Klement, ale trefil pouze nohy hostujícího brankáře. Na druhé straně trochu rozproudil svůj krevní oběh Lněnička, když vykryl v šestnáctce střelu z úhlu. To byla pro první poločas jeho veškérá výraznější práce.
       Od nás zahrozil hlavou ještě Burian, ale míč šel přímo na střed brány, kde golmani v drtivé většině případů stojí. To byla na podzim možná poslední možnost, kdy mohl dát gól, protože o pár minut později se zranil a nevypadá to, že by byl do středy v pohodě. Vazů už moc nemá, tak to snad bude něco jinýho.
       Zbytek poločasu se odehrával bez vážnějších šancí a faulů ve středu hřiště.</p>
      <p>
       Druhá půlka pokračovala tak, jak skončila ta první. Možnost změnit skóre jsme už měli pouze my. Nejprve se do vápna dostal Vomáčka, tolik druhů střel máme a on musí zakončovat zrovna neostříhaným nehtem palce. Pak z boku střílel Pražák, ale o kousek minul. No a konečné slovo měli Chmelík s Klementem, kteří se nedohodli, co udělají s míčem, Ropek navrhnul Lněničkovi, aby si pro něj vyběhl, jenže tomu trvalo pár vteřin na zhodnocení situace a zvážení pro a proti.
       K této situaci v klidu přihlížel hostující útočník, rozběhl se a najednou šel sám na bránu, Lněnička ovšem dobře zasáhl. Těsné vedení jsme udrželi až do konce a zapsali si 3 body.</p>
      <p>
       Tento zápas ukázal, že na fotbal se má chodit včas. Přijdeš o minutu později a tím příjdeš o vše podstatné.Uvidíme, jak se povede ve středu v Moravské Třebové, která se, jak se zdá začíná chytat.  </p>   

                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Mezilesí Načešice 1:0</p>
                        <p><em>Góly: </em> B.Válek</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Chmelík, J.Kopecký, M.Ropek - M.Vodehnal, J.Kubeš, B.Válek, R.Pražák - M.Burian (J.Famfulík), P.Vomáčka (J.Šplíchal)</p>
                    </section>
