---
title: Kambek
date: 2011-03-28
---


      <p> Početná divácká kulisa o síle zhruba slabých padesáti členů byla zvědavá stejně tak jako domácí mužstvo, jak se povede vstup do jarní části sezóny po tak náročné zimní přípravě a jak se osvědčí posily ze skautingu.</p> 
      <p> Celý první poločas byl takový nemastný, neslaný, kluci se spíš snažili zjistit, kolik toho jejich spoluhráči stihli přes zimu zapomenout a tak se střídačka bavila pouze o neúspěšném výletě národního týmu do Španělska.
      Oba týmy se snažili nakopnout míč za obranu na nabíhajícího útočníka, ale bez efektu. Do slibné pozice se málem dostal Škoda, ale k míči mu scházeli centimetry. Staré Hradiště se do dobré šance dostalo v první pětačtyřicetiminutovce 2x.
      Poprvé vyslal hostujícího útočníka pěknou přihrávkou domácí Kopecký a celou akci hasil za Lněničkou až na brankové čáře Holomek. Zhruba ve 44.minutě se totéž povedlo Jetmarovi. Tuto možnost již hosté využili a po výměně míče ve vápně hlavou otevřeli skóre - 0:1.
      Vypadalo to na gól do šatny, ale stačilo pár narážeček ve středu hřiště a Škoda se ocitl sám před hostujícím brankářem. Někdy se stane, že to prostě nevyjde, jako třeba v tomto případě. Golman vyrazil, ale dobíhající Vomáčka tuto snadnou úlohu zlávdl a vyrovnal
      na 1:1 v době, kdy se hlavní rozhodčí již nadechoval, aby zahájil přestávku.</p>
      <p> Druhá půlka probíhala podle podobného scénáře jako ta první. Sem tam se projevil náznak šance po křídle, například Pavel Kuta se o to pokusil několikrát a dokud se nerozhodl nahrát, vypadalo to slibně. Po jednom takovém pokusu se míč dostal ke Klementovi, ten do vápna vysunul Kubeše a toho sebral za žlutou kartu brankář. 
      Po chvilce dohadů, kdo na sebe vezme zodpovědnost penaltu kopnout, si míč postavil Pavel Kuta a s přehledem, jakým kazil přihrávky v tomto zápase, poslal golmana na druhou stranu, nás poslal do vedení a výboru vzkaz, že z tohoto "kambeku" budeme mít občas i užitek.
      To už se do hry dostala nová posila z Cerekvic, potažmo Brna Zdeněk Lorenc a domácí střídačka, především Jirka Famfulík nevěřícně kroutil hlavou nad kličkami a přesnými přihrávkami po zemi na své spoluhráče, které od Zděňka chodily. Hosté pochopitelně chtěli výsledek otočit, tudíž se jejich obrana trochu otevřela. Jenže přečíslení 3 na 1,
      nebo 4 na 2 jsme řešili špatně, nebo vůbec. Do konce zápasu se už nestalo nic zvláštního a proto jsme si mohli připsat hned v prvním zápase plný počet bodů, tedy 3.</p>
      <p> V sobotu zajíždíme do Slatiňan, chtělo by to především potrénovat, při zápase nadělat co nejmíň chyb, většinu šancí využít ve svůj prospěch a s trochou dobré vůle by se výhra mohla opakovat.</p>

                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Staré Hradiště 2:1</p>
                        <p><em>Góly: </em> P.Vomáčka, Pavel Kuta</p>
                        <p><em>Žluté karty: </em> V.Jetmar</p>
                        <p><em>Sestava: </em> &nbsp;J.Lněnička - M.Klement, M.Chmelík, T.Holomek, M.Ropek - V.Jetmar, J.Kopecký (Z.Lorenc), J.Kubeš, Pavel Kuta (B.Válek) - Z.Škoda (J.Jokeš), P.Vomáčka</p>
                    </section>