---
title: Mohla to být jednička, jenom ta chybička(y)
date: 2011-05-04
---


      <p> Bylo jasné, že proti mužstvu, které okukuje příčky Bé třídy a jehož průměrný věk hráčů je asi o 15 roků nižší než u nás, to nebude vůbec snadné, neboť na podzim to byla docela honička.</p>
      <p> Hosté od začátku utkání dávali najevo, že technicky na tom nebudou špatně a v držení míče nás jaksi předčili. V 8.minutě se jeden z Letohradských ocitl po rohu nekrytý na malém vápně a rybičkou těsně minul Lněničkovu branku. O deset minut později už musel Lněnička zasahovat po střele z vápna. Ve 22.minutě vysunul Pavel Kuta Vomáčku, který své první sólo neproměnil a Válek se k dorážce dostal pozdě. Kolem 30 minuty prvního poločasu poslali letohradští nepříjemnou střelu ze šestnácky, Lněnička vyrazil míč pouze před sebe a dobíhajícímu chlapci přálo štěstí v zakončení.
      Po jednom z rohů hostí šli 3 naši hráči na samotného stopéra, situaci ale nevyřešili zrovna ideálně. Už ani nevím, jak to dopadlo. Ve 37. minutě po rohu Pavla Kuty se o vyrovnání postaral Chmelík s asistenty z Letohradu. Před přestávkou se odehrál ještě malý závar v našem pokutovém území, ale vše dopadlo dobře a do kabin se šlo za smírného stavu.
      </p>
      <p> Druhou půli jsme začali krasopisně, Vomáčka si netroufl na střelu, nebo obejití soupeře, tak raději přesně nahrál zkušenějšímu Pavlu Kutovi a ten se trefil přesně k tyči a dostal nás do vedení. V 60 minutě vytahoval Lněnička střelu na roh a po pěti minutách si našel na druhé straně slibnou pozici Škoda, však svou střelou pouze zaklepal na nebeskou bránu. Vyrovnání přišlo po chybě Klementa Em., kdy si chtěl zpracovat míč, nepovedlo se, přišel o něj, byl obehrán a následně Lněnička pod břevno prostřelen. Cca 10 minut před koncem se Lněnička řádně opřel do míče při výkopu od branky, ten doletěl za obranu na rozběhnutého Vomáčku, jenž v závěsu s dvěma beky tváří v tvář golmanovi pohodově uklidil balón do sítě a zažehl v nás malé nesestupové plamínky radosti.
      Ty bohužel takovou malou skákavou čudlou uhasil soupeř po naší chybě na vápně, Lněnička míč jen tak lehce pohladil. No a jelikož těsně v závěru s předhledem minul Válek centr Petra Kuty ve více než dobré pozici na urvání všech bodů, rozešli jsme se na pálení čarodějnic s remízou.</p> 

                    <section class="info">
                        <p><em>Zápas: </em> &nbsp;Morašice - Letohrad B 3:3</p>
                        <p><em>Góly: </em> &nbsp;M.Chmelík, Pavel Kuta, P.Vomáčka</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Ropek, M.Chmelík, J.Jokeš - B.Válek, J.Kubeš, Pavel Kuta, J.Klement (J.Kopecký) - P.Vomáčka (Petr Kuta), Z.Škoda</p>
                    </section>
