---
title: O osudu sudu rozhodla penalta
date: 2011-06-01 20:00
---


      <p> Předúvod zápasu patřil gratulantům, kteří potřásli pravicí Pepovi Kopeckému k dosažení tisícovky zápasů za náš ochotnický spolek, bohužel hned potom se ke slovu dostali hosté a po faulu Jokeše z penalty otevřeli skóre. V tu chvíli se nám motivační prezent od našich obecních a Heřmanovských tabulkových sousedů začal vzdalovat.
      Pak jsme hru začali vyrovnávat až se to před přestávkou povedlo Vomáčkovi i co se gólů týče.</p>
      <p> Ve druhém poločase mohli jít hosté několikrát do vedení, ale Lněnička byl tak nějak proti těmto myšlenkám. Pak přišli chvíle Petra Vomáčky, kterýma bych se zrovna moc nechlubil. Nejprve ho křižnou přihrávkou, nebo zkaženou střelou našel Jetmar a Vomáčka před prázdnou bránou promáchl do prázdna. Za neznámo kolik minut dostal příležitost 
      samostatného nájezdu. Tuto možnost chytil za pačesy a s přehledem sobě vlastním přestřelil. Znovu to zkusil někdy kolem 90-té minuty, dostal se do vápna, zkusil něco mezi kličkou a zasekávačkou a s pomocí brankáře a větru se poroučel k zemi. Na nařízenou penaltu se mohl postavit jubilant Kopecký, nebo jako většinou Kuta Pavel. Vsadilo se však na jistotu. Zdenda Lorencu si uvědomil, že pivo ve větším množství zdarma je zdraví škodlivé, tudíž se pomalu rozběhl k míči a nebejt golmana hostí, tak ani roh nekopeme.
      Tak jsme se umyli, uklidili brány a místo prodloužené neděle se jelo spořádaně domů. Za tejden se koná derby v Dolním Újezdě a kdo ví, jak tam to dopadne. 
      </p>

                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Heřmanův Městec 1:1</p>
                        <p><em>Góly: </em> P.Vomáčka</p>
                        <p><em>Žluté karty: </em> &nbsp;V.Jetmar</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, J.Kopecký, M.Chmelík, J.Jokeš - Z.Lorenc, J.Kubeš (V.Jetmar), Pavel Kuta, M.Ropek - P.Vomáčka, Z.Škoda (Petr Kuta)</p>
                    </section>
