---
title: Není na Škodu občas vyhrát venku
date: 2011-04-14 20:00
---


      <p> Domácí mužstvo záhájilo utkání náporem, ale naše obrana pozorně bránila a mohli jsme vyrážet k
nebezpečným kontrům. Ve 13.min. jsme zahrozili trestným kopem z levé strany, který
Moravany odvrátili na roh, ze kterého jsme se již
prosadili, když míč prošel obranou k volnému Škodovi, který se zblízka
nemýlil. Domácí mužstvo zvýšilo své úsilí o vstřelení gólu, ale bez efektu. Důležitý moment v průběhu utkání přišel ve 30.min., kdy se domácí
brankař střetl s Válkem mimo pokutové území a jeho likvidační faul byl oceněn
pouze žlutou kartou a Válek musel být následně střídán s ohromným výronem v
kotníku. Válka nahradil Lorenc a za 2 minuty přišla velká možnost pro domácí srovnat skóre, zahrávali totiž penaltu,
kterou ovšem Lněnička bravůrně zlikvidoval. Ve 35.min. však již
nestačil na střelu v pokutovém území a domácí srovnali na 1:1. Moravany
nepolevili a jejich snaha byla korunována ve 39.min., kdy nádhernou
střelou z dálky šli do vedení - 2:1.</p>
 <p>Ve druhém poločase chtěli domácí zvýšit vedení a tlačili se před šestnáctku, jenže se v 57 min. po standartní situaci opět
prosadil Škoda a bylo vyrovnáno - 2:2. Pro domácí to byl šok, ale přišly horší chvíle. V 62.min.
se Škoda protáhl po pravé straně do pokutového území, kolem vybíhajícího
brankaře strhl vedení na naši stranu - 2:3 a tím dokončil svůj hattrik.
Tento výsledek si domácí nechtěli vůbec připustit a jejich snaha o vyrovnání
byla výrazná, nikoli však úspěšná. Do hry vstoupily i emoce a v 82.min. po
nepřehledné situaci v pokutovém území domácích šli předčasně do sprch dva hráči,
brankář Moravan a od nás Václav Jetmar. Vítězství jsme si již nedali
vzít a tak se zrodil velice překvapivý výsledek.   </p>

                    <section class="info">
                        <p><em>Zápas: </em> Moravany - Morašice 2:3</p>
                        <p><em>Góly: </em> 3x Z.Škoda</p>
                        <p><em>Sestava: </em> &nbsp;J.Lněnička - M.Klement, M.Chmelík, T.Holomek, J.Jokeš - B.Válek (Z.Lorenc), M.Ropek, J.Kubeš, Pavel Kuta - P.Vomáčka (P.Vomáčka), Z.Škoda (V.Jetmar) &lt;</p>
                    </section>
