---
title: Hrůza
date: 2010-10-06
---
    

      <p>Bez vysokoškoláků a zraněného Buriana jsme vyrazili do Moravské Třebové, jejíž postavení v tabulce jistě neodpovídalo představám vedení Slovanu.
       </p>
       <p>
       Celý první poločas prohíbal podle stejného a neměnného scénáře. Nedá se říci, že by domácí nějak moc vynikali svojí kvalitou, pouze těžili z našich chyb, kterých nebylo 
       zrovna málo. Naštěstí se předháněli v tom, kdo vystřelí vejš, čili se nestačila divit ani ochranná síť za brankou. I na tak velkým hřišti jsme se to snažili hrát dlouhými balóny směrem obrana - útok, pochopitelně s nulovým výsledkem.</p>
      <p>
       Po přestávce přišlo naše mužstvo na trávník jako vyměnněné, chvílema to vypadalo že za kužely, protože už ve 46.minutě se po centru dostali za naši obranu 2 útočníci, kteří si přiťukli balón, jeden z nich obešel Lneničku a pohodlně otevřel skóre.
       O několik minut později dostal za beky míč jiný třebovský hráč, sice zřejmě do ofsajdu, nicméně jeho kolega s přehledem zakončil. Až po dvoubrankové ztrátě se naše hra trochu oživila a začali jsme si to dávat po zemi, bohužel z toho byl další brejk a po dorážce vedení 3:0 domácích. Druhý
       a třetí gól padl po zahrávání naší standartní situace. To už na střídačce seděl nevlastní bratránek Bonyho Wilfrieda, který spálil 2 vyložené šance. Až dvě minuty před koncem mohl zkorigovat výsledek Vomáčka, ale brankář vyrazil. A na konci zápasu ještě přímo z rohu trefil Petr Kuta tyč.
       </p>
      <p>
       Odehráli jsme jeden z nejhorších zápasů podzimu, kdyby se chtělo, tak se z Moravské dali odvézt nějaké body. Náš herní projev štval kromě trenéra asi nejvíc Milana Klementa, který díky tomu vyfasoval jedinou žlutou kartu utkání.       </p>

                    <section class="info">
                        <p><em>Zápas: </em> &nbsp;Moravská Třebová - Morašice 3:0</p>
                        <p><em>Žluté karty: </em> M.Klement</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Chmelík, J.Kopecký, M.Ropek - V.Jetmar (T.Rajman), J.Kubeš (J.Famfulík), B.Válek, R.Pražák - M.Vodehnal (Pe.Kuta), P.Vomáčka</p>
                    </section>
