---
title: Zasloužená výhra na začátek školního roku
date: 2010-09-06
---


      <p>
       Protože jsme i přes Holubovu nečinnost klubem se zahraniční družbou, museli si ti, kdo se chtěli podívat na souboj s týmem Moravan pospíšit z práce, jelikož jsme 
       hráli už v pátek od půl šesté. Po třech zápasech bez vstřelené branky a pouhým jedním bodem během této série bylo zapotřebí se konečně chytit a něco jak se říká urvat. </p>
       <p>
       Proti, buďme upřímní, favoritovi jsme začali parádně. Pražák důsledně dobíhal balón, který hostující stoper napálil pouze do jeho zad, čímž vytvořil stoprocentní šanci pro 
       Vomáčku a ten tváří v tvář gólmanovi uspěl a už v 5. minutě to bylo <strong>1:0</strong>! To nás ale trochu uspokojilo, nebo Moravany nakrklo, a ihned po gólu začal neustálý tlak. Naštěstí 
       neměl jeden ze soupeřových útočníků po centru ze strany správně seřízená mířidla. Ofenziva Moravan poté utrpěla citelnou ztrátu, když po jednom ze soubojů začalo jejich elitního 
       snipera Kříže bolet v kříži a musel střídat. Paradoxně chvíli nato jsme z laciného rohu dostali ještě lacinější gól, když se bezchybně zahraný signál prošoural po zemi téměř celým 
       vápnem a někdo z hostí už do toho jen tak strčil nohu a bylo srovnáno. Zbytek poločasu byl z naší strany plný nepřesností, ale hosté si žádnou vyloženou šanci nevypracovali. 
       Na místo toho se domácí publikum dožadovalo v 45. minutě penalty za rukou sražený centr Pražáka, ale sudí už zřejmě spěchal do kabin a výše zmíněné velkoryse přehlédl.</p>
      <p>
       Po přestávce víceméně pokračoval zápas ve stejném duchu, jen někdy kolem 55. minuty hosté trefili volný přímý kop přímo k tyči a bylo to <strong>1:2</strong>, ale jinak nic zvláštního. 
       To, s jakou vervou se pustili do boje hosté po našem vedoucím gólu, nebylo nic proti tomu, jak začali lítat naši a první vlaštovkou byla Kopeckého hlava mimo po rohovém kopu. 
       Všechno naše snažení podporované hlasitou kulisou, jejíž vášně pro změnu podporoval spornými výroky mírně zmatený rozhodčí, vedlo k jednomu a to se opravdu stalo-když to rok nešlo ze země, 
       tak se Burian za vápnem opřel do míče ve vzduchu, vymetl gólmanovi hostí všechny pavouky z jeho svatyně a bylo vyrovnáno. To ovšem našemu snažení neubralo a tak byl k vidění urputný a vyhecovaný boj. 
       Ve velké šanci se ocitl Pražák, jeho střelu ale gólman utlumil a před dorážejícím Vomáčkou i s pomocí tyče na poslední chvíli odkopl jeden z bránících hráčů. A abychom nezaostávali za hosty v zahrávání 
       standartních situací, po jednom z našich rohů se k odraženému balonu dostal Jetmar a jeho parádně vystřižené nůžky nás dostali do vedení. Nasazení ani vášní neubývalo, ale hosté z toho nevytěžili víc než 
       jednu nebezpečnou střelu, pro kterou si Lněnička výborně skočil. Těsně před vypršením řádné hrací doby si na vápně zakličkoval Jetmar a přízemní střelou trefil tyč. Přesto ještě stihl odražený míč poslat 
       proti noze střídajícímu Kutovi, který v dalším ze svých posledních zápasů, vymetl druhý roh branky u větráků a tohle dvougólové vedení už jsme v nastaveném čase nepustili a v kabině se po delší odmlce ozval 
       vítězný pokřik. O oprávněných oslavách druhého vítězství v sezoně se už šířit nebudu. </p>

                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Moravany 4:2</p>
                        <p><em>Góly: </em> P.Vomáčka, M.Burian, V.Jetmar, Pe.Kuta</p>
                        <p><em>Žluté karty: </em> M.Klement, M.Burian</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Chmelík, J.Kopecký, B.Válek - V.Jetmar, J.Kubeš, M.Vodehnal, R.Pražák (Pe.Kuta) - M.Burian, P.Vomáčka (Z.Škoda)</p>
                    </section>