---
title: Poslední derby
date: 2011-06-12 20:00
---


      <p> Na poslední derby v této sezóně, kdy už nebylo v našich silách aspoň trochu zkomplikovat Cerekvici postup do krajského přeboru jsem dorazil ve chvíli kdy centr cerekvického Lorence našel hlavu cerekvického Vomáčky a tím pádem šly Morašice do vedení 1:0. Na rozdíl od minulého střetnutí, kde divákovi stačil za celý poločas jeden zorný úhel a byl si jist, že nepřišel o nic zajímavého, se první poločas
      tohoto zápasu vyvíjel tak, že se hlava fanouška v několika momentech musela otočit o ostrý úhel na druhou stranu, což je o více než 90 stupňů. Přece jenom měla územní převahu Cerekvice a dostala se do několika střeleckých možností. Míč se většinou Lněničkově bráně vyhejbal a tak nemusel řešit žádnou obtížnou situaci, která by smrděla gólem. 
      </p>
      <p> Ve druhé půli se nám vedení bohužel povedlo udržet pouze 5 minut. Kopecký přihrál Ropkovi do souboje, který prohrál, míč dostal Vondra (stále stejný "účes" jako na podzim), podstřelil Lněničku a vyrovnal skóre. V 60.minutě musel Lněnička chytit 2 nepříjemné střely z rohu vápna. Jelikož netuším jméno střelce, dá se předpokládat, že se nejednalo o odchovance, ale nějakou náplavu. V 66.minutě se v tutovce ocitl Vondra, naštěstí se v ten samý moment ocitl i v ofsaidu.
      V 70.minutě šel Škoda od půlky sám na Ehrenbergera. Jelikož se mu žádný ze spoluhráčů nenabídl, tudíž to neměl komu dát, musel zakončení vzít sám na sebe a všichni dobře víme, jak se našim v této disciplíně vede. Toto nebylo vyjímkou. Ehrenberger se vytáhl ještě jednou, kdy po rohu sebral míč z hlavy Kopeckému. Asi nejhezčí akce Cerekvice v zápase skončila přesnou střelou do břevna. V 85.minutě proběhla akce já na bráchu, brácha na mě v podání nestárnoucích kluků Kutových. Zkracování šlach s přibývajícími roky se nevyhne nikomu, tudíž chybělo pár centimetrů, aby Petr vystřelil.
      To je vše podstatné, co se v tomto derby odehrálo. Poněvaž nepředpokládáme, že by Cerekvice kvůli vylepšení finanční situace klubu chtěla postup prodat, bude příští sezónu minimálně o dvě derby méně. </p>

                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Cerekvice nad Loučnou 1:1</p>
                        <p><em>Góly: </em> P.Vomáčka</p>
                        <p><em>Žluté karty: </em> &nbsp;M.Ropek</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, J.Kopecký, M.Chmelík, T.Holomek - M.Ropek, Z.Lorenc, V.Jetmar, Pavel Kuta, B.Válek (Petr Kuta) - P.Vomáčka (Z.Škoda)&nbsp;</p>
                    </section>
