---
title: Bez práce nejsou koláče
date: 2010-08-16
---


      <p>
       Před zápasem proběhla malá kulturní vložka, jejíž náplní bylo poblahopřání k jubileu Luboši Adolfovi a Honzovi Klofandovi.
       Z minulého utkání jsme si přivezli 3 body z Hradiště a nebylo by vůbec špatné si je připsat aj po úvodním domácím zápase se Slatiňany, jenomže...</p>
      <p>
       Od prvních minut se nasadilo tempo vlažné pozvolna tekoucí užitkové vody a ke střele na bránu došlo opravdu jen při významnějších momentech.
       Čili celý první poločas se nesl v poklidném duchu a největší šance se udály až po 40.minutě. Nejdříve jsme měli 3 tutovky my, když po únicích stříleli Vodehnal a Klement nepřesně a 
       po centru zakončoval Jokeš vysoko, ale taky nepřesně. Pak přišla zřejmě chyba někde ve středu pole, protože jinak si nedovedu vysvětlit, jak mohl po nahrávce od lajny střílet útočník z hranice šestnácky neobsazen.
       Bohužel se trefil pěkně do protipohybu Lněničky a co hůř, střela se téměř totožně kryla s poločasovým hvizdem sudího.  </p>
      <p>
      Po přestávkové bouřce v kabině se čekalo rapidní zlepšení, ale zůstalo opět u neproměněných šancí, tentokráte samostatný nájezd Buriana skončil v rukou brankáře. Pak už si jen hlavní sudí užil hlasivek domácích fanoušků, to když se několikrát pokusil ze hry udělat tyjátr a mával kartami jako při licitovaném mariáši.
      Pár minut před koncem ještě potvrdili Slatiňany naši střeleckou impotenci krásnou střelou opět s hranice velkého vápna a bylo po zápase</p>   

                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Slatiňany 0:2</p>
                        <p><em>Žluté karty: </em> J.Jokeš, J.Kopecký, V.Štancl, V.Jetmar, B.Válek</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Chmelík, F.Ropek, V.Štancl - V.Jetmar (B.Válek), J.Kubeš (P.Kuta), J.Kopecký, J.Jokeš - M.Burian (Z.Škoda), M.Vodehnal</p>
                    </section>
