---
title: Po roce opět derby bez gólu
date: 2010-10-19
---


      <p>I přes mrazivé počasí se na derby s Dolňákem přišlo podívat dost místních i zdejších, tamějších,přespolních a mnohých dalších, byl tu každý, kdo něco znamená nebo ještě  neděli znamenal.</p>
      <p>
       Hned úvodní minuty navnadily pocit z dobré podívané, když nejdřív musel Lněnička likvidovat hlavičku hostujícího Vomáčky z bezprostřední blízkosti. Na to jsme dokázali odpovědět záhy, Klusoň vyrazil 
       centr z volného kopu ke Kopeckému, ale ten trefil bránícího hráče před sebou, což poskytlo ještě větší šanci Ropkovi, bohužel i on byl včas zablokován. Neproteklo ani moc písku v přesýpacích hodinách 
       a po rohovém kopu hlavičkoval nepokrytý Kopecký těsně nad, což se mu stalo osudným, protože při následujících standartních situacích už byl pečlivě střežen. Ve zbytku poločasu už šancí ubylo, k vidění 
       byl klasický derby fotbal, spíš bitva ve středu pole a osobní souboje, ve kterých emoce překvapivě dlouho zůstávaly zkroceny.</p>       
      <p>Ve druhém poločase se po našem autu dostal do asi největší šance zápasu hostující Částek, naštěstí trestuhodně pohrdl. Ze hry už jsme si vypracovali jen jednu šanci, ale Pražákova střela evidentně dobrých 
      parametrů jen vyprášila něčí záda. Další šance byli k vidění už jen ze standartek, po jedné z našich ale osamocený Vodehnal nedokázal hlavou vymyslet nic, co by výrazněji zaměstnalo gólmana. Stejné situace na druhé straně, 
      a nebylo jich zbytečně málo, řešil ať už pěstmi nebo jistícím letem Lněnička. Chvilku před vypršením 90.minuty neustála psychická soustava psychicky labilního Kuchty provokace od Kopeckého, jeho měšťácká krev vzkypěla a se slovy: 
      „Kopecký, to si ňa nakrkl“, se na Kopeckého vrhl. Rozhodčí ovšem tento moment hrubě nezvládli, oběma aktérům udělili žlutou kartu a zápas rychle ukončili.</p>
      <p>Remíza je více než spravedlivá a nám nezbývá než nuceně slevit z našeho plánu, kterým bylo jasných 9 bodů z posledních 3 zápasů.</p>

                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Dolní Újezd 0:0</p>
                        <p><em>Žluté karty: </em> J.Kopecký</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Chmelík, T.Holomek, M.Ropek - R.Pražák (Petr Kuta), J.Kubeš, B.Válek, M.Vodehnal - J.Kopecký, P.Vomáčka</p>
                    </section>