---
title: Auty, rohy, závory
date: 2011-04-14 10:00
---


      <p> V nádherném profukujícím počasí jsme přivítali sousední (podle mapy, ne tabulkově) Litomyšl k prvnímu jarnímu derby. V takovém počasí je důležité vyhrát úvodní los, nebo alespoň hrát po zemi, jinač to neslaví moc úspěchu.
      Nám se bohužel nepovedla ani jedna z předem zmiňovaných věcí.</p>
      <p> Úvod zápasu nenaznačoval, že by měl být první poločas pod taktovkou Litomyšle. Z rohu nejprve o kousek minul hlavou Kopecký a o něco později jeho střelu zblokovala hostující obrana. Toť vše. Ještě o něco později se k vhazování dostal
      Radimecký. Míč vlítl do šestnácky a malý velký Urban ho ze vzduchu hlavou poslal Lneničkovi k tyči. Ukázalo se, že největší problémy nám dělají soupeřovy rohy. Z každého měli šanci. Po jednom z nich se k míči dostal Košín a zvýšil na 2:0 pro hosty. Po druhém z nich se znovu prosadil Urban a bylo to o 3 góly. Lněnička, ani Pavel Kuta nestačili na bankové čáře zasáhnout.</p>
      <p> Ve druhé půli nám pomáhal vítr, ale asi špatně, protože jsme soupeřovu branku dokázali ohrozit pouze Lorencem z přímého kopu a ještě k tomu z poloviny hřiště. Ke konci zápasu ještě Holec trefil spojnici a Radimecký se po faulu dožadoval penalty. Diváky tak alespoň bavil kominík v civilu, s krevním skóre 3,9 - 4,2, který byl oblečen morašickou bundou, ale myslel si, že je na fotbale v Cerekvici.</p> 

                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Litomyšl 0:3</p>
                        <p><em>Žluté karty: </em> Pavel Kuta</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Ropek, T.Holomek, J.Jokeš - V.Jetmar (Petr Kuta), J.Kopecký (Z.Škoda), J.Kubeš, Pavel Kuta - B.Válek (P.Vomáčka), Z.Lorenc</p>
                    </section>