---
title: Ztráta dvou bodů
date: 2010-09-20
---


      <p>V zimním čase, alespoň co se teploty týče k nám přijelo mužstvo nedaleko krajského města, Valy.&nbsp;<span style="font-size: 14px; line-height: 14px; text-indent: 0px; ">Celý první poločas probíhal v okolí středového kruhu a ani jedna jedenáctka se nedostala do šestnáctky k nějaké větší šanci, kromě několika rohových kopů, po jejichž zahrání chybělo málo k vstřelení branky. Čili šířit se nějak podrobněji o úvodní půlce je zcela zbytečné.</span></p>
      <p>
       Jakmile se oba týmy vrátili z kabiny, došlo k proměně pouze jejich stran, jinak hra zvostala téměř stejná. Na domácí, tudíž naší straně, se zrodili dvě velké šance. Nejdřív Burian po Válkově nahrávce sám před brankářem minul jeho i 3 tyče za ním a pár minut před koncem vyrazil střelu Šplíchala hostující brankář, dorážka šla pouze do boční sítě.
       Valy zahrávali většinu standartních situací na Michala, zřejmě Bažanta, ale největší šance měli z rohových kopů, které párkrát musela naše obrana odvracet těsně z předbrány. </p>
      <p>
       Zisk bodu na domácím hřišti s týmem, který se pohybuje v podobných bodově vertikálních příčkách se dá spíše definovat jako ztráta, uvidíme, co se bude dít za týden v Moravské Třebové. </p>  

                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Valy 0:0</p>
                        <p><em>Žluté karty: </em> M.Ropek</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Chmelík, J.Kopecký, M.Ropek - J.Jokeš, J.Kubeš, B.Válek, R.Pražák (J.Famfulík) - M.Burian, Z.Škoda (J.Šplíchal)</p>
                    </section>
