---
title: Bronzová Moravská
date: 2011-06-01 00:00
---


      <p> Jelikož naši reprezentanti nepostoupili na Slovensku do finále a zápas o bronz se kryl s tím fotbalovým, strávila většina fanoušků své odpoledne v hospodě u televize, tudíž si musíme vystačit s hodnocením zápasu viz. noviny svitavska.</p>
      <p> Hostující mužstvo bylo od začátku aktivnější a vytvořilo si územní převahu. Pomohla mu také brzká vedoucí branka Staňka ve 4. minutě po rozehraném rohovém kopu – 1:0. Domácí byli po inkasovaném gólu viditelně zaskočení, soupeř je přehrával a nutil k chybám. Logickým vyústěním byl ve 33. minutě druhý míč v síti Lněničky, o který se postaral Kučerňák. Slovan do poločasu jasně ovládl hru a Morašické k ničemu vážnému nepustil.

       Domácím přece jen pomohla poločasová domluva v kabině a po změně stran svůj výkon zlepšili. Přidali na aktivitě, snažili se o kontaktní gól, ale přes několik slibných příležitostí nebyli při zakončení úspěšní. Hosté si vítězství bez větších komplikací pohlídali
      </p>

                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Moravská Třebová 0:2</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, T.Holomek, M.Chmelík, J.Jokeš - B.Válek, J.Kubeš, Pavel Kuta, M.Ropek - P.Vomáčka (V.Jetmar), Z.Škoda (Z.Lorenc)</p>
                    </section>