---
title: Kázeň musí být, tak je to správné...
date: 2011-04-19
---


      <p> Nezvykle v sobotu jsme se připravovali na za sebou druhé domácí utkání, nyní proti choceňské rezervě. Tento zápas bylo nutné vyhrát, abychom si udrželi alespoň symbolický odstup na poslední příčky tabulky. Počet diváku jasně ukazoval, že se klání odehrává v pracovní den, a že v tu samou dobu na svých hřištích vykopávají i Cerekvice a Litomyšl. </p>
      <p> Do zápasu jsme vstoupili aktivně a po pár planých pokusech se v 11.minutě nadvakrát prosadil Škoda - <strong>1:0</strong>. O minutu později z dálky vyzkoušel pozornost brankáře Pavel Kuta. Pozor dával tak na půl, sice gól nedostal, ale měli jsme možnost zahrávat rohový kop. O pár minut později se poprvé projevila psychická labilita hostujícího Šulce. Svoji ranní nevyspalost ventiloval většinou proti rozhodčímu nepříliš bohatou slovní zásobou. Jeho slovní projev se vždy vešel pouze do vaginálních opisů.
      Měli jsme dostatek možností zvýšit skóre již v prním poločase. Ve 21.minutě střílel Škoda. Svoji verbální stránku osobnosti si odbyl Jokeš, který nahlas řekl sudímu, co si myslí o odpískaném faulu. Vysloužil si za to žlutou pochvalu. O deset minut později se po nahrávce Pavla Kuty netrefil Válek. Svůj první výlet z obrany zakončil klement nahrávkou na Škodu, který v tutovce netrefil, škoda a jako poslední napálil míč do golmana Vomáčka. Pár minut před přestávkou si vzal z Jirky Luňáka příklad choceňský Šulc (viz. video pod článkem), jenž se odpískání faulu na Škodu pokusil diplomaticky a ručně vysvětlit rozhodčímu. No a hned měl sprchy volný. 
       </p>       
      <p> Po přestávce nezačal z naší strany klidný pokus zvýšit skóre a jen tak si zahrát v přesilovce fotbal. Začaly se dělat chyby a najednou se mezi Chmelíkem a Holomkem protáhl choceňský útočník, Lněnička zůstal v brance a z tutové šance byl odkop od naší brány. To bylo ovšem ze strany Chocně vše. Pak jsme se vepředu začali prosazovat naším typickým způsobem. Už ani nevím kdo z půlky vysunul Jetmara, který sám na brankáře z malého vápna zakončil tak, že i zkušení ragbisti by se divili.
      Klement se Škodou si vyměnili párkrát balón, z čehož vyplynula branka Klementa, bohužel ze třímetrovýho ofsaidu. Možná proto si Milan řekl, že co si neudělá sám, to nemá. U našeho vápna sebral míč a lehkými krůčky se protančil do šestnáctky, odkud přesně k tyči zvýšil skóre - <strong>2:0</strong>.
      Před koncem zápasu ještě dostal možnost reparátu Jetmar. Své druhé sólo zakončil podstatně přesněji a stanovil konečné skóre zápasu, neboť s přímákem ideální vzdálenosti naložil Petr Kuta brachbídně.  </p>
      <div class="center">
      <iframe src="https://www.youtube.com/embed/Sy19JzNndb8?rel=0" width="430" height="323"></iframe>&gt;</div>

                    <section class="info">
                        <p><em>Zápas: </em> &nbsp;Morašice - Choceň B 3:0</p>
                        <p><em>Góly: </em> Z.Škoda, M.Klement, V.Jetmar</p>
                        <p><em>Žluté karty: </em> J.Jokeš</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Chmelík, T.Holomek, J.Jokeš (Petr Kuta) - Pavel Kuta, J.Kubeš, B.Válek, M.Ropek - P.Vomáčka (J.Kopecký), Z.Škoda (V.Jetmar)&nbsp;</p>
                    </section>
