---
title: Další čisté konto
date: 2010-11-01
---


      <p>Byla neděle, půl třetí odpoledne, okluzní fronta v normálu a ve větvích vál krutý severní vítr. Při pohledu na něj si určitě každý příchozí vybavil naše průvany do defenzív soupeřů v předchozích zápasech a očekával, že gólová smršť bude podobná té větrné. Naší pověsti jsme dostáli - smršť byla podobná, dokonce navlas stejná, jako před týdnem a dvěma a třema a vlastně skoro pořád. Poslední bod získaný v Cerekvici se dnes hodilo potvrdit domácí výhrou, ovšem náš protivník opět pocházel z takových pater tabulky, kam nahlédneme leda o třídu níž.</p>
      <p>
      Vítr hře ani na jedné straně nepřidal a balon ve vzduchu lítal jako Maďar v kukuřici. Při pohledu na nepříliš líbivý fotbal asi nejvíce trpěl Lněnička a tak se nechal vyniknout, když se mu špatný odkop vrátil jako bumerang a aspoň na chvíli ho určitě ruce nezábly. Chvíli na to se klasickým tygřím skokem vrhl ke své levé tyči a zpacifikoval po hříchu zřejmě poslední vážnější střelu hostí v prvním poločase, zbylé šance v podobě rohových kopů končily bez výjimky na Klementově čele. Naše hrozby byly řidší, ale na druhou stranu to dvakrát bylo o prsa korejské ženy. 
      Nejdříve Vodehnal vypresoval míč na chybujícím zadákovi, ale při náběhu do sóla na následující Pražákovu narážečku byl bohužel v těsném ofsajdu. Pražáka dělil od gólové asistence ještě jednou jen kousek, když si gólman při likvidaci jeho křížné nahrávky prohlédl nabíhajícího Válka hodně zblízka. První poločas skončil symbolicky žlutou kartou pro jednoho z hráče hostí za nesportovní chování. Nevím, jestli symbolicky, ale i Bosákovy poločasy končí symbolicky, tak proč ne.</p>       
      <p>V druhém poločase působili naši hráči trochu vysílenější než soupeř, zřejmě jsme běhali častěji proti větru, a Přelouč převzala iniciativu, nicméně do kloudné šance se dlouho nedostala. Střel bylo dosti, ale některé jsme zblokovali, pár jich šlo z nulového úhlu do boční sítě a pár jich šlo z dobrého úhlu na bar. Naše hra bez vyložené šance pokračovala, hlediště nejvíce zahučelo poté, co Vodehnalovu střílenou nabídku z přímého kopu propustili všichni hráči bez zájmu a teče těsně kolem zadní tyče. Tentýž hráč poté vymyškoval dva tři soupeře, ale zpoza šestnáctky 
      bodlem přestřelil. A tak mohli mít poslední slovo hosté. Do naší rozhozené obrany, rozuměje na samotného Chmelíka, se řítili dva jejich útočníci, první vyřešil situaci ideální nahrávkou na osamoceného druhého, ale ten naštěstí před prázdnou bránou nějak divně vytočil nohu nebo co a my si naposledy na podzim oddechli.</p>
      <p>Po třetí v řadě se nám podařilo neinkasovat branku, což je velmi dobré, poněvadž jsme hráli proti silným soupeřům, bohužel se nám již pět utkání branku nepodařilo ani vstřelit, což zase tak dobré není, uvidíme jak to půjde až sleze na jaře sníh.</p>

                    <section class="info">
                        <p><em>Zápas: </em> Morašice - Přelouč 0:0</p>
                        <p><em>Žluté karty: </em> J.Kopecký</p>
                        <p><em>Sestava: </em> J.Lněnička - J.Kopecký, M.Chmelík, T.Holomek, M.Ropek - V.Jetmar (P.Vomáčka), M.Klement, J.Kubeš, B.Válek - M.Vodehnal, R.Pražák (Z.Škoda)</p>
                    </section>
