---
title: Chudého jsme opět podarovali
date: 2011-06-01 10:00
---


      <p> Narozdíl od minulého zápasu jsme dokázali vstřelit branku, nehrál se žádný hokejový zápas a opět nebyl přítomen žádný novinář ani podobná fyzická osoba, která by průběh zaznamenala. Akorát podle Němce Jana nebyl výkon nijak oslnivý.
      </p>

                    <section class="info">
                        <p><em>Zápas: </em> Mezilesí Načešice - Morašice 1:1</p>
                        <p><em>Góly: </em> P.Vomáčka</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Ropek, M.Chmelík, J.Kopecký - V.Jetmar, J.Kubeš, Pavel Kuta, Z.Lorenc - P.Vomáčka, Z.Škoda</p>
                    </section>