---
title: S Přeloučí jsme se rozloučili
date: 2011-07-07
---


      <p> K odjezdu na poslední zápas se včas dostavili i ti největší opozdilci. Již dost široký kádr rozšířili až 3 diváci, každý zaujal několik volných míst v autobuse a vyrazilo se k Přelouči. Narozdíl od minulých utkání nastoupil v brance Michal Prešinský, který předvedl velice dobrý výkon, neboť několik tutových šancí soupeři chytil
      a za žádný inkasovyný gól nemohl.  
      </p>
      <p> Nezačali jsme špatně, ale soupeř byl dopředu hlavně po stranách velmi kvalitní a po našich nedůrazech v obraně vedl 2:0. Škoda snížil po krásném vysunutí od Lorence. První střelou si narazil o exvalského brankáře Poříze a druhou střelou do prázdné brány projevil instinkt zabijáka a chladnokrevně zavěsil. Začali jsme soupeře přehrávat, měli jsme vyloženou šanci, ale Přelouč nás zchladila gólem na 3:1.
      </p> 
      <p> Druhý poločas byl z naší strany opravdu kvalitní, soupeře jsme přehrávali a myslím, že se na naši hru dalo i koukat. Snížili jsme po pumelici Petra Kuty, kterou brankář vyrazil a do sítě ji po ostrém souboji s brankářem (což není u tohoto hráče vůbec obvyklé) dopravil staropečený otec Bojda Válek a konečně tak oslavil gólově narození svého synka. Asi 10 minut před koncem se k exekuci přímého kopu cca z 20 metrů postavil Zdenda Lorenc, předvedl svoji skvělou kopací techniku, když míč poslal ostrou střelou do horního rohu pořízovi branky, ale ten předvedl též svoji velkou kvalitu a míč vyrazil na roh. Všichni jsme již zvedali ruce, ale bohužel...
       Závěr se odehrával za obrovského tlaku Morašic, asi největšího za sezónu, ale nebylo nám přáno. Na výkonu z druhého poločasu by se dalo určitě stavět pro nadcházející sezónu, byli by spokojeni určitě i "ProtiKutaUltraFans".</p>

                    <section class="info">
                        <p><em>Zápas: </em> Přelouč - Morašice 3:2</p>
                        <p><em>Góly: </em> Z.Škoda, B.Válek</p>
                        <p><em>Sestava: </em> M.Prešinský - J.Jokeš, J.Kopecký (M.Klement), M.Chmelík, T.Holomek - M.Ropek, Z.Lorenc, V.Jetmar (J.Kubeš), Petr Kuta, B.Válek - Z.Škoda (P.Vomáčka)</p>
                    </section>