---
title: Rozhovor a vzpomínka na exkouče
date: 2010-08-09
---

                        <div class="center"> Až na konci rozlučky se sezonou 2009/2010 se podařilo Martinu Matějkovi ukořistit upřímný rozhovor s, odcházejícím trenérem, hráčem a členem výboru v jedné osobě, Petrem Kutou... 
      <div class="center">
      <iframe src="https://www.youtube.com/embed/J68j40tBKAM?rel=0" width="315" height="236"></iframe>
      </div>
           </div>
