---
title: Rozlučka spojená s oslavou X-cátníků
date: 2011-07-07
---

                         <br><br><p><strong>Statistiky jara</strong></p><br>
          Bilance: 3 - 5 - 5, s celkovým skóre 26:33, 29. bodů a 10.místo<br><br>
          <p><strong>Střelci za celou sezónu:</strong></p><br>7 - Petr Vomáčka<br>5 - Zdeněk Škoda<br>3 - Václav Jetmar<br>2 -  Bohumil Válek, Martin Burian, Pavel Kuta<br>1 - František Ropek, Petr Částek, Milan Klement, Milan Chmelík, Zdeněk Lorenc<br><br>
          <p> Po utkání s Přeloučí jsme se nalodili na parník a mohlo propuknout bujaré veselí u příležitosti ukončení sezóny, pivo teklo proudem, bohužel řidič měl jen jednu basičku, ale zásob z vlastní zahrádky bylo dostatečně, takže jsme do Morašic dorazili přiměřeně veselí s pokřikem Morašice, Morašice, který začal už v Cerekvici. Rozlučka probíhala tak jako každý rok, jen byla zpestřena blahopřáním dvěma kamarádům, a to čtyřicátníkovi Pepovi Kopeckému a třicátníkovi Mildovi Chmelíkovi.<br><br>
          Dary byly rozličné:<br><strong>Pepa</strong> - počítačová hra El Matador, plyšový jezevec, oblíbený Fernet<br><strong>Milda</strong> - návod na hašení vápna, kuchařský recept pro budoucí manželku - Kuřecí chmelíci, Kutova slivovice, první metr dlažby a hlavně společný dar pro oba - dýmka míru (však všichni dobře víme proč).<br><br><br>
         </p><div class="center"><strong>Bobeš 40 – Chmelďa 30</strong><br><br>Nějak nám to áčko stárne,<br>možná je to blahodárné.<br><br>
         Už Vás mohu ujistit,<br>za pár let jsou penzisti.<br><br>Hrají spolu v zadní lajně,<br>pokecají pouze krajně.<br><br>
         Tím pak trpí defenzíva,<br>jeden čumí, druhý zívá.<br><br>Co mám jen říci k Pepkovi?,<br>bude hrát dýl než Ropkovi.<br><br>S balónem se snad narodil,<br>trénoval i když marodil.<br><br>Bez fotbalu ani ránu,<br>ještě mu tak dělat bránu.<br><br>Na to není vůbec čas,<br>do práce je jako ďas.<br>Žáci, dorost, chlapi, béčko,<br>mezitím pak HáErGéčko.<br><br>Z matadora praktikem,<br>Liťas sundal hetrikem.<br>Střílej doma ve frí čase,<br>ať to za rok trefíš zase.<br><br>
         Sem tam je to horká hlava,<br>nechce se mu nikdy plavat.<br><br>Když je třeba v depresi,<br>urazíš ho, řekneš si:<br><br>„Tak se nasral, to je toho,<br>do roka je zase v poho.<br><br>“Proto přijmi likér bezedný,<br>neboť i muži mají své dny.<br>Jaký že byl Chmelík Míla?,<br>hodný, slušný, jako víla.<br><br>Dokud se nedostal k lihu blíže,<br>to potom nejlépe on sám ví že,<br>v zimní bundě usne klidně,<br>ráno se pak tváří vlídně,<br>po tom nočním randálu,<br>kdy označkoval sandálu.<br><br>
         Jakmile byl stoplý výtah,<br>tak ho Milan prostě vytáh,<br>ulevil si na schody,<br>nemusel na záchody.<br><br>
         Měla by tu býti zmínka,<br>že říkával si Šulan, Minka.<br><br>
         V Tisový na zábavě,<br>seznámil se s dívkou,<br>podlehla mu celkem hravě,<br>byla totiž slívkou.<br><br>
         Jakmile ji v ruce drží,<br>většinou se tam i zdrží.<br><br>
         Jako tehdá z fotbalu,<br>když jsme jeli ze Valů.<br><br>
         Hodnotím to velmi kladně,<br>přesto v lahvi zbylo na dně.<br><br>
         Cestou domů trochu blinkal,<br>nasrala ho bioplynka.<br><br> 
         V obraně je jistý stopér,<br>tak dostane husích sto per.<br><br>
         Před vkročením na grín plochu,<br>a s pocitem nervním trochu,<br>dá si místo kořalky,<br>s chutí dvě tři Horalky.<br><br>
         Ať vás fotbal stále baví,<br>každej průšvih ať se spraví.<br><br>
         Je to možná k nevíře,<br>jste dva pevný pilíře.<br>Až skončíte, tak bez urážek,<br>na hřišti bude růst jen hrášek.<br><br>
         Generace nová,<br>jak je nám již známo,<br>podivně se chová, <br>ve stylu „mrtě kámo“.<br><br>
         Zdraví, štěstí, radosti samí,<br>nechť sejdeme se příště,<br>tohle všechno vinšují známí,<br>kamarádi ze hřiště.<br><br>
</div>
