---
title: Skandální odhalení nezdarů Béčka
date: 2010-11-14
---

                        <p class="center"> Šokující jev z konce letních prázdnin vyplul na povrch teprve pár týdnů před tím, než rodiny usednou k štědrovečernímu stolu.<br>Díky fotodokumentaci pana Halvy, která samozřejmě byla podrobena policejní expertíze, máme konečně snad v rukou hmatatelný důkaz, jenž stojí za podzimními nezdary našeho B mužstva. 
     Jeden z nejmenovaných sparťanských lodivodů (ne Jozef Chovanec) trávil konec srpna v nedaleké Příluce u Šimku na chatě, s manželkou a dětmi podnikali výlety za kulturou do okolí, na Růžový palouček, zámek v Nových Hradech apod. Samozřejmě nemohl vypadnout z tréninkového tempa, tudíž se mu velice hodilo, že morašická rezerva hrála několik prvních kol na domácím hřišti,
     proto vždy nastupoval v týmu soupeře, aby si udržel fyzickou kondici alespoň na miniální úrovni.</p> 
     

     <p class="center">
    Tento snímek byl pořízen ze zápasu proti Radiměři, který skončil 8:0 pro hosty. Již je zřejmé, že tak krutý výsledek musel být způsoben někým, kdo v protitýmu určitým způsobem vynikal. Pochopitelně se dá namítnout, že určitá podobnost hráče může být, což  je pravda, ale zde kromě podoby hovoří hlavně činy. Při důkladnějším zkoumání fotografie zjistíte, že onen na černo hrající stopér se 
     dostal ke středovému kruhu tak rychle, ani "spoluhráč" ho nedokázal doběhnout, aby mohl plivnout na ležícího hráče domácího mužstva, které se snažilo s výsledkem něco udělat i za cenu rizika dalšího inkasování, když odvolalo brankáře.
     <br>Prostě dokud budou prvoligoví hráči v době svých dovolených nastupovat pro zábavu v nejnižší soutěži, bude béčko těžce získávat body. Jako protest se Sokol dohodl s místním zemědělským družstvem na zákazu jakéhokoliv vysetí Řepky olejky v okrese pro příští rok.
     </p>
