---
title: Nejen Boží mlýny, ale i Slatiňany melou...
date: 2011-04-05
---


      <p> Před druhým jarním vystoupením si mohl trenér Ropek v klidu rozmyslet koho do zápasu postavit, neboť se opět, jak bývá víkendovým zvykem, sešla téměř plná kabina. Oproti minulému zápasu nahradil zraněného Škodu v sestavě Válek s mobilem, kdyby praskla voda, na beka se ze střídačky posunul Jokeš a od začátku nastoupil i Lorenc.</p>
      <p> Úvodní minuty byly znovu jen o rozkoukávání a o jakési větší šance nebyl ani na jedné straně zájem. Domácí drželi míč častěji, střední záložníci zkoušeli něco vymyslet, ale pokud došlo ke střele, tak vše končilo až na konci aréálu. Před půlmaratonem, který má náš trenér před sebou je potřeba
      vyzkoušet kvalitu jeho srdce a nervové soustavy. Jelikož nejsou lékařská vyšetření zrovna levná, vzali to na sebe sami hráči. Šediny Fandovi přibyli zejména po vysokém procentu zkažených přihrávek, které naše mužstvo dokázalo vyprodukovat. Pozornost na sebe vzal několikrát Jetmar. Chvílema to vypadalo,
      že snad začal brát jiný drogy a neseděj mu:-)</p>
      <p> Když se nemohli domácí přes naši obranu prosadit, málem udeřilo na jejich straně. Míč se po ose Lorenc, Jetmar, Válek, nebo obráceně dostal k málo využívanému Pavlu Kutovi, jenž zhruba ze 30-ti metrů vystřelil a trefil spojnici. Už to vypadalo, že na střely a šance první poločas vyhrajeme, ale domácí
      středopolař se v 41.minutě vymotal z kraje vápna, poslal míč pod břevno a nechal vyniknout Lněničku.</p> 
      <p> Po přestávce zahrozili Slatiňany centrem z pravé lajny, ale naštěstí hlavička šla mimo. V 55.minutě po našem rohu měl Kubeš po odraženém míči dobrou pozici pro základ akce, z čehož vyplynula žlutá karta pro jmenovaného, důvodem bylo nezpracování a následný faul. Jetmara vystřídal Vomáčka a o chvíli později mu rozhodčí nejprve odpískal
      sporný ofsajd a poté na hranici vápna "prorážení". Zde je vidět ta rozmanitost: Sporty se občas prolínají, ale verdikty rozhodčích bohužel nikoliv, neboť když před rokem a půl v Litomyšli Pešek prorážel, kopali domácí penaltu. Do třetice Vomáčka špatně spadnul po faulu a narazil si konec pánevní.</p>
      <p> Zbylých pár minut se domácí snažili o vstřelení branky z mohutné vzdálenosti, což Lněnička v klidu kontroloval. Tudíž jsme získali cenný bod z venku a můžeme se těšit na derby s Litomyšlí.</p> 

                    <section class="info">
                        <p><em>Zápas: </em> Slatiňany - Morašice 0:0</p>
                        <p><em>Žluté karty: </em> V.Jetmar, J.Kubeš</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Chmelík, T.Holomek, J.Jokeš - V.Jetmar (P.Vomáčka) (J.Klement), M.Ropek, J.Kubeš, Pavel Kuta, Z.Lorenc (Petr Kuta) - B.Válek</p>
                    </section>
