---
title: Ročník 1958 ještě není podzim života
date: 2010-08-08
---


      <p>
       K prvnímu zápasu v této sezoně přijelo pod novým trenérem pouze torzo týmu, alespoň co se počtu hráčů týče. Pokud vynecháme vedoucího mužstva, trenéry a pár zraněných hráčů,
       kteří se proměnili v pozorovatele, pak střídačka není to správné označení místa, kde všichni jmenovaní seděli, neboť na střídání nebyl nikdo. Tak musel "nehrající" kouč Ropek obout kopačky 
       a nasadit sám sebe do hry. A nebyl to zrovna špatný tah, opět se ukázalo že "nízké" dvojčíslí na začátku rodného čísla nemusí znamenat vůbec nic.</p>
      <p>
       Věděli jsme, že soupeř je kvalitní a bude těžké na jeho hřišti uhrát nějaké body. Již v 5.minutě František Ropek ve skluzu odkopl míč ve vápně, tím zabránil útočníkovi, který nestihl dobrzdit a přepadl přes něho, ve střele.
       Běžná situace, která ani náznakem nevybočuje z pravidel, jenže hlavní sudí odpískal penaltu s dosti jistým výrazem ve tváři. Byla s jistotou proměněna a domácí šli do vedení <strong>1:0</strong>.
       Během několika minut se hra vyrovnala a začínali jsme si vytvářet dobré příležitosti k vyrovnání. Několikrát prověřil domácího brankáře dorostenec Jirka Kubeš. Vyrovnání přišlo po žlutém faulu na Vomáčku a zahraném
       přímém kopu Jetmarem, kdy si na přetažený míč naběhl František Ropek a hlavou dostal balon od tyče do brány <strong>1:1</strong>. O několik minut později zahrával standartku pár metrů za půlkou Petr částek a obránce,
       snaživší se pomoci golmanovi přizdvihl míč nad jeho ruce a rázem jsme šli do vedení <strong>1:2</strong>. Do konce prvního poločasu stojí za zmínku snad jen zákrok Lněničky, který byl s pomocí tyče úspěšný.</p>
      <p>
      Ve druhé půli utíkaly minuty hodně pomalu a Hradiště se snažilo obrátit výsledek ve svůj prospěch. Tlačili, hodně. Chvílema to vypadalo, že si Jirka Lněničku nechal branku o přestávce posvětit. Několikrát se míč koulel jen pár centimetrů 
      od čáry, ale neskončil za ní. S blížícím se koncem přibývalo i nervozity a agresivity domácích, kterou rozhodčí dost toleroval. Za celý druhý poločas jsme měli pouze jeden roh a jednu střelu, Lněnička vykopával z ruky, míč přelétl za půlku, 
      tam se ho chopil Jetmar a dovedl ho až do sítě, ruce sice zvedal, když byl balon ještě na malém vápně, ale to neměnilo nic na tom, že jsme šli do vedení <strong>3:1</strong>.
      Domácí zápas zdramatizovali až v 90.minutě, když křižnou střelou z vápna snížili na <strong>2:3</strong>, ale ani nastavení a poslední rohový kop, kdy pomáhal ve vápně i brankář, neodvrátily porážku.</p>    
      <p>
      Toto vítězství patří k těm šťastným, ale o to víc těší. Chybělo dost hráčů a přesto se povedlo přivést 3 body z venku. Doufejme, že na to navážeme i za týden doma, chce to ale trénovat, především ve více hráčích. 
      </p>

                    <section class="info">
                        <p><em>Zápas: </em> Staré Hradiště - Morašice 2:3</p>
                        <p><em>Góly: </em>F.Ropek, P.Částek, V.Jetmar</p>
                        <p><em>Žluté karty: </em> J.Jokeš</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, M.Chmelík, F.Ropek, P.Částek - V.Jetmar, J.Kubeš, J.Kopecký, J.Jokeš - M.Burian (J.Famfulík), P.Vomáčka (P.Mach)</p>
                    </section>