---
title: Hon na Bažanty
date: 2011-05-09
---


      <p> Opět po roce jsme se vrátili na místo, kde nám až ve 100-té minutě sebral 3 body ze standartky Budinský. Pokyny pro tento zápas byly jasné, vyvarovat se faulů před a uvnitř velkého vápna a nepustit do brejků bratry Bažantovi.</p>
      <p> Domácí začali aktivněji a po čtvrt hodině prošel přes obranu pas na jednoho Bažanta, který si naštěstí míč zpracoval pro Lněničku. V 19.minutě Klement obral Budinského, míč se dostal na pravou stranu ke Kubešovi, který centrem našel 
      v ideální pozici na skórování Ropka, jenž hlavou minul o fous bránu. Po špatně zahraném rohu se od Válka míč vrátil zpátky k Pavlu Kutovi, aby vystrašil z dálky brankáře. Žlutou kartu uviděl Klement za faul/nefaul, při kterém rozbrečel Budinského. 
      Ve 35.minutě Chmelík odcentroval z lajny do šestnáctky a Kuta Pavel hlavou dostal míč do brány, bohužel dosti valsky nakloněný pomezní zvedl praporek. Domníváme se, že se domníval, že Milan Chmelík byl v postavení mimo hru. Pět minut před přestávkou 
      Klement oslovil Ropka (křestním jménem), předal mu balón a ten z dálky z první trefil spojnici. Vše podstatné se odehrálo až na konci prvního poločasu. Nejprve rozhodčí vykázal Vomáčku na 3 minuty ze hřiště, aniž by byl ošetřován, Budinský byl s pláčem 
      faulován před vápnem Škodou a následný přímý kop poslal přímo k tyči. Lněničku zmátl probíhající Bažant a my prohrávali 1:0.
      </p>
      <p> Druhá půlka z naší strany byla konečně ke koukání a šancí nebylo taky zrovna málo. Nejprve Bažant obešel vápno a z úhlu trefil Leničku do nohy. Poté Škodu vystřídal Lorenc a hra se začala mít trochu k světu. Válek v těžké pozici na malém vápně hlavou trefil přímo 
      náruč gólmana. Lorenc vysunul po lajně Vomáčku, ten předal do vápna Válkovi, který napálil míč do brány. V cestě visely pouze brankářovy ruce, tím se zpomalil pohyb míče a z brankové čáry ho domácí obránce s pomocí břevna dostal do bezpečí. Po Lorencově nahrávce 
      tvrdě vypálil Kuta, ale brankář opět vyrazil. Přetažený centr Chmelíka našel ve vápně Lorence, ale zpracování šlo trochu více od těla, než by bylo zdrávo. Po rohu si Ropek pokopával míč do ideální pozice a poté pseudonůžkama trefil zase místo, kde stál hráč s rukavicema. 
      Poslední možnost o alespoň vyrovnání měl hlavou Ropek, ale bránu netrefil, tudíž jsme po vcelku dobře odvedeném výkonu nebodovali.</p> 
      <p> Bylo samozřejmě nutné důkladně rozebrat předvedenou hru a přivítat na světě mládě Bojdy Válka, jinak si nedokážu vysvětlit návrat ze zápasu v doprovodu pouličního osvětlení.
      </p>

                    <section class="info">
                        <p><em>Zápas: </em> Valy - Morašice 1:0</p>
                        <p><em>Žluté karty: </em> &nbsp;Z.Škoda, M.Klement</p>
                        <p><em>Sestava: </em> J.Lněnička - M.Klement, T.Holomek, M.Chmelík, J.Jokeš - B.Válek, J.Kubeš, Pavel Kuta, M.Ropek - P.Vomáčka (J.Kopecký), Z.Škoda (Z.Lorenc)</p>
                    </section>
