---
title: Přehled o dění v klubu
h1: Přehled o dění v morašickém klubu
description: Aktuální přehled dění v morašickém fotbale
---

<section class="left-panel">
    <h2>Poslední klubové novinky</h2>
    <%= partial("layouts/components/filters") %>
    <% latest_articles(10).each do |article| %>
        <%= partial("layouts/components/article", :locals => { :article => article, :isLinkShown => true, :isExcerpt => true }) %>
    <% end %>
</section>

<section class="right-panel">

    <ul class="activeTeams">
        <% data.scortes.competitions.active.each do |season| %>
        <li><a href='<%= season.url %>' data-title='<%= season.title %>'><%= season.shortened %></a></li>
        <% end %>
    </ul>
    <div id="scortes"></div>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <%= partial("layouts/components/filters.js", :locals => { :limit => 5 }) %>
    <script>
        (function () {
            var cache = {};
            var scortes = $('#scortes');

            var latestArticles = [];
            <% latest_articles(20).each do |article| %>
                <%=
                if article.data.scortes then
                    "latestArticles['#{article.data.scortes.split('/')[-1].gsub('.html', '')}'] = '#{article.url}'"
                end
                %>
            <% end %>

            loadResults($('.right-panel .activeTeams li:first-child a'));

            $('.right-panel .activeTeams a').click(function (e) {
                e.preventDefault();
                loadResults($(this));
            });

            function loadResults(link) {
                $('.right-panel .activeTeams li').removeClass('selected');
                var title = '<h2>' + link.data('title') + '</h2>';
                link.closest('li').addClass('selected');

                var url = link.attr('href') + 'status.html';
                if (cache[url]) {
                    scortes.html(title + cache[url]);
                } else {
                    scortes.html(title + '<p>Načítám...</p>');
                    $.get(url).then(function (data) {
                        var html = $('<div>' + data + '</div>');
                        html.find('a[data-match]').each(function () {
                            var matchId = $(this).attr('data-match');
                            if (latestArticles[matchId]) {
                                $(this)
                                    .attr('href', latestArticles[matchId])
                                    .removeAttr('target');
                            }
                        });
                        cache[url] = html.html();
                        scortes.html(title + cache[url]);
                    }).fail(function () {
                        scortes.html(title + '<p>Výsledky se nepodařilo načíst :(</p>');
                    });
                }
            }
        }());
    </script>
</section>
