---
title: Je po dešti
date: 2015-10-17
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2015/Morašice/8d54d0b3-f400-49cf-b6d8-c7f8a70f9366.html
image: /public/images/zapasy/borova-teleci-morasice.png

sestava: M. Prešinský - Klement, Chmelík, V. Štancl, Ropek - Tměj (V. Prešinský), Novák, Famfulík (Skala), Válek (R. Lněnička) - Zerzán (D. Štancl), Holomek (Vomáčka)
goly: Zerzán, Ropek
---

<p>I když na etapy, protože pro několik z nás je Telecí v neprobádaném konci světa, sešlo se nás k venkovnímu zápasu výjimečných 18 kusů. A k tomu šest našich fanoušků!!! A to k nám stejný soupeř přijede za deset dní na utkání poháru. Kopecký sice o start nejevil zájem a natěšený Kuta se musel spokojit pouze s rolí trenéra, jelikož si napsal v sadě dresů chybějící sedmnáctku, ale pořád nám zbýval plný počet střídání. Klement se po delší době stáhl ze štítové pozice, v útoku jsme spoléhali na pražskou dvojici Zerzán - Holomek. Výpadek internetu nám ukázal nevýhody fotbalové evoluce, čtvrthodinové zpoždění začátku nesl nelibě zejména pospíchající Ropek a&nbsp; uběhaný Novák. Malé a předchozími dešti poznamenané hřiště se stalo v prvním poločase dějištěm zvláštního sportu, který měl chvílemi blíže ke krasobruslení než k fotbalu. Souvislou akci aby člověk pohledal, spousta podklouznutí a tulupů, nákopů, balóny se zpracovávaly výhradně pro soupeře. Oproti zvyklostem nám dlouhé auty tentokrát pomáhaly, místo aby nás strašily. Po pár minutách se jeden takový odrazil ke Klementovi, který z velkého vápna levačku nepříliš minul. Takřka totožně pálil po chvíli i Holomek. Zhruba po dvaceti minutách se dostal za obranu Zerzán, ale gólman proti jeho střele ani nemusel zasahovat. Do té doby se více bojovalo na domácí půlce, postupem času se ale těžiště přeneslo před naše vápno. Žádná velká šance z toho dlouho nebyla, až těsně před poločasem domácí hráč i s podklouznutím vyloudil zpoza vápna zajímavou haluz, kterou Prešinský i díky svému podklouznutí vytahoval konečky prstů. Za nás se ještě jednou střelou mimo připomněl Holomek a pak už se šlo do kabin přezout na mokrý gumy. Pokud se jimi disponuje.</p>

<p>První centr do vápna v druhém poločase sice patřil domácím, ale nic nebezpečného z toho nebylo. Naopak chvíli na to, dlužno dodat, že to bylo tak ve třetí minutě, se znovu dostal do úniku Zerzán a ze složitější pozice než v prvním poločase vykouzlil krásnou gólovou střelu na zadní tyč. Na takový nástup z šaten opravdu nebýváme zvyklí. Natož na to, že v daném tempu pokračujeme. Dá se regulérně říci, že jsme měli tlak. Ten byl umocněn několika rohy, ale Štancl hlavou netrefil, Holomkovo sklepnutí před prázdnou bránu poslal Zerzán kolenem nad a v dalších dvou třech závarech vždy nějaký kousek chyběl. Přežité šance domácí nabudili a chvíli jsme tahali za kratší konec. Největší šancí byl přímák z dvaceti metrů, po faulu, který viděl asi jen rozhodčí, ale Prešinský docela dobrou střelu ztlumil. Soupeře jsme pak vystrašili nasazením čerstvých sil i samurajskou úpravou Klementova vzhledu a přineslo to ovoce. Další z našich rohů vyrazil gólman pouze k Ropkovi, který si hlavou pojistil smysluplnost pozdějšího příjezdu na rodinnou oslavu. Domácí se nevzdali, ale naše obrana je k ničemu vážnějšímu nepustila, naopak se z útoků do otevřené obrany mohlo urodit na naší straně, ale Holomek či Skala se pouze zastřelovali. Dohrálo se tak poměrně v poklidu, až na zmíněného Kutu se na hřiště dostali všichni účastníci zájezdu, který nám po delší době spravil náladu.</p>
