---
title: Sudí?
date: 2015-08-23
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2015/Morašice/3602855c-8ad1-4989-b4b2-666c8ff81a5f.html
image: /public/images/zapasy/bystre-morasice.png

sestava: Prešinský - Holomek, Chmelík, V. Štancl, Ropek (Škoda) - Válek, Klement, Novák, Skala (Vopařil) - Zerzán (Tměj), Burián (Pitra, J. Kubeš)
goly: Klement
zlute: minimálně Novák, Chmelík, Pitra
---

<p>Předchozí venkovní výhra, ke které u nás došlo maximálně dvakrát za poslední tři roky, zavinila něco nemyslitelného. Na venkovní zápas do Bystrého přijelo rovných 19 lidí schopných a &nbsp;ochotných hrát. Ochota se při tom počtu rychle vytrácela, ať už za to mohl pocit stáří nebo špatný oběd, ale i tak by to chtělo v oddílové kronice červeně zvýraznit. Čekalo nás nezvykle malé a nezvykle měkké hřiště (možná, že takto malou plochu bychom zvládli zavlažit taky). Vzhledem k tomu nás dle trenéra měl čekat zápas plný soubojů, který rozhodnou standartky a odvaha střílet třeba i z třiceti metrů, prakticky od půlky. Ropek sice při losování vyhrál balón, přesto jsme mohli inkasovat už po deseti vteřinách, když si Chmelík vzdor předzápasovým směrnicím neúspěšně zkusil kličku na posledním a následný vítr v naší obraně skončil střelou do boční sítě. Zmíněné standartky hýbaly děním v prvních deseti minutách, když nejdříve domácí gólman vychytal Holomkův volej z malého vápna a na druhé straně Prešinský vyrazil přímý kop pod břevno zpoza vápna. Na konci této desetiminutovky dostal hodně prostoru Klement a jeho, bez urážky, slabou střelu levou nohou z dvaceti metrů, gólman nečekaně propustil. Jako motivace k častější střelbě to byl příkladný čin. A že jsme k ní neustále nabádáni. Po gólu jsme ještě chvíli neslevili a zejména Válek se na levé straně dostával k dobrým pozicím pro centry, ty už ale tak dobré nebyly. Domácí v té době byli nebezpeční hlavně z rohů, které na jejich konto utěšeně přibývaly. Jeden, zahraný na přední tyč, se podařilo Prešinskému se štěstím schovat pod sebe, při dalším, kterým proskočil na zadní tyč, se zase utěšená střela domácích zastavila o břevno. Možná byly rohy důsledek stupňujícího se tlaku, možná jeho příčinou, ale nám se tou dobou na naší půlce docela zalíbilo a postupně jsme se ztráceli ze hry, byť jsme si občas vyměnili&nbsp; i tři nahrávky u lajny a Novák dokonce jednou vystřelil mimo bránu. Těžko říct, jak jsme se vlastně ve 40. minutě dostali k rohu, ten si každopádně našel hlavu Buriána a domácí gólman musel předvést parádní robinzonádu. Těsně před poločasem ještě domácí střela z úhlu olízla tyč, zato Skalova standartka z 25 metrů si cestu k bráně nenašla.</p>

<p>I v druhém poločase patřila první akce domácím, to když ve druhé minutě po průniku z pravé strany trefili potřetí konstrukci. Ono teda domácím patřil celý druhý poločas. My jsme se dostali jen ke střelám Válka a Klementa a k jednomu centru, který prokřižoval vápno domácích metr před nabíhajícím Buriánem. Zbytek času jsme věnovali míchání kvalitního prešovského betonu a parkování autobusu před naším vápnem. Nutno říct, že ani to nám zas tak nešlo a pár situací volalo po gólu. Jako třeba když po centru do vápna zůstali dva domácí hráči tak volní, že si naštěstí překáželi v hlavičkování. U domácích rostla frustrace z nulové efektivity, u rozhodčího odhodlání odčinit jim dávné hříchy a u nás frustrace z jeho odhodlání a poměru faulů cca 43:2 ve prospěch domácích. Pitra nebo Chmelík to odnesli kartami (ono jich bylo asi víc, ale těžko se upamatovat), trenér Kuta byl dokonce odsouzen k podlezení zábradlí, aby byl alespoň symbolicky naplněn jeho trest vykázání z lavičky. Domácí stříleli vedle nebo Prešinskému do náruče, když už to bylo závažnější a Prešinský dobře vyrazil střelu z křídla, dorážku zblokoval na poslední chvíli Holomek. Stejně jako střelu z malého vápna po jednom z dalších centrů. Pár minut před koncem vytáhl Prešinský klíčový zákrok po zakončení do protipohybu. S pomocí obstrukční taktiky, jako je patero střídání (z nichž to Ropkovo s předáváním pásky Chmelíkovi už nabírá parametry jistého rituálu) a časté interpelace s okolím i rozhodčím, jsme nakonec brzy nabyté vedení udrželi a doslava utrpěli druhou venkovní výhru za sebou.</p>
