---
title: Útok bude?
date: 2016-04-02
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2015/Morašice/a71b718e-26db-4c74-94bd-2224bf3658e1.html
image: /public/images/zapasy/janov-morasice.png

sestava: Prešinský - Holomek, Chmelík, V. Štancl, Skala - Válek (J. Kubeš), Klement, Novák, Tměj - Burian (Ropek), Zerzán (Kuta)
zlute: J. Kubeš
---

<p>Přes klesající počet fotbalu schopných a ochotných lidí se nám v derby s Janovem podařilo poskládat takovou sestavu, že se do ní ani pozdě příchozí obvyklý kapitán Ropek nevešel. Byť záviděníhodný měkký a rovný trávník skrýval kombinační potenciál, o jakém si doma můžeme nechat zdát, nevyužívali jsme ho ani my ani domácí a k vidění tak byla neurovnaná hra převážně vzduchem. V úvodu byl soupeř aktivnější, ale bez vyložených šancí. Prešinský sbíral dlouhé centry s jistotou a hlukem jemu nevlastním a do provozní teploty mu pomohla i skvělá robinzonáda, kterou jistil hlavičku domácího hráče po dlouhém autu. Domácí radikálové si zahučeli i při pozemním centru, který prošel bez známky zájmu napříč malým vápnem kousek vedle Prešinského tyče. Naši úvodní šanci si sám zařídil na A třídu aspirující Zerzán, ale při samostatném úniku střílel hodně mimo. Domácího gólmana nejvíce zaměstnal hlavičkový lob Buriana, který s vypětím všech sil vytáhl zpod břevna. Další hlavičky našeho útočníka už tak nebezpečné nebyly, pak se párkrát zastřelil Tměj, Novák si bohužel v dobré pozici na vápně na střelu netroufl a šlo se do kabin.</p>

<p>Začátek druhého dějství nás nezastihl úplně duchem přítomné a Prešinský musel brzy likvidovat těžkou střelu z úhlu. Na hřišti i v hledišti se začalo přiostřovat, pan rozhodčí neměl chuť ani autoritu situaci zklidnit a my jsme se dále trápili s držením balónu, natož nějakou souvislou akcí, dvě nadýchané střely z přímých kopů byly jen vítaným zpestřením pro domácího gólmana. Zhruba v polovině poločasu nás pořádně vystrašil nepovedený domácí centr, který se začal snášet do horního rohu Prešinského brány, ale ten se na brankové čáře až neuvěřitelně natáhl a zákrokem dne uhasil plamínek radosti, který se během dlouhého letu míče rozhořel v místních fanoušcích. Jak byla tato šance náhodná, tu další si hosté vypracovali přímočarou akcí a za přispění chybující obrany se ocitl na vápně sám před Prešinským Bureš, ale svou střelu naštěstí namířil pouze do tyče. S příchodem Ropka do útoku se nám přece jen začalo dařit více kombinovat, ale do více než nadějných pozic jsme naše snažení nedotáhli. Střely Zerzána, Ropka i Kubeše se jen tak tak vešli do ochranné sítě, někdy ani to ne. V závěru ještě domácí dvakrát hlavičkovali jen o něco méně nepřesně než naši útočníci a po posledním ubráněném rohu spadla bezbranková klec. Dopředu to za moc nestálo, ale na výkonu Prešinského, ubráněné nule, bojovnosti i potenciální útočné síle, kterou v závěru představoval osmdesátiletý útok Kuta-Ropek se dá určitě stavět.</p>
