---
title: Výlet na moravském poli
date: 2015-09-20
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2015/Morašice/e12e82d4-262d-4a3b-807c-5fe437a58863.html
image: /public/images/zapasy/linhartice-morasice.png

sestava: Prešinský - Skala, Chmelík, Holomek, Ropek - J.Kubeš, Klement, Famfulík (Válek), R. Lněnička (Tměj) - Pitra, Zerzán (Vopařil)
goly: Chmelík
zlute: Chmelík
---

<p>Nedělní výlet na mistrovský zápas vyvolal u některých starších pamětníků vzpomínku, že na tomto hřišti jsme před devatenácti lety slavili šampaňským postup a opouštěli na dlouhé roky pralesní ligu. Návrat na historická místa Morašické kopané bohužel&nbsp;spousta&nbsp;hráčů vzala jako poznávací výlet. Jinak si nelze vysvětlit počínání v prvním poločasu.&nbsp;Nějaký pohyb, ochota se nabízet, chtít balón, pomoci spoluhráči v kombinaci, nic takového se nedělo. Je pravda, že jsme zavítali již katastrálně&nbsp;na moravské pole a tedy dle našeho fotbalového vůdce do Asie. Vysvětlením pro toto počínání může být tedy&nbsp;i dlouhá cesta a časový posun. Tyto všechny faktory zavinily, že jsme za první poločas vyprodukovali jednu střelu na bránu a dvě do větráku,&nbsp;toť vše. A protože soupeř byl přeci jen snaživější, vedl v poločase 1:0.</p>

<p>Do druhého jsme vstoupili stejně jako do prvního, stále jako turisté, kteří si prohlíží okolí a pěkný travnatý povrch. Při tomto počínání jsme fasovali brzy i druhý gól a teprve po tom skončila naše prohlídka. Vypracovali jsme si mírnou převahu, ale bez vážnějšího ohrožení brankáře - nebrankáře. Soupeři stačilo hrozit z breaků a standartních situacích. Při těch musel náš brankář&nbsp;ukázat svou kvalitu a protože my jsme trefili zařízení jen jednou z trestného kopu Chmelíkem (ostatní pokusy se nedaly považovat za střely, včetně trestného kopu Válka, který místo na bránu směřoval na rohový praporek a málem vážně ohrozil pomezního rozhodčího Kabáta), museli jsme spotrovně popřát soupeři k&nbsp;zaslouženému bodovému zisku. Ještě v závěru totiž netrefil z malého vápna prázdnou branku.</p>

<p>Samozřejmě, že prohra jednou musela přijít, ale mohlo to ještě šest zápasů počkat. Musíme se z toho poučit a do těchto končit vyjíždět o den dříve, abychom se aklimatizovali a měli čas si prohlédnout krásy okolí bez toho, aniž by&nbsp;to zasáhlo do devadesáti minut našeho snažení v zápase. &nbsp;</p>
