---
title: První řádné derby
date: 2015-08-16
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2015/Morašice/7d950def-c90b-4cb0-8968-26b420b55f35.html
image: /public/images/zapasy/morasice-janov.png

sestava: Prešinský - Ropek (R.Lněnička), Chmelík, V.Štancl, Škoda - Válek (Tměj), Klement, Novák, Skala - Zerzán (Burián), Pitra (Vomáčka)
goly: Zerzán, Pitra
zlute: V.Štancl, Novák, Burián
---

<p>Není okresní derby jako okresní derby. Loňský nepovedený rok nám jich na letošek naplánoval 26, ale tohle v&nbsp;pořadí druhé bylo se soupeřem zpoza kopce, kterého předchází špatná pověst. I díky té blízkosti bylo publikum početnější než obvykle, i když možná zlatě dvacet domácích, co občas něco prohodí, než tohle stádo. Z naší první rozehrávky si soupeř vytvořil zhruba pětiminutový úvodní nápor, z něhož ale stojí za zmínku jen Štanclův skluz ve vápně, který všem nahnal strach. Otěže hry jsme převzali my, ale absence střelby takovou převahu dost často relativizuje. Jako protiváha k našemu setrvalému motání kolem vápna pak působil nájezd hostujícího Bureše středem obrany. Vracející se Klement, Prešinského reflex i slabá chvilka hostujícího útočníka, na něhož bylo před zápasem silně upozorňováno, to vše nás udrželo při bezbrankovém stavu. Z naší rádoby převahy jsme vytěžili jen Válkovu hlavičku, která by se ale ve střelecky výživnějším zápase ani nezmiňovala. Někdy po půlhodině hry nám tak daroval gól hostující gólman, který balón směřující od nevím koho nikam, hodil pod nohy důsledně dobíhajícího Zerzána a ten jen uklidil do prázdné brány. Brzy poté jsme zaskočili soupeře rychlým vhazováním, ale Zerzánova zpětná přihrávka byla příliš prudká, takže Pitra ani nestačil uhnout hlavu, od které se míč odrazil nad úplně opuštěný prostor tří tyčí.</p>

<p>Před druhým poločasem nám vydatně zapršelo, což nemělo vliv na tvrdost hříště, ale nasáklé dresy jako by nás zpomalily. Hosté začali zostra, Bureš po houslích Štanclovi pálil z úhlu vedle. Z našeho prostého odkopávání se po zhruba 10 minutách vylíhla další gólová akce. Válek poslal křížný balón na Pitru, ten k němu záhadně prošel, gólman záhadně stál, Pitra se z toho nezbláznil a střelou k tyči zaznamenal první áčkový gól. Hned po rozehrávce měli hosté takový jemný náznak, že to nevzdají, naštěstí jsme okamžité snížení odvrátili, ale naše hra plná zbrklých a nepřesných balónů k této pohromě směřovala. V další velké šanci přepálili hosté prázdnou bránu po zpětné přihrávce na penaltu. Náš sen o poklidnějším vítězství se rozplynul poté, co hosté z našeho odkopu vyslali na dva doteky do šance Bureše, ten si položil Prešinského a v klidu skóroval. Našemu zhoršujícímu výkonu tentokrát nám nepomohlo ani střídání, protože fauly nebo jasně červené oplácení na střídající útočníky Vomáčku a Buriána byly rozhodčím souvisle ignorovány, naopak velmi mírné protesty Buriána a Nováka byly oceněny kartami, což přidávalo zápasu na emocích. To je tak, když jsou rozhodčí leví a jejich ego je víc než zdraví hráčů. Přes nutnou potřebu hru uklidnit se nám toto nedařilo, natož abychom se přiblížili ke vstřelení jistícího gólu. Snad jedinou možnost měl Novák, ale po sklepnutí Buriána napálil balón z vápna až na pozemky. To je tak, když se těm emocím podlehne. Naopak pár minut před koncem se rozplynul i sen o jakémkoliv vítězství, když střed obrany nezachytil balón na nabíhajícího Bureše a ten, byť tísněn, prostřelil Prešinského. Pak už se nestalo nic, bohužel kvůli bodům, naštěstí kvůli zdraví.</p>
