---
title: Ze hry ani ránu
date: 2015-09-13
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2015/Morašice/e364cabf-4231-4225-8428-988cafd72a2d.html
image: /public/images/zapasy/morasice-sebranice.png

sestava: Prešinský - Ropek, Chmelík, V.Štancl, Škoda - Válek (Tměj), Klement (Famfulík), Novák, Skala (R.Lněnička) - Zerzán (Vopařil), Vomáčka (Pitra)
goly: Válek
zlute: Vopařil, R.Lněnička
---

<p>Druhý exbétřídní souboj za sebou nám tentokrát nabídl výhodu domácího prostředí. K obvyklému terénu se přidal i osvěžující vánek, a tak se dala už před zápasem očekávat líbivá podívaná. Los kapitánů rozhodl, že první poločas se s větrem kamarádit nebudeme. Nakonec se ukázalo, že si s ním nepotykal ani tým, který ho měl v zádech. Vyjma Ropkovy rozehrávky jsme tak v úplném úvodu (poměrně krátký časový úsek) měli více ze hry my, ale těžko si vybavit nějakou šanci nebo snad střelu, zůstalo jen u toho čistě subjektivního dojmu. To hosté, když se trochu rozkoukali, si parkrát na střelu troufli, ale ty šly mimo nebo Prešinskému do koše. Z pobytu na naší polovině jsme se trvaleji vymanili až s půlkou poločasu. Nejdříve měl Válkův roh na hlavě Štancl, ale rozhodl se zakončit ramenem, což věci neprospělo. O chvíli později si po dalším rohu našel odražený balón na vápně Válek a byť to vypadalo, že si míč připravil na vysokou a dlouhou nohu, jeho střela se od břevna odrazila na správnou stranu brankové čáry - 1:0. Vskutku krásná trefa. Jakkoli nám gól mohl dát křídla, naše další hra se držela na zemi a Zerzán, jenž byl nejčastěji na konci těchto kombinací, řádně provětrával soupeřovu obranu. Ale před vápnem mu vždy chyběl kousek, aby se prosadil přes obránce a když se mu povedlo u lajny obejít vyběhnuvšího gólmana, neměl před bránou dostatečnou podporu. Ve vápně se s míčem a v relativním klidu ocitl i Skala, nalil pod sebe Vomáčkovi, který z vápna vysoko přestřelil. Což se naštěstí z podobné pozice o chvíli později povedlo i hostujícímu útočníkovi po ojedinělém vykombinování naší obrany. Tradiční diváckou kulisu pak potěšila i rána Chmelíka z přímého kopu, která měla dobré parametry, ale přeci jen byla z velké dálky. Před pauzou se ještě Zerzán vyhnul ofsajdové pasti, alespoň podle mínění asistenta žákovského vzezření, a v samostatném nájezdu ho na hranici vápna domácí zastavili pouze faulem. Rozhodčí musel mít v tu chvíli strach, jinak si těžko vysvětlit, proč zmaření jasné gólové šance neocenil červenou kartou. Na neznalost pravidel bych to netipoval. Následná Válkova standartka gólmana potrápila, ale gól jsme z ní nevytěžili a pomalu se šlo do kabin.</p>

<p>Do druhé půle jsme vstoupili nečekaně aktivně, ale opět jen ve velmi krátkém časovém úseku, nicméně série dvou tří rohů nevěstila nic, co by se podobalo tradičnímu pošatnovému výpadku. Ten se však záhy dostavil, po propadnutí středu obrany si hostující útočník zasekl Škodu a už byl na vápně sám před Prešinským, ale jeho vyběhnutí se zřejmě zalekl a poměrně hodně minul. Vzápětí však dostali hosté z ničeho příležitost k přímáku z lajny, Prešinský zakřičel, plachtil do prázdna a hostující hráč míč hlavou uklidil do prázdné brány. No, to se stává i Čechoj. Naše sestava pak klasicky rotovala, někdy i vynuceně a střídající hráči byli opět vidět. Pitra se marně dožadoval penalty při níběhu na míč z lajny, Vopařil nejprve vyslal Skalu do nadějné pozice končící zblokovanou střelou, později v podobné situaci z druhé strany zvolil nikterak důrazné zakončení. Po vápno jsme se nějak prokombinovat nebo probojovat dokázali, ale pak to byl většinou zmatek, nepřesnost, nedůraz. Výjimkou byly standartní situace, jeden z Novákových rohů měl na hlavě Chmelík, ale neseřídil mířidla. V podobné pozici jako na jaře se ve vápně ocitl Štancl, ale jeho párkrát odložená střela skončila na břiše hostujícího obránce. Vítr v zádech málem zařídil nesmrtelnost Škodovi, když nabral jeho centr a udělal z něj nebezpečnou střelu pod břevno. Hosté se možná do nějakých nadějných pozic, ale soustřeďme se na nás. Jedinou zamýšlenou střelu na bránu ze hry vyslal střídající Famfulík, a nebyla vůbec špatná, ale s odraženým balónem ve vápně jsme si opět neporadili. V největší šanci se chvíli před koncem ocitl Vopařil, ale Štanclovo sklepnutí měl na příliš dlouhou nohu a ve skluzu míč netrefil ideálně. Při posledním rohu se nám znovu podařilo dostat míč v hostujícím vápně na zem, ale náš důraz v těchto prostorách byl žalostný a obranný odkop byl tím posledním z tohoto zápasu.</p>
