---
title: Další čtyřka
date: 2016-05-08
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2015/Morašice/c99795cd-019b-43dd-984e-802f6a6936f5.html
image: /public/images/zapasy/morasice-linhartice.png

sestava: Prešinský - Chmelík, Ropek, V. Štancl, Ropek - J. Kubeš ( Jokeš), Klement, Skala (Kuta), Vopařil (Tměj) - Zerzán (D. Štancl), Burián (Kopecký)
goly: J. Kubeš, Burián, V. Štancl, D. Štancl
---

<p>Krásné slunečné odpoledne lákalo spíše na pivo než k nějakému pachtění se značně pravděpodobným neúspěchem. Naše služba tomuo lákání neodolala, ale protože v době začátku zápasu nebylo z čeho vybírat, byli dotyční vzati na milost a posláni do základu. To se naštěstí vyplatilo velmi brzy, protože Kubeš už po pěti minutách centroval na zadní tyč tak přesně, že míč zapadl přímo do brány. Po pár zápasech jsme tedy i my připsali nějaký haluzní gól, který ovlivnil další dění. Nedá se asi říct, že nás nabudil, to by pro náš výkon bylo hodně silné slovo, ale minimálně uzemnil hosty z Linhartic, kteří si za první půlhodinu připsali jenom jednu velmi vychýlenou střelu. To my se vepředu činili víc. V. Štancl prodloužil Skalův centr až moc, sám Skala v největší šanci z malého vápna vypálil ustrašeně, Zerzán v jednom úniku nevystřelil a v dalším pálil&nbsp; těžce mimo. Kromě toho jsme měli asi 10 rohů, ze kterých jsme ale vytěžili jenom jeden závar na brankové čáře. Když pak hosté z čista jasna takřka nechtěně přelobovali Prešinského zpoza vápna, zacloumalo to s naší psychikou víc než by mělo a do přestávky už jsme se nedostali ani na dostřel. Krátce před poločasem jsme pak měli pořádné štěstí, když se po sérii vysokých odrazů na malém vápně opřel do balónu hostující útočník a slovy profesionálních reportérů takřka rozpůlil břevno.</p>

<p>Brzy po přestávce začal v našich řadách úřadovat i druhý služebník s pivem v zádech, ale zatímco Kubeš dal gól i z toho, co nechtěl, Zerzán nedal ani to, co se nedá nedat. V krátké chvíli hlavičkoval z malého vápna nad a poté zpracoval balón pro brankáře prakticky na brankové čáře. Hosté byli fyzicky ještě slabší než my, ale naše trmácení se k bráně soupeře taky nebylo zrovna nejúčelnější. Lavička se během zápasu zaplnila a tak jsme protočili kusy, ale dlouho to k ničemu nevedlo. Maximálně Burián se dostal do zajímavé pozice, ale jeho druhou zasekávačku už obránce přečetl. Až čtvrt hodiny před koncem Kuta zaházel rameny, obploužil vyčerpaného obránce a ostrým balónem podél brankové čáry našel slepě nabíhajícího Buriána, který už nestihl zvednout míč nad bránu a my se dočkali kýženého gólu. Pět minut na to si na Kutův rohový kop na zadní tyč naskočil Ropek, vrátil míč do ohně a V. Štancl zblízka přidal pojistku. Za dalších pět minut zvýšil náskok premiérovým áčkovým gólem ještě nejmladší z rodu Štanclů Dominik, který zblízka procedil Novákův centr mezi gólmanovy nohy. A nemuselo zůstat jen u toho, když si hned po rozehrávce účinným napadáním vynutil pozici tváří v tvář gólmanovi, ale na dva takhle rychle góly si netroufl. Zápas jsme tak po půlhodinové křeči dohráli v poklidu, například Kopecký měl jednu velkou a jednu slušnou šanci na zvýšení skóre, ale moc dobře si uvědomil, že na čtyřku ve skóre si poslední dobou potrpíme. Na chvíli jsme se tak vzdálili z pozic, které trenér vypočítal jako poukázku do džungle džunglí a snad pohodu z vítězství nevytrousíme během daleké cesty do Jaroměřic.</p>
