---
title: Vysoké rozlišení
date: 2016-05-06

sestava: Prešinský - D. Štancl, Ropek, V. Štancl, Novák (Kuta) - Vopařil (Sokol), Klement, Chmelík, Tměj (Jokeš) - Skala (Burián), Válek (Kopecký)
lavicka: M. Štancl, Famfulík, Nadrchal, F. Ropek
goly: Chmelík, V. Štancl, Kuta, Klement
---

<p>V naší poslední bídě se není na co šetřit, a proto jsme na semifinálové pohárové utkání vyrukovali nejen se všemi oporami, ale vyjma Pražáků a novopečeného otce Škody dokonce se vším, co v současné době máme. Dostavili se jak zranění, tak i tací, co už kariéru ukončili. Na nezvykle kvalitním hřišti se hrál vyrovnaný zápas s minimem šancí. My jsme s k nějaké dostali po kombinaci Klementa s Chmelíkem, hosté z Janova hrozili především při našich váhavých rozehrávkách, křížná střela zpoza vyvolala nepříjemné vzpomínky na Sebranice, ale naštěstí se do brány nevešla. Postupem času jsme se začali dostávat pod tlak, zbrkle odevzdané nebo naopak předržované balóny a zmatky při přebírání hráčů nám dávali pořádně zabrat, hosté naštěstí několik nadějných předfinálních pozic ani slibných standartních situací nedokázali využít. Naši největší šance měl na noze tentokrát hrotující Skala, ale teč na poslední chvíli mu znemožnila okamžité zakončení. Hosté udeřili až z nenápadné akce Bureše, který se po autu proběhl na vápně kolem pár hráčů, co se ho báli faulovat, a přesnou střelou k tyči otevřel těsně před přestávkou skóre.</p>

<p>V kabině se v krátké přestávce nadávalo cosi o zasekávacích a rozehrávacích nemocích, přepnuli jsme na vyšší rozlišení a opravdu se na to lépe koukalo. Brzy po přestávce Skala nečekaně vystrašil hostujícího gólmana, následný Vopařilův roh našel úplně osamoceného V. Štancla, který ale uchem nedal míči potřebný směr. Při souboji o odražený balón po dalším rohu byl tentýž hráč k nelibosti hostů faulován a k nařízené penaltě se za úprku všech ostatních statečně postavil Chmelík a vyrovnal. Hostům začala záhy docházet trpělivost s volným metrem hlavního rozhodčího, což naší hře moc nevadilo. Naše převaha se ještě zvýraznila po pětinásobném nárazovém střídání ve věkovém rozptylu 27 let (debutující Sokol a pro přemíru hráčů neustále odcházející Kopecký) a Klement mohl z vápna určitě zamířit lépe než vysoko nad. Obrat ve skóre se povedl až V. Štanclovi, ke kterému propadl Kutův roh tak šťastně, že už ho nestihl tečovat mimo bránu. Za již značně nervózní hosty mohl ještě odpovědět Bureš, ale s jeho standartkou si Prešinský poradil, další ataky hatila naše obrana nebo asistent rozhodčího vcelku spolehlivě. Vzápětí využil chyby obrany Kuta a střelou na bližší tyč nám dal klid do posledních minut. Ten nám umožnil si po delší době fotbal užít a výsledkem byla ještě nebezpečná hlavička Ropka a pečetící Klementův gól po Buriánově akci. Okusili jsme si tedy čtyřgólový zápas pro změnu z druhé strany a snad se nám podaří přepnout na ligový režim a konečně něco urvat i o víkendu. A snad se ještě někdy sejdeme během týdnu v takovém počtu.</p>
