---
title: Bez šance
date: 2015-10-11
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2015/Morašice/3514a7d6-033a-4c86-8a79-6745b27098fd.html
image: /public/images/zapasy/morasice-opatovec.png

sestava: M.Prešinský - Ropek, Chmelík, V.Štancl, Skala - Válek (V.Prešinský), Klement, Novák (Famfulík), J.Kubeš (Tměj) - Zerzán (Vopařil), Vomáčka (R.Lněnička)
---

<p>Neudržené vedení minulý týden povážlivě zakymácelo se židlí našeho trenéra, naštěstí zůstalo do další domácí výzvy vše při starém, ale naneštěstí těch věcí zůstalo víc. Jednou z nich bylo i to, že nás čekal další přímý konkurent z čela tabulky (i když už čelo zvolna opouštíme). Hned v první minutě si naše levá strana neporadila s nikterak rychlou kolmou akcí, ale z následné přihrávky pod sebe vytěžili hosté jen roh. Hra byla tak nějak vyrovnaná, my jsme chvílema i kombinovali po zemi, avšak v neškodné vzdálenosti od soupeřova vápna a centry do něj směřující neměly valné šance na úspěch. Tak nějak setrvačností jsme se dostali k pár střeleckým pozicím, ale Válek ani Novák branku netrefili. Hosté byli nebezpečnější, respektive jeden host, který se dvakrát ocitl sám ve velmi otevřené obraně. Poprvé však udělal kličku navíc a následná střela mu nesedla, podruhé ho vychytal Prešinský. Za nás poté zahrozil ze standartky Chmelík, jeho pokus šel těsně nad. Stejně naštěstí dopadla v největší příležitosti prvního poločasu i hlavička hostí z malého vápna po rohovém kopu. Z našeho rohu před přestávkou ještě zkoušel odražený balón vrátit do sítě Novák, ale opět se mu nepoštěstilo.</p>

<p>Za druhý poločas dohromady není o čem vyprávět. Více se hrálo na naší půlce, přesto hosté hrozili hlavně z brejků, ale většinou si je sami pokazili. My jsme byli až na Klementovu střelu zpoza vápna neškodní. A ani ta střela žádnou velkou škodu nenadělala, ale při té bídě se musí zmínit aspoň něco. Jednou z našich nadějí na úspěch byl labilní hostující kapitán, bohužel byl vystřídán dřív než stihl nafasovat druhou žlutou. Čtvrt hodiny před koncem nezachytil Štancl po našem odkopu rychlou akci středem, hosté na tři doteky poslali onoho nejnebezpečnějšího hosta do tahu a jeho mimo bránu směřující střela nabrala po Prešinského zákroku velmi nepříjemný směr do naší brány. Náš závěrečný tlak se vzdor tomu nekonal. Hru sice oživil hlavně střídající Famfulík, dostali jsme se k sérii rohů a trestných kopů kolem vápna, ale bylo z toho jen další nepříliš nebezpečné zakončení Klementa. Zato hosté z dalších brejků hrozili víc, jeden z nich se dostal až před brankovou čáru, ale jeho ubránění bylo to poslední s čím jsme mohli být spokojeni. S dnešní ofenzivní nečinností se vyhrát nedalo a jelikož se nedalo opřít ani o bezchybnou defenzívu, není ani ten bod. Spokojeni tak mohou být jen naši nejskalnější fanoušci, kteří si před zápasem vsadili dvojku.</p>
