---
title: Jak je důležité míti Kutu
date: 2016-04-10
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2015/Morašice/a64e1af2-e924-49a0-8455-accec1daa77e.html
image: /public/images/zapasy/morasice-bystre.png

sestava: Prešinský - Ropek (Válek), Chmelík, V. Štancl, Skala - Novák, Klement, Kuta (D. Štancl), Vopařil (M. Štancl, Tměj) - Škoda (Kopecký), Burián
goly: Burian, Ropek, Škoda
---
<p>Pro první jarní utkání na našem zbrusu novém a deštěm zrekonstruovaném trávníku jsme si jako hosty pozvali rozjeté bystré sokoly, kteří dorazili i s početným fanklubem. Z původních třinácti lidí v kabině se naše soupiska rozrostla natolik, že jsme museli sáhnout po početnější sadě dresů, což vyústilo v opravdu divnou barevnou kombinaci, ale usoudili jsme, že jestli budeme pokračovat v tužce ze začátku jara, je vlastně jedno, jak budeme vypadat. Trenér se konečně odvážil nominovat se do základní sestavy a co si budeme povídat - ten kluk měl ještě hrát. Soupeř nás na začátku nechal hrát a i s pomocí přímáků od pořádného kopáče jsme si v hned v úvodu vytvořili několik šancí, jenže nám ve vápně chyběl důraz nebo Lafatovský výběr místa, a tak se odražené, propadající nebo jen tak ve vápně se válející balóny nepodařilo procpat do sítě. Hosté našemu rádoby koncertu dlouho jenom přihlíželi, ale když při jejich ojedinělém výpadu vzal dvojblok Ropek-Chmelík přes párky jejich útočníka v našem vápně, museli jsme být rádi, že dnes dorazil velmi úzkostlivý, ale taky dost chybující rozhodčí, který nám odpustil jasnou penaltu. Díky jeho trendu se s přímáky opravdu nešetřilo, ovšem to je pro tým s Kutou spíše výhoda. Ten z jednoho přímého kopu nepříliš minul vingla, jeho rohy hlavičkoval Burián místo do opuštěné brány na rohový praporek a V. Štancl do tyče, a až po půl hodině, kdy už se hra více srovnala, přišla další standartka z hloubi pole a další výborný centr, který protečoval Burián hlavou mezi nohy gólmana a my se po zásluze ujali vedení. Další přímák ze stejného místa se stejným exekutorem se odrazil od břevna před bránu, ale zase nám chyběl nějaký ten Lafata. Nadstandardního počtu přímých kopů využili bohužel i hosté, kterým patřil závěr poločasu. Jeden závar po rohu jsme odvrátili, ale po zvláštním faulu před vápnem se jim z nařízené standartky podařilo vyrovnat. Nedá se říct, že by to trefil výstavně, ale Prešinský ani Chmelík, který mu chtěl pomoct, na střelu přes zeď nedosáhli. V závěru ještě střelecký pokus ve vápně zblokoval jeden ze tří Štanclů, kteří se v zápase mihli a za odchod do kabin jsme nakonec byli rádi, i když jsme si po nejlepším jarním poločase dovedli představit lepší než smírný stav.</p>

<p>Do druhého poločasu vstoupili lépe hosté. Což jsme sami očekávali a nijak proti tomu neprotestovali. Jejich úsilí k žádné vyložené šanci nevedlo, ale zmatků v obraně&nbsp; a nedotažených nadějných situací bylo dost. Naštěstí se nám je povedlo zchladit, když Kutův roh skončil přímo na tyči a odražený balón trefil Ropka tak náramně, že se od něj dostal do brány. Z našich dalších momentů se dá vyjmenovat ještě Kutův přímák, který notně zaplaval, ale hostující gólman ho ještě stihl vyrazit. Jinak jsme byli více než víceméně v defenzivě, ale hosté v největší šanci trefili tyč a další sólo nájezd zastavil ofsajd, o kterém by se autor článku dost hádal, kdyby to mávli jemu a mohl mluvit. Z čista jasna, respektive z hostujícího odkopu od brány, se míč po ose Klement, centrující Tměj a sklepávající Burián dostal ve vápně až ke Škodovi, které svůj povedený comeback na hrot korunoval přesnou placírkou takřka do šibenice a dal nám uklidňující náskok. Jeho ubránění bylo to jediné, co nás posledních dvacet minut zajímalo, a co se nám i přes jistá defenzivní okna, vynucená střídání a nepřesnými výroky rozhodčího rozjitřené emoce podařilo.</p>
