---
title: Radši se uložit
date: 2015-11-07
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2015/Morašice/c8b4b8e4-0b5e-4f59-a658-8bcb6b84e931.html
image: /public/images/zapasy/morasice-rohozna.png

sestava: M. Prešinský - Škoda, Chmelík, Ropek, Skala - Tměj (Válek), V. Štancl, Novák, V. Prešinský (D. Štancl) - Kuta (J. Kubeš), Zerzán (Vopařil)
goly: Tměj
zlute: Škoda, Kuta
---

<p>Poslední tým tabulky, trochu měkčí terén a Kuta na hrotu -&nbsp;při&nbsp;předehrávaném jarním zápasem nám vše hrálo do karet. A dlouho jsme trumfy drželi my. Nebylo to nějak excelentní ani dvakrát bojovné, ale přece jen jsme měli více ze hry a více šancí. Byly tam rohy, standartky, střely, Kuta napůl za obranou, ale taky spousta zadrbaných balónů u lajny, ale také hostující brejky. Lahvové pivo konzumující diváky vystrašil Prešinský, když rozehrával tak váhavě, že stihl nastřelit presujícího útočníka, odraz pro nás byl naštěstí přívětivý. Z naší útočné snahy vyčnívaly dvě akce. Při té první Kuta nahrál na vápně Tmějovi, ten&nbsp; naznačil střelu pravou, čímž poslal obránce na párek a levou zamířil přesně po zemi k tyči. Být hostující gólman menší, asi by nedosáhl ani na Skalovu střelu po břevno těsně před přestávkou.</p>

<p>Po ní se lámal zápas, když svoje šance nevyužili Kuta a Zerzán. Trenérovu ránu vyrazil brankář, náš nejlepší střelec pak nedostál své pověsti, když nevystřelil ani před prázdnou bránou po Tmějově nahrávce, ani při průniku za obranu, který se sám vybojoval. Z naší hry se pak velmi rychle vytratilo snad úplně všechno a hosté začali přebírat iniciativu. Bohužel jim v tom nezabránila ani červená karta, kterou vybojoval dobrým napadáním Zerzán. Nutno dodat, že nepochopitelně nominovaný rozhodčí z Rohozné, dokázal svůj původ hodit za hlavu a jeho rozhodnutí asi chtělo jistou kuráž. Náš přesilovkový výkon byl tragický, méně početného soupeře jsme nebyli schopni obsadit a po centru ze strany se na brankové čáře dva hostující hráči mohli dohodnout, kdo si připíše gólovou hlavičku. Ani vyrovnání nás neprobralo, naopak Prešinský musel k mnoha posbíraným centrům přidat i klíčový zákrok nohou v souboji jeden na jednoho. Po pěkné kombinaci se za našeho přihlížení ocitl hostující hráč sám ve vápně, ale tváří v tvář našemu gólmanovi neuspěl. Z naší bídy tak nějak samy vyplynuly ještě dvě situace, při kterých jsme mohli na něco pomýšlet, ale Válek i Štancl mířili hodně mimo. Opět nás tedy mohl hřát jen dobrý skutek, že jsme podarovali bodově chudšího soupeře. Doufejme, že se nyní uložíme ke kvalitnímu zimnímu spánku a na jaře budeme rozdávat radost našim příznivcům a ne našim soupeřům.</p>
