---
title: Já jdu, ty jdeš, on kulže
date: 2016-05-22
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2015/Morašice/40b83d83-6afe-49c4-ab0c-3204fe9333ee.html
image: /public/images/zapasy/morasice-krenov.png

sestava: Prešinský - Chmelík, Ropek, V. Štancl, Škoda (D. Štancl) - Válek (Vopařil), Klement, Skala, Tměj (Kubeš) - Burián (Kopecký), Pitra (Kuta)
goly: Burián2, D. Štancl
zlute: Kuta, Kubeš
---

<p>Na náš stále ještě tvrdnoucí trávník se při slunné neděli přijel podívat tým s velmi bídnou jarní formou a od prvních minut nás přesvědčoval o tom, že jeho bodové zisky jsou opodstatněné. Co naopak nedopovídalo byl náš chodící projev a poslední bodové zisky. Sice jsme na začátku měli optickou převahu, vyjádřenou Ropkovou hlavičkou po rohovém kopu a Válkovým trestným kopem do zdi, ale už od rozcvičky viditelně uvolněné hosty, jsme nijak více přehrát nedokázali. Ti měli zápas na párku, nikoho na střídání, kulhajícího stopera a hlavně útočníka rychlejšího než Klementa. Ten po čtvrt hodině provětral naši obranu, logicky mu nikdo nestačil a jeho přesná střela do šibenice náš zvadlý projev ještě více utlumila. Suma sumárum jsme se dostali k pár centrům, které posbíral gólman, pár nezávažných rohů a jinak to byla procházka vykáceným sadem za plného slunka. Jen rozhodčí s dechem ostrým jako břitva dokázal svým nejednotným metrem zjitřit vášně, jinak to vypadalo, že to nikoho nebaví. Čas takto bez zájmu plynul až do 40. minuty, kdy po straně utekl po delší době se navrátivší Pitra, ukličkoval obránce a jeho přihrávku malým vápnem zvládl Burián ve skluzu uklidit do brány. Vzápětí levačkou lehce přestřelil Skala a ještě lehčeji Klement, jehož střela dokonce lízla břevno. Přepis přestávkového projevu po takovém výkonu je samozřejmě nepublikovatelný, ze všech výrazů není sprostý snad jen "chromé tele".</p>

<p>Že by se prostřídáním nějak zásadně změnil obraz hry, to se nedá říci, spíše hosté působili stále unaveněji. Přesto se na větším pozoru musela mít naše obrana, když jsme čelili rohu a následné standartce zpoza vápna, která naštěstí minula i zelenou síť. To bylo od hostů na dlouhou dobu všechno, náš trvalý pobyt na jejich půlce pro ně ale nebyl nijak hektický. Křížné balóny zejména od Chmelíka tentokrát lítaly, většinou i přesně, kombinace v prostředku nám taky nějak šla, ale centrů do vápna nebo střel, tedy těch při kterých by se fanouškům tajil dech, bylo velmi málo. Po hodině hry byl Burián na vápně vyzván na souboj jeden na jednoho s hostujícím stoperem. Obhození nevyšlo, tak se natáhl k odraženému balónu a i jeho druhé zakončení levou nohou ve skluzu skončilo v síti. Těžko říct, jak se k němu míč dostal, nicméně pouhou minutu před gólem se na hřišti objevil Kuta. Náhoda? Kvalita naší kombinace samozřejmě ještě stoupla, hosté zahrozili jen jedním brejkem, který nepotrestaným faulem zastavil Klement, ale jinak to vypadalo, že přidat pojišťovací gól proti unavenému a zraněními zdecimovanému soupeři bude otázkou času. Bohužel se tak nedělo, rozhodčí už začal vytáčet i některé naše hráče (zejména Kutu, Kubeš si na to vystačil sám), zatímco hlasově vybavený hostující fanoušek ho počastoval oslavným chorálem. Bez výraznější šance, ale i výraznějšího ohrožení naší brány jsme se dopracovali až k poslední minutě, ve které si další výborný křížný balón Chmelíka výborně naběhl z beka D. Štancl a takovým lehkým šťouchnutím překonal pomalu se skládajícího gólmana. Sice jsme tou dobou hráli v deseti bez otřeseného Vopařila, ale na nic jiného než další čtyřku jsme v tu chvíli nemysleli. Sudí ovšem hosty sotva nechal rozehrát a zápas ukončil. Snad nás obrat s takovýmto nasazením nedovede k myšlence, proč se dřít, když se to nějak schumelí. A snad dostaneme po příštích zápasech více času na důkladný rozbor všeho podstatného.</p>
