---
title: Zpátky v A.třídě
date: 2016-04-24
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2015/Morašice/b68ceded-aa24-4019-a350-f02f5d00ee7d.html
image: /public/images/zapasy/morasice-cista.png

sestava: Prešinský - Ropek, Chmelík, V. Štancl, Skala - Tměj ( Kuta), Klement, Novák, Kubeš (D. Štancl) - Burián, Škoda (Zerzán)
goly: Tměj
zlute: Klement, D. Štancl
---

<p>Neúspěchy posledních dvou a půl let tomu nenasvědčovaly, přesto se po takové době hrálo v Morašicích utkání krajské I. A třídy. Na notně vyzbrojenou čistou Litomyšl, navíc s přízní na lajnách, &nbsp;jsme se vyzbrojili leda silným větrem a už druhým letošním pánským přírůstkem. Když se oba potatí, třeba se Morašice ještě dočkají nějaké slávy. Po dobrém výkonu v minulém domácím zápase to totiž tentokrát byla hrůza. Už po pěti minutách si před zápasem několikrát zmíněný vítr pohrál s centrem od lajny, Prešinský nedokázal adekvátně zareagovat a hosté se zadarmo dostali do vedení. V další fázi hry nás do ničeho nepouštěli, my jsme teda ani do ničeho nehrnuli a nedůsledným obsazováním nebo chybnými a dlouho trvajícími rozehrávkami jsme udržovali Prešinského v permanenci. Jak je možné, že z toho nebyla žádná gólovka, to vědí jen v Litomyšli, protože nám to bylo opravdu jedno. Prešinský si spravil chuť vyražením rohu směřujícího přímo do brány, ale po půl hodině hry kapituloval podruhé, když obrana nezachytila kolmici na Urbana, kterého opravdu nikdo z naší obrany nedožene, a ten únik z lajny zakončil střelou do odkryté vzdálenější části brány. Teprve potom přišla naše skoro hvězdná čtvrthodina jakési převahy, ale když mohl Burian jít sám na bránu, jeho první myšlenka patřila Kubešovi na pravé straně a bylo po šanci. Naději nám i zkřehlým věrně reptajícím divákům dal Tměj, který si na vápně počkal na odraz po rohovém kopu a jeho střela i s trochou štěstí prošla přes změť nohou do brány. Naši euforii jsme do přestávky nedokázali přetavit v nic velkého a soudě podle toho, co se dělo po přestávce, tohle byla asi poslední chvíle, kdy jsme mohli se zápasem něco dělat.</p>

<p>Po sérii navzájem odevzdaných balónů, nejdříve z důvodu fair-play, poté z důvodu nekvality, následoval hostující dlouhý aut na penaltu, úplně volný Kundera se s balonem naprosto v klidu otočil a bylo to zase o dva góly. Pak se ještě jednou zastřelili z dobré pozice kousek od vinglu a deset minut po přestávce bylo úplně jasno, když hosté úspěšně zakončili brejk po Chmelíkově chybě. Následující oslabení soupeře o jednoho hráče nás nijak nerozhodilo a pokračovali jsme v plíživé krasojízdě. Jestli se něco zlepšilo, tak chuť střílet, ale mezi tři tyče se netrefil nikdo včetně Štancla, který minul v naší největší příležitosti po seběhnutí na přední tyč. Jinak to byla opravdu nudná půl hodina, jejímž jediným pozitivem je to, že se nám podařilo ubránit lepší skóre ze vzájemného dvouzápasu - 9:7 v náš prospěch!!! Náš návrat do A třídy skončil třemi vlastenci, naprosto odevzdaným výkonem a hospodsky schváleným usnesením, že tohle opravdu nedělá nikomu radost. Aspoň, že jsme všichni zdraví. Teda až na Matese, ale ten už si zvyknul.</p>
