---
title: Bída
date: 2016-05-28
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2015/Morašice/08e04cc5-9437-43b8-a389-d21ff7399bc9.html
image: /public/images/zapasy/opatovec-morasice.png

sestava: M.Prešinský - M.Chmelík, D.Štancl, V.Novák, M.Ropek - B.Válek (T.Holomek), Z.Skala (K.Vopařil), M.Klement, V.Tměj (P.Kuta) - M.Zerzán, M.Burián (M.Štancl)
zlute: Z.Skala, B.Válek
---

<p>V sobotu, kdy se napříč celou vlastí proháněly bouřky jsme odcestovali do nedalekého Opatovce, momentálnímu lídrovi celé soutěže. Ačkoliv mnozí z nás měli již dopolední trénink formou hasičského útoku, dostavili jsme se na místo určení ještě před domácím mužstvem. To mohlo dát dojem, že zápas nebereme na lehkou váhu a i při jistotě záchrany hodláme vedoucímu celku oplatit podzimní porážku. Zůstalo však pouze u dojmu. Sestava doznala určitých změn v závisloti na absencích a nově příchozích členů.</p>

<p>Zápas začal vzájemným oťukáváním bez výraznějších fotbalových projevů. Jenže již ve 4. minutě přišel dlouhý pas za naší obranu. Chmelík s jistotou pokrýval letící míč, Prešinský si křikl (možná později než se dělává) a malér byl na světě. Jelikož jsme především kamarádi a&nbsp;až poté fotbalisti, Chmelík se iniciativně rozhodl přiťuknout míč našemu brankáři hlavou. Ten v ten moment však stál už někde jinde a dokázal kulatý nesmysl pouze rukama zbrzdit přesně pod nohy domácího Roshana, který s prázdnou bránou neměl problém. Od tohoto momentu se začala vařit krev nejen v oběhové soustavě trenéra Kuty, ale i na hřišti. Pokyny ze střídačky byly zcela jasné. Jejich doslovný přepis však není možný.&nbsp;Neradi bychom&nbsp;přivedli do rozpaků&nbsp;eventuelní&nbsp;nezletilé&nbsp;čtenáře tohoto webu.&nbsp;&nbsp;Emoce vpluly i na trávník a sudí se je rozhodl během 5 minut ocenit třemi žlutými terčíky. Herní projev z naší strany byl takový těžkopádný, plný nepřesností, trapných centrů na domácího libera. Přesto jsme se několikrát dokázali utrhnout a dostat se do velice slibných příležitostí. Zerzán s Buriánem dvakrát provětrali opatoveckou obranu. Při zakončení však Lampárkovi nezpůsobili žádnou psychickou újmu.</p>

<p>Před nebeskou bouří přišel průvan v kabině, který měl za následek inkasovanou branku ve 47. minutě. Opět Roshan unikl po křídle a střelou do šibenice určil rozdělení bodů. Nezměnilo na tom nic ani hromadné střídání 4 jedinců. V 60. minutě byla naše rozehrávka zblokována hlavním sudím, který vyslal domácí do brejku a výsledek narůstal. V minutě 60. jsme pro změnu vyslali domácí do brejku sami. Rozehrávka trestného kopu z poloviny hřiště na krátko se ukázala jako chybné řešení, zvlášť když většina mužstva byla nastěhována v soupeřově vápně. Alespoň mohl Roshan završit hatrik. Celý zápas jsme byli o něco pomalejší než soupeř. Všechno nám trvalo. Asi 85 minut nám trvalo než se na chvíli usadíme v útočné části hřiště. Výsledkem byla pouze povedená střela Vopařila a série asi 4 rohových kopů, z nichž jeden zaváněl brankou.&nbsp;</p>

<p>Ve středu máme možnost na reparát při pohárovém utkání. Bude to zároveň zápas, který ukáže, zda sezóna byla úspěšná či nikoliv. Nikomu se nechce přece nechce končit fotbalový rok bez zisku trofeje.</p>
