---
title: 20 minut a bylo
date: 2016-04-16
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2015/Morašice/1ffeb097-f8c9-40d2-ab17-640efa3d2463.html
image: /public/images/zapasy/opatov-morasice.png

sestava: Prešinský - Ropek, Chmelík, Skala, Holomek - Kubeš (D.Štancl), Klement, Kuta (M.Štancl), Válek &nbsp;- Škoda (Kopecký), Burián
goly: Válek
zlute: Skala, Válek
---

<p>Po relativně slušně odvedeném výkonu z předešlého utkání jsme vyrazili na další venkovní utkání, tentokrát do Opatova, kde zrovna slavili dožínky nebo něco podobnýho. Možná i díky tomu se sešla dobrá domácí kulisa doplněná o jeden stůl našich věrnějších příznivců. Vítězná sestava se sice nemění, ale jak už to v našich kruzích bývá, čtyři posty byly nuceně obměněny dalšími nadšenci tohoto sportu, který po většinu svého času děláme hlavně pro radost.&nbsp;</p>

<p><span style="line-height: 1.4em; text-indent: 2em;">Prostovlasý sudí foukl prvně do píšťaly a my se ujali držení míče s prvními náznaky o steč domácí svatyně. Co se dělo od 5. do 25. minuty lze shrnout v pár prostých větách. Domácí se na naši polovinu dostali za tu dobu asi 6x. Vždy jen na pár vteřin. Ale i to stačilo, abychom jim dopřáli vedení 4:0. Úprk po naší levé straně, přihrávka skrz vápno na druhou stranu, střela 1:0. O pár minut později prakticky totožná akce. Třetí akci, která probíhala podezřele stejným způsobem Skala nevydržel a raději míč uklidil za Prešinského zkušeně sám. No a když jsme nafasovali dalšího "vlastence" přímo z autu, tak střídající chlapci na lavičce marně hledali ručník, který by hodili do středového kruhu. A mohlo být klidně aj hůř. Sudí domácím odpustil penaltu za zřetelnou Chmelíkovu ruku ve vápně a po našem rohovém kopu brknul unikající útočník o posledního Skalu, který z incidentu vyšel se žlutým terčíkem. K ničemu dalšímu, co by stálo za zmínku, po zbytek poločasu nedošlo. Standardních situací jsme měli relativně dost, ale až na pár hlav, které mířily většinou mimo, se nedělo nic.&nbsp;</span></p>

<p><span style="line-height: 1.4em; text-indent: 2em;">Do druhého poločasu jsme nenastoupili jinak než do toho prvního. Byli jsme sice na balónu, ale i na krátkém hřišti jsme se s ním pohybovali většinou kolem půlky. Za celý zápas se nám pořádně nepodařilo projít přes obranu soupeře. Burián měl na zádech neustále minimálně jeden "opatovský stožár" a jelikož zpracování míče nebylo ideální, kombinace po zemi nebyla také náš šálek kávy. Domácí hráli důrazně, z čehož plynul dostatek trestných kopů. Centry nic, střely vedle, nebo se gólman jenom ohnul. Už ani nevím jak to vzniklo, ale po souboji s domácím brankářem a poradou s pomezním jsme obdrželi dárek v podobě penalty. Válek s ní naložil prachbídně, nechal vyniknout brankáře a domácí ochozy vypukly radostí. No a to je asi tak všechno. Domácí hrozili z brejků, my moc z ničeho. Jen Válek a Burián orazítkovali tyče. A abych nezapomněl, tak v úplném závěru "unikl" po pravé straně Kopecký, předložil Buriánovi, ten oslovil břevno a Válek dorazil.</span></p>

<p>Pro někoho možná překvapivá prohra, ale když už nic, tak jsme opatovským udělali alespoň hezký zbytek soboty a mohli se jít v klidu zhoupnout, nebo si vystřelit nějakou tu květinu. &nbsp;</p>
