---
title: Uvítání v džungli
date: 2015-08-08
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2015/Morašice/49604092-29a9-4a95-8fd4-503e37a2b5ac.html
image: /public/images/zapasy/rohozna-morasice.png

sestava: Prešinský - D. Kubeš, Chmelík, V. Štancl, Ropek (Holomek) - Tměj (Vopařil), Skala, Válek (Famfulík), J. Kubeš (Lněnička) -&nbsp; Zerzán (Burián), Pitra
goly: Burián, Holomek
zlute: V. Štancl, Famfulík
polocas: "1:0"
---

<p>Po necelých dvaceti letech zavítalo naše áčko k utkání okresního přeboru. Prales to sice není, ale hned první zápas ukázal, že tahle soutěž bude pořádná džungle. Na utkání dorazil v roli stále odcházejícího trenéra i Kuta Petr, kterému to nedalo a vzal si sestavu, taktiku, hecování i další věci pod svůj patronát. Nic z toho ovšem první půli neovlivnilo, protože naše hra byla bez pohybu, nápadu důrazu, přesnosti, prostě takovéto plážové chození a rugbyové nakopávání. V důsledku toho mohlo působit, že na nás domácí vlétli zostra, ale to by asi taky nebylo správné pojmenování. Ostře do toho vlétl snad jen V. Štancl, který mohl po dvaceti minutách klidně dohrát. Za naší neúčasti se domácí postupně rozehráli a blížili k šestnáctce, před jejíž hranicí se dostali k pár spíše propagačním střelám, při kterých ale Prešinský naznačil, že mu to dnes bude lepit. Brzy po přestávce na občerstvení pak vytáhl famózní zákrok proti hlavičce do protipohybu z bezprostřední blízkosti a efektně i efektivně si poradil i s nebezpečným přímým kopem z dvaceti metrů. Jako už tolikrát však naše obrana zaspala při dlouhém autu, míč nějak propadl na zem a domácí hráč ho z pár metrů bez problémů dorazil do sítě. V závěru poločasu přišla naše jediná výraznější chvilka, když se Pitra pustil za dlouhým balónem, na který rezignovali domácí stopeři i zmateně vybíhající brankář, ale při pokusu o jeho přehození toho přehodil víc než bylo zdrávo.</p>

<p>Do druhé půle jsme vstoupili přece jen lépe a s Holomkem, který nahradil Ropka. Naše zdánlivá uzemní převaha však dlouho nenesla efekt, naopak jsme mohli být rádi, že rozhodčí nevyslyšel volání po penaltě při Chmelíkově souboji s domácím kapitánem. Dokonce trojí střídání najednou o chvíli později nám vneslo na hřiště pořádný průvan a domácí obrana naše čerstvé hráče nestíhala. I další penaltový zákrok, tentokrát na druhé straně na střídajícího Buriána, nechal rozhodčího klidným, naštěstí napověděl pozorný asistent a naskytla se nám velká šance ke srovnání. Nechtělo se nikomu včetně Chmelíka, který to vzal na sebe. Jeho klasicky umístěnou střelu ovšem gólman vyrazil. Samo sebou, že penalta proti domácím se hrubě nelíbila tamnímu obecentsvu, které bylo chvílemi i nepříčetné. Po penaltě se podruhé v zápase ocitl v podobné šanci Pitra, ale i tentokrát byl jeho přehoz příliš vysoký. Dočkali jsme se až díky Buriánovi, který si našel na přední tyči geniální nebo nepovedený centr střídajícího Vopařila a levačkou ho z pár metrů uklidil do sítě. Dvouvteřinové ticho po rozvlnění sítě zmátlo hodně přítomných, ale naštěstí se žádné námitky proti gólu nenašly. V tu chvíli jsme byli na koni. Famfulíkův průnik přes tři hráče skončil těsně před vápnem, střídající Lněnička zase po Pitrově průnikovce orazítkoval tyč. Vzápětí se role prohodily, ze Lněničkova dobrého bránění se stala kolmice za obranu, ovšem Pitra samostaný únik z úhlu namířil jen do boční sítě. Pomezní rozhodčí nás podržel ještě jednou, když bezmocnému hlavnímu poradil žlutý faul na Pitru. Karty jsme se sice nedočkali, ale buďme rádi za přímák. Jeho exekuce od pravé lajny se ujal střídající Famfulík, na jeho centr si na penaltě naskočil střídající Holomek a hlavou se trefil výstavně. K jeho flegmatické radosti z rozhodujícího gólu pár minut před koncem je škoda každého slova. Závěrečné vzepření domácích jsme už bez větších potíží ustáli a vstoupili tak do této džungle vítězně. Hlavně díky náhradníkům, není nad to, když je během zápasu kam sáhnout.</p>
