---
title: Václav třikrát žlutý
date: 2016-04-30
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2015/Morašice/f8d2d3cd-50c4-4b54-9d21-701c20277d4a.html
image: /public/images/zapasy/sebranice-morasice.png

sestava: Prešinský - Ropek, Chmelík, V. Štancl, D. Štancl - Tměj (Vopařil), Klement, Skala, Novák - Zerzán (Válek), Burián
zlute: Ropek, Novák, V.Štancl, Tměj
---

<p>Bez trenéra, ale s odhodláním a změnami v sestavě jsme hodlali zapomenout na poslední dva odfláknuté zápasy a v Sebranicích odskočit našemu soupeři i blížícímu se přízemí okresní tabulky. Atestace D. Štancla na bekovi umožnila Skalovi po delší době návrat na podhroťáka a v úvodu to vypadalo nadějně. Drželi jsme více balón a výsledkem našeho snažení byla povedená Ropkova střela, když si nechal poskočit míč a z dobrých třiceti metrů pořádně zaměstnal domácího brankáře. Na malém hřišti nebyla nouze o souboje a z každého faulu na půlce, a že nám jich sudí písknul dost, už byla docela zajímavá standardka. Po počátečním útlumu se domácí probrali a právě z přímého kopu se mohli dostat do vedení, jenže z malého vápna hlavičkující hráč byl naštěstí usvědčen z faulu. Při našem kopu si za obranu skvěle zaběhl Burián, dostal se tváří v tvář gólmanovi, ale míč mu při zpracování přistál na ruce a bylo po vzruchu. S přibývajícím časem to začínalo na hřišti i v hledišti pořádně vřít. Brzy jsme nasbírali dvě žluté karty, zatímco prasečí skluz domácího kapitána na Skalu nebyl faul vůbec. Nad poměrně jednostranné vedení zápasu jsme se nedokázali povznést a domácí publikum zase vášnivě odsuzovalo každý náš faul či kontakt. Po půl hodině hry hasili Ropek s Chmelíkem Buriánovu špatnou rozehrávku až s pomocí faulu před vápnem a pánovi s píšťalkou se musí nechat, že nás mohl klidně poslat do desíti. Ale to už by mu možná přišlo moc. Každopádně na střelu z přímého kopu Prešinský nedosáhl a my jsme zase byli nuceni dotahovat. Chvíli na to se V. Štancl nechal před vápnem přehlavičkovat a prodloužený balón napálil domácí útočník z rohu vápna krásnou střelou do protější šibenice. V naši kratičké mezihře vyprodukoval aspoň jednu střelu Tměj, ale vzápětí se snesl centr až na naši penaltu, Ropek si s domácího hráče nedokázal odstavit, Prešinský zůstal stát a třetí gól byl na světě. Zlatě, že se šlo do kabin.</p>

<p>Tam Skala nevinně odnesl náš čtvrthodinový výpadek a poroučel se zpátky do obrany a do středu jsme poslali coby spasitele Chmelíka. Jeho spoluhráč ze středu Klement měl brzy po přestávce první šanci na snížení, když mu balón do vápna poslal Tměj, ale jeho zákeřný lob zvládl domácí gólman vyrazit. náš projev byl trochu živější, ale po hodině hry nás definitivně uzemnil čtvrtý gól domácích, když byl hlavičkující hráč u míče dříve než Prešinský. Jestli pak o něco šlo, tak leda o to nedostat búra, nezranit se, nevykartovat se a nikoho neinzultovat. Ropek měl ještě jednou namále, naše obrana taky, ale dohráli jsme se v jedenácti se čtyřkou v síti. V závěru měl ještě Skala možnost protlačit nás do všech okresních plátků jakožto mančaft, který si už třetí zápas drží standard 1:4, ale z vápna vysoko přestřelil, a tak to tentokrát bylo s nulou. Zaplať pánbu, že nám aspoň malí kluci přibejvaj.</p>
