---
title: Štastné a Veselé Vánoce, Štěpánskou i Silvestr
date: 2015-12-20
---

<div class="center">Jménem nově zvolené rady našeho sportovně rekreačního spolku přejeme všem aktivním i pasivním příznivcům Sokola Morašice krásné<br />
a příjmené prožití vánočních svátků. Pevně věříme, že i přes jisté sportovní nezdary nám zůstanete věrni i v následujícím roce.</div>

<div class="center">Zároveň si Vás dovolujeme pozvat na tradiční <strong>Štěpánskou zábavu</strong> do<strong> Morašic na Rychtu</strong>, která se koná <strong>25. prosince 2015</strong> od <strong>20:00</strong>.<br />
Je to ideální příležitost ke zhodnocení uplynulého roku, nástřelu toho nadcházejícího i navázání jakékoliv spolupráce - funkcí je stále dost :-)</div>

<div class="center">Rok znovu zakončíme <strong>silvestrovským fotbálkem</strong>, na který jsou zváni všichni příznivci Sokola bez ohledu na pohlaví, zdravotní stav a tělesné proporce. Výkop je tedy ve čtvrtek <strong>31.12.2015</strong> v <strong>10:00</strong> na <strong>hřišti</strong> v <strong>Morašicích</strong> (změna vyhrazena dle počasí).</div>
