---
title: Zimní příprava 2016
date: 2016-02-09
image:
---

<p><strong>12. - 14.2.2016: soustředění Křižánky (včetně tréninku 11.2.)</strong></p>

<p>21.2.2016: př.z. Horní Újezd (um.t. Litomyšl) - NE 14:00</p>

<p><strong>27.2.2016: obecní ples (sraz 18:00 na rychtě)</strong></p>

<p>5.3.2016: př.z. Krouná (um.t. Litomyšl) - SO 9:00</p>

<p><strong>12.3.2016: př.z. Němčice (um.t. Litomyšl) - SO 9:00</strong></p>

<p>19.3.2016: př.z. Dolní Újezd B (SO-NE)</p>

<p><strong>26.3.2016: mistrovský zápas Janov - SO 15:00</strong></p>

<p>27.3.2016: velikonoční zábava (sraz 18:00 na rychtě)</p>
