---
title: To se dějou věci
date: 2015-09-05
scortes: https://scortes.rozpisyzapasu.cz/api/533A1A/2015/Morašice/8b3f22b1-fb9d-49d5-b01a-5d9c94a03d2b.html
image: /public/images/zapasy/cista-morasice.png

sestava: M.Prešinský - M.Chmelík, M.Ropek, J.Famfulík (Tměj), J.Kubeš (R.Lněnička), Z.Škoda, V.Novák, M.Burián (Z.Skala), M.Zerzán (P.Vomáčka), B.Válek (T.Holomek)
goly: 3x M.Zerzán, 2x Z.Skala, M.Chmelík, B.Válek, T.Holomek
---

<p>K dalšímu venkovnímu zápasu, tentokrát v sobotu, jsme zajížděli k rivalovi, který s&nbsp;námi ještě minulý ročník hrál B třídu. I přes čtyři absence jsme opět vyplnili zápis v plném rozsahu a na hřiště poslali zase jinou sestavu. Úvod zápasu se nestandardně nesl naší režiía již z prvního rohu se Chmelík trefil přesně hlavou. Za chvilku se přidal Zerzán a bylo to 0:2. Poté se hra z naší strany na chvíli poněkud vytratila, což nesl velmi nelibě hlavně trenér, a protože měl vše z ptačí perspektivy, nemohl to nechat bez komentáře. V závěru poločasu šel nejprve Burián sám na brankáře, ale než aby ohrozil jeho, ohrozil vlastní zdraví a musel být vytřídán, neboť při pokusu o posunutí balonu vpřed si na něj šlápl a otočil si koleno. Bohužel to u nás při těchto situacích bývá zvykem. Nevím, kdo to od koho odkoukal. Nahradil ho Skala, který byť má zálibu v rychlých autech, tak v úvodu svého působení na hřišti držel vlastní rychlost na redukované dvojce. Do poločasu se poté krásně z voleje trefil Válek a bylo to 0:3.</p>

<p>Úvod druhého poločasu začal standardně naším hlubokým spánkem, který skončil až zhruba po patnácti minutách, kdy se podruhé trefil Zerzán. K dokončení jeho „hatriku“ přispěl rozhodčí odpískáním penalty, kterou Miloš bezpečně proměnil. Poté byl okamžitě střídán, abychom nezavdali příčinu příjezdu skautů na naše zápasy. Stav 0:5 se znelíbil našim bránícím hráčům a tak začali pracovat pro soupeře, čímž umožnili snížení i přesto, že soupeř hrál již o deseti hráčích, Nejprve se mu to snažili usnadnit faulem v pokutovém území a následnou penaltou, dále pak přihráním pod sebe na velké vápno. Je pravda, že to trénujeme dosti často, ale přeci jen v provedení na hráče ve stejném dresu. Trenéra v těchto momentech mohli málem omývat. Následně se to přeci jen v dobré obrátilo a po akci Holomka dával do prázdné brány Skala, potom na radu trenéra Skala zpoza vápna vystřelil a bylo to 2:7. Náš gólový účet uzavřel po samostatném úniku Holomek s ledovým klidem jemu vlastním. Soupeř dal ještě jeden gól a tak konečný stav 3:8 potěšil nejen naše hráče, ale co víc i šest našich fanoušků, kteří přicestovali na zápas, což je jev minimálně pět let nevídaný. Nepotěšil jen domácího brankáře, který se nechtěně stal rybářem našeho dlouho nezvyklého brankostroje, který dával za vinu hlavnímu rozhodčímu. Sumasumárum - dobrý výsledek, všichni si zahráli a ten poslední, na kterého bohužel nevyšlo, dostal alespoň cenu útěchy.</p>
